Repository kubernetes/k8s.io, pull requests merged in 2019-09, with the labels that each got.

#348 Add v0.2.0 image for cluster-api
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#349 Add v0.4.0 image for cluster-api-provider-aws
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#350 add v0.1.0 release for cluster-api-bootstrap-provider-kubeadm
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#352 Simplify variables in terraform config
  clusters/k8s-infra-dev-cluster-turnup/00-inputs.tf
  clusters/k8s-infra-dev-cluster-turnup/01-datasources.tf
  clusters/k8s-infra-dev-cluster-turnup/10-clusterconfiguration.tf
  clusters/k8s-infra-dev-cluster-turnup/11-pool-1-configuration.tf
  clusters/k8s-infra-dev-cluster-turnup/terraform.tfvars
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#351 Add capi-openstack repo
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-capi-openstack/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#343 Add wg-multitenancy staging group.
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-multitenancy/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#357 Add v0.2.1 image for cluster-api
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#358 Add v0.1.10 image for cluster-api
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#360 Add staging for cluster-api-provider-docker and add OWNERS files for cluster-api related repos
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-capi-docker/OWNERS
  k8s.gcr.io/k8s-staging-capi-docker/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-aws/OWNERS
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/OWNERS
  k8s.gcr.io/k8s-staging-cluster-api/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#359 Add v0.3.8 image for cluster-api-aws
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#353 Update terraform for GKE clusters
  clusters/k8s-infra-dev-cluster-turnup/10-clusterconfiguration.tf
  clusters/k8s-infra-dev-cluster-turnup/11-pool-1-configuration.tf
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#341 promote the promoter
  k8s.gcr.io/k8s-staging-artifact-promoter/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#362 Add staging for cluster-api-provider-gcp
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-cluster-api-gcp/OWNERS
  k8s.gcr.io/k8s-staging-cluster-api-gcp/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#356 GCB for staging
  infra/gcp/ensure-main-project.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#363 Add owner search redirect to go.k8s.io
  k8s.io/README.md
  k8s.io/configmap-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#368 Add go.k8s.io/owners/$ghuser test case.
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#365 Prepare for a prod cluster
  clusters/README.md
  clusters/image/Dockerfile
  clusters/image/Makefile
  clusters/image/VERSION
  clusters/k8s-infra-dev-cluster-turnup/README.md
  infra/gcp/clusters/.gitignore
  infra/gcp/clusters/README.md
  infra/gcp/clusters/_example/README.md
  infra/gcp/clusters/_example/test-eu/00-inputs.tf
  infra/gcp/clusters/_example/test-eu/10-cluster-configuration.tf
  infra/gcp/clusters/_example/test-eu/11-pool1-configuration.tf
  infra/gcp/clusters/_example/test-us/00-inputs.tf
  infra/gcp/clusters/_example/test-us/10-cluster-configuration.tf
  infra/gcp/clusters/_example/test-us/11-pool1-configuration.tf
  infra/gcp/clusters/kubernetes-public/aaa/00-inputs.tf
  infra/gcp/clusters/kubernetes-public/aaa/10-cluster-configuration.tf
  infra/gcp/clusters/kubernetes-public/aaa/11-pool1-configuration.tf
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#369 update IP for k8s.io canary
  k8s.io/canary.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#373 Add GCR staging repo for k-sigs/cluster-api-provider-azure
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-cluster-api-azure/OWNERS
  k8s.gcr.io/k8s-staging-cluster-api-azure/manifest.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/M, wg/k8s-infra

#370 Add group for org admins
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#378 Add CAPA v0.3.9 release image
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#379 Update org admins group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#380 Rename org admins group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#381 Add v0.2.3 image for CAPI
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#382 Add v0.1.1 image for CABPK
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#383 Add redirect for test-infra oncall hotlist.
  k8s.io/README.md
  k8s.io/configmap-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#371 promoter: add 20190927-v2.3.1-21-g21a4735
  k8s.gcr.io/k8s-staging-artifact-promoter/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
