Repository kubernetes/k8s.io, pull requests merged in 2019-06, with the labels that each got.

#264 Add missing function, fix README
  dns/README.md
  dns/zone-configs/k8s.io.yaml
  dns/zone-configs/kubernetes.io.yaml
  k8s.gcr.io/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#273 DNS: Fix relnotes CNAME
  dns/zone-configs/k8s.io.yaml
  dns/zone-configs/kubernetes.io.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#271 Add area/dns label to DNS request issue template
  .github/ISSUE_TEMPLATE/dns-request.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#267 Create cluster-api.sigs.k8s.io to publish documentation with Netlify
  dns/zone-configs/k8s.io.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#278 dns: automatically apply area/dns label
  dns/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra, ¯\_(ツ)_/¯

#276 Add k8s-infra-cluster-operators-test google group.
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#277 add cloud-provider-vsphere.sigs.k8s.io for vSphere cloud provider docs
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#280 Fix trailing period
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#281 Add dns for monitoring.prow.k8s.io
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#283 dns: remove devstats CNAME entries
  dns/zone-configs/k8s.io.yaml
  dns/zone-configs/kubernetes.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra, ¯\_(ツ)_/¯

#285 dns: add minikube.sigs.k8s.io
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#282 Create gcr.io/k8s-staging-publishing-bot
  groups/groups.yaml
  k8s.gcr.io/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-publishing-bot/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#266 Add a script to recreate the "main" GCP project
  k8s.gcr.io/ensure-main-project.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#279 Clean up GCP k8s-infra scripts
  infra/gcp/ensure-gsuite.sh
  infra/gcp/ensure-main-project.sh
  infra/gcp/ensure-prod-storage-gclb.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
  infra/gcp/static/prod-storage/index.html
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#286 Add docs for creating staging repos
  k8s.gcr.io/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra
