Repository kubernetes/k8s.io, pull requests merged in 2019-08, with the labels that each got.

#327 Add myself to CAPI staging repos
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#329 Add image for cluster-api-provider-aws v0.3.7
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#328 Add v0.1.9 image for cluster-api
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#331 Allow promoter test to access staging
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#333 Turn off retention on GCS cip-test buckets
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#336 Add retention for prod GCS (not GCR) buckets
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, do-not-merge/hold, lgtm, size/XS, wg/k8s-infra

#337 Checksum on rsync
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#335 create gcr.io/k8s-staging-promoter
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/README.md
  k8s.gcr.io/k8s-staging-promoter/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#338 rename k8s-staging-promoter to k8s-staging-artifact-promoter
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-artifact-promoter/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#339 promoter manifests: avoid rename feature
  k8s.gcr.io/k8s-staging-build-image/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
  k8s.gcr.io/k8s-staging-coredns/manifest.yaml
  k8s.gcr.io/k8s-staging-csi/manifest.yaml
  k8s.gcr.io/k8s-staging-descheduler/manifest.yaml
  k8s.gcr.io/k8s-staging-publishing-bot/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#306 Initial cluster Terraform configuration
  clusters/.gitignore
  clusters/README.md
  clusters/image/Dockerfile
  clusters/image/Makefile
  clusters/image/VERSION
  clusters/k8s-infra-dev-cluster-turnup/00-inputs.tf
  clusters/k8s-infra-dev-cluster-turnup/01-datasources.tf
  clusters/k8s-infra-dev-cluster-turnup/10-clusterconfiguration.tf
  clusters/k8s-infra-dev-cluster-turnup/11-pool-1-configuration.tf
  clusters/k8s-infra-dev-cluster-turnup/README.md
  clusters/k8s-infra-dev-cluster-turnup/terraform.tfvars
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra
