Repository kubernetes/k8s.io, pull requests merged in 2019-10, with the labels that each got.

#385 Promote CAPA v0.4.1 image
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#386 capz: Promote v0.3.0-alpha.1 image from staging
  k8s.gcr.io/k8s-staging-cluster-api-azure/manifest.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#391 Add image for CAPI v0.2.4
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#392 [CABPK] promote v0.1.2
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#389 Create RBAC group for cert-manager
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#396 Add image for CAPI v0.2.5
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#397 Add image for CABPK v0.1.3
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#388 Update k8sio test.py to use python 3 & fix PyYAML load warning
  k8s.io/Dockerfile-test
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#399 groups: validate length of emails used for staging repos
  groups/reconcile.go
  groups/reconcile_test.go
  k8s.gcr.io/README.md
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#402 Add notes about GCB to README
  k8s.gcr.io/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#405 Add CAPI v0.2.6, CAPA v0.4.3, CABPK v0.1.4
  k8s.gcr.io/k8s-staging-cluster-api-aws/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#406 promoter: add 20191021-v2.3.1-34-ge32056e
  k8s.gcr.io/k8s-staging-artifact-promoter/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#407 k8s-staging-artifact-promoter: add OWNERS
  k8s.gcr.io/k8s-staging-artifact-promoter/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#408 rename promoter manifests
  k8s.gcr.io/k8s-staging-artifact-promoter/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-build-image/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-capi-docker/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-capi-openstack/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-aws/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-azure/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-gcp/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api-kubeadm/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-cluster-api/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-coredns/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-csi/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-descheduler/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-multitenancy/promoter-manifest.yaml
  k8s.gcr.io/k8s-staging-publishing-bot/promoter-manifest.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#347 Bump cert-manager to v0.9.1
  cert-manager/README.md
  cert-manager/cert-manager.yaml
  cert-manager/letsencrypt-prod.yaml
  cert-manager/letsencrypt-staging.yaml
  gcsweb.k8s.io/certificate.yaml
  k8s.io/certificate-prod.yaml
Labels: approved, cncf-cla: yes, lgtm, priority/important-soon, size/XXL, wg/k8s-infra

#376 Add prod projects for GCR backups
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#410 cert-manager: remove 'old-format' HTTP01 configuration
  cert-manager/letsencrypt-prod.yaml
  cert-manager/letsencrypt-staging.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#411 Remove non-k8s targets for gcsweb
  gcsweb.k8s.io/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#412 Fix unbound variable bug
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#346 Add support for non-k8s-infra (and existing) mailing lists
  groups/groups.yaml
  groups/reconcile.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL, wg/k8s-infra

#414 All staging owners to use GCB
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#413 Fix groups printing
  groups/reconcile.go
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#416 infra/gcp: Grant Service Usage Consumer role for GCB users
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#418 Temporary prow canary domain while we rejig the ingress
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#417 Use genyaml for printing group config
  groups/go.mod
  groups/go.sum
  groups/reconcile.go
Labels: approved, cncf-cla: yes, lgtm, size/XL, wg/k8s-infra

#422 Add CABPK v0.1.5
  k8s.gcr.io/images/k8s-staging-cluster-api-kubeadm/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#419 Settings and membership fixes for groups
  groups/groups.yaml
  groups/reconcile.go
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#424 Add Bart as cluster admin
  groups/groups.yaml
  groups/reconcile.go
Labels: cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#423 Add Bradamant3 to CoCC
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#421 add kas-network-proxy to k8s.gcr.io
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/OWNERS
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kas-network-proxy/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#428 Fix typo in Kas network proxy group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#431 Add dns for kops.sigs.k8s.io
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#432 promote promoter
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#433 Add CAPO v0.2.0
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#435 Promote v0.2.1 of capd
  k8s.gcr.io/images/k8s-staging-capi-docker/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#429 Enable reconcile for distributors-announce
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#438 Promote CAPA v0.4.4
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#434 releng: Enable elevated privileges for Release Managers on SIG Release GCP projects
  groups/groups.yaml
  infra/gcp/ensure-release-projects.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/L, wg/k8s-infra

#439 Fix unbound variable in ensure-release-project.sh
  infra/gcp/ensure-release-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#441 Add cloudkms.cryptoKeyEncrypterDecrypter role to empower_group_for_kms
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#445 Promote CAPG v0.2.0-alpha.2
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#446 More fixes for groups settings management
  groups/groups.yaml
  groups/reconcile.go
Labels: approved, cncf-cla: yes, lgtm, size/XL, wg/k8s-infra

#447 Yet More Groups Fixes
  groups/groups.yaml
  groups/reconcile.go
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#451 Promote CAPI v0.2.7
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
