Repository kubernetes/k8s.io, pull requests merged in 2019-04, with the labels that each got.

#216 Create Ingress for k8s.io redirector
  k8s.io/Makefile
  k8s.io/configmap-nginx.yaml
  k8s.io/deployment.yaml
  k8s.io/ingress-canary.yaml
  k8s.io/ingress-dev.yaml
  k8s.io/ingress-prod.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#214 Add a cip-test GCRs for promoter testing
  k8s.gcr.io/ensure-prod-repo.sh
  k8s.gcr.io/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#217 Update DNS for redirector to point to Ingress IP
  .github/ISSUE_TEMPLATE/dns-request.md
  dns/README.md
  dns/zone-configs/k8s.io.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#212 fix promoter manifests to the new 1.0+ syntax
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
  k8s.gcr.io/k8s-staging-coredns/manifest.yaml
  k8s.gcr.io/k8s-staging-csi/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#221 Update slack IP
  dns/zone-configs/k8s.io.yaml
  dns/zone-configs/kubernetes.io.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#219 Enable Let's Encrypt automation for k8s.io redirector
  cert-manager/README.md
  cert-manager/selfsigning-clusterissuer.yaml
  k8s.io/Makefile
  k8s.io/certificate-canary.yaml
  k8s.io/certificate-prod.yaml
  k8s.io/configmap-nginx.yaml
  k8s.io/deployment.yaml
  k8s.io/ingress-canary.yaml
  k8s.io/ingress-dev.yaml
  k8s.io/ingress-prod.yaml
  k8s.io/secret-ssl.yaml
  k8s.io/service-canary.yaml
  k8s.io/service-dev.yaml
  k8s.io/service-prod.yaml
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#224 Don't request www.kubernetes.io SAN on TLS certificate
  k8s.io/certificate-canary.yaml
  k8s.io/certificate-prod.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#210 Upgrade cert-manager to v0.7.0
  cert-manager/README.md
  cert-manager/cert-manager.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XXL, wg/k8s-infra

#226 Remove slack.k8s.io directory.
  slack.k8s.io/TODO.md
  slack.k8s.io/offline/Dockerfile
  slack.k8s.io/offline/Makefile
  slack.k8s.io/offline/html/index.html
  slack.k8s.io/offline/html/logo.png
  slack.k8s.io/replicationcontroller.yaml
  slack.k8s.io/service.yaml
  slack.k8s.io/slackin/.gitkeep
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#220 fixes to promoter manifests
  k8s.gcr.io/k8s-staging-cluster-api/manifest.yaml
  k8s.gcr.io/k8s-staging-coredns/manifest.yaml
  k8s.gcr.io/k8s-staging-csi/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#230 document image promotion process
  k8s.gcr.io/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#231 Don't fail if tput fails to change output color
  k8s.gcr.io/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#233 Specify bash as our shell
  artifactserver/tools/get_workspace_status.sh
  dns/check-zone.sh
  dns/push.sh
  k8s.gcr.io/ensure-prod-repo.sh
  k8s.gcr.io/ensure-staging-repo.sh
  k8s.gcr.io/lib.sh
  k8s.io/canary.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#234 Switch to k8s-standard way of resolving bash dir
  k8s.gcr.io/ensure-prod-repo.sh
  k8s.gcr.io/ensure-staging-repo.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#236 Enable bucket-only policy for GCS buckets
  k8s.gcr.io/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#229 Updates to DNS scripts
  dns/Makefile
  dns/README.md
  dns/check-zone.sh
  dns/octodns-docker/.gitignore
  dns/octodns-docker/Dockerfile
  dns/octodns-docker/check-zone.py
  dns/octodns-docker/requirements.txt
  dns/push.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#222 Add script to create staging buckets
  k8s.gcr.io/ensure-staging-storage.sh
  k8s.gcr.io/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra
