Repository kubernetes/k8s.io, pull requests merged in 2019-12, with the labels that each got.

#480 Add image for CAPA v0.4.7
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#463 Created script ensure-namespaces.sh
  infra/gcp/namespaces/ensure-namespaces.sh
  infra/gcp/namespaces/namespace-user-role-binding.yml
  infra/gcp/namespaces/namespace-user-role.yml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#481 releng: Release Managers updates
  groups/groups.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, kind/feature, lgtm, priority/important-longterm, size/S, wg/k8s-infra

#483 releng: Dedupe Sascha's email address in release-managers@
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#485 Added bartsmykla to OWNERS
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#482 Enable a gcsweb namespace
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#486 Add DNS entry for cluster-api development docs
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#488 Update DNS for development branch for the cluster-api documentation
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#487 Change the mail of saschagrunert to the private one
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#456 Added bartsmykla to k8s-infra-team-private group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#400 Adds k8s-infra-staging-e2e-test-images@kubernetes.io group
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/k8s-staging-e2e-test-images/manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#484 Add image-builder.sigs.k8s.io
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#489 use e2e-test-images instead of e2e-test in ensure-staging-storage
  infra/gcp/ensure-staging-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#476 Add metrics-server staging repo
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-metrics-server/OWNERS
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
  k8s.gcr.io/manifests/k8s-staging-metrics-server/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#490 Add missing dot for image-builder.sigs dns
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#469 Update Dockerfile and requirements.txt for python 3.7
  dns/octodns-docker/Dockerfile
  dns/octodns-docker/requirements.txt
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#440 Add GCR staging repo for kubernetes/cloud-provider-azure
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-provider-azure/OWNERS
  k8s.gcr.io/images/k8s-staging-provider-azure/images.yaml
  k8s.gcr.io/manifests/k8s-staging-provider-azure/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#355 Add stp-ip to CoreDNS staging group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#461 add staging for the kubeadm project
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-kubeadm/OWNERS
  k8s.gcr.io/images/k8s-staging-kubeadm/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kubeadm/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, kind/feature, lgtm, priority/important-longterm, sig/cluster-lifecycle, size/M, wg/k8s-infra

#492 psc/releng: Update membership for security/release-focused Google Groups
  groups/groups.yaml
Labels: approved, cncf-cla: yes, committee/product-security, lgtm, sig/release, size/S, wg/k8s-infra

#491 Fix email - ritazh -> Ritazh
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#493 Fix members list for security-release-team
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#479 Add external-dns to k8s.gcr.io
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-external-dns/OWNERS
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
  k8s.gcr.io/manifests/k8s-staging-external-dns/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#494 psc/releng: Update security-release-team to use security-discuss-private
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#497 Flip gcsweb dns to new cluster
  dns/zone-configs/k8s.io.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#495 Fixing bug where zone comparison was made from GCP's records instead of YAML confg's
  dns/octodns-docker/check-zone.py
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#510 Promote CAPI v0.2.8
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#512 Promote CoreDNS v1.6.6
  k8s.gcr.io/images/k8s-staging-coredns/OWNERS
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#465 Add DNS setup
  infra/gcp/ensure-main-project.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#514 Enable namespace and RBAC for Publishing Bot
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#515 Create gcr.io image repo for service-apis
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-service-apis/OWNERS
  k8s.gcr.io/images/k8s-staging-service-apis/images.yaml
  k8s.gcr.io/manifests/k8s-staging-service-apis/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#519 Fix up group moderation settings
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#354 Add txtdirect staging repo
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-txtdirect/OWNERS
  k8s.gcr.io/images/k8s-staging-txtdirect/images.yaml
  k8s.gcr.io/manifests/k8s-staging-txtdirect/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#521 Fix a typo in comment.
  k8s.gcr.io/manifests/k8s-staging-provider-azure/promoter-manifest.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#513 Add k8s.io namespaces and gsuite group
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#496 Fix bugs in ensure-namespaces
  infra/gcp/namespaces/ensure-namespaces.sh
  infra/gcp/namespaces/namespace.yml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra
