Repository kubernetes/k8s.io, pull requests merged in 2020-11, with the labels that each got.

#1382 infra(k8s-infra-prow-build-trusted): Add promoter service accounts
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1384 Promote Cluster Autoscaler 1.19.1 and 1.18.3
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1385 releng: Promote vulndash:v0.3.0
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#1386 releng: Image promotion for v1.20.0-beta.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1389 releng: Promote kubepkg:v0.1.0 images
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#1388 Promote Cluster Autoscaler 1.17.4 and 1.16.7
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1387 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1391 releng: Promote releng-ci:v0.1.1 image
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#1390 infra: Disable retention policy on k8s-artifacts-prod-vuln-dashboard
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1377 k8s.gcr.io/README.md: Provide a link to the production registry web console/UI
  k8s.gcr.io/README.md
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1392 releng: Grant Release Manager Admins artifact admin privileges
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1393 Grant GCR write privileges to prow-build Service Account
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1398 add domain secrets-store-csi-driver.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#1395 Rename seccomp-operator images and manifests to security-profiles-operator
  k8s.gcr.io/images/k8s-staging-sp-operator/OWNERS
  k8s.gcr.io/images/k8s-staging-sp-operator/images.yaml
  k8s.gcr.io/manifests/k8s-staging-sp-operator/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1400 Add kubectl and kustomize netlify sites for cli-experimental
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S

#1401 Remove prow-build service account from group, grant permissions directly
  groups/sig-release/groups.yaml
  infra/gcp/ensure-staging-storage.sh
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1399 Bump terraform providers
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1397 Add 0.3.2 release for cluster-api-openstack
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1406 k8s.gcr.io: Promote Cluster API Provider AWS v0.6.2
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1405 Promote CoreDNS v1.7.1 and v1.8.0
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1407 k8s.gcr.io: Fix promoter manifest location for k8s-staging-addon-manager
  k8s.gcr.io/manifests/k8s-staging-addon-manager/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1408 promote csi-secrets-store driver:v0.0.17
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1409 Update v0.0.14 for network proxy
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1412 Promote kOps 1.19.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1413 Promote kOps 1.19.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.0-beta.1.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1414 Update capi-openstack image hash
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1416 releng: Image promotion for v1.17.14 / v1.17.15-rc.0 / v1.18.11 / v1.18.12-rc.0 / v1.19.4 / v1.19.5-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#1383 Add Initial Promoter Manifest For scheduler-plugins
  k8s.gcr.io/manifests/k8s-staging-scheduler-plugins/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#1417 Promote new csi images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1420 Move cs.k8s.io to a new host
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#1404 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1421 Promote security profiles operator v0.2.0
  k8s.gcr.io/images/k8s-staging-sp-operator/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1419 releng: Image promotion for v1.18.12 / v1.18.13-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1422 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1423 releng: Promote new images built with go1.15.5
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1418 Promote kustomize image
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1424 Add more members to k8s-infra-staging-networking
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1411 Request static address for prow staging
  infra/gcp/ensure-static-ips.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1427 Promote 1.16.0 DNS images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1430 releng: Temporarily grant access to onlydole
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1428 Release Metrics Server v0.4.1
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1432 releng: Image promotion for v1.20.0-beta.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1433 Promote CAPA v0.6.3
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1434 releng: dropping temporarily access for onlydole
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1435 Promote npd v0.8.5
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1436 Update SIG Release leadership and Release Managers (promotions, new members, retirement)
  OWNERS_ALIASES
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1410 Add kubernetes namespace for prow staging
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1431 Promote cri-tools images
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cri-tools/OWNERS
  k8s.gcr.io/images/k8s-staging-cri-tools/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cri-tools/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#1438 Promote Cluster API v0.3.11
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1437 Add site verification to kubernetes.dev domain
  dns/zone-configs/kubernetes.dev._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#1439 create capi openstack image v0.3.3
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1426 Add new group for conformance Inspur
  groups/groups.yaml
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1440 k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote v2.0.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1441 Establish a staging repository for mirroring Docker Hub images
  OWNERS_ALIASES
  groups/sig-release/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-mirror/OWNERS
  k8s.gcr.io/images/k8s-staging-mirror/images.yaml
  k8s.gcr.io/manifests/k8s-staging-mirror/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1443 Promote kOps 1.19.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1444 Promote kOps 1.19.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.0-beta.2.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1445 Add empty line to trigger another push
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1446 Promote artifacts for kops 1.18.2
  artifacts/manifests/k8s-staging-kops/1.18.2.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1442 Promote v0.3.1 filestore image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1448 Add eddiezane to leads groups
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1449 releng: Promote go-runner:buster-v2.2.2 (built using go1.15.5)
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1450 Update kubernetes.dev verification txt record
  dns/zone-configs/kubernetes.dev._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#1452 Add Fabrizio Pandini to leads mailing list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1451 Add eddiezane to sig-cli-leads
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1453 releng: Promote container image promoter v3.0.0 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS
