Repository kubernetes/k8s.io, pull requests merged in 2020-10, with the labels that each got.

#1292 Add Xander Grzywinski to Release Team/Shadows
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1293 Promote ExternalDNS v0.7.4
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1291 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1295 Add jinxu to k8s-infra-staging groups
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1296 triage-party: Update triage/support -> kind/support labels
  triage-party/release-team/configmap.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1298 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1300 Correct capitialisation of email address
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1301 Remove references to kubernetes-incubator
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1299 Add staging for kubernetes/website docker container images
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-sig-docs/OWNERS
  k8s.gcr.io/images/k8s-staging-sig-docs/images.yaml
  k8s.gcr.io/manifests/k8s-staging-sig-docs/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1303 promote cluster-api-provider-azure:v0.4.9
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1302 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1314 k8s.gcr.io/../k8s-staging-kube-state-metrics: Promote 2.0.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1304 Remove NS records from all canary zones
  dns/zone-configs/README.md
  dns/zone-configs/canary.k8s-e2e.com.yaml
  dns/zone-configs/canary.k8s.dev.yaml
  dns/zone-configs/canary.kubernetes.dev.yaml
  dns/zone-configs/canary.x-k8s.io.yaml
  dns/zone-configs/k8s-e2e.com._0_base.yaml
  dns/zone-configs/k8s-e2e.com._1_canary.yaml
  dns/zone-configs/k8s.dev._0_base.yaml
  dns/zone-configs/k8s.dev._1_canary.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/k8s.io._2_aws.yaml
  dns/zone-configs/kubernetes.dev._0_base.yaml
  dns/zone-configs/kubernetes.dev._1_canary.yaml
  dns/zone-configs/x-k8s.io._0_base.yaml
  dns/zone-configs/x-k8s.io._1_canary.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/M

#1315 promote csi-secrets-store driver:v0.0.15
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1309 Promote addon-manager v9.1.2 images
  k8s.gcr.io/images/k8s-staging-addon-manager/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1316 Promote capdo v0.4.0-rc.0 images
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1318 Promote Vertical Pod Autoscaler 0.9.0
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1319 Promote capdo v0.4.0 images
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1320 promote csi-secrets-store driver:v0.0.16
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1321 releng: Promote debian-iptables:stretch-v1.2.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1322 releng: Temporarily grant access to puerco/mkorbi/markyjackson-taulia/jimangel
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1317 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1325 Add externalip-webhook image sha for v1.0.0 tag
  k8s.gcr.io/images/k8s-staging-multitenancy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1326 releng: Image promotion for v1.20.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1328 groups: update steering mailing lists
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1297 Update Google Project memberships for Cluster API Core, AWS and Azure projects
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1313 Rename seccomp-operator to security-profiles-operator
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-seccomp-operator/images.yaml
  k8s.gcr.io/manifests/k8s-staging-seccomp-operator/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1323 Add thejoycekung to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1324 Add eddiezane to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1327 Add irvi in leads list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1329 releng: Image promotion for Kubernetes v1.19.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1331 Promote kops 1.19.0-alpha.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.0-alpha.5.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1330 Promote kops 1.19.0-alpha.5 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1335 gcr: Promote Cluster API Provider AWS v0.6.1
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1336 releng: Image promotion for Kubernetes v1.17.13 / v1.17.14-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1337 releng: Image promotion for Kubernetes v1.18.10 / v1.18.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1338 releng: dropping temporarily access to puerco/mkorbi/markyjackson-taulia/jimangel
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1332 Added AllowWebPosting option to groups reconciler
  groups/groups.yaml
  groups/groups_test.go
  groups/reconcile.go
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1333 Refactored deprecated methods in groups reconciler
  groups/reconcile.go
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1342 releng: Temporarily grant access to gianarb
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1340 Promote ingress conformance echoserver image
  k8s.gcr.io/images/k8s-staging-ingress-controller-conformance/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1341 Enable CIP owners to perform image promotion
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-release/groups.yaml
  k8s.gcr.io/images/k8s-staging-artifact-promoter/OWNERS
Labels: approved, area/access, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L, wg/k8s-infra

#1344 Fix ingress conformance promoter configuration
  k8s.gcr.io/manifests/k8s-staging-ingress-controller-conformance/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1348 releng: Image promotion for v1.20.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1350 promote latest csi sidecar images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1349 releng: dropping temporarily access to gianarb
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1352 releng: Promote kube-cross:v1.15.3-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1353 Promote 1.15.16 kube-dns images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1351 Promote KAS network proxy to v0.0.13
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1346 Promote scheduler-plugins image v0.18.9 to k8s.gcr.io
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/scheduling, size/XS, wg/k8s-infra

#1354 Add a staging repo for networking related addons
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-networking/OWNERS
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
  k8s.gcr.io/manifests/k8s-staging-networking/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#1357 releng: Temporarily grant access to Verolop
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1358 Add ip-masq-agent v2.6.0 images
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#1355 Add staging GCR repo for Kubernetes CI images
  groups/sig-release/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-ci-images/OWNERS
  k8s.gcr.io/images/k8s-staging-ci-images/images.yaml
  k8s.gcr.io/manifests/k8s-staging-ci-images/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1356 Update PSC associates
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1360 Update groups/README.md with an instruction on how to login to gcloud
  groups/README.md
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1362 releng(cip): Promote image promoter and auditor v2.4.1 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#1347 Add group for kustomize
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-kustomize/OWNERS
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kustomize/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1366 k8s.gcr.io/../k8s-staging-kube-state-metrics: Promote v2.0.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1367 k8s.gcr.io/../k8s-staging-kube-state-metrics/images.yaml: Prefix with v
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1365 releng: Image promotion for Kubernetes v1.20.beta.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1369 promote csi sidecar images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1368 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1372 add aojea to k8s.io group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1373 Promote ingress-nginx test images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1378 Correct k8s-infra-gcr-vuln-dashboard SA
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml
  infra/gcp/ensure-prod-storage.sh
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1370 releng: dropping temporarily access to Verolop
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1379 Fix YAML quoting
  dns/Makefile
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#1381 Release metrics-server v0.4.0
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1380 Promote sidecar images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra
