Repository kubernetes/k8s.io, pull requests merged in 2020-08, with the labels that each got.

#1096 Promote cluster-proportional-autoscaler 1.8.2 images
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1100 releng: Promote debian-base:v2.1.1 and v2.1.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1101 releng: Promote debian-iptables:v12.1.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1103 releng: Promote debian-hyperkube-base:v1.1.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1105 Cluster Autoscaler releases 1.16.6 and 1.15.7
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1104 move tpepper's primary address
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1107 Add images for health monitor agent and controller
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1106 releng: Image promotion for Kubernetes v1.19.0-rc.4
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1108 Add manual gpu-project and ingress-project
  infra/gcp/ensure-e2e-projects.sh
Labels: approved, cncf-cla: yes, lgtm, sig/release, sig/testing, size/S, wg/k8s-infra

#1109 Promote cluster-api-provider-azure:v0.4.7
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1111 groups: Move SIG Release-managed groups to a subdirectory
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-release/OWNERS
  groups/sig-release/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XL, wg/k8s-infra

#1112 Promote Cluster API Provider AWS v0.5.5
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1097 Add k8s.dev and kubernetes.dev DNS zones
  dns/octodns-config.yaml
  dns/push.sh
  dns/zone-configs/canary.k8s.dev.yaml
  dns/zone-configs/canary.kubernetes.dev.yaml
  dns/zone-configs/k8s.dev.yaml
  dns/zone-configs/kubernetes.dev.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/M

#1113 Add MushuEE (gmccloskey) to prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1114 Add sig-scalability members to k8s-infra-prow-viewers@kubernetes.io
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1099 node-feature-discovery: promote v0.6.0
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1119 build-image: Promote kube-cross:v1.14.7-1 and v1.13.15-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1121 releng: Promote debian-base:v1.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1122 releng: Promote debian-base:v2.1.3 and debian-iptables:v11.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1118 Provision 10 gpu GCP projects
  infra/gcp/ensure-e2e-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1124 releng: Promote debian-iptables:v12.1.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1110 Add k8s-release project and buckets for ci
  infra/gcp/ensure-release-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1123 bump new image of the k8s container image promoter
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1126 Add prow-deployer service account
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1125 Add gpu-project pool to prow-build boskos
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1127 Add gpu-project to boskos components
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-janitor.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-reaper-deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1117 Promote external-dns v0.7.3
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1129 build-image: Promote kube-cross:v1.15.0-rc.2-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1128 Add 40 more e2e projects, up to 120 total
  infra/gcp/ensure-e2e-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1130 Grow k8s-infra-prow-build boskos gce-project pool to 120
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1133 releng: Promote debian-hyperkube-base:v1.1.3
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1134 groups/sig-release: Create sig-release-leads@kubernetes.io and onboard Lauri
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1136 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1137 Promote ingress-nginx test images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1138 build-image: Promote kube-cross:v1.15.0-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1139 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1140 Add support for MembersCanPostAsTheGroup setting
  groups/groups.yaml
  groups/reconcile.go
  groups/sig-contributor-experience/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1135 create a vuln dashboard svcacct and bucket
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#1141 Update csi-snapshotter image to 2.1.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1142 Fix typo in lib.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1143 releng: Image promotion for Kubernetes v1.17.10 and for v1.18.7
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1144 releng: Image promotion for v1.18.8-rc.0 and v1.17.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1131 Promote cluster-proportional-autoscaler 1.8.3 images
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1145 releng: Image promotion for v1.16.14 and v1.16.15-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1146 releng: Image promotion for v1.17.11 and v1.17.12-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1147 releng: Image promotion for v1.18.8 and v1.18.9-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1149 Promote seccomp-operator v0.1.0
  k8s.gcr.io/images/k8s-staging-seccomp-operator/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1148 Add staging project for cluster-addons
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cluster-addons/OWNERS
  k8s.gcr.io/images/k8s-staging-cluster-addons/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-addons/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1152 code of conduct committee update
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1153 Update README.md
  dns/README.md
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1154 Added bartsmykla to k8s-infra-prow-viewers group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1155 Revert "Added bartsmykla to k8s-infra-prow-viewers group"
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1156 Update network proxy images
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1158 promote csi-secrets-store driver:v0.0.13
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1157 Update cji's email address.
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1150 Add dns records for the contributor site
  dns/README.md
  dns/zone-configs/k8s.dev.yaml
  dns/zone-configs/kubernetes.dev.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S

#1159 Fix DNS records for contrib site
  dns/zone-configs/k8s.dev.yaml
  dns/zone-configs/kubernetes.dev.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S

#1160 Update boskos to v20200819-984516e
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-janitor.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-reaper-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1161 Use boskos' new image repo
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-janitor.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-reaper-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1163 Promote NPD 0.8.3 image
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1164 rename npd image name to node-problem-detector
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1165 k8s-infra-prow-viewers: add neolit123
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1170 Add images for csi-snapshotter v1.2.2 and v1.1.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1172 Add an n1_highmem_8 nodepool to k8s-infra-prow-build to prep for migration
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1174 Fix typo
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1175 Promote kops 1.19.0-alpha.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1177 Remove n1-highmem-16 pool from k8s-infra-prow-build
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1180 releng: Image promotion for v1.19.0 and v1.19.1-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1181 bump new image of the promoter for the vulnerability dashboard
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1179 Update README.md
  dns/README.md
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1183 Promote etcd 3.4.13-0 images
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/api-machinery, sig/release, size/XS

#1184 Promote csi-provisioner v2.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1185 Promote ingress-nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1162 Enable serviceusage api in cluster projects
  infra/gcp/clusters/modules/gke-project/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1186 Add n1-highmem-8 nodepool with larger SSDs to k8s-infra-prow-build
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1189 Adding self to k8s-infra-prow-oncall
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1188 Remove old low-IOPS n1-highmem-8 nodepool
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1190 Add 10 more scalability projects for k8s-infra-prow-build's boskos pool
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
  infra/gcp/ensure-e2e-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1191 Promote csi images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1192 double size of scalability-project pool
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
  infra/gcp/ensure-e2e-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1193 releng: Promote debian-base:buster-v1.1.4 and updated tag format for previous Debian base images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1195 Add k8s-release-dev bucket to gcsweb
  gcsweb.k8s.io/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1196 Fix typo in ensure-release-projects.sh
  infra/gcp/ensure-release-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
