Repository kubernetes/k8s.io, pull requests merged in 2020-02, with the labels that each got.

#459 add script to create conformance buckets, add bucket for capo
  groups/groups.yaml
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#561 Fix renamed lib function
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#552 add npd to k8s.gcr.io
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-npd/OWNERS
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
  k8s.gcr.io/manifests/k8s-staging-npd/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#550 Promote k/k test e2e images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/OWNERS
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
  k8s.gcr.io/manifests/k8s-staging-e2e-test-images/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#501 Add GCB staging bucket for CRI-O
  groups/groups.yaml
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#524 Add node-feature-discovery (nfd) to k8s.gcr.io
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-nfd/OWNERS
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
  k8s.gcr.io/manifests/k8s-staging-nfd/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/node, size/S, wg/k8s-infra

#563 Promote CAPA v0.4.9
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#564 ExternalDNS: promote v0.6.0
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#547 capz: update owners to match capz repo
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#565 releng: Add Daniel Mangum (hasheddan) as a Release Manager Associate
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#539 add k8s-infra-staging-scl-image-builder group
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#567 Fix groups, add verbose logging
  groups/groups.yaml
  groups/reconcile.go
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#569 sig-release: Create release-comms list (external release communications)
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#556 Grant promoter service account access to test resources
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#566 releng: Revert temporary Branch Manager access for hasheddan
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#560 add documentation around vanity domain flip and the oss promoter
  groups/groups.yaml
  infra/gcp/deploy-cip-auditor.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib.sh
  k8s.gcr.io/Vanity-Domain-Flip.md
Labels: approved, cncf-cla: yes, lgtm, size/XL, tide/merge-method-squash, wg/k8s-infra

#571 Use the existing artifact-admins group for auditor
  groups/groups.yaml
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#572 Add thockin to OWNERS
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#574 cleanup auditor deployment script
  infra/gcp/cip-auditor/deploy.sh
  infra/gcp/ensure-env-cip-auditor.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#576 Update groups.yaml
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#577 Promote CAPI v0.3.0-rc.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#573 Add bentheelder as cluster admin
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#579 Open k8s-infra-aws-admins to external email
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#575 ensure-env-cip-auditor.sh: fail early if auditor service is not found
  groups/groups.yaml
  infra/gcp/ensure-env-cip-auditor.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#562 Promote k/k e2e test image: agnhost:2.10
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#581 Fix bugs in #575
  infra/gcp/ensure-env-cip-auditor.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#580 Add a new group for conformance HUAWEI CLOUD
  groups/groups.yaml
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#583 Adds CABPKv0.1.6
  k8s.gcr.io/images/k8s-staging-cluster-api-kubeadm/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#584 Promote CAPI v0.2.10
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#585 Promote CABPK and KCP v0.3.0-rc.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#588 Remove unneeded settings for conformance groups
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#570 descheduler: promote v0.10.0
  k8s.gcr.io/images/k8s-staging-descheduler/OWNERS
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#589 Promote CAPI v0.3.0-rc.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#587 Add munnerz to k8s-infra-team-private
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#582 Prep to flip k8s.io to "aaa" cluster
  cert-manager/cert-manager.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  groups/groups.yaml
  k8s.io/canary.sh
  k8s.io/service-prod.yaml
  k8s.io/service.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#590 Document how to get an app running in our cluster
  groups/groups.yaml
  running-in-community-clusters.md
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#592 Update emails from gmail to huawei
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#593 Add gmail back for satisfy gcloud
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#594 Remove duplicates because groups gets confused
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#591 releng: Add CNI maintainers and Release Managers to CNI IAM group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#595 promote promoter
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#598 Break CIP-audit script into steps
  infra/gcp/ensure-env-cip-auditor.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#596 some fixes to cip-auditor/deploy.sh
  infra/gcp/cip-auditor/deploy.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#599 fix some permission errors around the cip-auditor deployment script
  infra/gcp/ensure-env-cip-auditor.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#603 releng: Grant access to push images in build-image GCP project
  OWNERS_ALIASES
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-build-image/OWNERS
  k8s.gcr.io/manifests/k8s-staging-build-image/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#606 capz: Promote image for capz release v0.3.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#607 cni: Drop piotr.skarmuk from CNI artifacts push group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#608 kube-cross: Backfill promotion of active k8s.gcr.io/kube-cross images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#609 Promote CAPI v0.3.0-rc.2
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#610 build-image: Promote kube-cross images (v1.13.8-1, v1.12.17-1)
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#612 GCR manifests/... should not have OWNERS
  k8s.gcr.io/manifests/README.md
  k8s.gcr.io/manifests/k8s-staging-build-image/OWNERS
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#568 Bump network proxy to v0.0.6
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#616 Add DNS for krew netlify site
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#615 Add owners file under groups
  groups/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#617 Add caesarxuchao as owner of network proxy images
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#618 v0.0.7 of network proxy
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
