Repository kubernetes/k8s.io, pull requests merged in 2020-06, with the labels that each got.

#932 Removed sentence from infra/gcp/clusters/README.md
  infra/gcp/clusters/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#933 releng: Temporarily grant Verolop access to cut 1.19.0-beta.1
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, priority/important-soon, size/XS, wg/k8s-infra

#937 Promote external-dns v0.7.2
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#916 Add namespace and google for triage party hosting
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#934 kubernetes-csi: promote existing releases
  k8s.gcr.io/images/k8s-staging-csi/generate.sh
  k8s.gcr.io/images/k8s-staging-csi/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#938 Sort namespaces
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#935 releng: remove temporarily access for Verolop
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, priority/important-soon, size/XS, wg/k8s-infra

#942 Promote Cluster API Provider AWS v0.5.4
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#944 build-image: Promote kube-cross:v1.14.4-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#940 kubernetes-csi: promote first multi-arch mock-driver release
  k8s.gcr.io/images/k8s-staging-csi/OWNERS
  k8s.gcr.io/images/k8s-staging-csi/generate.sh
  k8s.gcr.io/images/k8s-staging-csi/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#913 remove git-crypt support from repo
  .git-crypt/.gitattributes
  .git-crypt/keys/default/0/10433CA4A347A8515465ED50B34A59A9D39F838B.gpg
  .git-crypt/keys/default/0/11162A2CE832F6A7513E4441829AB4FA2039D978.gpg
  .git-crypt/keys/default/0/1FC487BD7DB6742EF3A7031FC3B249EDD9D2852C.gpg
  .git-crypt/keys/default/0/A67E5FD880EB089F2317796780D83A796103BF59.gpg
  .gitattributes
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#941 Add Associate PSC members to distributors-announce list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#936 Add sigs.k8s.io/ingress-controller-conformance for image promoter
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-ingress-controller-conformance/OWNERS
  k8s.gcr.io/images/k8s-staging-ingress-controller-conformance/images.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#857 Allow k8s-staging-e2e-test-images GCB to access secrets
  infra/gcp/clusters/modules/gke-project/main.tf
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#946 Fix prow-build nodepool pool1 initial_count
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#943 add staging project for K8s storage
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/OWNERS
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
  k8s.gcr.io/manifests/k8s-staging-sig-storage/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#951 CAPZ: add alexeldeib and remove serbrech from reviewers
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#947 Remove references to k8s-staging-release-test
  infra/gcp/ensure-release-projects.sh
  infra/gcp/ensure-staging-storage.sh
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#945 Release network proxy v0.0.9
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#949 Removing docker from dns shell scripts
  dns/Makefile
  dns/check-zone.py
  dns/check-zone.sh
  dns/lib.sh
  dns/octodns-config.yaml
  dns/octodns-docker/Dockerfile
  dns/push.sh
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/L

#953 Prmote new version of infra-tools/octodns image
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#954 Updated version of octodns in dns/Makefile
  dns/Makefile
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#955 backfill from google-containers
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XXL, wg/k8s-infra

#958 promote agnhost 2.19
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#959 Update OWNERS for k8s.gcr.io/e2e-test-images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#963 Added dummy.k8s.io dns record to trigger prow job
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#962 Removed apk update/upgrade from octodns docker
  dns/octodns-docker/Dockerfile
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#964 Promote infra-tools/octodns image
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#965 Updated octodns version in dns/Makefile
  dns/Makefile
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#968 capz: Promote image for capz release v0.4.5
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#952 k8s.gcr.io: k8s-staging-csi -> k8s-staging-sig-storage
  k8s.gcr.io/images/k8s-staging-csi/OWNERS
  k8s.gcr.io/images/k8s-staging-csi/images.yaml
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
  k8s.gcr.io/manifests/k8s-staging-csi/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#971 rename storage to sig-storage in manifests
  k8s.gcr.io/manifests/k8s-staging-sig-storage/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#972 Promote Cluster API v0.3.7-alpha.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#973 Promote etcd 3.4.9-0
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/api-machinery, sig/release, size/XS

#974 build-image: Promote kube-cross:v1.14.4-2 and v1.13.12-2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#975 backfill gcr.io/google-containers
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#976 Promote CoreDNS v1.7.0
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#977 promote agnhost 2.20
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#957 Switch slack-infra to community hosted images
  k8s.gcr.io/images/k8s-staging-slack-infra/images.yaml
  slack-infra/resources/slack-event-log/deployment.yaml
  slack-infra/resources/slack-moderator/deployment.yaml
  slack-infra/resources/slack-welcomer/deployment.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#978 releng: Promote debian-hyperkube-base:v1.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/L, wg/k8s-infra

#970 groups: add leads@kubernetes.io
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/contributor-experience, size/M, wg/k8s-infra

#979 Allow anyone to send emails to leads@kubernetes.io
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#981 releng: Promote arch-specific digests for debian-hyperkube-base:v1.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS, wg/k8s-infra

#983 Promote agnhost 2.21
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS, wg/k8s-infra

#950 Configure sigs.k8s.io/ingress-controller-conformance image promoter
  k8s.gcr.io/images/k8s-staging-ingress-controller-conformance/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/S, wg/k8s-infra

#982 Add brancz to leads mailing list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#987 prow-builds: increase loop device nodes
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/create-loop-devs_daemonset.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#967 Deploy triage-party
  infra/gcp/ensure-static-ips.sh
  triage-party/release-team/README.md
  triage-party/release-team/configmap.yaml
  triage-party/release-team/deployment.yaml
  triage-party/release-team/ingress.yaml
  triage-party/release-team/service.yaml
  triage-party/release-team/storage.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XL, wg/k8s-infra

#986 Add wg-security-audit to leads mailing list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#989 releng: Promote debian-hyperkube-base:v1.1.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#985 Promote ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
  k8s.gcr.io/manifests/k8s-staging-ingress-nginx/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#991 Promote ingress-nginx e2e images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/S, wg/k8s-infra
