Repository kubernetes/k8s.io, pull requests merged in 2020-04, with the labels that each got.

#711 Promote external-dns v0.7.1
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#712 Adding bartsmykla to k8s-ingra-gcp-accounting
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#710 add KSA binding for workload identity
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#658 Add secrets-store-csi-driver project
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/OWNERS
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
  k8s.gcr.io/manifests/k8s-staging-csi-secrets-store/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#713 Add staging repo for etcd images
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-etcd/OWNERS
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
  k8s.gcr.io/manifests/k8s-staging-etcd/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#717 Enable vulnerability scanning in k8s-artifacts-prod
  groups/groups.yaml
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#719 Promote agnhost 2.13
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#724 capz: Promote image for capz release v0.4.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#725 Add a staging repo for cluster-proportional-vertical-autoscaler
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cpva/OWNERS
  k8s.gcr.io/images/k8s-staging-cpva/images.yaml
  k8s.gcr.io/images/k8s-staging-cpva/promoter-manifest.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#727 Update Release Engineering lists
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#730 Update audit as of 2020-04-07
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/cors.txt
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/iam.json
  audit/projects/k8s-staging-cpa/buckets/artifacts.k8s-staging-cpa.appspot.com/logging.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/cors.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/iam.json
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa-gcb/logging.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/bucketpolicyonly.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/cors.txt
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/iam.json
  audit/projects/k8s-staging-cpa/buckets/k8s-staging-cpa/logging.txt
  audit/projects/k8s-staging-cpa/description.json
  audit/projects/k8s-staging-cpa/iam.json
  audit/projects/k8s-staging-cpa/services/enabled.txt
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/dns-pusher@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/dns-pusher@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters.txt
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#731 Add area/ labels to OWNERS files
  audit/OWNERS
  cert-manager/OWNERS
  groups/OWNERS
  k8s.gcr.io/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#702 Added go.k8s.io/redirects redirection
  k8s.io/README.md
  k8s.io/configmap-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#721 Move perfdash to new infrastructure
  dns/zone-configs/k8s.io._0_base.yaml
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
  perf-dash.k8s.io/OWNERS
  perf-dash.k8s.io/README.md
  perf-dash.k8s.io/certificate.yaml
  perf-dash.k8s.io/deployment.yaml
  perf-dash.k8s.io/ingress.yaml
  perf-dash.k8s.io/service.yaml
Labels: approved, area/access, area/dns, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#733 Fixed certificate.yaml manifest for perfdash
  perf-dash.k8s.io/certificate.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#735 Correct k8s.gcr.io post-k8sio-cip Testgrid link
  k8s.gcr.io/README.md
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#718 allow workload identity for prod backups
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#736 Add YoyinZyc to k8s-infra-staging-etcd group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#734 Added missing annotation to cert manifests
  gcsweb.k8s.io/certificate.yaml
  k8s.io/certificate-canary.yaml
  k8s.io/certificate-prod.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#739 Promote cpvpa v0.8.2 staging images
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#738 Fresh GCP Audit from 09 April 2020
  audit/projects/k8s-artifacts-prod-bak/service-accounts/k8s-infra-gcr-promoter@k8s-artifacts-prod-bak.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/services/compute/project-info.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#720 Added new members to community group
  groups/groups.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#741 Promote etcd 3.4.7 staging images
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/api-machinery, size/XS, wg/k8s-infra

#742 Update Release Engineering lists
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#744 add staging project for kind
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-image-staging-kind/OWNERS
  k8s.gcr.io/images/k8s-image-staging-kind/images.yaml
  k8s.gcr.io/manifests/k8s-image-staging-kind/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#748 Update audit as of 2020-04-15
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/cors.txt
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/iam.json
  audit/projects/k8s-staging-kind/buckets/artifacts.k8s-staging-kind.appspot.com/logging.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/cors.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/iam.json
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind-gcb/logging.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/bucketpolicyonly.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/cors.txt
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/iam.json
  audit/projects/k8s-staging-kind/buckets/k8s-staging-kind/logging.txt
  audit/projects/k8s-staging-kind/description.json
  audit/projects/k8s-staging-kind/iam.json
  audit/projects/k8s-staging-kind/services/enabled.txt
  audit/projects/kubernetes-public/iam.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#749 Refactor for push buckets and kind
  groups/groups.yaml
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/lib_util.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#755 Update Netlify hosted sites tld
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S

#756 Fix wrong repo name, use indents in infra scripts
  infra/gcp/ensure-conformance-storage.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib_util.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#750 Add cluster resources for slack-infra
  .gitattributes
  slack-infra/README.md
  slack-infra/slack-event-log/deployment.yaml
  slack-infra/slack-event-log/service.yaml
  slack-infra/slack-event-log/slack-event-log-config-secret.yaml
  slack-infra/slack-moderator/deployment.yaml
  slack-infra/slack-moderator/service.yaml
  slack-infra/slack-moderator/slack-moderator-config-secret.yaml
  slack-infra/slack-welcomer/deployment.yaml
  slack-infra/slack-welcomer/message.yaml
  slack-infra/slack-welcomer/service.yaml
  slack-infra/slack-welcomer/slack-welcomer-config-secret.yaml
  slack-infra/slackin/deployment.yaml
  slack-infra/slackin/recaptcha-secret.yaml
  slack-infra/slackin/service.yaml
  slack-infra/slackin/slackin-token-secret.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#757 Added RBAC groups and namespace for slack infra
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#758 Fixed missing var from fn in ensure_namespaces
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#763 dns: update check-zone.sh usage in Makefile
  dns/Makefile
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#765 build-image: Promote kube-cross v1.14.2-1 image
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#761 Release metrics-server v0.3.7
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#760 Promote Vertical Pod Autoscaler 0.8.0
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#746 Removed duplicated perfdash manifests
  perf-dash.k8s.io/README.md
  perf-dash.k8s.io/certificate.yaml
  perf-dash.k8s.io/deployment.yaml
  perf-dash.k8s.io/ingress.yaml
  perf-dash.k8s.io/service.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#764 simplify indentation function to use sed
  infra/gcp/lib_util.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#767 groups: update steering-committee groups
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, committee/steering, lgtm, size/XS, wg/k8s-infra

#759 add vsphere-csi-driver.sigs for vSphere CSI driver
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#769 Removed platform sufixes from metrics-server
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#770 Allow RBAC group members to view members
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#773 Switching perf-dash subdomain to the new place
  dns/zone-configs/k8s.io._0_base.yaml
  perf-dash.k8s.io/certificate.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#777 Remove perf-dash-canary.k8s.io subdomain
  dns/zone-configs/k8s.io._0_base.yaml
  perf-dash.k8s.io/certificate.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#779 capz: Promote image for capz release v0.4.2
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#774 Extend permissions to Replicasets and Statefulsets
  infra/gcp/namespaces/namespace-user-role.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#771 Move slack-infra to one namespace
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#778 Updated deploy instructions for perf-dash
  perf-dash.k8s.io/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#780 Strip out resource usage from audit files
  audit/audit-gcp.sh
  audit/projects/k8s-artifacts-prod-bak/services/compute/project-info.json
  audit/projects/k8s-artifacts-prod/services/compute/project-info.json
  audit/projects/k8s-cip-test-prod/services/compute/project-info.json
  audit/projects/k8s-conform/services/compute/project-info.json
  audit/projects/k8s-gcr-audit-test-prod/services/compute/project-info.json
  audit/projects/k8s-gcr-backup-test-prod-bak/services/compute/project-info.json
  audit/projects/k8s-release-test-prod/services/compute/project-info.json
  audit/projects/k8s-sig-release-prototype/services/compute/project-info.json
  audit/projects/k8s-staging-capi-openstack/services/compute/project-info.json
  audit/projects/k8s-staging-cip-test/services/compute/project-info.json
  audit/projects/k8s-staging-cluster-api-aws/services/compute/project-info.json
  audit/projects/k8s-staging-cluster-api/services/compute/project-info.json
  audit/projects/k8s-staging-coredns/services/compute/project-info.json
  audit/projects/k8s-staging-csi/services/compute/project-info.json
  audit/projects/k8s-staging-release-test/services/compute/project-info.json
  audit/projects/kubernetes-public/services/compute/project-info.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/XXL, wg/k8s-infra

#768 groups: add SIG-Storage members to k8s-infra-staging-csi
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#762 update release-comms mailing list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#791 Always declare variables inside functions as local
  infra/gcp/ensure-env-cip-auditor.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
  infra/gcp/lib_gcr.sh
  infra/gcp/lib_gcs.sh
  infra/gcp/lib_util.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#792 Add docs for publishing-bot
  k8s.io/README.md
  publishing-bot/README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#794 Added Katharine to k8s-infra-rback-slack-infra
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#797 Added dns records for slack-infra staging
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#799 Add spiffxp to k8s-infra-cluster-admins
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#801 Allow a user to see logs of a pod.
  infra/gcp/namespaces/namespace-user-role.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#804 Add a k8s-infra-gcp-auditor service account
  groups/groups.yaml
  infra/gcp/ensure-main-project.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#808 Update README
  README.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#798 Added ensure-static-ips.sh script
  infra/gcp/ensure-static-ips.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#810 Stripped out fingerprint properties from audit
  audit/audit-gcp.sh
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#806 Add infra scripts/terraform for prow build cluster prototype
  infra/gcp/clusters/kubernetes-public/prow-build-test/00-inputs.tf
  infra/gcp/clusters/kubernetes-public/prow-build-test/10-cluster-configuration.tf
  infra/gcp/clusters/kubernetes-public/prow-build-test/11-pool1-configuration.tf
  infra/gcp/ensure-e2e-projects.sh
  infra/gcp/ensure-prod-storage-gclb.sh
  infra/gcp/ensure-static-ips.sh
  infra/gcp/lib.sh
  infra/gcp/lib_util.sh
Labels: approved, area/cluster-infra, area/cluster-mgmt, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#812 Promote Cluster API v0.3.4
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#784 slack-infra added manifests + updated readme
  slack-infra/README.md
  slack-infra/resources/certificate.yaml
  slack-infra/resources/ingress.yaml
  slack-infra/resources/slack-event-log/deployment.yaml
  slack-infra/resources/slack-event-log/service.yaml
  slack-infra/resources/slack-moderator/deployment.yaml
  slack-infra/resources/slack-moderator/service.yaml
  slack-infra/resources/slack-welcomer/deployment.yaml
  slack-infra/resources/slack-welcomer/message.yaml
  slack-infra/resources/slack-welcomer/service.yaml
  slack-infra/resources/slackin/bad-domains-configmap.yaml
  slack-infra/resources/slackin/deployment.yaml
  slack-infra/resources/slackin/service.yaml
  slack-infra/secrets/slack-event-log/slack-event-log-config-secret.yaml
  slack-infra/secrets/slack-moderator/slack-moderator-config-secret.yaml
  slack-infra/secrets/slack-welcomer/slack-welcomer-config-secret.yaml
  slack-infra/secrets/slackin/recaptcha-secret.yaml
  slack-infra/secrets/slackin/slackin-token-secret.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XXL, wg/k8s-infra

#817 Updated slack dns to point to the aaa cluster
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#818 Remove staging slack dns and update certificate
  dns/zone-configs/k8s.io._0_base.yaml
  slack-infra/resources/certificate.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#819 backfill from google-containers
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XL, wg/k8s-infra

#786 Adding dry-run option when running dns update
  dns/Makefile
  dns/push.sh
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/L

#805 Added staging repository for infra-tools
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-infra-tools/OWNERS
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
  k8s.gcr.io/manifests/k8s-staging-infra-tools/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#824 Promote Cluster API v0.3.5
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#802 Prepared slack-infra registry namespace
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-slack-infra/OWNERS
  k8s.gcr.io/images/k8s-staging-slack-infra/images.yaml
  k8s.gcr.io/manifests/k8s-staging-slack-infra/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#822 Added cloudbuild.yaml file for octodns-docker
  dns/octodns-docker/cloudbuild.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S
