Repository kubernetes/k8s.io, pull requests merged in 2020-07, with the labels that each got.

#992 remove premdeeps@ from groups
  groups/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#993 Promote Cluster API v0.3.7-beta.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#995 Promote cluster-api-bootstrap-provider-kubeadm v0.1.7 image
  k8s.gcr.io/images/k8s-staging-cluster-api-kubeadm/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#999 Promote Cluster API Provider AWS 0.5.5-alpha.0
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#994 Print better messages on k8s.io site test failures
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1001 Update images.yaml
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1003 Add PSC members cji, swamymsft, remove liggitt
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#997 Promote kops 1.19.0-alpha.1 images from staging
  k8s.gcr.io/images/k8s-staging-kops/OWNERS
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kops/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1005 Promote ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/OWNERS
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#996 groups: support hierarchical groups.yaml files
  groups/config.yaml
  groups/go.mod
  groups/go.sum
  groups/groups.yaml
  groups/groups_test.go
  groups/reconcile.go
  groups/sig-contributor-experience/OWNERS
  groups/sig-contributor-experience/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1009 Promote addon-resizer 1.8.11
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1011 Promote Cluster API v0.3.7-rc.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1012 Promote first ingress-nginx release image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/S, wg/k8s-infra

#1010 Add Kinvolk to distributors-announce mailing list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1006 enable vulnerability scanning api on all staging projects
  infra/gcp/ensure-staging-storage.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1008 Allow read-only access to monitoring and logging of 'aaa' cluster
  infra/gcp/clusters/projects/kubernetes-public/aaa/12-iam.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1013 [CAPZ] Add devigned and nader-ziada as approvers, cpanato as reviewer
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1007 create and authorize service account for promoter vulnerability check
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#1014 backfill gcr.io/google-containers
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1015 Remove inactive members from OWNERS
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-cpa/OWNERS
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1019 Add Phil.Wittrock@gmail.com (pwittrock) to leads@kubernetes.io for si…
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1018 Promote Cluster API v0.3.7
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1020 Add myself to leads@ owners
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1021 build-image: Promote kube-cross:v1.14.5-1 and v1.13.13-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS, wg/k8s-infra

#1024 Promote ingress-nginx test runner image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1022 Upgrade triage-party to 1.2.0
  triage-party/release-team/deployment.yaml
  triage-party/release-team/service.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1026 Promote ingress-nginx release image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1004 groups/psc: Update VMware distributors lists
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, committee/product-security, lgtm, size/XS, wg/k8s-infra

#1027 build-image: Promote kube-cross:v1.14.5-2 and v1.13.13-2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1029 Promote cluster-api-provider-aws v0.5.5-rc.0 release
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1030 Promote cluster-api-provider-azure:v0.4.6
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1032 Create new repository for cloud-provider-gcp artifacts
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/OWNERS
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-gcp/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1034 Use corp email for cloud-provider-gcp group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1035 Fix vulnerability scanning binding
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-staging-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1025 DNS Entry and TLS certificate for triage-party.
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
  triage-party/release-team/certificate.yaml
  triage-party/release-team/ingress.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1037 build-image: Promote kube-cross:v1.14.6-1 and v1.13.14-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1039 shorten vulnerability service account name
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1041 promote csi-secrets-store driver:v0.0.12
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1036 backfill from gcr.io/google-containers
  k8s.gcr.io/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1028 releng: Match images.yaml format to cip-mm output
  k8s.gcr.io/images/k8s-staging-kubernetes/README.md
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1044 Add TLS secret to triage-party ingress
  triage-party/release-team/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1017 Add staging project to publish k-sigs/seccomp-operator images
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-seccomp-operator/OWNERS
  k8s.gcr.io/images/k8s-staging-seccomp-operator/images.yaml
  k8s.gcr.io/manifests/k8s-staging-seccomp-operator/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1042 Grant kubernetes-release-test GCB GCR admin on k8s-staging-kubernetes
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1045 Fix seccomp operator ACL mail typo
  groups/groups.yaml
  k8s.gcr.io/manifests/k8s-staging-seccomp-operator/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1046 Bump triage-party image
  triage-party/release-team/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1048 build-image: Promote kube-cross:v1.15.0-beta.1-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#811 Add staging project for etcdadm
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-etcdadm/OWNERS
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
  k8s.gcr.io/manifests/k8s-staging-etcdadm/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1040 Add staging repo for kubernetes-sigs/k8s-gsm-tools
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-k8s-gsm-tools/OWNERS
  k8s.gcr.io/images/k8s-staging-k8s-gsm-tools/images.yaml
  k8s.gcr.io/manifests/k8s-staging-k8s-gsm-tools/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1049 releng: Image promotion for Kubernetes v1.19.0-rc.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1050 Add alejandrox1 and saschagrunert to OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1051 [Scalability] Add new oncall member
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1054 k8s.gcr.io/images/k8s-staging-kube-state-metrics/: Add OWNERS file
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1055 bump promoter image with vuln check
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#1056 Add jying to kas-network-proxy members
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1058 Add test-pods limitranges used by k8s-prow-builds cluster
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/cpu-limit-range_limitrange.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/mem-limit-range_limitrange.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1059 add new google-build-admins to release-managers@
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1060 fix incorrect vulnerability scanning KSA
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1061 Create a prow.viewer custom org role
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
  infra/gcp/ensure-e2e-projects.sh
  infra/gcp/lib.sh
  infra/gcp/roles/prow.viewer.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1062 Complete config for scl-image-builder gcr staging
  k8s.gcr.io/images/k8s-staging-scl-image-builder/OWNERS
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
  k8s.gcr.io/manifests/k8s-staging-scl-image-builder/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1063 build-image: Promote kube-cross:v1.15.0-rc.1-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1064 Promote Cluster Autoscaler 1.18.2 and 1.17.3
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1066 Add repo SECURITY.md
  SECURITY.md
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1065 docs: update VDF status
  k8s.gcr.io/README.md
  k8s.gcr.io/Vanity-Domain-Flip.md
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1067 Add tosi3k to k8s-infra-prow-viewers@kubernetes.io group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1068 Add hasheddan to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1069 bump promoter image with vuln check fix
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1070 Add new associate PSC members to the distributors-announce group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1053 add generator script for image promotion
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1071 releng: Image promotion for Kubernetes v1.19.0-rc.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1072 Add Robert Kielty to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1073 Chaging elections list to reflect current officers.
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1074 Promote Cluster Autoscaler 1.19.0
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1075 Add liggitt to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1080 sig-release: List cleanup + Prow view access
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1082 Update contact for k8s-infra-staging-provider-azure
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1081 Add mrfaizal to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1079 Add 40 more e2e projects
  infra/gcp/ensure-e2e-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1083 Add gce-project pool to k8s-infra-prow-build boskos
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1084 Fix boskos gce-project deployment
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-janitor.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-reaper-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1085 Update README.md
  dns/README.md
Labels: approved, area/dns, cncf-cla: yes, lgtm, ok-to-test, size/XS

#1077 Add srajakum to wg-mt per request from Tim Allclair
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1090 Promote hostpath and nfs-provisioner images
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1092 Use memberKey to delete group members
  groups/reconcile.go
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1076 Add Zhifeng1993 to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1089 Add alejandrox1 to k8s-infra-prow-viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1088 Merge k8s-infra-gce-project pool into gce-project pool
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1094 Promote Cluster API v0.3.8
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
