Repository kubernetes/k8s.io, pull requests merged in 2020-09, with the labels that each got.

#1197 add domain capz.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#1198 use Prow trusted cluster for workload identity
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1200 Promote Cluster API v0.3.9
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1199 Fix npd image tag and promote v0.8.4
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1202 Refactor KSA CIP binding to name intended prow build clusters
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1201 Promote Descheduler image to 1.19
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1203 add aojea to infra prow viewers
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1205 releng: Promote kube-cross:v1.15.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1204 Fix typo in ensure-prod-storage.sh
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1206 releng: Image promotion for v1.16.15 and v1.16.16-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1207 Promote ingress-nginx test images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1208 Promote cluster-api-provider-azure:v0.4.8
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1209 releng: Promote debian-hyperkube-base:buster-v1.1.4
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1210 releng: Promote go-runner:buster-v2.0.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1211 tallclair left Google
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, committee/product-security, lgtm, size/S, wg/k8s-infra

#1212 Promote ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1215 Promote ingress-nginx test images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1214 Update images for sidecars
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1216 Add staging for git-sync
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-git-sync/OWNERS
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
  k8s.gcr.io/manifests/k8s-staging-git-sync/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1220 sig-release: Onboard 1.20 RT Leads / offboard 1.19 RT Leads
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1219 Publish git-sync v3.1.7
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1218 Temporarily remove k8s-infra-e2e-boskos-scale-12 from scalability pool
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1217 Add new slack bot post-message resources to slack-infra
  slack-infra/README.md
  slack-infra/resources/ingress.yaml
  slack-infra/resources/slack-post-message/deployment.yaml
  slack-infra/resources/slack-post-message/service.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1221 Fixed README in slack-infra
  slack-infra/README.md
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1223 releng: Image promotion for v1.19.1 and v1.19.2-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1226 adding marosset to leads group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1227 Add celestehorgan, jdumars to leads
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1222 Updated dns/README after implementing automation
  dns/README.md
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S

#1228 Bump csi-resizer image
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1224 Add rajula96reddy to slack-infra google groups
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1229 Promote ingress-nginx nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1213 Add scheduler-plugins Staging Registry
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/OWNERS
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#1230 add storage-migrator to k8s.gcr.io
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-storage-migrator/OWNERS
  k8s.gcr.io/images/k8s-staging-storage-migrator/images.yaml
  k8s.gcr.io/manifests/k8s-staging-storage-migrator/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1232 Raise prow-build max nodepool size to 50
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1233 releng: Promote kube-cross v1.15.2-1 and v1.15.1-2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1236 releng: Promote debian-base:buster-v1.2.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1237 Add OWNERS to triage-party.
  triage-party/release-team/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1235 Upgrade triage-party to 1.3.0
  triage-party/release-team/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1238 releng: Promote debian-iptables:buster-v1.3.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1239 Add pdb for pods created by prow
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods-poddisruptionbudget.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1240 releng: Promote debian-hyperkube-base:buster-v1.2.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1241 Adding ddebroy to leads group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1243 Don't allow duplicate members in groups
  groups/groups.yaml
  groups/groups_test.go
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1244 Update conduct alias membership
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1245 added email to k8s-infra-prow-viewers mailing list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1246 Add gjtempleton to SIG Leads
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1250 Add new release-team@kubernetes.io list
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1242 storage-migrator: promote v0.0.3 to prod
  k8s.gcr.io/images/k8s-staging-storage-migrator/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1249 add domain cluster-api-aws.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS

#1251 Update Triage-Party rules for 1.20 milestone
  triage-party/release-team/configmap.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1252 sig-release: Update Release Manager groups
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1248 Promote artifacts for kops 1.18.1
  artifacts/manifests/k8s-staging-kops/1.18.1.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1255 Add a release-team-shadows@kubernetes.io group for RT shadow comms
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1257 Promote kops 1.19.0-alpha.4 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1258 Promote kops 1.19.0-alpha.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.0-alpha.4.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1254 Add a Kanban view of the milesones for Triage-Party
  triage-party/release-team/configmap.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1260 ../k8s-staging-kube-state-metrics/images.yaml: Promote 2.0.0-alpha release images
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1259 releng: Image promotion for v1.19.2/v1.19.3-rc.0 - v1.17.12/v1.17.13-rc.0 - v1.18.9/v1.18.10-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#1256 Add jeremyot to SIG Leads
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1253 Add ArangoGutierrez to k8s-infra-staging-nfd group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1151 disable promotions from gcr.io/google-containers
  k8s.gcr.io/archived/README.md
  k8s.gcr.io/archived/images/DO-NOT-MODIFY-legacy-backfill/README.md
  k8s.gcr.io/archived/images/DO-NOT-MODIFY-legacy-backfill/images.yaml
  k8s.gcr.io/archived/manifests/DO-NOT-MODIFY-legacy-backfill/README.md
  k8s.gcr.io/archived/manifests/DO-NOT-MODIFY-legacy-backfill/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1261 promote csi-secrets-store driver:v0.0.14
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1262 Promote jessie-dnsutils 1.3
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS, wg/k8s-infra

#1263 promote new sig-storage images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1176 Promote kops 1.19.0-alpha.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.0-alpha.3.yaml
  artifacts/manifests/k8s-staging-kops/OWNERS
  k8s.gcr.io/images/k8s-staging-kops/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1265 Promote kube-dns and node-cache 1.15.14 images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1264 Add snapshot_validation_webhook image
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1269 releng: Image promotion for v1.20.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1267 Correct my email
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1270 Promote Cluster API v0.3.10-rc.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1273 add new SIG-Security chairs to leads@
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1266 Add 1.20 Docs Shadows to both release-team and release-team-shadows
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1275 Adds 1.20 CI Signal shadows to release-team and release-team-shadows
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1272 groups.yaml: add 1.20 Enhancements Shadows
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1276 Add GCS bucket for s390x
  groups/groups.yaml
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#1278 Fixup errors encountered while deploying changes for s390x-k8s conformance
  groups/groups.yaml
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1274 Promote Vertical Pod Autoscaler release 0.8.1
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1279 Add 1.20 Bug Triage Shadows
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1271 releng: Add Marky to Release Manager Associates
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1281 promote git-sync v3.2.0
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1277 Add 1.20 Release Notes shadows to groups
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1285 Add a staging repo for addon-manager
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-addon-manager/OWNERS
  k8s.gcr.io/images/k8s-staging-addon-manager/images.yaml
  k8s.gcr.io/images/k8s-staging-addon-manager/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1283 SIG Docs chair transition
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#939 Deploy ghproxy
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/main.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/ghproxy-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/ghproxy-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/ghproxy-storage.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1286 Promote ingress-nginx nginx image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1288 Promote ingress-nginx test image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1289 Re-add 1.20 Comms Shadows Emails to Groups
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1290 Promote Cluster API v0.3.10-rc.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
