Repository kubernetes/k8s.io, pull requests merged in 2021-03, with the labels that each got.

#1726 Manage organization roles
  hack/verify-yamllint.sh
  infra/gcp/ensure-organization.sh
  infra/gcp/lib_iam.sh
  infra/gcp/roles/CustomRole.yaml
  infra/gcp/roles/StorageBucketLister.yaml
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/generate-role-yaml.sh
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/prow.viewer.yaml
  infra/gcp/roles/secretmanager.secretLister.yaml
  infra/gcp/roles/specs/CustomRole.yaml
  infra/gcp/roles/specs/StorageBucketLister.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
  infra/gcp/roles/specs/organization.admin.yaml
  infra/gcp/roles/specs/prow.viewer.yaml
  infra/gcp/roles/specs/secretmanager.secretLister.yaml
  requirements.txt
Labels: approved, cncf-cla: yes, lgtm, size/XXL, wg/k8s-infra

#1738 prow: shrink gce-project pool for experiment
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#1740 Update boskos to v20210224-2728a7d and ghproxy as needed
  hack/autobump-config.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/ghproxy-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-janitor.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-reaper-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#1717 partial-audit: k8s-infra-* update as of 2021-02-24
  audit/projects/k8s-infra-e2e-gce-project/iam.json
  audit/projects/k8s-infra-e2e-gce-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-gce-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/cors.txt
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/iam.json
  audit/projects/k8s-infra-e2e-gpu-project/buckets/kubernetes-staging-cfeccb2cc5/logging.txt
  audit/projects/k8s-infra-e2e-gpu-project/iam.json
  audit/projects/k8s-infra-e2e-gpu-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-gpu-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/cors.txt
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/iam.json
  audit/projects/k8s-infra-e2e-ingress-project/buckets/kubernetes-staging-39e765ac61-asia/logging.txt
  audit/projects/k8s-infra-e2e-ingress-project/iam.json
  audit/projects/k8s-infra-e2e-ingress-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-ingress-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-node-e2e-project/iam.json
  audit/projects/k8s-infra-e2e-node-e2e-project/services/compute/project-info.json
  audit/projects/k8s-infra-e2e-node-e2e-project/services/enabled.txt
  audit/projects/k8s-infra-e2e-scale-project/buckets/kubernetes-staging-8cf5cbdf30/bucketpolicyonly.txt
  audit/projects/k8s-infra-e2e-scale-project/buckets/kubernetes-staging-8cf5cbdf30/cors.txt
  audit/projects/k8s-infra-e2e-scale-project/buckets/kubernetes-staging-8cf5cbdf30/logging.txt
  audit/projects/k8s-infra-e2e-scale-project/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_ca-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_cert-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/windows-remote-docker_key-pem/versions.json
  audit/projects/k8s-infra-prow-build-trusted/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build/services/compute/project-info.json
  audit/projects/k8s-infra-prow-build/services/container/clusters.txt
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/L, wg/k8s-infra

#1718 partial-audit: kubernetes-public and remaining updates as of 2021-02-24
  audit/projects/k8s-artifacts-prod-bak/services/compute/project-info.json
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/bucketpolicyonly.txt
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/cors.txt
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-prod-vuln-dashboard/logging.txt
  audit/projects/k8s-artifacts-prod/iam.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/description.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-artifacts-prod/services/compute/project-info.json
  audit/projects/k8s-cip-test-prod/services/compute/project-info.json
  audit/projects/k8s-conform/buckets/k8s-conform-inspur/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/bucketpolicyonly.txt
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/cors.txt
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-provider-openstack/logging.txt
  audit/projects/k8s-conform/secrets/service-inspur-key/description.json
  audit/projects/k8s-conform/secrets/service-inspur-key/iam.json
  audit/projects/k8s-conform/secrets/service-inspur-key/versions.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/description.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/iam.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/versions.json
  audit/projects/k8s-conform/service-accounts/service-inspur@k8s-conform.iam.gserviceaccount.com/description.json
  audit/projects/k8s-conform/service-accounts/service-inspur@k8s-conform.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-conform/service-accounts/service-provider-openstack@k8s-conform.iam.gserviceaccount.com/description.json
  audit/projects/k8s-conform/service-accounts/service-provider-openstack@k8s-conform.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-conform/services/compute/project-info.json
  audit/projects/k8s-gcr-audit-test-prod/services/compute/project-info.json
  audit/projects/k8s-gcr-backup-test-prod-bak/services/compute/project-info.json
  audit/projects/k8s-release-test-prod/services/compute/project-info.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/iam.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/versions.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/description.json
  audit/projects/kubernetes-public/services/compute/project-info.json
  audit/projects/kubernetes-public/services/container/clusters.txt
  audit/projects/kubernetes-public/services/dns/info.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/L, wg/k8s-infra

#1741 Revert "prow: shrink gce-project pool for experiment"
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/boskos-resources-configmap.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#1735 Update k8s-infra-prow-build README to clarify access instructions.
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/README.md
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#1744 Don't audit the node count in a cluster
  audit/audit-gcp.sh
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1693 Upgrade prow build clusters to Terraform 0.13
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/versions.tf
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#1725 Promote CoreDNS v1.8.3
  k8s.gcr.io/images/k8s-staging-coredns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1747 Add mpherman2 to test-infra-oncall
  OWNERS_ALIASES
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1749 test images: Promotes httpd and nginx images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#1752 Switch ingress for perf-dash
  perf-dash.k8s.io/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1756 infra/gcp: only create known staging projects
  infra/gcp/ensure-staging-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1757 k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml: promote rc.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1760 Promote addon-manager v9.1.4 images
  k8s.gcr.io/images/k8s-staging-addon-manager/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1761 Add jhvhs to the list of SIG/WG/UG Leads
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1763 Promote dns 1.17.1 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1766 releng: Temporary RM access for Max Körbächer (mkorbi)
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1768 releng: Image promotion for v1.21.0-beta.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S

#1770 Exclude verify-terraform.sh
  hack/verify.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1771 hack: clean up verify scripts
  hack/verify-yamllint.sh
  hack/verify.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1769 Promote agnhost 2.29
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS, wg/k8s-infra

#1767 Promote aws-ebs-csi-driver v0.9.1 & v0.8.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1774 releng: Promote Golang 1.16.1 official images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS, wg/k8s-infra

#1775 releng: Drop temporary RM access for mkorbi
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1776 sig-storage: promote external-provisioner v2.1.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1778 releng: promote kube-cross:v1.15.9-legacy-1 / v1.15.9-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1777 releng: Promote go-runner:v2.3.1-go1.15.9-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS, wg/k8s-infra

#1781 Promote v0.1.7 image in scl-image-builder
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1737 ensure-organization.sh followup
  infra/gcp/clusters/modules/gke-project/README.md
  infra/gcp/clusters/modules/gke-project/main.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/main.tf
  infra/gcp/ensure-main-project.sh
  infra/gcp/ensure-organization.sh
  infra/gcp/lib_iam.sh
  infra/gcp/lib_util.sh
  infra/gcp/prow/ensure-e2e-projects.sh
  infra/gcp/roles/CustomRole.yaml
  infra/gcp/roles/StorageBucketLister.yaml
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/generate-role-yaml.sh
  infra/gcp/roles/iam.serviceAccountLister.yaml
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/prow.viewer.yaml
  infra/gcp/roles/secretmanager.secretLister.yaml
  infra/gcp/roles/specs/StorageBucketLister.yaml
  infra/gcp/roles/specs/iam.serviceAccountLister.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL, wg/k8s-infra

#1783 Promote Cluster API Azure v0.4.13
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1786 Promote kOps 1.20.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1787 Promote kOps 1.20.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.0-beta.2.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1732 Add script validation for Terraform
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1784 releng: Promote go-runner:v2.3.1-go1.15.10-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1785 releng: promote kube-cross:v1.15.10-legacy-1 / v1.15.10-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1790 slack-infra: grant access to cpanato
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1780 Promote scheduler-plugins release v0.19.8
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#1764 Replace master branch references with main
  dns/octodns-docker/cloudbuild.yaml
  k8s.io/configmap-nginx.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1793 Promote pause v3.5
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#1789 feat: add shortlink pointing to k8s logo page
  k8s.io/README.md
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1795 Rotate k8s-infra leads, prune security contacts and groups
  OWNERS
  OWNERS_ALIASES
  SECURITY_CONTACTS
  groups/groups.yaml
  groups/groups_test.go
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1792 k8s.io: add no_parent_owners: true for OWNERS
  k8s.io/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1791 Simplify go.k8s.io/owners/$ghuser
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1794 Remove org-level role/binding cleanup, improve lib_iam output
  infra/gcp/ensure-organization.sh
  infra/gcp/lib_iam.sh
  infra/gcp/lib_util.sh
  infra/gcp/roles/audit.viewer.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1801 lib_util: diff_colorized always exits 0
  infra/gcp/lib_util.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1804 test images: promote busybox 1.29-1
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, sig/windows, size/XS, wg/k8s-infra

#1805 node-feature-discovery: promote v0.8.0
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1803 Reorganize mailing lists for wg-k8s-infra
  groups/groups.yaml
  groups/wg-k8s-infra/OWNERS
  groups/wg-k8s-infra/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1806 releng: Image promotion for v1.18.17 / v1.18.18-rc.0 / v1.19.9 / v1.19.10-rc.0 / v1.20.5 / v1.20.6-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#1808 Promote capdo v0.4.2 images
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1811 Promote v0.1.8 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#1809 test image: promote agnhost 2.30
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#1812 Promote 0.4.0 filestore image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1814 Promote kOps 1.21.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0-alpha.2.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1799 Adding dims as approver for k8s.io
  k8s.io/OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS

#1816 promote kustomize image version
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1696 slack-infra: add slack-moderator-words config
  slack-infra/README.md
  slack-infra/resources/ingress.yaml
  slack-infra/resources/slack-event-log/deployment.yaml
  slack-infra/resources/slack-moderator-words/deployment.yaml
  slack-infra/resources/slack-moderator-words/filters.yaml
  slack-infra/resources/slack-moderator-words/service.yaml
  slack-infra/resources/slack-moderator/deployment.yaml
  slack-infra/resources/slack-post-message/deployment.yaml
  slack-infra/resources/slack-welcomer/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1819 add kubetest2 staging project
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-kubetest2/OWNERS
  k8s.gcr.io/images/k8s-staging-kubetest2/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kubetest2/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1736 Add short link to community calendar
  k8s.io/README.md
  k8s.io/configmap-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1823 groups: reconcile k8s.io with OWNERS, move core infra groups to wg-k8s-infra
  groups/groups.yaml
  groups/wg-k8s-infra/groups.yaml
  k8s.io/OWNERS
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1824 Fix typo in cert-manager group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1827 triage-party: improve configuration settings
  triage-party/release-team/configmap.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1820 Add Giant Swarm to distributors list
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1807 cluster-api-provider-openstack delete conformance bucket
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/bucketpolicyonly.txt
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/cors.txt
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-capi-openstack/logging.txt
  audit/projects/k8s-conform/service-accounts/service-capi-openstack@k8s-conform.iam.gserviceaccount.com/description.json
  audit/projects/k8s-conform/service-accounts/service-capi-openstack@k8s-conform.iam.gserviceaccount.com/iam.json
  infra/gcp/ensure-conformance-storage.sh
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1828 slack-infra: add deploy.sh
  slack-infra/README.md
  slack-infra/deploy.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1822 groups: shard off committee-product-security groups
  groups/committee-product-security/OWNERS
  groups/committee-product-security/groups.yaml
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, committee/product-security, lgtm, size/L, wg/k8s-infra

#1831 slack-moderator-words: fix missing port definition
  slack-infra/resources/slack-moderator-words/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1830 promote ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/network, size/XS, wg/k8s-infra

#1836 releng: Image promotion for v1.21.0-rc.0 / v1.22.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1788 Refine terraform version constraint
  hack/verify-terraform.sh
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/versions.tf
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#1759 Add tests for data validation
  policies/README.md
  policies/deprecations.rego
  policies/kubernetes.rego
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1813 Promote kOps 1.21.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1837 k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml: promote 2.0.0-rc.1
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1840 k8s.gcr.io/../k8s-staging-kube-state-metrics/images.yaml: Finish promtion
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1835 sig-storage: promote hostpath 1.6.1 + 1.6.2 and nfs-plugin 3.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1841 promoting echo and e2e-test-runner images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/network, size/XS, wg/k8s-infra

#1844 Setup sippy ns, add spiffxp to debug
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1846 groups: cleanup old wg-reliability group/ns
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1832 Deploy ghproxy
  prow/ghproxy_deployment.yaml
  prow/ghproxy_rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1842 Promote debian-base:buster-v1.5.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XS, wg/k8s-infra

#1847 test image: promote agnhost 2.31
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/auth, sig/testing, size/XS, wg/k8s-infra

#1845 Remove gianarb from release-managers groups
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1852 triage-party: small updates in the configuration
  triage-party/release-team/configmap.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1853 slack-moderator-words: update image for slack-moderator-words
  slack-infra/resources/slack-moderator-words/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1856 slack-moderator-words: update image for slack-moderator-words
  slack-infra/resources/slack-moderator-words/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1848 Promote aws-ebs-csi-driver v0.10.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#1854 gcp-compute-persistent-disk-csi-drive: promote image release v1.2.1
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1858 Add snapshot images v1.2.5
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
