Repository kubernetes/k8s.io, pull requests merged in 2021-10, with the labels that each got.

#2862 Promote Cluster Autoscaler 1.19.2, 1.20.1, 1.21.1, 1.22.1
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2864 Promote ExternalDNS v0.10.0
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2863 bash/prow: add new ssh key to e2e projects
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/bash, sig/k8s-infra

#2829 publishing-bot: Add ExternalSecret
  apps/publishing-bot/deploy.sh
  apps/publishing-bot/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/apps/publishing-bot, area/apps, sig/k8s-infra

#2865 tf/k8s-infra-prow-build-trusted: add ExternalSecrets
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#2866 SIG-CLI: KnVerey to lead, pwittrock to emeritus
  OWNERS_ALIASES
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#2868 Promote kOps 1.22.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2869 Promote kOps 1.22.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.0-beta.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#2870 releng: Promote kpromo v3.3.0-beta.0-1 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#2872 Update SIG Release group members
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#2871 Promote NGINX images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, tide/merge-method-squash, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2750 groups/sig-network: Add iamNoah1 to staging for ingress-nginx
  groups/sig-network/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/access, area/groups, sig/k8s-infra

#2874 OWNERS_ALIASES: update sig-testing-leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#2875 Promote CAPZ v0.5.3
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2878 Promote node-cache 1.19.1 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2879 promote csi-secrets-store driver:v1.0.0-rc.1
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2880 releng: Promote kpromo v3.3.0-beta.0-2 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#2881 releng: Promote kpromo v3.3.0-beta.1-1 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#2884 Promote Cluster API v0.4.4
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#2886 releng: Promote kpromo v3.3.0-beta.1-2 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng
