Repository kubernetes/k8s.io, pull requests merged in 2021-05, with the labels that each got.

#1991 Promote etcdadm 3.0.20210430 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S, wg/k8s-infra

#1987 cpag: add cpanato to k8s-infra-staging-cluster-api-gcp
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1994 Promote agnhost 2.32
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/auth, sig/testing, size/XS, wg/k8s-infra

#1995 gcp: promote gcp-compute-persistent-disk-csi-driver v1.2.2 image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1996 Add mattcary to k8s-staging-cloud-provider-gcp OWNERS
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1966 Read access to read access k8s-artifacts-gcslogs
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1908 Add project k8s-test-infra
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-test-infra/OWNERS
  k8s.gcr.io/images/k8s-staging-test-infra/images.yaml
  k8s.gcr.io/manifests/k8s-staging-test-infra/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1604 Enable NAP in 'aaa' cluster
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1998 infra/gcp/prod-storage: fix ensure-prod-storage.sh
  infra/gcp/ensure-prod-storage.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1997 Release ExternalDNS v0.8.0
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2003 Increase NAP limits in aaa cluster
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1952 setup separate gcs buckets for different sets of terraform resources
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
  infra/gcp/ensure-main-project.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#2002 Promote addon-manager v9.1.5 images
  k8s.gcr.io/images/k8s-staging-addon-manager/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2004 Promote capdo v0.4.3 images
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2001 audit: update as of 2021-05-05
  audit/projects/k8s-artifacts-prod/buckets/k8s-artifacts-gcslogs/iam.json
  audit/projects/k8s-artifacts-prod/iam.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/description.json
  audit/projects/k8s-artifacts-prod/service-accounts/k8s-infra-gcr-auditor@k8s-artifacts-prod.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-artifacts-prod/services/enabled.txt
  audit/projects/k8s-infra-prow-build-trusted/iam.json
  audit/projects/k8s-infra-prow-build-trusted/roles/ServiceAccountLister.json
  audit/projects/k8s-infra-prow-build/iam.json
  audit/projects/k8s-infra-prow-build/roles/ServiceAccountLister.json
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/bucketpolicyonly.txt
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/cors.txt
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/iam.json
  audit/projects/k8s-staging-test-infra/buckets/artifacts.k8s-staging-test-infra.appspot.com/logging.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/bucketpolicyonly.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/cors.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/iam.json
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra-gcb/logging.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/bucketpolicyonly.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/cors.txt
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/iam.json
  audit/projects/k8s-staging-test-infra/buckets/k8s-staging-test-infra/logging.txt
  audit/projects/k8s-staging-test-infra/description.json
  audit/projects/k8s-staging-test-infra/iam.json
  audit/projects/k8s-staging-test-infra/services/enabled.txt
  audit/projects/kubernetes-public/buckets/k8s-infra-clusters-terraform/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-aws/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-prow-clusters/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-public-clusters/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-tf-sandbox-ii/iam.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-dns-updater@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-gcp-auditor@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-gcp-auditor@kubernetes-public.iam.gserviceaccount.com/iam.json
  audit/projects/kubernetes-public/service-accounts/k8s-infra-monitoring-viewer@kubernetes-public.iam.gserviceaccount.com/description.json
  audit/projects/kubernetes-public/service-accounts/kubernetes-external-secrets@kubernetes-public.iam.gserviceaccount.com/description.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/L, wg/k8s-infra

#1974 infra/gcp: clean up main project
  infra/gcp/clusters/projects/kubernetes-public/aaa/12-iam.tf
  infra/gcp/ensure-main-project.sh
  infra/gcp/ensure-organization.sh
  infra/gcp/lib.sh
  infra/gcp/lib_gcs.sh
  infra/gcp/lib_iam.sh
  infra/gcp/lib_util.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL, wg/k8s-infra

#2005 infra/gcp/main: give tf bucket owners buckets.list
  infra/gcp/ensure-main-project.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2009 Bump resizer and snapshotter sidecar images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, kind/api-change, lgtm, sig/storage, size/XS, wg/k8s-infra

#2010 infra/gcp/roles: update custom org roles
  groups/groups.yaml
  groups/wg-k8s-infra/groups.yaml
  infra/gcp/ensure-organization.sh
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/generate-role-yaml.sh
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
  infra/gcp/roles/specs/organization.admin.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2006 audit: update as of 2021-05-06
  audit/org_kubernetes.io/iam.json
  audit/org_kubernetes.io/roles/audit.viewer.json
  audit/org_kubernetes.io/roles/organization.admin.json
  audit/projects/kubernetes-public/buckets/k8s-infra-clusters-terraform/iam.json
  audit/projects/kubernetes-public/iam.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/L, wg/k8s-infra

#2008 Upgrade terraform provider for aaa Cluster
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/11-pool1-configuration.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/11-pool2-configuration.tf
Labels: approved, area/infra/terraform, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2012 Bump Terraform provider for aaa
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2017 infra/gcp/clusters: bump terraform google provider versions
  infra/gcp/clusters/OWNERS
  infra/gcp/clusters/_example/README.md
  infra/gcp/clusters/_example/test-eu/00-inputs.tf
  infra/gcp/clusters/_example/test-eu/10-cluster-configuration.tf
  infra/gcp/clusters/_example/test-eu/11-pool1-configuration.tf
  infra/gcp/clusters/_example/test-us/00-inputs.tf
  infra/gcp/clusters/_example/test-us/10-cluster-configuration.tf
  infra/gcp/clusters/_example/test-us/11-pool1-configuration.tf
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL, wg/k8s-infra

#2014 Add WG Structured logging leads
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2019 infra/clusters: use teraform 0.14
  infra/gcp/clusters/OWNERS
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/versions.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/versions.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#2021 promote csi images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2022 Promote kOps 1.22.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2027 Add towca@ to k8s-staging-autoscaling OWNERS
  k8s.gcr.io/images/k8s-staging-autoscaling/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2026 Promote Cluster Autoscaler 1.21
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2030 Add Guinevere as 1.22 EA
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2033 Adding a few more ASNs
  registry.k8s.io/infra/meta/asns/alibabagroup.yaml
  registry.k8s.io/infra/meta/asns/baidu.yaml
  registry.k8s.io/infra/meta/asns/digitalocean.yaml
  registry.k8s.io/infra/meta/asns/equinixmetal.yaml
  registry.k8s.io/infra/meta/asns/huawei.yaml
  registry.k8s.io/infra/meta/asns/tencentcloud.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/M, wg/k8s-infra

#2035 releng: Image promotion for v1.18.19 / v1.19.11 / v1.21.1 / v1.20.7
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#2034 Update SIG Release mailing lists and OWNERS aliases
  OWNERS_ALIASES
  groups/sig-release/groups.yaml
  k8s.gcr.io/images/k8s-staging-build-image/OWNERS
Labels: approved, area/access, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#2036 releng: Image promotion for v1.18.20-rc.0 / v1.19.12-rc.0 / v1.20.8-rc.0 / v1.21.2-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#2038 Promote kOps 1.19.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2039 Promote kOps 1.19.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.3.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2040 Promote kOps 1.20.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2041 Promote kOps 1.20.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.1.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2047 Promote DNS 1.17.4 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1829 Add iscsi csi driver
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2049 Update images.yaml for NPD
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2050 k8s-staging-csi-secrets-store: sort and filter out rc images
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2051 promote csi-secrets-store driver:v0.0.22
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2052 k8s-staging-csi-secrets-store: retag v0.0.22
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2053 releng: Temporary RM access for Verolop
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#2054 node-feature-discovery: promote v0.8.2 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2032 Add 1.22 Release Shadows and remove 1.21
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#2056 Updating 1.22 RT members
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/M, wg/k8s-infra

#2025 capg: enable compute api for CAPG to build the node images
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/build-serviceaccounts.yaml
  infra/gcp/ensure-staging-storage.sh
Labels: approved, area/infra/terraform, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#2057 infra/gcp/iam: fix ensure_service_account
  infra/gcp/lib_iam.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2058 infra/gcp: fix audit.viewer role and remove stray bindings
  infra/gcp/ensure-organization.sh
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2059 kubernetes-csi: promote external-snapshotter v4.1.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2048 Promote addon resizer 1.8.13
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2063 terraform: use 0.14 for k8s-infra-ii-sandbox
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/versions.tf
Labels: approved, area/infra/terraform, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2011 audit: update as of 2021-05-19
  audit/org_kubernetes.io/iam.json
  audit/org_kubernetes.io/roles/audit.viewer.json
  audit/projects/k8s-conform/secrets/service-cri-o-key/description.json
  audit/projects/k8s-conform/secrets/service-cri-o-key/versions.json
  audit/projects/k8s-conform/secrets/service-huaweicloud-key/description.json
  audit/projects/k8s-conform/secrets/service-huaweicloud-key/versions.json
  audit/projects/k8s-conform/secrets/service-inspur-key/description.json
  audit/projects/k8s-conform/secrets/service-inspur-key/versions.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/description.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/versions.json
  audit/projects/k8s-conform/secrets/service-s390x-k8s-key/description.json
  audit/projects/k8s-conform/secrets/service-s390x-k8s-key/versions.json
  audit/projects/k8s-gsuite/secrets/gsuite-groups-manager_key/description.json
  audit/projects/k8s-gsuite/secrets/gsuite-groups-manager_key/versions.json
  audit/projects/k8s-gsuite/secrets/wg-k8s-infra-billing_pw/description.json
  audit/projects/k8s-gsuite/secrets/wg-k8s-infra-billing_pw/versions.json
  audit/projects/k8s-infra-ii-sandbox/buckets/export-c2e4nmc5jmg9n5nacc60/bucketpolicyonly.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/export-c2e4nmc5jmg9n5nacc60/cors.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/export-c2e4nmc5jmg9n5nacc60/iam.json
  audit/projects/k8s-infra-ii-sandbox/buckets/export-c2e4nmc5jmg9n5nacc60/logging.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/ii_bq_scratch_dump/bucketpolicyonly.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/ii_bq_scratch_dump/cors.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/ii_bq_scratch_dump/iam.json
  audit/projects/k8s-infra-ii-sandbox/buckets/ii_bq_scratch_dump/logging.txt
  audit/projects/k8s-infra-ii-sandbox/iam.json
  audit/projects/k8s-infra-ii-sandbox/service-accounts/bobymcbobs@k8s-infra-ii-sandbox.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-ii-sandbox/service-accounts/bobymcbobs@k8s-infra-ii-sandbox.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-infra-ii-sandbox/service-accounts/ii-sandbox-bobymcbobs-oitq@k8s-infra-ii-sandbox.iam.gserviceaccount.com/description.json
  audit/projects/k8s-infra-ii-sandbox/service-accounts/ii-sandbox-bobymcbobs-oitq@k8s-infra-ii-sandbox.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-infra-ii-sandbox/services/compute/project-info.json
  audit/projects/k8s-infra-ii-sandbox/services/container/clusters.txt
  audit/projects/k8s-infra-ii-sandbox/services/enabled.txt
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/versions.json
  audit/projects/k8s-infra-public-pii/description.json
  audit/projects/k8s-infra-public-pii/iam.json
  audit/projects/k8s-infra-public-pii/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-public-pii/services/enabled.txt
  audit/projects/k8s-staging-cluster-api-gcp/buckets/artifacts.k8s-staging-cluster-api-gcp.appspot.com/iam.json
  audit/projects/k8s-staging-cluster-api-gcp/iam.json
  audit/projects/k8s-staging-cluster-api-gcp/service-accounts/606075400249-compute@developer.gserviceaccount.com/description.json
  audit/projects/k8s-staging-cluster-api-gcp/service-accounts/606075400249-compute@developer.gserviceaccount.com/iam.json
  audit/projects/k8s-staging-cluster-api-gcp/service-accounts/gcb-builder-cluster-api-gcp@k8s-staging-cluster-api-gcp.iam.gserviceaccount.com/description.json
  audit/projects/k8s-staging-cluster-api-gcp/service-accounts/gcb-builder-cluster-api-gcp@k8s-staging-cluster-api-gcp.iam.gserviceaccount.com/iam.json
  audit/projects/k8s-staging-cluster-api-gcp/services/compute/project-info.json
  audit/projects/k8s-staging-cluster-api-gcp/services/enabled.txt
  audit/projects/kubernetes-public/secrets/recaptcha/description.json
  audit/projects/kubernetes-public/secrets/recaptcha/versions.json
  audit/projects/kubernetes-public/secrets/slack-event-log-config/description.json
  audit/projects/kubernetes-public/secrets/slack-event-log-config/versions.json
  audit/projects/kubernetes-public/secrets/slack-moderator-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-config/versions.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/versions.json
  audit/projects/kubernetes-public/secrets/slack-welcomer-config/description.json
  audit/projects/kubernetes-public/secrets/slack-welcomer-config/versions.json
  audit/projects/kubernetes-public/secrets/slackin-token/description.json
  audit/projects/kubernetes-public/secrets/slackin-token/versions.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/description.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/versions.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/L, wg/k8s-infra

#2064 audit: update as of 2021-05-19
  audit/org_kubernetes.io/iam.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/M, wg/k8s-infra

#2066 Promote cluster-api-provider-azure:v0.4.15
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#2065 Release v0.0.17 kas network proxy
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2069 groups/sig-cluster-lifecycle: update kubeadm-alerts group
  groups/sig-cluster-lifecycle/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#2070 groups/sig-cluster-lifecycle: make kubeadm alerts group discoverable
  groups/sig-cluster-lifecycle/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#2071 kubernetes-csi: promote csi-driver-host-path v1.7.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2072 groups/sig-cluster-lifecycle: fix email in owners
  groups/sig-cluster-lifecycle/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#2016 infra/gcp: disable containerscanning and test-infra-trusted prow access for staging and release projects
  infra/gcp/ensure-env-cip-auditor.sh
  infra/gcp/ensure-prod-storage-gclb.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-release-projects.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
  infra/gcp/lib_services.sh
Labels: approved, cncf-cla: yes, lgtm, size/XXL, wg/k8s-infra

#2075 releng: Image promotion for v1.22.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#2073 cluster-api-provider-aws: adding capa v0.6.6 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2079 kubernetes-csi: promote csi-driver-host-path v1.7.2
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2083 Promote kOps 1.21.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0-beta.2.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2084 Promote kOps 1.21.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2076 infra/gcp: clean stale removal code, misc prow cleanup
  infra/gcp/ensure-gsuite.sh
  infra/gcp/ensure-main-project.sh
  infra/gcp/ensure-organization.sh
  infra/gcp/ensure-prod-storage.sh
  infra/gcp/ensure-release-projects.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2086 Promote git-sync v3.3.1
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2085 groups: Add code-organization group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2080 Convert gcsweb to VPC native LB
  gcsweb.k8s.io/service.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2077 Release v0.0.18 + 0.0.19 kas network proxy
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2088 Switch gcsweb to GKE managed certs
  gcsweb.k8s.io/certificate.yaml
  gcsweb.k8s.io/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2090 Switch slack-infra to GKE managed certs
  slack-infra/resources/certificate.yaml
  slack-infra/resources/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2074 audit: update as of 2021-05-24
  audit/projects/k8s-artifacts-prod/services/enabled.txt
  audit/projects/k8s-cip-test-prod/services/enabled.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/k8s-infra-ii-sandbox-bb-test/bucketpolicyonly.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/k8s-infra-ii-sandbox-bb-test/cors.txt
  audit/projects/k8s-infra-ii-sandbox/buckets/k8s-infra-ii-sandbox-bb-test/iam.json
  audit/projects/k8s-infra-ii-sandbox/buckets/k8s-infra-ii-sandbox-bb-test/logging.txt
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-token/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/snyk-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/snyk-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/snyk-token/versions.json
  audit/projects/kubernetes-public/secrets/recaptcha/description.json
  audit/projects/kubernetes-public/secrets/slack-event-log-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/description.json
  audit/projects/kubernetes-public/secrets/slack-welcomer-config/description.json
  audit/projects/kubernetes-public/secrets/slackin-token/description.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/description.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#2078 infra/gcp: manage more secrets via bash
  infra/gcp/ensure-main-project.sh
  infra/gcp/lib_gsm.sh
  infra/gcp/prow/ensure-e2e-projects.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/L, wg/k8s-infra

#2092 Switch node-perf-dash to GKE Managed certificate
  node-perf-dash.k8s.io/certificate.yaml
  node-perf-dash.k8s.io/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2089 audit: strip etags from json output, fix bq access dump
  audit/audit-gcp.sh
  audit/projects/k8s-artifacts-prod/services/bigquery/bigquery.datasets.gcs_logs.access.json
  audit/projects/k8s-artifacts-prod/services/bigquery/bigquery.datasets.http_lb_logs.access.json
  audit/projects/k8s-artifacts-prod/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-conform/secrets/service-cri-o-key/description.json
  audit/projects/k8s-conform/secrets/service-huaweicloud-key/description.json
  audit/projects/k8s-conform/secrets/service-inspur-key/description.json
  audit/projects/k8s-conform/secrets/service-provider-openstack-key/description.json
  audit/projects/k8s-conform/secrets/service-s390x-k8s-key/description.json
  audit/projects/k8s-gsuite/secrets/gsuite-groups-manager_key/description.json
  audit/projects/k8s-gsuite/secrets/wg-k8s-infra-billing_pw/description.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.hh.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.k8s_artifacts_dataset_bb_test.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.k8s_artifacts_gcslogs_appspot.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.kubernetes_public_logs.access.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-github-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/cncf-ci-token/versions.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/snyk-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/snyk-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-prow-build-trusted/services/bigquery/bigquery.datasets.usage_metering_prow_build_trusted.access.json
  audit/projects/k8s-infra-prow-build/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-prow-build/services/bigquery/bigquery.datasets.usage_metering_prow_build.access.json
  audit/projects/kubernetes-public/secrets/recaptcha/description.json
  audit/projects/kubernetes-public/secrets/slack-event-log-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-config/description.json
  audit/projects/kubernetes-public/secrets/slack-moderator-words-config/description.json
  audit/projects/kubernetes-public/secrets/slack-welcomer-config/description.json
  audit/projects/kubernetes-public/secrets/slackin-token/description.json
  audit/projects/kubernetes-public/secrets/triage-party-github-token/description.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.kubernetes_public_billing.access.json
  audit/projects/kubernetes-public/services/bigquery/bigquery.datasets.usage_metering_aaa.access.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2095 releng: Promote debian-base:buster-v1.7.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2081 Release v0.5.0 Metrics Server
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2093 Switch k8s-io-prod to GKE managed certs
  k8s.io/certificate-prod.yaml
  k8s.io/ingress-prod-v6.yaml
  k8s.io/ingress-prod.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, wg/k8s-infra

#2097 Switch to GKE TLS certficate for perf-dash.k8s.io
  perf-dash.k8s.io/certificate.yaml
  perf-dash.k8s.io/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2098 releng: Promote debian-iptables:buster-v1.6.1 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2099 roles: add more pre-defined roles to audit.viewer and prow.viewer
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/prow.viewer.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
  infra/gcp/roles/specs/prow.viewer.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2100 audit: refactor for easier local development
  audit/audit-gcp.sh
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2101 Release etcd 3.5.0-beta.3-1 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/api-machinery, sig/release, size/XS

#2096 k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote v2.1.0-rc.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2105 Promote kube-cross:v1.16.4-2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2104 audit: unbreak ci-k8sio-audit job
  audit/audit-gcp.sh
  audit/create-or-update-audit-pr.sh
  infra/gcp/lib_util.sh
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2106 releng: Promote setcap buster-v2.0.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2107 Update groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/XS, wg/k8s-infra

#2108 Promote Cluster API v0.3.17
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2109 groups: shard out sig-testing groups
  groups/groups.yaml
  groups/sig-testing/OWNERS
  groups/sig-testing/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/testing, size/L, wg/k8s-infra

#2110 OWNERS: updates for k8s.io, gcsweb, groups
  OWNERS
  gcsweb.k8s.io/OWNERS
  groups/OWNERS
  groups/groups.yaml
  groups/sig-cluster-lifecycle/OWNERS
  groups/wg-k8s-infra/OWNERS
  k8s.io/OWNERS
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/contributor-experience, size/M, wg/k8s-infra

#2112 Add kep.k8s.io redirect to enhacements
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Labels: approved, area/dns, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, wg/k8s-infra

#2113 Promote git-sync v3.3.2
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2114 Drop Verolop's temporary RM access
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#2115 releng: Promote debian-base:buster-v1.7.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2116 Updating the image sha for nginx 1.20.1 update
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra
