Repository kubernetes/k8s.io, pull requests merged in 2021-01, with the labels that each got.

#1503 Update ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1504 Update ingress-nginx test images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1505 Update ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1506 Update ingress-nginx test images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1510 Promote git-sync v3.2.2
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1509 Promote aws-ebs-csi-driver v0.8.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1513 release-1.21: add 1.21 RT Leads to relevant groups
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/S, wg/k8s-infra

#1516 update email for Rey Lejano in groups/sig-release/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1517 groups: Update email address for Stephen Augustus (justaugustus)
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1486 Update with additional CAPA maintainers
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#1519 Remove ebs latest tags
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1515 promote image for e2e test issue-74893
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#1511 Promote capdo v0.4.1 images
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1485 Promote Cluster Autoscaler v1.20.0 arm64 and amd64 images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1521 releng: Image promotion for v1.17.17 / v1.17.18-rc.0 / v1.18.15 / v1.18.16-rc.0 / v1.19.7 / v1.19.8-rc.0 / v1.20.2 / v1.20.3-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#1524 releng: Image promotion for v1.21.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1530 Remove leads of the retired wg-security-audit from the leads ML
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1514 serviceapi: update list of service-api image owners
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-service-apis/OWNERS
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/S, wg/k8s-infra

#1532 ExternalDNS: promote v0.7.6
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1529 groups: Add Jeremy Rickard as a SIG Release Technical Lead
  OWNERS_ALIASES
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1537 Promote Vertical Pod Autoscaler 0.9.2
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1538 Promote kOps 1.20.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1539 Promote kOps 1.20.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.0-alpha.1.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1540 bump agnhost image to 2.26
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#1478 Switch slackin image
  slack-infra/resources/slackin/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1533 Remove 1.20 shadows and add 1.21 Enhancement shadows
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1543 groups: adjust spiffxp membership
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1536 Enable GCR for e2e projects
  infra/gcp/ensure-e2e-projects.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1548 Promote nonewprivs 1.3
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/testing, size/XS, wg/k8s-infra

#1547 Add cmluciano to k8s-staging-ingress-nginx
  k8s.gcr.io/images/k8s-staging-ingress-nginx/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1546 Promote ingress-nginx base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1549 Promote pause:3.4.1 image
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#1545 Add v 1.21 Comms team to release-team@ release-team-shadows@ and release-comms
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1542 Add ameukam to k8s-infra-prow-oncall group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1552 promote csi-secrets-store driver:v0.0.19
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1553 test images: promote kitten 1.4 and nautilus 1.4
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#1555 releng: Promote debian-base v1.3.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS, wg/k8s-infra

#1554 Add 1.21 Docs Shadows to release-team and release-team-shadows in sig-release groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1551 Promote kustomize image
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1550 1.20 -> 1.21 Release Notes mailing list membership
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1557 Add 1.21 CI Signal shadows to email groups
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1559 releng: Promote debian-iptables:buster-v1.4.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS, wg/k8s-infra

#1561 releng: Promote debian-hyperkube-base:buster-v1.3.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/XS, wg/k8s-infra

#1558 test images: Promote newly built E2E test images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#1560 Updates for 1.21 Bug Triage Team
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1564 releng: Promote releng-ci:v0.1.3
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#1565 release: adding capa v0.6.4 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1568 Cluster API: Promote images for v0.3.13
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1567 Prune release-team@ and release-team-shadows@ mailing lists
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, kind/cleanup, lgtm, sig/release, size/S, wg/k8s-infra

#1570 Promote v0.8.6 node-problem-detector
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1566 test images: Promote E2E test images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#1574 releng: Temporarily grant access to sethmccombs
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1562 releng: Promote kube-cross:v1.15.7-2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1573 Add maintainer to CAPA group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1563 releng: Promote vulndash:v0.4.3-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS

#1402 Allow override of the release channel of the terraform module gke-cluster
  infra/gcp/clusters/modules/gke-cluster/main.tf
  infra/gcp/clusters/modules/gke-cluster/variables.tf
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1575 releng: Promote go-runner:buster-v2.2.4
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1578 Increase the memory limit for Triage Party.
  triage-party/release-team/deployment.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1579 releng: Image promotion for v1.21.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1580 Promote debian-base:buster-v1.4.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1577 promote metadata-concealment 1.6
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#1581 Promote debian-iptables:buster-v1.5.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1582 releng: Drop temporary access granted to sethmccombs
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#1583 Promote debian-hyperkube-base:buster-v1.4.0 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1584 Promote Cluster API Azure v0.4.11
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1585 Add BobyMCbobs to gcp-auditors group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1588 Promote artifacts for kops 1.18.3
  artifacts/manifests/k8s-staging-kops/1.18.3.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1587 kubernetes-csi: promote new images, sort by tag
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1591 releng: go1.16rc1 and etcd image promotions
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/api-machinery, sig/release, size/S, wg/k8s-infra

#1586 Onboard alisondy, offboard castrojo as sig-contribex co-chair
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-contributor-experience/OWNERS
  groups/sig-contributor-experience/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1589 Access to Triage Party for Verolop
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1592 releng: create new gcp project k8s-infra-staging-releng-test to test images build
  groups/sig-release/groups.yaml
  infra/gcp/ensure-release-projects.sh
  infra/gcp/ensure-staging-storage.sh
Labels: approved, area/access, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1594 releng: Provision k8s-staging-experimental project
  groups/sig-release/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-experimental/OWNERS
  k8s.gcr.io/images/k8s-staging-experimental/images.yaml
  k8s.gcr.io/manifests/k8s-staging-experimental/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M, wg/k8s-infra

#1593 sig-storage: promote hostpathplugin v1.5.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1595 Promote kOps 1.19.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1598 releng: Promote go-runner:buster-v2.3.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1599 update k8s-infra-staging-npd add vteratipally
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
