Repository kubernetes/k8s.io, pull requests merged in 2021-04, with the labels that each got.

#1864 slack-moderator-words: update image for slack-moderator-words
  slack-infra/resources/slack-moderator-words/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1860 Setup kettle namespace
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1861 Add github admins for k8s-staging-ci-robot
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1865 promote csi-secrets-store driver:v0.0.21
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1867 Fix settings for k8s-infra-ci-robot
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1869 releng: promote kube-cross:v1.15.11-legacy-1 / v1.15.11-1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1868 releng: Promote go-runner:v2.3.1-go1.15.11-buster.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1866 Promote Tabitha to full PSC member
  OWNERS_ALIASES
  groups/committee-product-security/groups.yaml
Labels: approved, area/access, cncf-cla: yes, committee/product-security, lgtm, size/XS, wg/k8s-infra

#1870 Add rikatz to k8s-staging-ingress-nginx
  groups/groups.yaml
  k8s.gcr.io/images/k8s-staging-ingress-nginx/OWNERS
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1875 node-feature-discovery: promote v0.8.1
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1876 Add ingress nginx v0.45 to promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#1878 groups: try posting to some staging groups
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1873 Use ghproxy as cache for Triage-Party.
  triage-party/release-team/deployment.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1879 Promote scheduler-plugins release v0.19.9
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#1833 Give some love to gcsweb
  gcsweb.k8s.io/README.md
  gcsweb.k8s.io/deployment.yaml
  gcsweb.k8s.io/ingress.yaml
  gcsweb.k8s.io/service.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1880 Fix for triage-party deployment
  triage-party/release-team/deployment.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1615 add manifests for initial deployment of sippy
  sippy/OWNERS
  sippy/README.md
  sippy/sippy/certificate.yaml
  sippy/sippy/deployment.yaml
  sippy/sippy/ingress.yaml
  sippy/sippy/pvc.yaml
  sippy/sippy/service.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1883 Add cri-o staging project
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-cri-o/OWNERS
  k8s.gcr.io/images/k8s-staging-cri-o/images.yaml
  k8s.gcr.io/images/k8s-staging-cri-o/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1884 Add sig-cluster-lifecycle-cluster-api-alerts google group via SIG Cluster Lifecycle delegated groups management.
  groups/sig-cluster-lifecycle/OWNERS
  groups/sig-cluster-lifecycle/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1886 releng: Image promotion for v1.21.0 / v1.21.1-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1859 Refresh infra scripts to address audit followups, reduce output noise
  infra/gcp/ensure-conformance-storage.sh
  infra/gcp/ensure-gsuite.sh
  infra/gcp/ensure-main-project.sh
  infra/gcp/ensure-release-projects.sh
  infra/gcp/ensure-releng.sh
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
  infra/gcp/lib_gcr.sh
  infra/gcp/lib_gcs.sh
  infra/gcp/lib_iam.sh
  infra/gcp/lib_util.sh
  infra/gcp/prow/ensure-e2e-projects.sh
  infra/gcp/roles/CustomRole.yaml
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/prow.viewer.yaml
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XL, wg/k8s-infra

#1891 releng: Promote debian-base:buster-v1.6.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1893 releng: Promote debian-iptables:buster-v1.6.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1892 audit: update as of 2021-04-09
  audit/projects/k8s-conform/buckets/k8s-conform-cri-o/iam.json
  audit/projects/k8s-conform/buckets/k8s-conform-huaweicloud/iam.json
  audit/projects/k8s-conform/secrets/service-cri-o-key/description.json
  audit/projects/k8s-conform/secrets/service-cri-o-key/iam.json
  audit/projects/k8s-conform/secrets/service-cri-o-key/versions.json
  audit/projects/k8s-conform/secrets/service-huaweicloud-key/description.json
  audit/projects/k8s-conform/secrets/service-huaweicloud-key/iam.json
  audit/projects/k8s-conform/secrets/service-huaweicloud-key/versions.json
  audit/projects/kubernetes-public/secrets/spiffxp-test/description.json
  audit/projects/kubernetes-public/secrets/spiffxp-test/iam.json
  audit/projects/kubernetes-public/secrets/spiffxp-test/versions.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#1871 Create group for access to gcs logs
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1898 Fix sippy manifests to work on 1.16 cluster
  sippy/sippy/certificate.yaml
  sippy/sippy/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra, wg/reliability

#1890 ensure k8s-conform service accounts have objectAdmin rights
  infra/gcp/ensure-conformance-storage.sh
  infra/gcp/lib.sh
  infra/gcp/lib_gcr.sh
  infra/gcp/lib_gcs.sh
  infra/gcp/lib_gsm.sh
  infra/gcp/lib_iam.sh
  infra/gcp/lib_util.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1894 infra/gcp/prow: actually remove extraneous ssh-keys
  infra/gcp/prow/ensure-e2e-projects.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#1899 infra/gcp/static-ips: add sippy-ingress-prod
  infra/gcp/ensure-static-ips.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1901 Promote kOps 1.19.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1902 Promote kOps 1.19.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.19.2.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1896 Update v0.0.16 for network proxy
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1754 Switch ingress for node-perf-dash
  node-perf-dash.k8s.io/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1904 infra/gcp/prow: use two default ssh keys
  infra/gcp/prow/ensure-e2e-projects.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#1907 infra/gcp/prow: fix typos
  infra/gcp/prow/ensure-e2e-projects.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#1906 Reorganize mailing lists : steering and code of conduct committee
  groups/committee-code-of-conduct/OWNERS
  groups/committee-code-of-conduct/groups.yaml
  groups/groups.yaml
  groups/steering/OWNERS
  groups/steering/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1910 Promote kOps 1.20.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1911 Promote kOps 1.20.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.0.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1912 triage-party: update config for sig-release tab
  triage-party/release-team/configmap.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1915 Fix sippy ingress by changing underlying service to NodePort
  sippy/sippy/service.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra, wg/reliability

#1913 Add ii.coop to k8s-infra-gcp-{auditors,accounting}
  groups/wg-k8s-infra/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1872 Deploy kubernetes-external-secrets to aaa cluster
  groups/groups.yaml
  groups/wg-k8s-infra/groups.yaml
  infra/gcp/ensure-main-project.sh
  infra/gcp/namespaces/ensure-namespaces.sh
  kubernetes-external-secrets/00-namespace.yaml
  kubernetes-external-secrets/OWNERS
  kubernetes-external-secrets/README.md
  kubernetes-external-secrets/deployment.yaml
  kubernetes-external-secrets/kubernetes-client.io_externalsecrets_crd.yaml
  kubernetes-external-secrets/rbac.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1918 Promote aws-ebs-csi-driver v0.10.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#1922 k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote v2.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1923 Add shysank to capz reviewers
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1917 Promote nfs-subdir-external-provisioner v4.0.2
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, needs-ok-to-test, size/S, wg/k8s-infra

#1924 Add external-provisioner v2.0.5 / v2.1.2
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1920 Sync github token from Google Secret Manager
  triage-party/release-team/secret.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1926 Promote 1.17.3 DNS images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1925 Promote Cluster API Azure v0.4.14
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1927 Promote kOps 1.21.0-alpha.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1928 Promote kOps 1.21.0-alpha.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0-alpha.3.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1826 Add maintainer to CAPA group
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1930 add tam7t as reviewer for secrets-store-csi-driver images
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1931 releng: Image promotion for v1.20.6 / v1.20.7-rc.0 / v1.19.10 / v1.19.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#1932 releng: Image promotion for v1.18.18 / v1.18.19-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1934 release: adding capa v0.6.5 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1935 Promote Cluster API v0.3.16
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1937 Updated s390x maintainers in groups
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1938 Promote git-sync v3.3.0
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1939 Align OWNERS for CAPI image to CAPI mantainers list
  k8s.gcr.io/images/k8s-staging-cluster-api/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1944 releng: Promote go1.16.3 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1933 Release-1.22: Add 1.22 RT Leads to relevant groups
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/critical-urgent, sig/release, size/S, wg/k8s-infra

#1948 Promote v0.1.9 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1919 Fixes post-install of kubernetes-external-secrets
  kubernetes-external-secrets/00-namespace.yaml
  kubernetes-external-secrets/README.md
  kubernetes-external-secrets/rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1947 groups/sig-cluster-lifecycle: add kubeadm test alerts ML
  groups/sig-cluster-lifecycle/groups.yaml
Labels: approved, area/access, cncf-cla: yes, kind/feature, lgtm, sig/cluster-lifecycle, size/S, wg/k8s-infra

#1949 Add infra/meta/asns/google.yaml
  infra/meta/asns/google.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1950 Add infra/meta/asns/microsoft.yaml
  infra/meta/asns/microsoft.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1951 Add infra/meta/asns/amazon.yaml
  infra/meta/asns/amazon.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1953 Release Metrics Server v0.4.3
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1825 Update OWNERS with additional CAPA maintainer
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1955 Add myself to view cluster dashboard
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1958 Promote csi-attacher / csi-provisioner / csi-external-health-monitor-controller images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1957 Going emeritus, removing myself from WGs and SIGs
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, lgtm, sig/docs, size/XS, wg/k8s-infra, wg/naming

#1956 Add k8s-infra-ii-coop group
  groups/wg-k8s-infra/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1961 groups: Update email address for Stephen Augustus (justaugustus)
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1962 Promote APISnoop v0.2.0 images
  k8s.gcr.io/images/k8s-staging-apisnoop/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1960 Reduce permissions on sig-cluster-lifecycle-cluster-api-alerts@kubernetes.io to member only.
  groups/sig-cluster-lifecycle/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#1964 Move ASNs infos to a dedicated place.
  registry.k8s.io/OWNERS
  registry.k8s.io/infra/meta/asns/amazon.yaml
  registry.k8s.io/infra/meta/asns/google.yaml
  registry.k8s.io/infra/meta/asns/microsoft.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1965 Reorganize ACLs for II Coop
  groups/groups.yaml
  groups/wg-k8s-infra/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#1941 Remove deprecated interpolation syntax.
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1969 Promote Addon Resizer 1.8.12
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1971 Promote security-profiles-operator v0.3.0
  k8s.gcr.io/images/k8s-staging-sp-operator/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1967 Temporary project artificat infrastructure
  infra/gcp/clusters/.gitignore
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/OWNERS
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/main.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/versions.tf
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#1954 rename service-apis to gateway-api
  groups/groups.yaml
  infra/gcp/ensure-staging-storage.sh
  k8s.gcr.io/images/k8s-staging-gateway-api/OWNERS
  k8s.gcr.io/images/k8s-staging-gateway-api/images.yaml
  k8s.gcr.io/manifests/k8s-staging-gateway-api/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-service-apis/promoter-manifest.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#1973 groups: unblock group reconciliation by fixing security groups
  groups/committee-product-security/groups.yaml
  groups/groups_test.go
  groups/reconcile.go
Labels: approved, area/access, cncf-cla: yes, committee/product-security, lgtm, size/L, wg/k8s-infra

#1972 Fix group name for II coop.
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/main.tf
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1976 Add registry.k8s.io/README.md
  registry.k8s.io/README.md
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1970 Add JAORMX, cmurphy and jhrozek to security-profiles-operator image approvers
  k8s.gcr.io/images/k8s-staging-sp-operator/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1979 docs/sig-release: Add SIG docs shadows to sig-release
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1980 releng: Image promotion for v1.22.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#1983 bump csi-node-driver-registrar to v2.2.0 and livenessprobe to v2.3.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1940 add new kustomize images
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1985 Release Metrics Server v0.4.4
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#1986 triage-party: update configuration
  triage-party/release-team/configmap.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L, wg/k8s-infra

#1988 promote aws-ebs-csi-driver v1.0.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#1942 Switch to ManagedCertificate for Triage-Party.
  triage-party/release-team/certificate.yaml
  triage-party/release-team/ingress.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/S, wg/k8s-infra

#1990 Add ingress nginx v0.46 to promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/network, size/XS, wg/k8s-infra

#1989 Add strongjz to k8s-staging-ingress-nginx
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra
