Repository kubernetes/k8s.io, pull requests merged in 2021-07, with the labels that each got.

#2231 infra/gcp: enable GCS access logs for staging project GCS and GCR
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib.sh
  infra/gcp/lib_gcs.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#2283 infra/gcp/lib_gcs: fix ensure_gcs_bucket_logging
  infra/gcp/ensure-staging-storage.sh
  infra/gcp/lib_gcs.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2285 replacing master with main for k/k8s.io links
  apps/sippy/README.md
  k8s.gcr.io/Vanity-Domain-Flip.md
  k8s.gcr.io/archived/images/DO-NOT-MODIFY-legacy-backfill/README.md
  triage-party/release-team/README.md
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/release, size/S, wg/k8s-infra, wg/reliability

#2237 hack: verify-terraform no args == all *.tf paths
  hack/verify-terraform.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2238 audit: refactor create-or-update-audit-pr.sh
  audit/create-or-update-audit-pr.sh
  images/k8s-infra/Makefile
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2286 Promote git-sync v3.3.4
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2287 Promote node-cache 1.19.0 images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2244 Promote kOps 1.20.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.20.2.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2288 Promote kOps 1.21.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2289 Promote kOps 1.21.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.0.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2284 Move gcsweb under /apps
  apps/gcsweb.k8s.io/OWNERS
  apps/gcsweb.k8s.io/README.md
  apps/gcsweb.k8s.io/certificate.yaml
  apps/gcsweb.k8s.io/deployment.yaml
  apps/gcsweb.k8s.io/ingress.yaml
  apps/gcsweb.k8s.io/service.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2280 releng: Drop onlydole temporary RM access
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#1857 dl.k8s.io: Redirect CI URIs to Kubernetes Community infra
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/contributor-experience, sig/release, sig/testing, size/S, wg/k8s-infra

#2292 k8s.io: fix dl.k8s.io/ci redirect
  k8s.io/configmap-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, wg/k8s-infra

#2291 hack: add k8s-infra-diff-buckets.sh
  hack/k8s-infra-diff-buckets.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2293 audit: update as of 2021-07-04
  audit/projects/k8s-staging-cluster-api-nested/services/logging/logs.json
  audit/projects/k8s-staging-etcdadm/services/logging/logs.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#2298 releng: Temporary RM access for ameukam
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#2295 Promote Addon Resizer 1.14 images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2300 Add triageparty-scalability namespace for sig-scalability
  groups/groups.yaml
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2297 infra/gcp/aaa: Subscribe GKE cluster aaa to the regular channel
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/11-pool1-configuration.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/11-pool2-configuration.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/variables.tf
Labels: approved, area/infra/terraform, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2269 Add release-0.3 and tip for cluster-api
  dns/zone-configs/k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, size/S

#2301 Promote aws-ebs-csi-driver v1.1.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2302 OWNERS: update for dns, k8s-staging-infra-tools
  dns/OWNERS
  k8s.gcr.io/images/k8s-staging-infra-tools/OWNERS
Labels: approved, area/artifacts, area/dns, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2305 releng: Image promotion for v1.22.0-beta.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#2306 Promote etcdadm 3.0.20210707 images
  k8s.gcr.io/images/k8s-staging-etcdadm/OWNERS
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/S, wg/k8s-infra

#2308 Bump terraform provider
  infra/gcp/clusters/modules/gke-cluster/versions.tf
  infra/gcp/clusters/modules/gke-nodepool/versions.tf
  infra/gcp/clusters/modules/gke-project/versions.tf
  infra/gcp/clusters/projects/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/00-provider.tf
  infra/gcp/clusters/projects/k8s-infra-public-pii/provider.tf
  infra/gcp/clusters/projects/kubernetes-public/aaa/00-inputs.tf
Labels: approved, area/infra/terraform, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#2309 releng: drop ameukam temporary RM access
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2296 infra/gcp/prow: Enable OS Login for scale-* projects
  infra/gcp/prow/ensure-e2e-projects.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#2294 audit: update as of 2021-07-09
  audit/projects/k8s-infra-prow-build/services/logging/logs.json
  audit/projects/k8s-infra-prow-build/services/monitoring/dashboards/build-cluster-capacity-usage.json
  audit/projects/k8s-infra-prow-build/services/monitoring/dashboards/prow-build-from-file.json
  audit/projects/k8s-release-test-prod/services/logging/logs.json
  audit/projects/k8s-staging-sig-storage/services/logging/logs.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/S, wg/k8s-infra

#2313 Fix sippy service port
  apps/sippy/ingress.yaml
  apps/sippy/service.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra, wg/reliability

#2312 Revert 2296: Enable OS Login for scale-* projects
  infra/gcp/prow/ensure-e2e-projects.sh
Labels: approved, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#2304 Move slack-infra under /apps
  apps/slack-infra/README.md
  apps/slack-infra/deploy.sh
  apps/slack-infra/resources/certificate.yaml
  apps/slack-infra/resources/ingress.yaml
  apps/slack-infra/resources/slack-event-log/deployment.yaml
  apps/slack-infra/resources/slack-event-log/service.yaml
  apps/slack-infra/resources/slack-moderator-words/deployment.yaml
  apps/slack-infra/resources/slack-moderator-words/filters.yaml
  apps/slack-infra/resources/slack-moderator-words/service.yaml
  apps/slack-infra/resources/slack-moderator/deployment.yaml
  apps/slack-infra/resources/slack-moderator/service.yaml
  apps/slack-infra/resources/slack-post-message/deployment.yaml
  apps/slack-infra/resources/slack-post-message/service.yaml
  apps/slack-infra/resources/slack-welcomer/deployment.yaml
  apps/slack-infra/resources/slack-welcomer/message.yaml
  apps/slack-infra/resources/slack-welcomer/service.yaml
  apps/slack-infra/resources/slackin/bad-domains-configmap.yaml
  apps/slack-infra/resources/slackin/deployment.yaml
  apps/slack-infra/resources/slackin/service.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#2303 Move triage party under /apps
  apps/triageparty-release/OWNERS
  apps/triageparty-release/README.md
  apps/triageparty-release/certificate.yaml
  apps/triageparty-release/configmap.yaml
  apps/triageparty-release/deploy.sh
  apps/triageparty-release/deployment.yaml
  apps/triageparty-release/ingress.yaml
  apps/triageparty-release/secret.yaml
  apps/triageparty-release/service.yaml
  apps/triageparty-release/storage.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#2314 apps: update READMEs, remove --dry-run from deploy.sh
  README.md
  apps/README.md
  apps/gcsweb/deploy.sh
  apps/kubernetes-external-secrets/deploy.sh
  apps/node-perf-dash/deploy.sh
  apps/sippy/deploy.sh
  apps/triageparty-release/deploy.sh
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/node, sig/release, sig/testing, size/S, wg/k8s-infra, wg/reliability

#2311 audit: update as of 2021-07-09
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
  audit/projects/k8s-infra-e2e-scale-5k-project/services/compute/project-info.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2315 Move publishing-bot under /apps
  README.md
  apps/publishing-bot/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2319 audit: update as of 2021-07-09
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2320 Promote ingress nginx v1.0.0 to alpha 2
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/network, size/XS, wg/k8s-infra

#2317 Move perfdash under /apps
  README.md
  apps/perfdash/OWNERS
  apps/perfdash/README.md
  apps/perfdash/certificate.yaml
  apps/perfdash/deploy.sh
  apps/perfdash/ingress.yaml
  perf-dash.k8s.io/README.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/M, wg/k8s-infra

#2325 Promoting ingress image v0.48.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, sig/network, size/XS, tide/merge-method-squash, wg/k8s-infra

#2326 releng: Temporary RM access for jimangel
  groups/sig-release/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, lgtm, priority/important-soon, sig/release, size/XS, wg/k8s-infra

#2327 Update sippy deployment commandline to adjust to newer image
  apps/sippy/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra, wg/reliability

#2329 Promote Cluster API Azure v0.5.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: approved, area/artifacts, area/provider/azure, cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/XS, wg/k8s-infra

#2331 releng: Promote go1.16.6/go1.15.14 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: approved, area/artifacts, area/dependency, area/release-eng, cncf-cla: yes, kind/feature, lgtm, sig/release, size/XS, wg/k8s-infra

#2203 update kustomize owners
  k8s.gcr.io/images/k8s-staging-kustomize/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#2324 Add filter to good-first-issue and help-needed
  k8s.io/configmap-nginx.yaml
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, size/XS, wg/k8s-infra

#2330 apps: move prow
  README.md
  apps/prow/OWNERS
  apps/prow/deploy.sh
  apps/prow/ghproxy_deployment.yaml
  apps/prow/ghproxy_rbac.yaml
  apps/prow/prow-externalsecrets.yaml
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2333 infra/gcp/release: redo kubernetes ci buckets
  infra/gcp/ensure-release-projects.sh
  infra/gcp/lib.sh
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2337 releng: Promote go1.17rc1 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: approved, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/XS, wg/k8s-infra

#2339 Promote node-cache 1.20 images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2340 Adding tjferrara to k8s-infra-gcp-auditors
  groups/wg-k8s-infra/groups.yaml
Labels: approved, area/access, area/artifacts, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, sig/release, sig/testing, size/XS, wg/k8s-infra

#2341 releng: Image promotion for v1.22.0-beta.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#2338 Promotes cuda-vector-add:1.0 image
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#2328 hack: enforce conftest and yamllint failures
  apps/kubernetes-external-secrets/kubernetes-external-secrets.yaml
  apps/node-perf-dash/deployment.yaml
  apps/sippy/service.yaml
  apps/triageparty-release/secret.yaml
  cert-manager/cert-manager.yaml
  dns/zone-configs/k8s.io._2_aws.yaml
  groups/sig-release/groups.yaml
  groups/sig-testing/groups.yaml
  groups/wg-k8s-infra/groups.yaml
  hack/.yamllint.conf
  hack/verify-conftest.sh
  hack/verify-shellcheck.sh
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/namespaces.yaml
  infra/gcp/namespaces/namespace-user-role.yml
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/iam.serviceAccountLister.yaml
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/prow.viewer.yaml
  infra/gcp/roles/specs/container.deployer.yaml
  infra/gcp/roles/specs/iam.serviceAccountLister.yaml
  infra/gcp/roles/specs/prow.viewer.yaml
  k8s.gcr.io/images/k8s-image-staging-kind/images.yaml
  k8s.gcr.io/images/k8s-staging-apisnoop/images.yaml
  k8s.gcr.io/images/k8s-staging-bootkube/promoter-manifest.yaml
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
  k8s.gcr.io/images/k8s-staging-cri-tools/images.yaml
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
  k8s.gcr.io/images/k8s-staging-test-infra/images.yaml
  k8s.gcr.io/manifests/k8s-image-staging-kind/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-addon-manager/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cpa/promoter-manifest.yaml
  policies/deprecations.rego
Labels: approved, area/access, area/artifacts, area/dns, area/infra/cert-manager, area/infra/terraform, area/provider/azure, area/prow, area/release-eng, cncf-cla: yes, lgtm, sig/cluster-lifecycle, sig/network, sig/node, sig/release, sig/testing, size/L, wg/k8s-infra, wg/reliability

#2342 Request new group for sig-security-tooling
  groups/README.md
  groups/sig-security/OWNERS
  groups/sig-security/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/security, size/S, wg/k8s-infra

#2334 k8s.io: use /issues or /pulls for GH queries
  k8s.io/configmap-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, wg/k8s-infra

#2343 Promote Cluster API v0.3.21
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2344 releng: Image promotion for v1.19.13 / v1.19.14-rc.0 / v1.20.9 / v1.20.10-rc.0 / v1.21.3 / v1.21.4-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/L

#2349 infra/gcp: mv k8s-releng-prod to its own folder
  infra/gcp/ensure-releng.sh
  infra/gcp/infra.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2347 k8s.io: fix tests.py to allow deploy
  k8s.io/test.py
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, wg/k8s-infra

#2346 Check max. length for groups description
  groups/groups_test.go
  groups/sig-release/groups.yaml
  groups/sig-security/groups.yaml
Labels: approved, area/access, area/release-eng, cncf-cla: yes, kind/bug, lgtm, sig/release, sig/security, size/M, wg/k8s-infra

#2322 audit: update as of 2021-07-16
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-cip-test-prod/services/logging/logs.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/iam.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/lifecycle.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/logging.json
  audit/projects/k8s-release/buckets/k8s-release-dev-asia/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/iam.json
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/lifecycle.json
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/logging.json
  audit/projects/k8s-release/buckets/k8s-release-dev-eu/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-dev/iam.json
  audit/projects/k8s-release/buckets/k8s-release-dev/logging.json
  audit/projects/k8s-release/buckets/k8s-release-dev/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-pull/iam.json
  audit/projects/k8s-release/buckets/k8s-release-pull/logging.json
  audit/projects/k8s-release/buckets/k8s-release-pull/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release/metadata.txt
  audit/projects/k8s-release/iam.json
  audit/projects/k8s-release/services/enabled.txt
  audit/projects/k8s-release/services/logging/logs.json
  audit/projects/k8s-staging-cluster-api-gcp/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/services/container/clusters/aaa.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#2350 audit: update as of 2021-07-16
  audit/projects/k8s-releng-prod/iam.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#2336 Update info in slack welcome message
  apps/slack-infra/resources/slack-welcomer/message.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S, tide/merge-method-squash, wg/k8s-infra

#2354 apps/gcsweb: add sig-scalability-logs
  apps/gcsweb/deployment.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#2352 audit: update as of 2021-07-16
  audit/projects/k8s-infra-ii-sandbox/services/logging/logs.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#2355 infra/gcp/roles: refresh and add run.viewer to audit.viewer
  infra/gcp/roles/CustomRole.yaml
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/container.deployer.yaml
  infra/gcp/roles/generate-role-yaml.sh
  infra/gcp/roles/iam.serviceAccountLister.yaml
  infra/gcp/roles/organization.admin.yaml
  infra/gcp/roles/prow.viewer.yaml
  infra/gcp/roles/secretmanager.secretLister.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
Labels: approved, cncf-cla: yes, lgtm, size/L, wg/k8s-infra

#2351 Promotes nginx:1.14-1-copy image
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#2360 Promote kOps 1.22.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2361 Promote kOps 1.22.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.0-alpha.2.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2357 prow: Add k8s-infra-build-clusters-kubeconfig ExternalSecret
  apps/prow/prow-externalsecrets.yaml
  infra/gcp/ensure-main-project.sh
Labels: approved, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#2362 [Scalability] Add new oncall member
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2363 remove references to kubernetes-release-dev
  apps/gcsweb/deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/README.md
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/README.md
  infra/gcp/ensure-release-projects.sh
Labels: approved, area/infra/terraform, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#2365 infra/gcp/roles: add cloudtrace to audit.viewer
  infra/gcp/roles/audit.viewer.yaml
  infra/gcp/roles/specs/audit.viewer.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2358 audit: update as of 2021-07-19
  audit/projects/k8s-artifacts-prod/services/logging/logs.json
  audit/projects/k8s-staging-test-infra/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-build-clusters-kubeconfig/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-build-clusters-kubeconfig/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-build-clusters-kubeconfig/versions.json
  audit/projects/kubernetes-public/services/logging/logs.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/M, wg/k8s-infra

#2366 Auditor HotFix
  infra/gcp/cip-auditor/deploy.sh
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2368 release CAPO v0.4.0
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2370 Promote Cluster API Provider AWS v0.6.7
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2367 audit: update as of 2021-07-20
  audit/organizations/kubernetes.io/roles/audit.viewer.json
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/k8s-infra-public-pii/services/logging/logs.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/S, wg/k8s-infra

#2372 audit: update as of 2021-07-20
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2307 Bump toolset of images/k8s-infra
  images/k8s-infra/Dockerfile
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2321 Add k8s-infra-scale-golang-builds bucket for CI.
  infra/gcp/clusters/projects/kubernetes-public/aaa/10-cluster-configuration.tf
Labels: approved, area/infra/terraform, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2376 releng: Image promotion for v1.22.0-rc.0 / v1.23.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, sig/release, size/M

#2373 Define min and max instances for cip-auditor
  infra/gcp/cip-auditor/deploy.sh
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS, wg/k8s-infra

#2377 audit: update as of 2021-07-21
  audit/projects/k8s-infra-prow-build-trusted/services/logging/logs.json
  audit/projects/kubernetes-public/buckets/k8s-infra-scale-golang-builds/iam.json
  audit/projects/kubernetes-public/buckets/k8s-infra-scale-golang-builds/metadata.txt
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, needs-ok-to-test, size/M, wg/k8s-infra

#2374 Move cert-manager to apps
  apps/cert-manager/OWNERS
  apps/cert-manager/README.md
  apps/cert-manager/cert-manager.yaml
  apps/cert-manager/deploy.sh
  apps/cert-manager/letsencrypt-prod.yaml
  apps/cert-manager/letsencrypt-staging.yaml
  apps/cert-manager/selfsigning-clusterissuer.yaml
  cert-manager/README.md
Labels: approved, area/infra/cert-manager, cncf-cla: yes, lgtm, ok-to-test, size/M, wg/k8s-infra

#2378 k8s.io: use zero-arg deploy.sh
  k8s.io/README.md
  k8s.io/deploy.sh
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L, wg/k8s-infra

#2380 apps/cert-manager: match what is deployed
  apps/cert-manager/deploy.sh
  apps/cert-manager/letsencrypt-prod.yaml
Labels: approved, area/infra/cert-manager, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2381 Promote Cluster API v0.3.22
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2382 apps/cert-manager: move ixdy to emeritus_approvers
  apps/cert-manager/OWNERS
Labels: approved, area/infra/cert-manager, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2384 infra/gcp/main: let trusted prow deploy to aaa
  infra/gcp/ensure-main-project.sh
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2383 apps: mv k8s.io to apps/
  apps/k8s-io/.gitignore
  apps/k8s-io/Dockerfile-test
  apps/k8s-io/Makefile
  apps/k8s-io/OWNERS
  apps/k8s-io/README.md
  apps/k8s-io/certificate-canary.yaml
  apps/k8s-io/certificate-prod.yaml
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/configmap-www-get.yaml
  apps/k8s-io/deploy.sh
  apps/k8s-io/deployment.yaml
  apps/k8s-io/ingress-canary-v6.yaml
  apps/k8s-io/ingress-canary.yaml
  apps/k8s-io/ingress-prod-v6.yaml
  apps/k8s-io/ingress-prod.yaml
  apps/k8s-io/service.yaml
  apps/k8s-io/test.py
  hack/verify-conftest.sh
  k8s.io/README.md
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/L, wg/k8s-infra

#2387 use k8s-staging-<project-name> for kind
  k8s.gcr.io/images/k8s-staging-kind/OWNERS
  k8s.gcr.io/images/k8s-staging-kind/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kind/promoter-manifest.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2371 prow: dir-per-namespace resources deployed to cluster
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-storage.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kube-system/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets-serviceaccounts.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets_crd.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/kubernetes-external-secrets/kubernetes-external-secrets_rbac.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/staging-test-pods/.gitkeep
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-metrics-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-service.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/default/greenhouse-storage.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-system/kube-dns-autoscaler-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-resources-configmap.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/build-serviceaccounts.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/mem-limit-range_limitrange.yaml
  infra/gcp/clusters/projects/k8s-infra-prow-build/prow-build/resources/test-pods/test-pods-poddisruptionbudget.yaml
Labels: approved, area/infra/terraform, area/prow, cncf-cla: yes, lgtm, sig/testing, size/XS, wg/k8s-infra

#2389 prow: add k8s-triage-robot-github-token secret
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/prow/ensure-e2e-projects.sh
Labels: approved, area/infra/terraform, area/prow, cncf-cla: yes, lgtm, sig/testing, size/S, wg/k8s-infra

#2390 promote aws-ebs-csi-driver v1.1.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2391 Bump network proxy to v0.0.22
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2393 promote csi-secrets-store driver:v0.1.0
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2394 promote aws-ebs-csi-driver v1.1.3
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2397 apps/perfdash: migrate ingress to v1
  apps/perfdash/ingress.yaml
Labels: approved, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2385 audit: update as of 2021-07-28
  audit/projects/k8s-gcr-audit-test-prod/services/logging/logs.json
  audit/projects/k8s-infra-e2e-scale-5k-project/services/compute/project-info.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_script_generated_set_1.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.etl_staging.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.hh.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.k8s_artifacts_dataset_bb_test.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.k8s_artifacts_gcslogs_appspot.access.json
  audit/projects/k8s-infra-ii-sandbox/services/bigquery/bigquery.datasets.kubernetes_public_logs.access.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/k8s-triage-robot-github-token/description.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/k8s-triage-robot-github-token/iam.json
  audit/projects/k8s-infra-prow-build-trusted/secrets/k8s-triage-robot-github-token/versions.json
  audit/projects/k8s-release/buckets/k8s-release-asia/iam.json
  audit/projects/k8s-release/buckets/k8s-release-asia/metadata.txt
  audit/projects/k8s-release/buckets/k8s-release-eu/iam.json
  audit/projects/k8s-release/buckets/k8s-release-eu/metadata.txt
  audit/projects/k8s-staging-etcd/services/logging/logs.json
  audit/projects/kubernetes-public/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-hmac-token/description.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-hmac-token/iam.json
  audit/projects/kubernetes-public/secrets/k8s-infra-prow-hmac-token/versions.json
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, ok-to-test, size/L, wg/k8s-infra

#2401 groups: allow restricting creation of new groups in sub-directories
  groups/README.md
  groups/go.mod
  groups/go.sum
  groups/groups_test.go
  groups/reconcile.go
  groups/restrictions.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, sig/contributor-experience, size/L, wg/k8s-infra

#2399 Update k8s-infra-alerts@kubernetes.io
  groups/wg-k8s-infra/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2392 gcp-compute-persistent-disk-csi-drive: promote image release v1.3.0
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2403 infra/gcp: allow prow trusted cluster use of k8s-infra-ci-robot
  infra/gcp/clusters/projects/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/ensure-main-project.sh
Labels: approved, area/infra/terraform, area/prow, cncf-cla: yes, lgtm, sig/testing, size/M, wg/k8s-infra

#2400 Promote aws-ebs-csi-driver v1.2.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, ok-to-test, size/XS, wg/k8s-infra

#2404 DNS entries for k8s-infra-prow.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/clusters/projects/kubernetes-public/aaa/external-ips.tf
Labels: approved, area/dns, area/infra/terraform, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2405 infra/gcp/main: update expected services
  infra/gcp/ensure-main-project.sh
Labels: approved, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2410 audit: use k8s-infra-ci-robot for audit PRs
  audit/create-or-update-audit-pr.sh
Labels: approved, area/infra/auditing, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2413 groups: abs-path auto-detected groups-path
  groups/reconcile.go
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2409 Transfer Bigquery dataset to k8s-infra-public-pii
  infra/gcp/clusters/projects/k8s-infra-public-pii/bigquery.tf
Labels: approved, area/infra/terraform, cncf-cla: yes, lgtm, size/M, wg/k8s-infra

#2415 Fix BigQuery Transfer config
  infra/gcp/clusters/projects/k8s-infra-public-pii/bigquery.tf
Labels: approved, area/infra/terraform, cncf-cla: yes, lgtm, size/S, wg/k8s-infra

#2418 k8s.gcr.io/images/k8s-staging-kube-state-metrics: Promote v2.1.1
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2414 groups: fix groups reconciliation, misc cleanup
  groups/groups_test.go
  groups/reconcile.go
  groups/reconcile_test.go
Labels: approved, area/access, cncf-cla: yes, lgtm, size/L, tide/merge-method-squash, wg/k8s-infra

#2419 Update the version of ingress-nginx v1.0.0-beta.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: approved, area/access, area/artifacts, cncf-cla: yes, lgtm, sig/network, sig/security, size/XS, tide/merge-method-squash, wg/k8s-infra

#2422 Release: adding CAPA v0.6.8 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2369 Update owners for k8s-staging-capi-openstack
  k8s.gcr.io/images/k8s-staging-capi-openstack/OWNERS
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2424 Update members for Kustomize infra
  groups/groups.yaml
Labels: approved, area/access, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2421 Revert "k8s-staging-csi-secrets-store: retag v0.0.22 to include #545"
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2423 Add credentials account to the list of prow's secrets.
  infra/gcp/ensure-main-project.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2425 Migrate to networking.k8s.io/v1
  apps/gcsweb/ingress.yaml
  apps/k8s-io/ingress-canary-v6.yaml
  apps/k8s-io/ingress-canary.yaml
  apps/k8s-io/ingress-prod-v6.yaml
  apps/k8s-io/ingress-prod.yaml
  apps/node-perf-dash/ingress.yaml
  apps/sippy/ingress.yaml
  apps/slack-infra/resources/ingress.yaml
  apps/triageparty-release/ingress.yaml
Labels: approved, area/release-eng, cncf-cla: yes, lgtm, ok-to-test, sig/contributor-experience, sig/node, sig/release, sig/testing, size/L, wg/k8s-infra, wg/reliability

#2428 apps/slack-infra: fix deploy.sh
  apps/slack-infra/deploy.sh
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2431 apps/kubernetes-external-secrets: update to 8.2.3
  apps/kubernetes-external-secrets/kubernetes-external-secrets.yaml
  apps/kubernetes-external-secrets/kubernetes-external-secrets_crd.yaml
  apps/kubernetes-external-secrets/kubernetes-external-secrets_rbac.yaml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2432 Add CAPA v0.7.0-alpha.0 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2434 Remove deprecated node-perf-dash
  README.md
  apps/node-perf-dash/OWNERS
  apps/node-perf-dash/README.md
  apps/node-perf-dash/certificate.yaml
  apps/node-perf-dash/deploy.sh
  apps/node-perf-dash/deployment.yaml
  apps/node-perf-dash/ingress.yaml
  apps/node-perf-dash/service.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
  groups/groups.yaml
  groups/restrictions.yaml
  infra/gcp/clusters/projects/kubernetes-public/aaa/external-ips.tf
  infra/gcp/namespaces/ensure-namespaces.sh
Labels: approved, area/access, area/artifacts, area/dns, area/infra/terraform, cncf-cla: yes, lgtm, sig/node, sig/testing, size/L, wg/k8s-infra

#2427 dns: point x-k8s.io to k8s.io redirector
  apps/k8s-io/configmap-nginx.yaml
  dns/zone-configs/x-k8s.io._0_base.yaml
Labels: approved, area/dns, cncf-cla: yes, lgtm, sig/contributor-experience, size/S, wg/k8s-infra

#2433 promote filestore csi image 0.6.0
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: approved, area/artifacts, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra

#2437 apps/k8s-io: fix x-k8s.io redirect
  apps/k8s-io/configmap-nginx.yaml
Labels: approved, cncf-cla: yes, lgtm, sig/contributor-experience, size/XS, wg/k8s-infra

#2436 [aaa] Drop usage of RBAC v1beta1
  infra/gcp/namespaces/namespace-user-role-binding.yml
  infra/gcp/namespaces/namespace-user-role.yml
Labels: approved, cncf-cla: yes, lgtm, size/XS, wg/k8s-infra
