Repository kubernetes/k8s.io, pull requests merged in 2021-12, with the labels that each got.

#3117 releng: Temporary RM access for palnabarun
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3140 releng: Image promotion for kubernetes v1.23.0-rc.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3141 releng: Promote go1.17.4 / go1.16.11 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, kind/feature, approved, area/dependency, area/release-eng

#3143 releng: Promote go1.17.4 - v1.24.0-go1.17.4-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, kind/feature, approved, area/dependency, area/release-eng

#3145 Update groups.yaml
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, needs-ok-to-test, approved, area/access, area/groups, sig/k8s-infra

#3142 releng: Enable Release Managers to do publishing-bot reviews
  OWNERS_ALIASES
  apps/publishing-bot/OWNERS
  groups/sig-release/groups.yaml
  k8s.gcr.io/images/k8s-staging-publishing-bot/OWNERS
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/access, area/artifacts, area/apps/publishing-bot, area/release-eng, area/groups, area/k8s.gcr.io, area/apps, sig/k8s-infra

#3146 Promote Cluster API v0.3.24 v0.4.5 v1.0.2
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3144 Promote node-cache 1.21.2 and 1.21.3 images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3147 Add myself to k8s-infra-staging-kas-network-proxy group.
  groups/sig-cloud-provider/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, area/access, area/groups, sig/k8s-infra

#3148 Image promotion for publishing-bot v0.1.0-1
  k8s.gcr.io/images/k8s-staging-publishing-bot/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3149 Release v4.1.0 version of image for ibm-vpc-block-csi-driver
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3151 Update SIG Leads for SIG Scalability
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#3150 Add container registry perf-tests for sig-scalability
  groups/restrictions.yaml
  groups/sig-scalability/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-perf-tests/OWNERS
  k8s.gcr.io/images/k8s-staging-perf-tests/images.yaml
  k8s.gcr.io/manifests/k8s-staging-perf-tests/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/scalability, approved, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3153 Add vincepri to leads mailing list
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3155 releng: Image promotion for kubernetes v1.23.0 / v1.23.1-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, priority/critical-urgent, sig/release, approved, area/release-eng

#3138 publishing-bot: Fix secret name for GitHub token
  apps/publishing-bot/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/apps/publishing-bot, area/apps, sig/k8s-infra

#3158 releng: Drop temporary RM access for palnabarun
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/important-soon, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3159 Temporary Release Manager access for jimangel
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/critical-urgent, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3163 releng: Image promotion for kubernetes v1.24.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3168 Bump network proxy to v0.0.27
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3167 Update image for KSM 2.3.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3169 releng: Promote go1.17.5 / go1.16.12 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, kind/feature, approved, area/dependency, area/release-eng

#3170 Promote CAPA v1.2.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3171 Image promotion for artifact-promoter v3.3.0-1 / v3.3.0-beta.2-1 / v3.3.0-beta.3-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/artifacts, area/release-eng

#3164 add dns entry for cluster-api-ibmcloud.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3172 Add missing dot(.) in the end for the CNAME record
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3174 Promote kOps 1.23.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3175 Promote kOps 1.23.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3176 Promote kOps 1.24.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3177 Promote kOps 1.24.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-alpha.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3178 Revoke Release Manager access for jimangel
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3184 Promote security-profiles-operator v0.4.0
  k8s.gcr.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3185 promote cluster-api-ibmcloud-controller:v0.1.0 image
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3187 Add alculquicondor to leads@
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3182 Update affiliation for KnVerey
  groups/groups.yaml
  groups/sig-cli/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cli, approved, area/access, area/groups, sig/k8s-infra

#3183 infra: Enable Google Artifact Registry for RelEng staging projects
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/bash, sig/k8s-infra

#3193 Promote ExternalDNS v0.10.2
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3189 Add secret for CAPI-DO Quay.io registry secret
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#3195 releng: Image promotion for kubernetes v1.20.14 / v1.20.15-rc.0 / v1.21.8 / v1.21.9-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/release-eng

#3191 ensure-staging-storage.sh: Reflect all RelEng-owned staging projects
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3196 Promote CAPI v1.1.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3198 Image promotion for cluster-api-azure v1.1.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3200 add externalsecret for capdo quay
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#3199 groups: add brandon to steering-emeritus
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#3207 groups/steering-emeritus: Add Michelle Noorali
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#3208 Promote v0.1.11 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3209 sig-release: update release managers
  OWNERS_ALIASES
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3211 releng: Promote go1.18beta1 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3212 releng: Promote debian-base bullseye-v1.1.0 and buster-v1.10.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3213 releng: Promote debian-iptables / setcap images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#3214 releng: Promote go1.18beta1 images (part two)
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3215 Cluster Autoscaler releases 1.20.2, 1.21.2, 1.22.2
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3217 adding dev mailing list
  groups/restrictions.yaml
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3220 update dev mailing list settings
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3224 Cluster Autoscaler 1.23
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3225 Update snapshot images to 5.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
