Repository kubernetes/k8s.io, pull requests merged in 2021-11, with the labels that each got.

#3000 Promote kOps 1.23.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3002 kOps Artifacts - Sync Owners File to Current
  artifacts/manifests/k8s-staging-kops/OWNERS
  k8s.gcr.io/images/k8s-staging-kops/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3004 groups: update k8s-infra-cherrypick-robot owners
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#3003 Add dependabot configuration for Terraform
  .github/dependabot.yml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#2992 apps/kettle: Add PubSub Topic and Subscripton for kubernetes-jenkins
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#3006 elekto: redirect http to https
  apps/elekto/frontendconfig.yaml
  apps/elekto/ingress.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#2988 leads: add pohly
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#2971 Add mkumatag into k8s-infra-staging-e2e-test-images
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#3007 capz: Image promotion for cluster-api-azure v1.0.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3011 Temporary Release Manager access for jimangel
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/critical-urgent, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3010 elekto: Fix http to https redirect.
  apps/elekto/ingress.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#3009 terraform: replace deprecated node_metadata field
  infra/gcp/terraform/kubernetes-public/11-pool1-configuration.tf
  infra/gcp/terraform/kubernetes-public/11-pool2-configuration.tf
  infra/gcp/terraform/modules/gke-nodepool/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#2953 Refactor terraform modules to use for_each
  infra/gcp/terraform/modules/gke-project/main.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/infra, area/terraform, sig/k8s-infra

#3014 groups: Add MadhavJivrajani to reviewers
  groups/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#2873 Increase test coverage for groups/
  groups/fake/fake_client.go
  groups/reconcile_test.go
  groups/service.go
  groups/service_test.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/access, area/groups, sig/k8s-infra

#2963 Update tagging and docs for public-log-asn-matcher
  images/public-log-asn-matcher/README.md
  images/public-log-asn-matcher/cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#3016 terraform: bump terraform-google-provider to 3.90.0
  infra/gcp/terraform/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/terraform/k8s-infra-kubernetes-io/provider.tf
  infra/gcp/terraform/k8s-infra-monitoring/provider.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
  infra/gcp/terraform/k8s-infra-public-pii/provider.tf
  infra/gcp/terraform/k8s-infra-sandbox-capg/provider.tf
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/modules/gke-cluster/versions.tf
  infra/gcp/terraform/modules/gke-nodepool/versions.tf
  infra/gcp/terraform/modules/gke-project/versions.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#2995 dns: Domain validation for kubernetes.io
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3024 releng: Image promotion for kubernetes v1.23.0-alpha.4
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3023 Promote livenessprobe 2.5.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3029 Promote pod-security-webhook:v1.23-beta.0
  k8s.gcr.io/images/k8s-staging-sig-auth/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/auth, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3028 infra/gcp: manage aaa secrets via terraform
  infra/gcp/bash/ensure-main-project.sh
  infra/gcp/terraform/kubernetes-public/secrets.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, area/bash, sig/k8s-infra

#3021 terraform: Prepare upgrade terraform to 4.0.0
  infra/gcp/terraform/k8s-infra-ii-sandbox/provider.tf
  infra/gcp/terraform/k8s-infra-kubernetes-io/provider.tf
  infra/gcp/terraform/k8s-infra-monitoring/provider.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
  infra/gcp/terraform/k8s-infra-public-pii/provider.tf
  infra/gcp/terraform/k8s-infra-sandbox-capg/provider.tf
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/kubernetes-public/10-cluster-configuration.tf
  infra/gcp/terraform/kubernetes-public/prowjob-buckets.tf
  infra/gcp/terraform/kubernetes-public/terraform.plan
  infra/gcp/terraform/modules/gke-cluster/main.tf
  infra/gcp/terraform/modules/gke-cluster/variables.tf
  infra/gcp/terraform/modules/gke-cluster/versions.tf
  infra/gcp/terraform/modules/gke-nodepool/versions.tf
  infra/gcp/terraform/modules/gke-project/versions.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#2981 k8s-infra-monitoring: Add a monitoring dashboard for k8s-artifacts-prod
  infra/gcp/terraform/k8s-infra-monitoring/dashboards/cloud-storage-monitoring.json
  infra/gcp/terraform/k8s-infra-monitoring/main.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, sig/k8s-infra

#3033 terraform: cleanup obsolete code
  infra/gcp/terraform/k8s-infra-ii-sandbox/main.tf
  infra/gcp/terraform/k8s-infra-public-pii/bigquery.tf
  infra/gcp/terraform/kubernetes-public/terraform.plan
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#3034 Bump network proxy to 0.0.25
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3036 publish scheduler plugins v0.21.6
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3025 Release etcd 3.5.1-0 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#3043 releng: Promote go1.17.3 / go1.16.10 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, kind/feature, approved, area/dependency, area/release-eng

#2892 groups: attempt to handle equivalent e-mail addresses
  groups/config.yaml
  groups/go.mod
  groups/go.sum
  groups/reconcile.go
  groups/service.go
  groups/service_test.go
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/access, area/groups, sig/k8s-infra

#3049 groups: move manager groups to members
  groups/sig-k8s-infra/groups.yaml
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#3050 tf/k8s-infra-prow-build: mv boskos crds to v1
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#3053 groups: rm emeritus sig-docs lead from leads
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3040 aaa: Enable GKE workloads metrics
  infra/gcp/terraform/kubernetes-public/10-cluster-configuration.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#3048 ksm: promote v2.2.4 images
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3051 Update steering lists
  groups/committee-steering/groups.yaml
  groups/restrictions.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#3059 OWNERS_ALIASES: Sync with k/community
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#3061 build-image: promote debian-iptables buster-v1.7.0 + bullseye-v1.1.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#3044 Remove k8s.io directory.
  k8s.io/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, sig/k8s-infra

#3064 capg: promote v1.0.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3065 capdo: promote v1.0.0 release image
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3068 kustomize image v4.4.1
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3067 debian-iptables: Backfill arch-specific digests for bullseye-v1.0.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3069 Capi v1.0.1
  k8s.gcr.io/images/k8s-staging-cluster-api/OWNERS
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3072 Promote ingress nginx v1.0.5
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3073 Release metrics-server v0.4.5 and v0.5.2
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3075 Add CAPO v0.5.0
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3077 releng: Temporary RM access for onlydole
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3078 releng: Image promotion for kubernetes v1.22.4 / v1.22.5-rc.0 / v1.21.7 / v1.21.8-rc.0 / v1.20.13 / v1.20.14-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/release-eng

#3079 releng: Image promotion for kubernetes v1.23.0-beta.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3080 chore: add CAPA v0.7.2 release
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3083 Promote CAPA v1.1.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3082 Promote ip-masq-agent v2.6.1 images for CVE fixes.
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3085 releng: Drop onlydole temporary RM access
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3086 k8s-staging-kube-state-metrics: update owners
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3088 Promote etcdadm 3.0.20211117 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3041 Revert "Enable ondemand scanning role to kustomize SA"
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3099 Bump network proxy to v0.0.26
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3100 Promote kOps 1.22.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3101 Promote kOps 1.22.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3102 Promote kOps 1.21.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.4.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3103 Promote kOps 1.21.4 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3107 Add ii streaming humans to k8s stream-team
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3105 CoCC: offboard Tim and onboard Carlos
  OWNERS_ALIASES
  groups/committee-code-of-conduct/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/code-of-conduct, area/access, area/groups, sig/k8s-infra

#3090 Promote aws-ebs-csi-driver v1.5.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3110 Promote ingress-nginx controller to v1.1.0
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3111 releng: Drop jimangel temporary access
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3116 releng: Image promotion for kubernetes v1.23.0-rc.0 / v1.24.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3120 promote ingress-nginx controller image to v0.50.0
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3121 Promote git-sync v3.3.5
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3122 k8s.gcr.io: Add info on creating image promo PRs via `kpromo pr`
  k8s.gcr.io/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3124 Promote etcdadm 3.0.20211124 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3129 Image promotion for cluster-api-azure v1.0.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3132 groups: fix googlemail address
  groups/sig-network/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/access, area/groups, sig/k8s-infra
