Repository kubernetes/k8s.io, pull requests merged in 2022-11, with the labels that each got.

#4404 node-feature-discovery: add fmuyassarov as an image reviewer
  k8s.gcr.io/images/k8s-staging-nfd/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4403 node-feature-discovery: promote v0.11.3 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4399 releng: temporary release manager access for salaxander
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4353 feat: updates for CAPA image promotion
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4406 releng: Image promotion for kubernetes v1.26.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4407 Add external secrets for k8s-infra-build cluster to use aws SA
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4409 Image promotion for artifact-promoter v3.4.8-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/artifacts, area/release-eng

#4398 promote Ingress NGINX v1.21.4 base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4414 Image promotion for releng 1.18.8-bullseye-0 / 1.19.3-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4413 Image promotion for build-image v2.3.1-go1.19.3-bullseye.0 / v2.3.1-go1.18.8-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4412 Image promotion for build-image v1.24.0-go1.18.8-bullseye.0 / v1.25.0-go1.19.3-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4410 test images: add e2e-test-images/agnhost:2.43
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4418 Image promotion for cluster-api v1.3.0-beta.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4417 remove temporary access for salaxander and cici37
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4420 Image promotion for bom v0.4.1
  k8s.gcr.io/images/k8s-staging-bom/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4422 release: promote CAPA v1.5.1 images
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4416 Promotes E2E images
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4424 Add staging gcp project for tejolote
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-tejolote/OWNERS
  k8s.gcr.io/images/k8s-staging-tejolote/images.yaml
  k8s.gcr.io/manifests/k8s-staging-tejolote/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/access, area/artifacts, area/infra, area/release-eng, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4425 Promote EBS CSI Driver v1.13.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4423 emeritus time for parispittman
  groups/sig-contributor-experience/OWNERS
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, tide/merge-method-squash, area/access, area/groups, sig/k8s-infra

#4427 promote Ingress NGINX 1.21.6 base image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4316 Allow kgolab to write to k8s-staging-autoscaling GCR
  groups/sig-autoscaling/groups.yaml
  k8s.gcr.io/images/k8s-staging-autoscaling/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/autoscaling, approved, ok-to-test, area/access, area/artifacts, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4430 Image promotion for cluster-api v1.2.5
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4432 Add self to members as sig-testing chair
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4433 Image promotion for cluster-api v1.3.0-beta.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4435 Update ehashman leads email
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4437 ingress-nginx 1.5.1 release
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4436 Add CAPO 0.6.4 version
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4441 releng: Image promotion for kubernetes v1.23.14 / v1.23.15-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4440 releng: Image promotion for kubernetes v1.22.16 / v1.22.17-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, do-not-merge/hold, approved, area/release-eng

#4442 releng: Image promotion for kubernetes v1.24.8 / v1.24.9-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, do-not-merge/hold, approved, area/release-eng

#4443 releng: Image promotion for kubernetes v1.25.4 / v1.25.5-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, do-not-merge/hold, approved, area/release-eng

#4446 Image promotion for artifact-promoter v3.4.9-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/artifacts, area/release-eng

#4449 Image promotion for cluster-api-azure v1.4.5
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4452 releng: Image promotion for kubernetes v1.26.0-beta.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4451 Image promotion for cluster-api-azure v1.5.4
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4454 Create k8s-infra-porche-admins group
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#4457 Remove artifactserver from this repo
  README.md
  artifactserver/.bazelrc
  artifactserver/.gitignore
  artifactserver/BUILD.bazel
  artifactserver/WORKSPACE
  artifactserver/cmd/artifactserver/BUILD.bazel
  artifactserver/cmd/artifactserver/main.go
  artifactserver/go.mod
  artifactserver/go.sum
  artifactserver/manifest.yaml
  artifactserver/tools/get_workspace_status.sh
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#4459 Update docs to include a pointer to how sync works today
  registry.k8s.io/MANUALLY_SYNCING_BUCKETS.md
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, sig/k8s-infra

#4463 Promoting pause image 3.9
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4466 Add DNS entry for CAPI release-1.3 branch
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4465 Image promotion for cluster-api-azure v1.6.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4467 Image promotion for cluster-api v1.3.0-rc.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4468 releng: Image promotion for kubernetes v1.26.0-rc.0 / v1.27.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4461 Promote sig-storage sidecars
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/storage, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4470 Promote image cluster-api-ibmcloud-controller:v0.3.1
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4419 Deploy AR mirrors to remaining US AR regions
  infra/gcp/bash/ensure-prod-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, tide/merge-method-squash, area/infra, area/bash, sig/k8s-infra

#4472 Promote dns 1.22.14 and 1.22.15 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4475 release: promote capa v2.0.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4477 promote 1.3.9 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4478 release: promote capa v1.5.2 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4480 Image promotion for cluster-api v1.2.6
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4484 Add aojea to leads mailing list
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4485 Image promotion for cluster-api v1.3.0-rc.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4487 release: promote CAPA v2.0.1 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4488 Promote git-sync v3.6.2
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4489 Image promotion for etcd 3.5.6-0
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/api-machinery, sig/release, approved, area/release-eng

#3854 Add staging service accounts to `roles/iam.serviceAccountTokenCreator`
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/bash, sig/k8s-infra

#4492 sig-release: Promote Verónica (Tech Lead) and Jeremy (Chair)
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4491 Image promotion for kube-state-metrics v2.7.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4495 Promote kOps 1.24.5 and 1.25.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4496 Promote kOps 1.24.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.5.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4497 Promote kOps 1.25.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4493 Update Owners on kube-state-metrics
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4498 Image promotion for metrics-server v0.6.2
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4501 Promote kOps 1.26.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4500 Promote kOps 1.26.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.0-alpha.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4499 promoting testrunner with ginkgo-v2.5.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, area/k8s.gcr.io, sig/k8s-infra

#4503 Image promotion for cluster-api-gcp v1.2.1
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4504 Image promotion for cluster-api-do v1.2.0
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4508 removing me from last mailing lists
  groups/groups.yaml
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#4509 releng: temporary release manager access for salaxander
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4511 Image promotion for cluster-api v1.2.7
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4512 releng: Image promotion for kubernetes v1.26.0-rc.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4513 Image promotion for cluster-api v1.3.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
