Repository kubernetes/k8s.io, pull requests merged in 2022-12, with the labels that each got.

#4515 Image promotion for artifact-promoter v3.4.10-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/artifacts, area/release-eng

#4514 Revert "releng: temporary release manager access for salaxander"
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4516 release: Promote CAPA v2.0.2 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4517 Promote node-driver-registrar v2.6.2 and hostpath v1.10.0 to release
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/storage, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4519 Promote aws cloud controller manager 1.26.0-alpha.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4524 Image promotion for build-image v2.3.1-go1.19.4-bullseye.0 / v2.3.1-go1.18.9-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4523 Image promotion for build-image v1.24.0-go1.18.9-bullseye.0 / v1.25.0-go1.19.4-bullseye.0 / v1.26.0-go1.19.4-bullseye.0 / v1.26.0-go1.19.4-bullseye.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4525 Image promotion for releng 1.18.9-bullseye-0 / 1.19.4-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4529 Request temporary for patch releases
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4530 releng: Image promotion for kubernetes v1.24.9 / v1.24.10-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4534 releng: Image promotion for kubernetes v1.22.17 / v1.22.18-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4537 releng: Image promotion for kubernetes v1.26.0 / v1.26.1-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4538 Promote etcdadm v3.0.20221209 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4539 Move cs.k8s.io to another server
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4541 dns: domain validation of cdn.dl.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4540 Revoke access to ameukam
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4543 promote csi-secrets-store driver:v1.3.0
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4545 Image promotion for cluster-api v1.3.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4546 Image promotion for cluster-api v1.2.8
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4547 Image promotion for artifact-promoter v3.4.11-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#4550 Image promotion for build-image v1.27.0-go1.20rc1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4551 Image promotion for build-image v2.3.1-go1.20rc1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4354 feat: changes to the CAPA staging group
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#4527 Promote ip-masq-agent v2.9.0 image
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4552 Image promotion for build-image v1.24.0-go1.19.4-bullseye.0 / v1.23.0-go1.19.4-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4554 Promote AWS CCM 1.26.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4556 Promote EBS CSI Driver v1.14.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4558 publish scheduler plugins v0.24.9
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4526 promoting new otel image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, area/k8s.gcr.io, sig/k8s-infra

#4559 add aojea to cloud-provider-gcp group
  groups/sig-cloud-provider/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, area/access, area/groups, sig/k8s-infra

#4563 Promote Cluster Autoscaler v1.26.0 images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4564 Promote AWS CCM v1.24.2 and v1.24.3
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4560 infra/aws: create S3 bucket for dev of artifacts.k8s.io
  infra/aws/terraform/test-artifacts.k8s.io/README.md
  infra/aws/terraform/test-artifacts.k8s.io/main.tf
  infra/aws/terraform/test-artifacts.k8s.io/providers.tf
  infra/aws/terraform/test-artifacts.k8s.io/s3/bucket.tf
  infra/aws/terraform/test-artifacts.k8s.io/s3/data.tf
  infra/aws/terraform/test-artifacts.k8s.io/s3/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#4566 node-feature-discovery: promote v0.12.0 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4562 Update images for alpine 3.17 and golang 1.19.4
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4567 PD CSI release v1.8.1
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4568 update to latest nginx build
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4569 Revert "update to latest nginx build"
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4570 proper build of nginx base image golang 1.19.4/alpine 3.17.0
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4571 Promote kOps 1.26.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4572 Promote kOps 1.26.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4573 Promote kOps 1.27.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4574 Promote kOps 1.27.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.27.0-alpha.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4575 Sync kops OWNERS
  artifacts/manifests/k8s-staging-kops/OWNERS
  k8s.gcr.io/images/k8s-staging-kops/OWNERS
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4578 promote ingress-nginx to 1.5.2 and latest e2e runner
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4582 promote various sig storage sidecars to latest versions.
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4584 Promote node-driver-registrar and livenessprobe images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4585 Promote AWS CCM 1.24.4
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
