Repository kubernetes/k8s.io, pull requests merged in 2022-07, with the labels that each got.

#3927 Image promotion for cluster-api v1.1.5
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3919 Add registry.k8s.io AWS account structure docs
  registry.k8s.io/README.md
  registry.k8s.io/registry-k8s-io-account-structure.dot
  registry.k8s.io/registry-k8s-io-account-structure.svg
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/artifacts, sig/k8s-infra

#3921 kubernetes-csi: promote external-provisioner v3.2.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3923 add smbplugin, nfsplugin into the prod image list
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3933 Image promotion for artifact-promoter v3.4.4-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/artifacts, area/release-eng

#3936 Update list perms for buckets
  infra/aws/terraform/registry.k8s.io/providers.tf
  infra/aws/terraform/registry.k8s.io/s3/bucket.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#3937 Image promotion for cluster-api-do v1.1.2
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3939 Image promotion for cluster-api-gcp v1.1.1
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3942 Promote kOps 1.24.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3943 Promote kOps 1.24.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3944 Image promotion for bom v0.3.0
  k8s.gcr.io/images/k8s-staging-bom/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3941 Image promotion for cluster-api-azure v1.4.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3947 Image promotion for build-image v2.3.1-go1.19rc1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3945 added new base-nginx-image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3948 Update groups.yaml
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, area/access, area/groups, sig/k8s-infra

#3946 Image promotion for build-image v1.25.0-go1.19rc1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3950 Promote image to v1.3.0
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3951 Promote ip-masq-agent 2.7.1 images.
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3952 Spin down existing elekto in prep for upgrade.
  apps/elekto/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#3886 Add dgrisonnet to leads@kubernetes.io
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3954 Add self to ContribEx leads
  OWNERS_ALIASES
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3957 Promote CAPC v0.4.4 image
  k8s.gcr.io/images/k8s-staging-capi-cloudstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3958 releng: setup GCS bucket for system pacakges
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/bash, sig/k8s-infra

#3890 Create untrusted gcb project for presubmits
  infra/gcp/bash/ensure-staging-gcb-untrusted.sh
  infra/gcp/infra.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/bash, sig/k8s-infra

#3960 Upgrade Elekto to 0.6.0.
  apps/elekto/configmap.yaml
  apps/elekto/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#3962 Fix quoting in configmap.
  apps/elekto/configmap.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#3963 Promote EBS CSI driver v1.9.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3964 Fix bash env
  infra/gcp/bash/ensure-staging-gcb-untrusted.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3965 promote csi-secrets-store driver:v1.2.1
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3966 Add Noah, Josh as owners of LWKD list
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3971 releng: Image promotion for kubernetes v1.23.9
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3972 releng: Image promotion for kubernetes v1.23.10-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3970 releng: Add Joseph to groups for RMA access
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3974 releng: Image promotion for kubernetes v1.24.3 / v1.24.4-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3977 Promote agnhost image
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3967 Add csi-host-path-driver 1.9.0 image
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3982 Promote etcdadm v3.0.20220717 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3985 Image promotion for cluster-api v1.2.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3987 Temporary RM accesses for 1.25 alpha.3 cut
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3991 releng: Image promotion for kubernetes v1.25.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3983 promote distroless-iptables image
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3994 Promote cluster-api-ibmcloud-controller:v0.2.4
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3993 promote dns images 1.22.6
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3998 promoting pause image 3.8
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4000 promot distroless-iptables to v0.1.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4002 promote the right distroless-iptables image
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3996 update csantanapr email address
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4003 releng: Promote debian-base:bullseye-v1.4.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/release-eng

#4004 publish scheduler plugins v0.23.9
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3880 Move Sippy to OpenShift hosted cluster
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/dns

#4001 Update OWNERS file for k8s-staging-dns
  k8s.gcr.io/images/k8s-staging-dns/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4005 bump base image to alpine-v3.16.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4006 promote after bumping opentracing-cpp
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4008 Release kube-dns 1.22.7 images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4014 Promote EBS CSI driver v1.10.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4015 Create a new sig-scheduling-leads group
  groups/restrictions.yaml
  groups/sig-scheduling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/scheduling, area/access, area/groups, sig/k8s-infra

#4012 promote 1.3.0 filestorecsi image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4016 chore: promote ingress-nginx test-runner
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4019 Image promotion for build-image v1.23.0-go1.17.12-bullseye.0 / v1.24.0-go1.18.4-bullseye.0 / v1.25.0-go1.18.4-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4020 Image promotion for build-image v2.3.1-go1.17.12-bullseye.0 / v2.3.1-go1.18.4-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4022 Image promotion for releng 1.18.4-bullseye-0 / 1.17.12-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4017 promote 1.3.1 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4024 Promote etcdadm v3.0.20220727 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4025 Promote dns images 1.22.8 and 1.22.7 platform specific images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4029 Promote kOps 1.22.6 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4030 Promote kOps 1.22.6 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.6.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4032 Promote kOps 1.23.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4033 Promote kOps 1.23.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4009 kubernetes-public: add bucket k8s-cve-feed
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/serviceaccounts.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/versions.tf
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/kubernetes-public/k8s-cve-feed.tf
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, tide/merge-method-squash, area/infra, area/prow, area/terraform, sig/k8s-infra

#4028 use dedicated service account for image building.
  images/k8s-infra/cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#4035 Promote kOps 1.25.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.0-alpha.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4034 Promote kOps 1.25.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4037 Promote kOps 1.24.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4038 Promote kOps 1.24.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4010 Allow release managers to access to publishing-bot instance
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra
