Repository kubernetes/k8s.io, pull requests merged in 2022-08, with the labels that each got.

#4018 promote baseimage built by pr 8870
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3578 images: Bump dependencies for k8s-infra
  images/k8s-infra/Dockerfile
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#4039 infra/gcp: Enable API services
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/bash, sig/k8s-infra

#4040 promote newimages with alpine-v3.16.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4027 Promote ExternalDNS v0.12.2
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4041 Image promotion for build-image v1.23.0-go1.17.13-bullseye.0 / v1.24.0-go1.18.5-bullseye.0 / v1.25.0-go1.18.5-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4042 Image promotion for build-image v2.3.1-go1.17.13-bullseye.0 / v2.3.1-go1.18.5-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4043 Image promotion for releng 1.18.5-bullseye-0 / 1.17.13-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4045 infra/gcp: add a secret for AWS credentials
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4046 promote 1.3.2 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4047 Image promotion for build-image v1.25.0-go1.19-bullseye.0 / v2.3.1-go1.19-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, area/release-eng

#4048 promote releng-ci 1.19-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4023 Remove Taahir from the SRC associates
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#4050 Promote ip-masq-agent 2.8.0 images.
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4051 releng: Image promotion for kubernetes v1.25.0-beta.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4053 gcp-compute-persistent-disk-csi-driver v1.7.3
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4055 oci-proxy: disable CDN for the sandbox environment
  infra/gcp/terraform/k8s-infra-oci-proxy/network.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/provider.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#4044 images/k8s-infra: Add rclone
  images/k8s-infra/Dockerfile
  images/k8s-infra/cloudbuild.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#4057 oci-proxy: deploy to more GCP regions
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/variables.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#4062 Promote CAPA v1.5.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3968 Deploy Artifact Registry to Production Project
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
  infra/gcp/bash/lib_ar.sh
  infra/gcp/bash/lib_iam.sh
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/bash, sig/k8s-infra

#4054 Add SRC associates as members of private lists
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#4063 releng: Image promotion for kubernetes v1.25.0-rc.0 / v1.26.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4059 greenhouse: disable service
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-service.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4070 gcp/bash: fix various typos for ensure-prod-storage.sh
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib_ar.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/bash, sig/k8s-infra

#3956 Add new AR Registries to experimental project
  groups/sig-release/groups.yaml
  k8s.gcr.io/manifests/k8s-staging-experimental/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/access, area/artifacts, area/release-eng, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4074 Fix typo in manifests
  k8s.gcr.io/manifests/k8s-staging-experimental/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4072 promote csi-secrets-store driver:v1.2.3
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4075 Image promotion for cluster-api-azure v1.4.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4077 Promote prometheus-adapter v0.10.0
  k8s.gcr.io/images/k8s-staging-prometheus-adapter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4026 Promote cluster-proportional-autoscaler 1.8.6 images
  k8s.gcr.io/images/k8s-staging-cpa/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4076 Image promotion for cluster-api v1.2.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4080 Update community@ Mailing List with KCS NA Reg Team members
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#4081 Fixing linters issues
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-capi-cloudstack/images.yaml
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-reg-host-authority.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/envoy.yaml
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/nginx.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, sig/release, approved, area/artifacts, area/release-eng, area/k8s.gcr.io, sig/k8s-infra

#4083 Add maciejwyrzuc to sig scalability oncalls
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, needs-ok-to-test, approved, area/access, area/groups, sig/k8s-infra

#4065 Promote 1.25-rc.0 images to experimental for testing Artifact Registry
  k8s.gcr.io/images/k8s-staging-experimental/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4085 bump slack welcomer to latest
  apps/slack-infra/resources/slack-welcomer/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, area/apps/slack-infra, sig/k8s-infra

#4088 Promote EBS CSI driver v1.11.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4089 releng: Image promotion for kubernetes v1.25.0-rc.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4090 k8s.gcr.io: Remove Artifact registry repositories
  k8s.gcr.io/images/k8s-staging-experimental/images.yaml
  k8s.gcr.io/manifests/k8s-staging-experimental/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/artifacts, area/release-eng, area/k8s.gcr.io, sig/k8s-infra

#3258 apps: Upgrade redirect to the latest stable version
  apps/k8s-io/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#4091 Add newly elected CoCC members
  groups/committee-code-of-conduct/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/code-of-conduct, area/access, area/groups, sig/k8s-infra

#4095 releng: Image promotion for kubernetes v1.22.13 / v1.22.14-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4096 releng: Image promotion for kubernetes v1.23.10 / v1.22.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4098 releng: Image promotion for kubernetes v1.23.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4097 releng: Image promotion for kubernetes v1.24.4 / v1.24.5-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4102 Promote EBS CSI driver v1.11.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4103 promoting baseimage with alpine-v3.16.2
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, area/k8s.gcr.io, sig/k8s-infra

#4106 publish scheduler plugins v0.23.10
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3668 Update infra/aws organization structure
  infra/aws/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#3988 Add registry-k8s-io sync scripts
  registry.k8s.io/hack/initial-copy-between-s3.sh
  registry.k8s.io/hack/initial-copy-to-s3.sh
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/artifacts, sig/k8s-infra

#4105 Switch slack.k8s.io to the community inviter link
  apps/k8s-io/certificate-canary.yaml
  apps/k8s-io/certificate-prod.yaml
  apps/k8s-io/configmap-nginx.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/dns, area/apps, sig/k8s-infra

#4079 Adding Windows Operational Readiness container registry
  groups/restrictions.yaml
  groups/sig-windows/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-win-op-rdnss/OWNERS
  k8s.gcr.io/images/k8s-staging-win-op-rdnss/images.yaml
  k8s.gcr.io/manifests/k8s-staging-win-op-rdnss/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, sig/windows, sig/release, approved, area/access, area/artifacts, area/infra, area/release-eng, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4107 Add test case for slack
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#4108 promote e2e-test-runner & e2e-test-echo images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, area/k8s.gcr.io, sig/k8s-infra

#4086 Grant myself read access to k8s GCP infra
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4112 Remove Slackin, as it is being bypassed
  apps/slack-infra/resources/slackin/bad-domains-configmap.yaml
  apps/slack-infra/resources/slackin/deployment.yaml
  apps/slack-infra/resources/slackin/externalsecrets.yaml
  apps/slack-infra/resources/slackin/service.yaml
Labels: cncf-cla: yes, lgtm, sig/contributor-experience, size/XXL, approved, area/apps, area/apps/slack-infra, sig/k8s-infra

#4114 groups: stop flapping
  groups/sig-network/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/access, area/groups, sig/k8s-infra

#4116 add smbplugin into the prod image list
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4117 Image promotion for infra-tools v20220816-v0.0.1-120-g8293873
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4115 groups: parallelize reconciler
  groups/fake/fake_client.go
  groups/reconcile.go
  groups/reconcile_test.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/access, area/groups, sig/k8s-infra

#4122 promote 1.3.3 to k8s prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4124 releng: Promote debian-base:bullseye-v1.4.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4092 Emeritus outgoing CoCC members
  groups/committee-code-of-conduct/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/code-of-conduct, area/access, area/groups, sig/k8s-infra

#4128 releng: Image promotion for kubernetes v1.25.0 / v1.25.1-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4131 promote: debian-iptable bullseye-v1.5.1 and setcap bullseye-v1.4.1
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4130 node-feature-discovery: promote v0.11.2 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4133 registry.k8s.io: Add a BigQuery DataSet for logs
  infra/gcp/terraform/k8s-infra-public-pii/main.tf
  infra/gcp/terraform/k8s-infra-public-pii/provider.tf
  infra/gcp/terraform/k8s-infra-public-pii/versions.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, area/infra, area/terraform, sig/k8s-infra

#4135 Put current EOs on elections@ alias.
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#4129 Support release images for Kwok
  groups/restrictions.yaml
  groups/sig-scheduling/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-kwok/OWNERS
  k8s.gcr.io/images/k8s-staging-kwok/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kwok/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/scheduling, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4137 Promote git-sync v3.6.1
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4139 Add leiyiz@ as approver/reviewer for image push
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4142 Promote kueue v0.2.0 image
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4143 registry.k8s.io: Add a Logs router sink
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/logs.tf
  infra/gcp/terraform/k8s-infra-public-pii/main.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#4144 Fix kueue 0.2.0 image
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4146 Revert "Fix kueue 0.2.0 image"
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4147 Promote kueue v0.2.1
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4134 Image promotion for kube-state-metrics v2.6.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4150 promote 1.3.4 to k8s prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4152 Drop jeremy from k8s-infra-release-editors
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4153 Image promotion for cluster-api-azure v1.4.2
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4154 Update archeio to v20220816-v0.0.1-120-g8293873
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy-prod.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/prod.auto.tfvars
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#4157 oci-proxy: extend to more GCP regions
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy-prod.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/variables.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#4156 move slack tools to their own subdomain so they don't conflict with the inviter redirect
  apps/slack-infra/resources/certificate.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/dns, area/apps, area/apps/slack-infra, sig/k8s-infra

#4159 drop some lingering slackin references
  apps/slack-infra/README.md
  apps/slack-infra/resources/ingress.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, area/apps/slack-infra, sig/k8s-infra

#4161 Promote etcdadm v3.0.20220831 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4162 Promote AWS CCM v1.25.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4164 Promote kOps 1.25.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4165 Promote kOps 1.25.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts
