Repository kubernetes/k8s.io, pull requests merged in 2022-05, with the labels that each got.

#3689 add smbplugin into the prod image list
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3695 Promote etcdadm v3.0.20220503 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3691 push 1.2.0 filestore image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3696 releng: Image promotion for kubernetes v1.24.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3693 Use prod buckets
  infra/aws/terraform/README.md
  infra/aws/terraform/registry.k8s.io/README.md
  infra/aws/terraform/registry.k8s.io/main.tf
  infra/aws/terraform/registry.k8s.io/providers.tf
  infra/aws/terraform/registry.k8s.io/s3/bucket.tf
  infra/aws/terraform/registry.k8s.io/s3/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#3697 releng: Image promotion for kubernetes v1.24.1-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3698 Adding sig-windows-leads@kuernetes.io group
  groups/sig-windows/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/windows, approved, area/access, area/groups, sig/k8s-infra

#3700 Add Rita and PJ as associate SRC members
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#3699 add in eu-west-1 AWS region
  infra/aws/terraform/registry.k8s.io/main.tf
  infra/aws/terraform/registry.k8s.io/providers.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#3705 Image promotion for cluster-api-azure v1.3.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3706 Promote cluster-api-ibmcloud-controller:v0.2.1 image
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3638 Add cloud provider openstack infra
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-cloud-provider-openstack/OWNERS
  k8s.gcr.io/images/k8s-staging-cloud-provider-openstack/images.yaml
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-openstack/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/infra, area/k8s.gcr.io, sig/k8s-infra

#3707 CAPO release v0.6.2
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3710 add nfsplugin image into the prod image list
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3714 node-perf/tf-wide-deep: add version 1.2
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3713 Add gjtempleton to SIG Autoscaling Release Groups
  groups/sig-autoscaling/groups.yaml
  k8s.gcr.io/images/k8s-staging-autoscaling/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/autoscaling, approved, area/access, area/artifacts, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3717 Promote ip-masq-agent 2.7.0 images.
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3718 Bump network proxy to v0.0.31
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3702 Add CAPI operator alert group
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#3719 Promote kOps 1.23.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3720 Promote kOps 1.23.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3701 remove chrischdi from CAPO and add to CAPI alerts
  groups/sig-architecture/groups.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  k8s.gcr.io/images/k8s-staging-capi-openstack/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/architecture, sig/cluster-lifecycle, approved, area/access, area/artifacts, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3721 CAPO release v0.6.3
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3723 Promote kOps 1.24.0-alpha.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-alpha.4.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3722 Promote kOps 1.24.0-alpha.4 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3727 promoting new webhook-certgen & ngnx-errors images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3671 oci-proxy: Add AWS S3 bucket for registry-sandbox.k8s.io
  infra/aws/terraform/registry-sandbox-k8s-io-image-layers/provider.tf
  infra/aws/terraform/registry-sandbox-k8s-io-image-layers/s3-origin-access-logs.tf
  infra/aws/terraform/registry-sandbox-k8s-io-image-layers/s3-origin.tf
  infra/aws/terraform/registry-sandbox-k8s-io-image-layers/terraform.tf
  infra/aws/terraform/registry-sandbox-k8s-io-image-layers/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#3728 Cluster Autoscaler 1.24.0 release
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3731 Image promotion for build-image v1.24.0-go1.17.10-bullseye.0 / v1.23.0-go1.17.10-bullseye.0 / v1.24.0-go1.18.2-bullseye.0 / v1.25.0-go1.18.2-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#3732 Image promotion for build-image v2.3.1-go1.17.10-bullseye.0 / v2.3.1-go1.18.2-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#3733 Image promotion for releng 1.18.2-bullseye-0 / 1.17.10-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3734 Promote cloud-provider-aws v1.22.1 v1.23.1 v1.24.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3729 Promote NFD-O v0.4.3
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3737 csi: promote various sidecars to its latest versions
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3741 Sync CAPZ owners with Azure provider project
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3742 prow: Bump GCP provider for the build clusters
  infra/gcp/terraform/k8s-infra-prow-build-trusted/00-provider.tf
  infra/gcp/terraform/modules/gke-cluster/versions.tf
  infra/gcp/terraform/modules/gke-nodepool/versions.tf
  infra/gcp/terraform/modules/gke-project/versions.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#3744 k8s-staging-descheduler: update OWNERS
  k8s.gcr.io/images/k8s-staging-descheduler/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3745 Image promotion for cluster-api-azure v1.3.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3747 releng: Promote debian-base:bullseye-v1.3.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3748 Promote kOps 1.24.0-alpha.5 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3749 Promote kOps 1.24.0-alpha.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-alpha.5.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3751 Push v0.1.1 image for ibm-powervs-block-csi-driver
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3730 Promote VPA 0.11.0 images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3739 Promote descheduler images to v0.24.0
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3753 Add Jintao to Ingress owners
  k8s.gcr.io/images/k8s-staging-ingress-nginx/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3746 promoting newly built opentelemetry image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3754 promote external-snapshot image to latest version v6.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3759 test images: promote agnhost 2.38
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3763 Promote v0.1.12 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3765 promote 1.2.1 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3761 releng: Image promotion for kubernetes v1.21.13 / v1.21.14-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, area/release-eng

#3767 promoting base-image with LD_LIBRARY_PATH for opentelemetry
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3769 Promote cloud-provider-aws: v1.22.2, v1.21.1, v1.20.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3770 test images: promote agnhost 2.39
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3768 releng: Image promotion for kubernetes v1.22.10 / v1.22.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3750 Add olemarkus as approver
  k8s.gcr.io/images/k8s-staging-provider-aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3774 releng: Image promotion for kubernetes v1.23.7
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3775 releng: Image promotion for kubernetes v1.23.8-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3771 Update mdame email in sig-scheduling-descheduler group
  groups/sig-scheduling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/access, area/groups, sig/k8s-infra

#3773 promote 1.2.2 image for filestorecsi to prod registry
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3776 releng: Image promotion for kubernetes v1.24.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3780 releng: Image promotion for kubernetes v1.24.2-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, area/release-eng

#3779 Update snapshot images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3781 Promote ExternalDNS v0.12.0
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3785 Promote v1.2.1 image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, tide/merge-method-squash, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3789 Remove `lauri.d.apple@gmail.com` from SIG Release groups
  groups/groups.yaml
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3787 Push new images form ibm-vpc-block-csi-driver
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3786 Update release-team-shadows in sig-release group for 1.25 Release Team
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3791 Promote aws-ebs-csi-driver: v1.5.3, v1.6.0, v1.6.1, v1.6.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3784 add smbplugin into the prod image list
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
