Repository kubernetes/k8s.io, pull requests merged in 2022-04, with the labels that each got.

#3581 Add `-bundle` and `-catalog` images to Security Profiles Operator
  k8s.gcr.io/manifests/k8s-staging-sp-operator/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3579 Promoting e2e-runner, e2e-echo & opentelemetry img
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3585 Promote v0.51.0 image of controller
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3587 Image promotion for bom v0.3.0-rc1
  k8s.gcr.io/images/k8s-staging-bom/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3586 releng: Promote debian-base:bullseye-v1.2.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, ok-to-test, area/release-eng

#3592 Promote CAPA v1.4.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3594 Add Google group for Cloudflare account
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#3580 infra/gcp: Deploy archio v20220331-v0.0.1-4-gc3b27f3
  infra/gcp/terraform/k8s-infra-oci-proxy/sandbox.auto.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#3597 Promote debian-iptables:bullseye-v1.3.0 and setcap:bullseye-v1.2.0 base images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, ok-to-test, area/release-eng

#3599 Adds Puja for handling KCSEU22 messages
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3601 releng: Promote kpromo v3.4.0-1 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/artifacts, area/release-eng

#3602 Cloudflare: Add DNS entry for domain verification
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3543 Update public-log-asn-matcher (2022-03-22)
  images/public-log-asn-matcher/README.md
  images/public-log-asn-matcher/app/add_c_ip_int_to_usage_all.sql
  images/public-log-asn-matcher/app/join_all_the_things.sql
  images/public-log-asn-matcher/pg-init.d/lib-02-migrate-schemas.sql
  images/public-log-asn-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh
  images/public-log-asn-matcher/pg-init.d/lib-05-load-asn-data.sql
  images/public-log-asn-matcher/pg-init.d/lib-11-load-single-ip-int.sql
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#3604 groups/*_test.go: use %v instead of %w
  groups/reconcile_test.go
  groups/service_test.go
Labels: cncf-cla: yes, lgtm, size/S, approved, kind/cleanup, area/access, area/groups, sig/k8s-infra

#3607 Add DNS entry for Cloudflare page rule
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3605 Add Terraform for registry-k8s-io s3 buckets
  infra/aws/terraform/registry.k8s.io/accounts.tf
  infra/aws/terraform/registry.k8s.io/main.tf
  infra/aws/terraform/registry.k8s.io/providers.tf
  infra/aws/terraform/registry.k8s.io/s3/bucket.tf
  infra/aws/terraform/registry.k8s.io/s3/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#3611 releng: Promote kpromo v3.4.1-1 images
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#3612 Promote kueue v0.1.0 image
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3613 Add ingress nginx v1.2.0-beta.0 to promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3617 Image promotion for build-image v2.3.1-go1.17.9-bullseye.0 / v2.3.1-go1.18.1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#3618 Image promotion for releng 1.18.1-bullseye-0 / 1.17.9-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3619 Promote v1.22.0 and v1.23.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3621 etcd: Promote 3.5.3-0 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/api-machinery, sig/release, kind/feature, approved, area/release-eng

#3626 releng: Image promotion for kubernetes v1.21.12 / v1.21.13-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, area/release-eng

#3631 promote dns images 1.22.2
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3632 Promote CAPA v1.4.1 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3634 promote nginx nginx-errors opentelemetry images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3636 Promote ingress nginx v1.2.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, tide/merge-method-squash, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3603 groups/sig-cluster-lifecycle: add group for sig-cl leads
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#3637 Promote etcdadm v3.0.20220417 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3643 Add TLS requirement for registry.k8s.io buckets
  infra/aws/terraform/registry.k8s.io/s3/bucket.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#3640 Tidy up aws costexplorer export readme
  infra/aws/aws-costexplorer-export/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#3639 Add registry.k8s.io explorations
  registry.k8s.io/explorations/2021-10-implementations/README.org
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/README.org
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/README.org
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-reg-host-authority.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/Dockerfile
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/README.org
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/envoy-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/envoy.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/go.mod
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/go.sum
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/main.go
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/README.org
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/http.js
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/nginx.conf
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/nginx.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, area/artifacts, sig/k8s-infra

#3642 Add production serving regions for registry.k8s.io
  infra/aws/terraform/registry.k8s.io/main.tf
  infra/aws/terraform/registry.k8s.io/providers.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#3646 releng: Image promotion for kubernetes v1.24.0-rc.0 / v1.25.0-alpha.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3648 remove IAM user/access key from Terraform
  infra/aws/terraform/registry.k8s.io/accounts.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#3641 Add infra/aws documentation
  infra/aws/README.md
  infra/aws/terraform/README.md
  infra/aws/terraform/registry.k8s.io/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#3651 Promote kOps 1.22.5 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3652 Promote kOps 1.22.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.5.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3654 Promote kOps 1.23.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3653 Promote kOps 1.23.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3649 releng: Image promotion for kubernetes v1.22.9
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3659 Update github@ list
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3657 releng: Image promotion for kubernetes v1.23.6
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3658 releng: Image promotion for kubernetes v1.23.7-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3660 promote v1.2.0 controller & controller-chroot img
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3663 oci-proxy: allow gcb-builder to deploy service
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#3664 Publish volume-data-source-validator v1.0.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3644 groups/src: Add Cisco to distributors list
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#3673 promote 1.1.4 filestorecsi image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3676 releng: Image promotion for kubernetes v1.24.0-rc.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, priority/critical-urgent, sig/release, approved, area/release-eng

#3677 Promote NFD-O v0.4.2
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3680 Promote addon resizer 1.8.15
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3682 Add 0.6.0 tag for CAPO
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3685 Add 0.6.1 tag for CAPO
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3687 Cluster API: reorder image tags lexicographically
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
