Repository kubernetes/k8s.io, pull requests merged in 2022-06, with the labels that each got.

#3790 Release etcd 3.5.4-0 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, ok-to-test, area/release-eng

#3795 Fix CAA records for anything that uses docs wildcard
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3798 Image promotion for kube-state-metrics v2.5.0
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3799 Image promotion for cluster-api v1.1.4
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3800 Promote kOps 1.24.0-beta.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3801 Promote kOps 1.24.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3808 Add ritazh to leads mailing list
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3809 promote 1.2.3 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3805 1.25 release team onboard and 1.24 release team offboard
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3806 Promote NFD-O v0.5.0
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3803 Image promotion for build-image v2.3.1-go1.17.11-bullseye.0 / v2.3.1-go1.18.3-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#3812 promote debian-iptables bullseye-v1.4.0 and setcap bullseye-v1.3.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3797 dns: add cluster-api-cloudstack netlify record
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/dns

#3814 node-feature-discovery: promote v0.11.1 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3815 promote filestore 1.2.4 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3788 Add kustomize v4.5.5
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3819 Promote 1.7.1 from k8s-staging to k8s-prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3820 promote attacher, volume populator sidecars to the latest release
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3823 Add apelisse to leads@kubernetes.io
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3824 promote volume-data-source-validator sidecar image
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3826 promote 1.2.5 filestore csi image to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3827 Promote kOps 1.24.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3828 Promote kOps 1.24.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-beta.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3829 Promote AWS CCM v1.22.3, v1.20.2, and v1.21.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3830 Promote kueue v0.1.1 image
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3834 Revert tag move of kueue v0.1
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3833 correcting email address for lfx mentee access to k8s-infra-sandbox-capg
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/access, area/groups, sig/k8s-infra

#3816 Add jackfrancis and remove shysank as CAPZ maintainers
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3841 releng: temporary release manager access for ameukam
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3842 Image promotion for artifact-promoter v3.4.3-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#3846 releng: Image promotion for kubernetes v1.21.14
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3848 releng: Image promotion for kubernetes v1.21.15-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3851 releng: Image promotion for kubernetes v1.24.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3852 releng: Image promotion for kubernetes v1.24.3-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3818 Add eddiezane to k8s infra on call
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#3849 oci-proxy: HCL code for production infrastructure
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/cloud-armor.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/main.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/network.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy-prod.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/prod.auto.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/infra, area/terraform, sig/k8s-infra

#3860 releng: Image promotion for kubernetes v1.23.9-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, area/release-eng

#3863 releng: Image promotion for kubernetes v1.22.11
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3865 releng: Image promotion for kubernetes v1.23.8
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3853 promote external provisioner and resizer to latest releases
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3869 promote dns images 1.22.3 1.22.4 1.22.5
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3870 promote pd csi driver 1.7.2 driver to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3871 Promote etcdadm v3.0.20220617 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3873 releng: revoke ameukam access
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3874 Image promotion for cluster-api v1.2.0-beta.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3877 Image promotion for cluster-api-gcp v1.1.0
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3878 Promote aws-ebs-csi-driver v1.7.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3884 Promote cloud-provider-aws v1.20.3 v1.21.3 v1.22.4 v1.23.2 v1.24.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3883 Bump network proxy to 0.0.32
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3891 Promote cluster-api-ibmcloud-controller:v0.2.2
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3892 Image promotion for build-image v1.25.0-go1.19beta1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3893 Image promotion for build-image v2.3.1-go1.19beta1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3896 promoting nginx-baseimage
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3889 DNS REQUEST: cloud-provider-azure.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3897 Add volume health monitor controller image 0.6.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3898 new e2e-test-runner image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3899 Promote kOps 1.24.0-beta.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3901 Promote kOps 1.24.0-beta.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-beta.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3902 Image promotion for cluster-api v1.2.0-beta.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3905 releng: temporary release manager access for jeremyrickard to cut alpha2
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3908 Promote EBS CSI driver v1.8.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3912 releng: Image promotion for kubernetes v1.25.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3913 releng: revoke jeremyrickard access
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3914 Bump cluster-api-ibmcloud-controller:v0.2.3 image
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3885 Add hakman as approver for cloud-provider-aws
  k8s.gcr.io/images/k8s-staging-provider-aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3887 add verify-gcp-projects-id.sh hack script
  hack/verify-gcp-projects-id.sh
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/bash, sig/k8s-infra

#3915 Promote kOps 1.25.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3792 Adding staging repo for k8s-staging-cluster-api-cloudstack
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-capi-cloudstack/OWNERS
  k8s.gcr.io/images/k8s-staging-capi-cloudstack/images.yaml
  k8s.gcr.io/manifests/k8s-staging-capi-cloudstack/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, ok-to-test, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3920 releng: Promote debian-base:bullseye-v1.4.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng
