Repository kubernetes/k8s.io, pull requests merged in 2022-10, with the labels that each got.

#4262 Add self to k8s.gcr.io/k8s-staging-provider-aws/aws-ebs-csi-driver OWNERS
  k8s.gcr.io/images/k8s-staging-provider-aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4291 Add Artifact Registry to Image Manifests - Part One
  k8s.gcr.io/manifests/k8s-staging-coredns/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-dns/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-etcd/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-etcdadm/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kubeadm/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kubernetes/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4296 greenhouse: remove GKE nodepool
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build/external-ips.tf
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/k8s-infra-prow-build/versions.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4274 registry.k8s.io: adjust concurrency and scaling settings
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#4300 steering: Onboard/Offboard members after 2023 elections
  OWNERS_ALIASES
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#4298 Fix typo in `etcdadm` promoter manifests
  k8s.gcr.io/manifests/k8s-staging-etcdadm/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4292 Add Artifact Registry to Image Manifests - Part Two
  k8s.gcr.io/manifests/k8s-staging-addon-manager/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-apisnoop/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-artifact-promoter/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-autoscaling/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-bom/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-boskos/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-build-image/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-capi-cloudstack/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-capi-docker/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-capi-ibmcloud/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-capi-openstack/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-capi-vsphere/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4309 Promote v0.1.13 image
  k8s.gcr.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4301 promote dns image 1.22.12
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4297 Add Artifact Registry to Image Manifests - Part Three
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-gcp/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-ibm/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cloud-provider-os/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-addons/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-aws/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-azure/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-do/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-gcp/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-kubeadm/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api-nested/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cluster-api/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4285 Update comms shadow email; Release Team 1.26
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4312 Image promotion for build-image v1.24.0-go1.18.7-bullseye.0 / v1.25.0-go1.19.2-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4299 Add Artifact Registry to Image Manifests - Part Four
  k8s.gcr.io/manifests/k8s-staging-cpa/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-cri-tools/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-csi-secrets-store/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-descheduler/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-e2e-test-images/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-examples/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-external-dns/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-gateway-api/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-git-sync/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-gmsa-webhook/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-infra-tools/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4305 Add Artifact Registry to Image Manifests - Part Five
  k8s.gcr.io/manifests/k8s-staging-ingress-controller-conformance/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-ingress-nginx/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-k8s-gsm-tools/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kas-network-proxy/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kind/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kmm/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kops/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-krm-functions/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kube-state-metrics/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kubetest2/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4306 Add Artifact Registry to Image Manifests - Part Six
  k8s.gcr.io/manifests/k8s-staging-kueue/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kustomize/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-kwok/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-metrics-server/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-multitenancy/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-networking/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-nfd/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-npd/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-perf-tests/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-prometheus-adapter/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4313 Image promotion for build-image v2.3.1-go1.19.2-bullseye.0 / v2.3.1-go1.18.7-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4307 Add Artifact Registry to Image Manifests - Part Seven
  k8s.gcr.io/manifests/k8s-staging-provider-aws/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-provider-azure/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-publishing-bot/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-releng/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-scheduler-plugins/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-scl-image-builder/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-sig-auth/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-sig-docs/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4311 promote dns image 1.22.13
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4279 update contribex leads alias
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#4314 Image promotion for releng 1.18.7-bullseye-0 / 1.19.2-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4308 Add Artifact Registry to Image Manifests - Part Eight
  k8s.gcr.io/manifests/README.md
  k8s.gcr.io/manifests/k8s-staging-sig-storage/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-slack-infra/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-sp-operator/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-storage-migrator/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-test-infra/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-tg-exporter/promoter-manifest.yaml
  k8s.gcr.io/manifests/k8s-staging-win-op-rdnss/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4323 dns: remove Cloudflare references
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4325 Image promotion for cluster-api v1.2.3
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4326 cleanup community@kubernetes.io mailing list
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#4320 Image promotion for archeio v20221005-v0.0.2-28-g52c8633
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4330 OWNERS_ALIASES: update sig-testing-leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#4244 releng: temporary release manager access for cici37
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, sig/testing, approved, area/access, area/artifacts, area/infra, area/audit, area/release-eng, area/prow, area/terraform, area/groups, area/k8s.gcr.io, area/apps/prow, area/apps, sig/k8s-infra

#4328 Image promotion for cluster-api-azure v1.4.4
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4329 Image promotion for cluster-api-azure v1.5.2
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4332 push 1.3.5 to prod registry
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4331 groups: update sig-testing chairs
  OWNERS_ALIASES
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#4335 releng: Image promotion for kubernetes v1.26.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4338 update registry.k8s.io to current information
  registry.k8s.io/HTTP_STRESS_TESTING.md
  registry.k8s.io/MANUALLY_SYNCING_BUCKETS.md
  registry.k8s.io/README.md
  registry.k8s.io/explorations/2021-10-implementations/README.org
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/README.org
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/artifactserver/artifactserver.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/README.org
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy-reg-host-authority.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-lua-go/envoy.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/Dockerfile
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/README.org
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/envoy-config.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/envoy.yaml
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/go.mod
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/go.sum
  registry.k8s.io/explorations/2021-10-implementations/envoy-wasm/main.go
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/README.org
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/http.js
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/nginx.conf
  registry.k8s.io/explorations/2021-10-implementations/nginx-njs/nginx.yaml
  registry.k8s.io/infra/meta/asns/alibabagroup.yaml
  registry.k8s.io/infra/meta/asns/amazon.yaml
  registry.k8s.io/infra/meta/asns/baidu.yaml
  registry.k8s.io/infra/meta/asns/digitalocean.yaml
  registry.k8s.io/infra/meta/asns/equinixmetal.yaml
  registry.k8s.io/infra/meta/asns/google.yaml
  registry.k8s.io/infra/meta/asns/huawei.yaml
  registry.k8s.io/infra/meta/asns/microsoft.yaml
  registry.k8s.io/infra/meta/asns/tencentcloud.yaml
  registry.k8s.io/stress-test-example.png
Labels: cncf-cla: yes, lgtm, size/XXL, sig/release, approved, area/artifacts, sig/k8s-infra

#4339 explain the relationship between k8s.gcr.io folder and registry.k8s.io
  k8s.gcr.io/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4343 releng: Image promotion for kubernetes v1.24.7
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4344 releng: Image promotion for kubernetes v1.24.8-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4337 switch registry.k8s.io to serve from regional AR instances
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#4345 releng: Image promotion for kubernetes v1.23.13
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4347 Promote EBS CSI Driver 1.11.5/1.12.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4349 registry.k8s.io: rollout archeio v20221005-v0.0.2-28-g52c8633
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#4346 releng: Image promotion for kubernetes v1.23.14-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4350 add myself to k8s-infra-staging-cloud-provider-gcp group
  groups/sig-cloud-provider/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, area/access, area/groups, sig/k8s-infra

#4352 registry.k8s.io: remove asia-southeast1
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#4355 Bump ibm-powervs-block-csi-driver to v0.2.0
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4356 update runner to golang 1.19.2
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4357 Update OWNER_ALIASES and add Jason to Code of Conduct Group
  OWNERS_ALIASES
  groups/committee-code-of-conduct/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, committee/code-of-conduct, area/access, area/groups, sig/k8s-infra

#4358 promote archeio v0.0.4
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4361 registry.k8s.io: bump archeio to v0.0.4
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#4363 Promote AWS CCM v1.25.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4364 Image promotion for cluster-api v1.2.4
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4362 registry.k8s.io: change variable name
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/variables.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#4365 Image promotion for cluster-api-azure v1.5.3
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4366 Fix typo in Azure Cluster API Repository
  k8s.gcr.io/manifests/k8s-staging-cluster-api-azure/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4368 add a regression test for image manifests
  hack/verify-manifests.sh
  k8s.gcr.io/manifests/go.mod
  k8s.gcr.io/manifests/go.sum
  k8s.gcr.io/manifests/manifest_test.go
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/artifacts, area/bash, area/k8s.gcr.io, sig/k8s-infra

#4370 Promote kOps 1.24.4 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4371 Promote kOps 1.24.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.4.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4372 Promote kOps 1.25.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4373 Promote kOps 1.25.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4377 Add myself to k8s-infra-gcp-auditors
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/access, area/groups, sig/k8s-infra

#4380 Image promotion for artifact-promoter v3.4.6-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#4378 Promote kwok v0.0.1
  k8s.gcr.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4381 fine-tune registry.k8s.io
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#4383 ExternalDNS: promote v0.13.1
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4387 add bentheelder to gcp-auditors
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4386 Image promotion for bom v0.4.0
  k8s.gcr.io/images/k8s-staging-bom/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4382 Add mailing list for CEL related discussions
  groups/restrictions.yaml
  groups/sig-api-machinery/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/api-machinery, approved, area/access, area/groups, sig/k8s-infra

#4294 gcp-compute-persistent-disk-csi-driver v1.8.0
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4389 Allow steering to billing report
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#4391 test images: promote tf-wide-deep 1.3
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, sig/testing, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4395 update csi sidecars to latest
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4397 Image promotion for artifact-promoter v3.4.7-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/artifacts, area/release-eng
