Repository kubernetes/k8s.io, pull requests merged in 2022-01, with the labels that each got.

#3226 Promote kOps 1.24.0-alpha.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3227 Promote kOps 1.24.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-alpha.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3228 Update README.md
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, sig/k8s-infra

#3230 Paginate the ListMembers call
  groups/client.go
  groups/fake/fake_client.go
  groups/reconcile.go
  groups/reconcile_test.go
  groups/service.go
  groups/service_test.go
Labels: cncf-cla: yes, lgtm, size/M, approved, area/access, area/groups, sig/k8s-infra

#3161 Adds k8s-infra-staging-gmsa-webhook@kubernetes.io group
  groups/restrictions.yaml
  groups/sig-windows/OWNERS
  groups/sig-windows/groups.yaml
  infra/gcp/bash/namespaces/namespace-user-role.yml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-gmsa-webhook/OWNERS
  k8s.gcr.io/images/k8s-staging-gmsa-webhook/images.yaml
  k8s.gcr.io/manifests/k8s-staging-gmsa-webhook/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/windows, approved, ok-to-test, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, area/apps, sig/k8s-infra

#3235 groups/steering: Add Stephen's work email to Steering lists
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#3236 test images: promote echoserver 2.5
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3238 Promote kOps 1.22.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3237 Promote kOps 1.22.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3240 Add snapshot validation webhook v5.0.0 image
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3243 Promote new ingress nginx runner image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, tide/merge-method-squash, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3244 Promote v1.1.1 ingress nginx controller image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3241 Onboard 1.24 Release Team and offboard 1.23 Release Team
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3247 1.24 Release Team Corrections
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3245 add dummy A record for an invalid registry
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3248 node-feature-discovery: promote v0.10.0 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3252 groups/sig-release: Update Mickey Boxell's email address
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3253 Fix OWNERS file in infra-tools and test-infra
  k8s.gcr.io/images/k8s-staging-infra-tools/OWNERS
  k8s.gcr.io/images/k8s-staging-test-infra/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3242 Retain in public-log-asn-matcher/generate-buckets.sh
  images/public-log-asn-matcher/buckets.txt
  images/public-log-asn-matcher/generate-buckets.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#3254 Promote external-provisioner image v3.1.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3256 promote csi-secrets-store driver:v1.0.1
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/generate.sh
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3221 Add boskos pool for k8s-infra-e2e-scale-5k-project
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-janitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-reaper-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-resources-configmap.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#3266 Add cocc to leads list
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3268 releng: promote kube-cross/go-runner/releng-ci Go1.17.6 and 1.16.13 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, kind/feature, approved, area/dependency, area/release-eng

#3270 Add snapshot images v5.0.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3267 Promote DNS 1.21.4 images.
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3273 Promoting CAPI v1.1.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3274 releng: Temporary Release Manager access for Jim Angel
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/critical-urgent, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3276 releng: Image promotion for kubernetes v1.20.15
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3277 releng: Image promotion for kubernetes v1.21.9
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3278 releng: Image promotion for kubernetes v1.22.6
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3279 releng: Image promotion for kubernetes v1.23.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3280 releng: Image promotion for kubernetes v1.23.3-rc.0 / v1.22.7-rc.0 / v1.21.10-rc.0 / v1.20.16-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/release-eng

#3281 audit: Add Benjamin Coles as GCP auditor
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3283 Promote Metrics Server v0.6.0 image
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3285 iscsiplugin: promote csi iscsi driver plugin image from staging
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3275 releng: Drop temporary Release Manager access for Jim Angel
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/critical-urgent, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3287 Promote v1.22.0-alpha.1 and v1.23.0-alpha.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3290 Update OWNERS
  k8s.gcr.io/images/k8s-staging-nfd/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3288 add juanfescobar build admins, drop amwat@google.com
  OWNERS_ALIASES
  groups/sig-k8s-infra/groups.yaml
  groups/sig-release/groups.yaml
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, sig/testing, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3293 node-feature-discovery: promote v0.10.1 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3295 promote csi-resizer 1.4.0 release image to prod
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3300 Promote git-sync v3.4.0
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3301 groups: Add Google group for AWS account
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#3304 releng: temp RM access for Jim Angel
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/critical-urgent, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3306 releng: Image promotion for kubernetes v1.23.3 / v1.23.4-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3302 Promote Vertical Pod Autoscaler 0.10.0
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3308 Add dgrisonnet to sig-instrumentation leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, sig/instrumentation, approved, kind/cleanup, sig/k8s-infra

#3310 cluster-api-v1.1.0-rc.0-image-promotion
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3313 add myself to k8s-infra-staging-infra-tools
  groups/sig-k8s-infra/groups.yaml
  k8s.gcr.io/images/k8s-staging-infra-tools/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/artifacts, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3314 Change email
  groups/committee-code-of-conduct/groups.yaml
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/code-of-conduct, area/access, area/groups, sig/k8s-infra

#3318 Bootstrap GCP sandbox infrastructure for archeio
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/bash/ensure-main-project.sh
  infra/gcp/terraform/k8s-infra-oci-proxy/README.md
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/provider.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/variables.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/dns, area/terraform, area/bash, sig/k8s-infra

#3319 Add staging gcp project for bom
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-bom/OWNERS
  k8s.gcr.io/images/k8s-staging-bom/images.yaml
  k8s.gcr.io/manifests/k8s-staging-bom/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/access, area/artifacts, area/infra, area/release-eng, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3322 Promote etcdadm v3.0.20220128 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3325 Push Filestore CSI v1.1.1 and v1.1.0 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
