Repository kubernetes/k8s.io, pull requests merged in 2022-02, with the labels that each got.

#3326 Update gcp-compute-persistent-disk-csi-driver 1.4.0 image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3330 releng: Image promotion for kubernetes v1.24.0-alpha.2
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3335 cluster-api patch releases image promotion
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3328 Enable Google CDN for k8s-artifacts-prod bucket
  infra/gcp/bash/ensure-prod-storage-gclb.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3337 Onboard/offboard Mo/Swamy from SRC
  OWNERS_ALIASES
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#3338 Image promotion for cluster-api-azure v1.1.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3334 Removing self from test-infra-oncall
  OWNERS_ALIASES
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#3206 groups: Add kubernetes.io owned google group for sig-k8s-infra
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#3343 cluster-api: promote v1.1.0 images
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3344 Promote descheduler images to v0.23.0
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3341 groups: Add Jim Angel to release-team@ and release-team-shadows@
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#3329 CAPI: update alert members
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#3349 Promote etcdadm v3.0.20220203 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3347 Add Killian Muldoon to Cluster API alerts
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, ok-to-test, area/access, area/groups, sig/k8s-infra

#3345 Promote node-driver-registrar and livenessprobe staging images to release
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3353 release: add capa v0.7.3 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3357 Promote CAPA v1.3.0 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3352 Release v4.1.1 and v4.1.2 version of image for ibm-vpc-block-csi-driver
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3358 Promote security-profiles-operator v0.4.1
  k8s.gcr.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3359 Image promotion for cluster-api-do v0.5.1
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3360 groups: Cleanup SIG K8s Infra groups
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
  groups/sig-release/groups.yaml
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, sig/testing, approved, tide/merge-method-squash, area/access, area/release-eng, area/groups, sig/k8s-infra

#3362 Image promotion for cluster-api-gcp v0.4.1
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3249 Promote aws-ebs-csi-driver to v1.5.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3367 publish scheduler plugins v0.22.6
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3368 Release Cluster-api-provider-openstack 0.5.1
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3365 Image promotion for cluster-api-gcp v1.0.1
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3363 Image promotion for build-image v1.24.0-go1.18beta2-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3364 Image promotion for build-image v2.3.1-go1.18beta2-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3369 Image promotion for cluster-api-do v1.0.1
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3370 Use 0.5.0 branch latest image
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3371 Fix releng script location
  infra/gcp/infra.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra

#3372 Grant `k8s-staging-releng-test` GCB service account KMS CryptoKey Decrypter
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3374 Add ArangoGutierrez to nfd image reviewers
  k8s.gcr.io/images/k8s-staging-nfd/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3366 promote csi-secrets-store driver:v1.1.0-rc.0
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3376 Update docs for public-log-asn-matcher
  images/public-log-asn-matcher/README.md
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#3378 k8s-infra-sandbox-capg: remove LFX students, the program is over
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3379 Release Metrics Server v0.6.1
  k8s.gcr.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3382 releng: Fix project for automated git fast-forward
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3386 Update snapshot images for v4.0.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3389 releng: promote cross/go-runner/releng-ci Go 1.17.7/1.16.14 images
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, kind/feature, approved, area/dependency, area/release-eng

#3383 Update k8s-infra-*-capi-openstack with current maintainers
  groups/sig-architecture/groups.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/architecture, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#3223 Promote nfs-provisioner 3.0.1
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3393 Add mailing list for WG k8s Batch
  OWNERS_ALIASES
  groups/restrictions.yaml
  groups/wg-batch/OWNERS
  groups/wg-batch/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/access, area/groups, sig/k8s-infra

#3387 kustomize images 4.5
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3390 create GCP project for krm functions registry subproject
  groups/restrictions.yaml
  groups/sig-cli/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-krm-functions/OWNERS
  k8s.gcr.io/images/k8s-staging-krm-functions/images.yaml
  k8s.gcr.io/manifests/k8s-staging-krm-functions/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/cli, approved, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3400 releng: Image promotion for kubernetes v1.24.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3401 Image promotion for cluster-api-azure v1.1.2
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3410 A group may not be the owner or manager of another group
  groups/sig-k8s-infra/groups.yaml
  groups/wg-batch/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#3404 cluster-api: adjust DNS to new book versioning scheme
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#3409 releng: Image promotion for kubernetes v1.23.4 / v1.23.5-rc.0 / v1.22.7 / v1.22.8-rc.0 / v1.21.10 / v1.21.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/release-eng

#3412 update kustomize owners
  groups/sig-cli/groups.yaml
  k8s.gcr.io/images/k8s-staging-kustomize/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, sig/cli, approved, area/access, area/artifacts, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3413 give krm-functions subgroup permissions for building release artifcats
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/bash, sig/k8s-infra

#2513 Onboard codesearch to aaa cluster
  README.md
  apps/codesearch/OWNERS
  apps/codesearch/README.md
  apps/codesearch/certificate.yaml
  apps/codesearch/deploy.sh
  apps/codesearch/deployment.yaml
  apps/codesearch/ingress.yaml
  apps/codesearch/service.yaml
  images/codesearch/README.md
  images/codesearch/cs-fetch-repos/Dockerfile
  images/codesearch/cs-fetch-repos/Makefile
  images/codesearch/cs-fetch-repos/README.md
  images/codesearch/cs-fetch-repos/cloudbuild.yaml
  images/codesearch/cs-fetch-repos/requirements.txt
  images/codesearch/cs-fetch-repos/src/fetch-repos.py
  infra/gcp/bash/namespaces/ensure-namespaces.sh
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/access, area/infra, area/terraform, area/bash, area/groups, area/apps, sig/k8s-infra

#3416 codesearch: Add dns entry for canary deployment
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3417 Push v4.2.0 image
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3418 Promote NFD-Operator v0.4.0 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3402 Request kep SAN on TLS cert
  apps/k8s-io/certificate-prod.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#3419 Added myself to sig-scalability oncall group
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, needs-ok-to-test, approved, area/access, area/groups, sig/k8s-infra

#3422 Image promotion for cluster-api v1.1.2
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3421 Promote NFD-Operator v0.4.1
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3425 Image promotion for build-image v1.24.0-go1.18rc1-bullseye.0 / v2.3.1-go1.18rc1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3426 Add cblecker as owner of moderators@ list
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#3427 add docs.prow.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#3428 Promote kOps 1.22.4 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3429 Promote kOps 1.22.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.22.4.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3430 promote cluster-api-ibmcloud-controller:v0.1.1 image
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3395 Update KSM 2.4.0 image refs
  k8s.gcr.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3396 Add new CAPA alerts group
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#3442 Promote kOps 1.23.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3443 Promote kOps 1.23.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.0-beta.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3447 Bump network proxy to v0.0.28
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3448 Promote addon-manager v9.1.6 images
  k8s.gcr.io/images/k8s-staging-addon-manager/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3449 update sippy to match new docker image location
  apps/sippy/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, wg/reliability, area/apps/sippy, area/apps, sig/k8s-infra

#3452 Add ingress nginx v1.1.2 to promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3436 Add kueue to k8s.gcr.io
  groups/restrictions.yaml
  groups/sig-scheduling/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-kueue/OWNERS
  k8s.gcr.io/images/k8s-staging-kueue/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kueue/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/scheduling, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, sig/k8s-infra

#3423 prow-build-trusted: Allow KES Service Account access to GSM secret
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra
