Repository kubernetes/k8s.io, pull requests merged in 2022-03, with the labels that each got.

#3454 Image promotion for cluster-api-azure v1.2.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3457 Unify permissions for sig-scalability
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/scalability, approved, area/access, area/groups, sig/k8s-infra

#3458 Promote descheduler v0.23.1 images
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3460 Bump network proxy to v0.0.29
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3451 Enabe IAM API in promoter projects and test signing svc acct
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
Labels: cncf-cla: yes, lgtm, size/S, priority/important-soon, sig/release, approved, area/infra, area/release-eng, area/bash, sig/k8s-infra

#3377 Add AWS CostExplorer export
  infra/aws/aws-costexplorer-export/.ko.yaml
  infra/aws/aws-costexplorer-export/README.md
  infra/aws/aws-costexplorer-export/go.mod
  infra/aws/aws-costexplorer-export/go.sum
  infra/aws/aws-costexplorer-export/main.go
Labels: cncf-cla: yes, lgtm, size/XXL, approved, sig/k8s-infra

#3465 Added owners for pushing ibm-powervs-block-csi-driver images
  k8s.gcr.io/images/k8s-staging-cloud-provider-ibm/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3463 Release etcd v3.6.0-alpha.0-0 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#3469 Promote patch releases for v0.21 and v0.22
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3470 Bump network proxy to v0.0.30
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3472 Fix enj email
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#3473 Promote kOps 1.21.5 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3474 Promote kOps 1.21.5 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.21.5.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3476 Promote kOps 1.23.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3475 Promote kOps 1.23.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3477 Promote v1.22.0-alpha.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3179 adding CAA record for k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#3481 Image promotion for releng 1.16.15-buster-0 / 1.17.8-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3478 Update volume health monitor images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3484 promote csi-secrets-store driver:v1.1.1
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3232 Updating sig-docs blog email list with new owners and members
  groups/sig-docs/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/docs, approved, area/access, area/groups, sig/k8s-infra

#3490 Promote images for ClusterAPI 0322 Patch releases
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3483 Add the opentelemetry side car image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3485 Add new sig docs co-chairs and tl to OWNERS_ALIASES
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#3493 images: bump dependencies for k8s-infa
  images/k8s-infra/Dockerfile
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, sig/k8s-infra

#3495 Fix some scripts to satisfy latest shellcheck
  hack/verify-shellcheck.sh
  images/public-log-asn-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh
  images/public-log-asn-matcher/pg-init.d/lib-07-bq-load-logs.sh
Labels: cncf-cla: yes, lgtm, size/S, priority/critical-urgent, sig/testing, approved, area/bash, sig/k8s-infra

#3455 Add shysank to maintainers
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3450 Push Filestore CSI v1.1.3 and v1.1.2 to prod
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3498 Promote release v0.2.0 for cluster-api-ibmcloud-controller
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3500 oci-proxy: Add infrastructure for registry.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/main.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/network.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy-prod.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/provider.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/dns, area/terraform, sig/k8s-infra

#3492 Codesearch Comment Update to trigger deploy
  apps/codesearch/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/apps, sig/k8s-infra

#3502 minor typo fix in cloudsearch ingress.yaml
  apps/codesearch/ingress.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/apps, sig/k8s-infra

#3456 k8s-releng-prod: Signer accounts, access and IAM API
  infra/gcp/bash/ensure-releng.sh
Labels: cncf-cla: yes, lgtm, priority/important-soon, size/L, sig/release, approved, area/infra, area/release-eng, area/bash, sig/k8s-infra

#3503 k8s-releng-prod: Ensure orgpolicy service is enabled
  infra/gcp/bash/ensure-releng.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3504 Image promotion for cluster-api-gcp v0.4.2
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3505 Image promotion for cluster-api-gcp v1.0.2
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3507 Promote git-sync v3.5.0
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3508 Add 0.5.3 tag for CAPO
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3466 New members added to k8s-infra-staging-cloud-provider-ibm group
  groups/sig-cloud-provider/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, area/access, area/groups, sig/k8s-infra

#3515 Image promotion for cluster-api-do v0.5.2
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3514 update owners of CAPO
  k8s.gcr.io/images/k8s-staging-capi-openstack/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3518 gcp: Define default TTL for Google CDN to 1 day
  infra/gcp/bash/ensure-prod-storage-gclb.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#3513 Update agnhost to pick up the grpc probe command
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3523 releng: Image promotion for kubernetes v1.21.11 / v1.21.12-rc.0 / v1.22.8 / v1.22.9-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/release-eng

#3524 releng: Image promotion for kubernetes v1.23.5 / v1.23.6-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3521 Update public log asn matcher (2022-03-16)
  images/public-log-asn-matcher/README.md
  images/public-log-asn-matcher/buckets.txt
  images/public-log-asn-matcher/pg-init.d/lib-00-prepare.sh
  images/public-log-asn-matcher/pg-init.d/lib-04-load-into-a-bigquery-dataset.sh
  images/public-log-asn-matcher/pg-init.d/lib-06-bq-load-metadata.sh
  images/public-log-asn-matcher/pg-init.d/lib-07-bq-load-logs.sh
  images/public-log-asn-matcher/pg-init.d/lib-09-download-c-ip-int.sh
  images/public-log-asn-matcher/pg-init.d/lib-10-download-expanded-ips.sh
  images/public-log-asn-matcher/pg-init.d/lib-12-upload-ip-range-2-ip.sh
  images/public-log-asn-matcher/pg-init.d/lib-14-prepare-final-table.sh
  images/public-log-asn-matcher/pg-init.d/lib-15-promote-bq-dataset-as-prod.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#3527 trigger for cs-fetch-repos image initial build & push
  images/codesearch/cs-fetch-repos/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#3528 second trigger for cs-fetch-repos image initial build & push
  images/codesearch/cs-fetch-repos/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#3497 add ykakarap to Cluster API alerts group
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#3529 Updating codesearch-fetch-repos image
  apps/codesearch/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/apps, sig/k8s-infra

#3517 Image promotion for cluster-api-do v1.0.2
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3531 gcp: deploy archeio v20220317-215fc34
  infra/gcp/terraform/k8s-infra-oci-proxy/sandbox.auto.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#3532 fixed the digest for agnhost 2.35
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3435 Update nfd group members
  groups/sig-node/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, approved, area/access, area/groups, sig/k8s-infra

#3534 Add alpine 3.15 nginx build for promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3339 validate dns configs
  dns/Makefile
  dns/check-zone.py
  dns/check-zone.sh
  dns/lib.sh
  dns/octodns-docker/Dockerfile
Labels: cncf-cla: yes, lgtm, size/M, approved, area/dns

#3536 Promote kOps 1.24.0-alpha.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3537 Promote kOps 1.24.0-alpha.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.0-alpha.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#3538 Image promotion for build-image v2.3.1-go1.18-bullseye.0 / v1.24.0-go1.18-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3539 promote releng ci 1.18-bullseye-0 tag
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3545 releng: Image promotion for kubernetes v1.24.0-alpha.4
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3535 promote latest octodns image
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3544 Image promotion for gmsa-webhook v0.4.0
  k8s.gcr.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3548 Promote ExternalDNS v0.11.0
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3551 infra/gcp: Deploy archeio v20220321-19bcd2d
  infra/gcp/terraform/k8s-infra-oci-proxy/sandbox.auto.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#3550 Image promotion for cluster-api-azure v1.2.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, approved

#3552 Add image for kustomize 4.5.3
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3553 Image promotion for cluster-api-azure v1.1.3
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3554 Image promotion for cluster-api-azure v1.0.2
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3557 Beta releases of volume populators
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3559 promoting nginx base image for ssl/xml patch
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3562 node-feature-discovery: promote v0.11.0 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3561 update kustomize image
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3564 Promoted pause image version tag: 3.7"
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#3565 Add registry.k8s.io stress testing docs
  registry.k8s.io/HTTP_STRESS_TESTING.md
  registry.k8s.io/stress-test-example.png
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/artifacts, sig/k8s-infra

#3571 releng: Image promotion for kubernetes v1.24.0-beta.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#3572 execute bit on for entrypoint.sh - new nginxbaseimage
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3574 promote csi-secrets-store driver: v1.1.2
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#3575 oci-proxy: initial images promotion
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
