Repository kubernetes/k8s.io, pull requests merged in 2022-09, with the labels that each got.

#4172 Promote cluster-api-ibmcloud-controller:v0.3.0
  k8s.gcr.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4173 Promote dns images 1.22.9 and 1.22.10
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4175 Promote Cluster Autoscaler v1.25.0 images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4177 update ingress-nginx images to 1.3.1
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4176 Creating release-team-enhancements google group
  groups/restrictions.yaml
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4178 Promote kOps 1.23.4 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4180 Promote kOps 1.23.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.23.4.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4181 Promote kOps 1.24.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4179 Promote kOps 1.24.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4171 Update registry.k8s.io s3 bucket sync scripts
  registry.k8s.io/hack/initial-copy-between-s3.sh
  registry.k8s.io/hack/initial-copy-to-s3.sh
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/artifacts, sig/k8s-infra

#4170 Add s3-sync role for syncing registry.k8s.io objects
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4174 Update 1.26 release team
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4189 Image promotion for build-image v1.24.0-go1.18.6-bullseye.0 / v1.25.0-go1.19.1-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4190 Image promotion for build-image v2.3.1-go1.19.1-bullseye.0 / v2.3.1-go1.18.6-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4191 Image promotion for releng 1.18.6-bullseye-0 / 1.19.1-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4192 promote csi-secrets-store driver:v1.2.4
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4151 Adding adminnetworkpolicy-api.sigs.k8s.io for ANP API
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4163 Add the configuration for staging KMM
  groups/restrictions.yaml
  groups/sig-node/groups.yaml
  k8s.gcr.io/images/k8s-staging-kmm/OWNERS
  k8s.gcr.io/images/k8s-staging-kmm/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kmm/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/node, approved, area/access, area/artifacts, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4198 Update registry.k8s.io s3 bucket sync scripts
  registry.k8s.io/hack/initial-copy-between-s3.sh
  registry.k8s.io/hack/initial-copy-to-s3.sh
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/artifacts, sig/k8s-infra

#4194 promoting new otel image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, area/k8s.gcr.io, sig/k8s-infra

#4197 Finish setup for kmm staging project
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-kmm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/infra, area/k8s.gcr.io, sig/k8s-infra

#4148 Promote VPA 0.12.0 images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4200 Release NPD v0.8.12
  k8s.gcr.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4196 k8s-infra: bump components
  images/k8s-infra/Dockerfile
  images/k8s-infra/README.md
  images/k8s-infra/requirements.txt
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#4203 Cleanup 1.22 release team shadows from sig-testing groups.yaml
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#4205 Update registry.k8s.io references
  infra/aws/terraform/registry.k8s.io/README.md
  registry.k8s.io/README.md
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, sig/k8s-infra

#4204 Image promotion for cluster-api-azure v1.5.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4206 Bump resizer images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4207 Update 1.26 release team shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4208 Image promotion for cluster-api v1.1.6
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4211 releng: temporary release manager access for ameukam
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4210 Promote 1.22.11 dns images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4216 releng: Image promotion for kubernetes v1.24.5 / v1.24.6-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4215 releng: Image promotion for kubernetes v1.23.11 / v1.23.12-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4217 releng: Image promotion for kubernetes v1.25.1 / v1.25.2-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4218 releng: Image promotion for kubernetes v1.22.14 / v1.22.15-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4213 Promote descheduler images to v0.25.0
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4221 Promote EBS CSI Driver v1.11.3
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4183 promote testrunner with chart linter v3.7.0
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4224 Promote kOps 1.24.3 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4225 Promote kOps 1.24.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.24.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4222 Release etcd v3.5.5-0 image
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#4230 promoting images with go191
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4235 Image promotion for cluster-api-do v1.1.3
  k8s.gcr.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4236 Image promotion for cluster-api-gcp v1.1.2
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4238 Promote kOps 1.25.0 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4239 Promote kOps 1.25.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4232 promote external attacher image for v4.0.0
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4233 remove non existing image hashes from staging repo
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4234 Mark the iscsiplugin issue as resolved in generate script
  k8s.gcr.io/images/k8s-staging-sig-storage/generate.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4242 releng: temporary release manager access for jeremyrickard
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4246 releng: Image promotion for kubernetes v1.26.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4243 Drop temporary RM access for ameukam and jimangel
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4249 Promote kOps 1.26.0-alpha.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4250 Promote kOps 1.26.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.0-alpha.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4253 releng: Image promotion for kubernetes v1.24.6 / v1.24.7-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4252 releng: Image promotion for kubernetes v1.23.12 / v1.23.13-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4251 releng: Image promotion for kubernetes v1.22.15 / v1.22.16-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4254 releng: Image promotion for kubernetes v1.25.2 / v1.25.3-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4255 Update APIServer Network Proxy Images to v0.0.33
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4245 Shutdown greenhouse
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-deployment.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-metrics-service.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-service.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/default/greenhouse-storage.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4259 Add a secret for enhancements subproject
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4265 Fixed badly formatted link
  infra/gcp/README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/infra, sig/k8s-infra

#4266 registry-sandbox.k8s.io: add support of env vars in staging
  infra/gcp/terraform/k8s-infra-oci-proxy/monitoring.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/network.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/oci-proxy-sandbox.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/provider.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/sandbox.auto.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy/terraform.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy/variables.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/versions.tf
  infra/gcp/terraform/modules/monitoring/uptime-alert/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/infra, area/terraform, sig/k8s-infra

#4267 promote sidecars to latest versions
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4269 Promote Descheduler v0.25.1 images
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4270 Promote CAPA v2.0.0 beta image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4272 registry.k8s.io: fixups post deployment
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/monitoring.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/provider.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/versions.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#4273 Image promotion for artifact-promoter v3.4.5-1
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/artifacts, area/release-eng

#4275 Update CAPA v2.0.0 beta image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4263 Promote distroless-iptables v0.1.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, ok-to-test, area/release-eng

#4281 Image promotion for cluster-api-azure v1.5.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4278 Promote CAPA v2.0.0-beta.1 image
  k8s.gcr.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4284 Image promotion for cluster-api-azure v1.4.3
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4277 Add Artifact Registry Manifests for experimental
  k8s.gcr.io/manifests/k8s-staging-experimental/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4286 Image promotion for cluster-api-gcp v1.2.0
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4282 Promote a selection of 1.25.2 and 1.25.3-rc.0 images to experimental repo
  k8s.gcr.io/images/k8s-staging-experimental/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4287 Promote kOps 1.25.1 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4288 Promote kOps 1.25.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.25.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4289 Promote EBS CSI driver v1.11.4
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra
