Repository kubernetes/k8s.io, pull requests merged in 2023-03, with the labels that each got.

#4854 Use IPv6 for prow-build-cluster
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/irsa.tf
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/vpc.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#4853 migrate registry in k8s.io subproject from k8s.gcr.io to registry.k8s.io
  apps/gcsweb/README.md
  apps/gcsweb/deployment.yaml
  dns/Makefile
Labels: cncf-cla: yes, lgtm, size/XS, kind/bug, sig/testing, approved, ok-to-test, area/dns, area/apps/gcsweb, area/apps, sig/k8s-infra

#4856 Remove stale member from stream-team
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#4842 Adding Aravindh to leads group
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/access, area/groups, sig/k8s-infra

#4826 AWS: Create a S3 Storage Lens configuration
  infra/aws/terraform/audit-account/s3_storage_lens.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#4846 Releng: temp release manager access for gracenng
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4860 Image promotion for cluster-api v1.3.5
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4861 Image promotion for cluster-api v1.4.0-beta.1
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4859 prow-build-cluster: switch back to IPv4
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/irsa.tf
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
  infra/aws/terraform/prow-build-cluster/vpc.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#4862 node: test images: promote sample-device-plugin image
  k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, sig/testing, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4753 sig node leadership change
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#4864 releng: Image promotion for kubernetes v1.27.0-alpha.3
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4865 releng: Grand cici37 access for Release Manager
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#4866 Update Security Profiles Operator owners
  k8s.gcr.io/images/k8s-staging-sp-operator/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4852 Grant s3-sync service account permissions to read buckets
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, area/bash, sig/k8s-infra

#4869 Image promotion for gmsa-webhook v0.6.1
  k8s.gcr.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4870 Provision AWS accounts for node e2e tests
  infra/aws/terraform/management-account/organization-accounts-boskos.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#4876 experimental: canary promotion of conformance-amd64
  k8s.gcr.io/images/k8s-staging-experimental/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4879 Promote ip-masq-agent v2.9.3
  k8s.gcr.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4880 Promote v1.9.1 pdcsi image
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4884 Create playground account
  infra/aws/terraform/management-account/organization-accounts-workloads-non-prod.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#4885 modify cloud provider openstack members
  groups/sig-cloud-provider/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, area/access, area/groups, sig/k8s-infra

#4887 Image promotion for cluster-api v1.4.0-beta.2
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4878 Allow Prow GKE Service Accounts to assume AWS roles
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, tide/merge-method-squash, area/infra, sig/k8s-infra, area/infra/aws

#4891 fix openstack provider gcr manifest
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-provider-os/OWNERS
  k8s.gcr.io/images/k8s-staging-provider-os/images.yaml
  k8s.gcr.io/manifests/k8s-staging-provider-os/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/infra, area/k8s.gcr.io, sig/k8s-infra

#4892 Publish network proxy images for v0.0.37 and v0.1.2 tags.
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4890 publish scheduler-plugins v0.25.7
  k8s.gcr.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4868 Create summit-team group
  groups/restrictions.yaml
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#4895 Image promotion for build-image v1.27.0-go1.20.2-bullseye.0 / v1.25.0-go1.19.7-bullseye.0 / v1.26.0-go1.19.7-bullseye.0 / v1.23.0-go1.19.7-bullseye.0 / v1.24.0-go1.19.7-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4896 Image promotion for build-image v2.3.1-go1.20.2-bullseye.0 / v2.3.1-go1.19.7-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4899 Promote AWS CCM v1.26.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4900 Promote AWS CCM v1.26.1 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.26.1.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts

#4901 Fix promotion of AWS CCM v1.26.1 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.26.1.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts

#4893 Promote nfs-provisioner 4.0.8
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4903 Image promotion for cluster-api-azure v1.8.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4905 Create secret for eks-prow-build-cluster-kubeconfig
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4906 Promote kOps 1.25.4 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4897 Image promotion for releng 1.21.2-bullseye-0 / 1.19.7-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4912 Increase the number of worker nodes in the EKS prow-build-cluster
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#4917 Image promotion for debian-iptables bullseye-v1.5.3
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4918 Image promotion for distroless-iptables v0.2.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4919 Image promotion for setcap bullseye-v1.4.2
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4920 Promote kOps 1.26.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4922 deploy registry.k8s.io v0.2.0
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#4923 Promote archeio v0.20
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/oci-proxy.tf
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/terraform.tfvars
  k8s.gcr.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/infra, area/terraform, area/k8s.gcr.io, sig/k8s-infra

#4924 registry.k8s.io: Add southamerica-east1 region
  infra/gcp/bash/ensure-prod-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#4809 Empty out the registry.k8s.io folder and update the README.md
  registry.k8s.io/MANUALLY_SYNCING_BUCKETS.md
  registry.k8s.io/OWNERS
  registry.k8s.io/README.md
  registry.k8s.io/hack/initial-copy-between-s3.sh
  registry.k8s.io/hack/initial-copy-to-s3.sh
  registry.k8s.io/registry-k8s-io-account-structure.dot
  registry.k8s.io/registry-k8s-io-account-structure.svg
Labels: cncf-cla: yes, lgtm, size/XL, sig/release, approved, area/artifacts, sig/k8s-infra

#4931 chore: add lfx mentee to capg group
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4929 golang 1.20 and alpine 3.17.2 builds
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4935 updated the e2e test runner image
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4937 Promote EBS CSI Driver v1.17.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4933 Kustomize v5.0.1 image
  k8s.gcr.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4938 Image promotion for cluster-api v1.4.0-rc.0
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4940 updated hash of kube-webhook-certgen
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4930 Deploy ESO on EKS
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/README.md
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/configmaps.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/values
  infra/aws/terraform/prow-build-cluster/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/namespaces.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/cpu-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/mem-limit-range_limitrange.yaml
  infra/aws/terraform/prow-build-cluster/resources/test-pods/test-pods-poddisruptionbudget.yaml
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
  infra/gcp/terraform/modules/workload-identity-service-account/main.tf
  infra/gcp/terraform/modules/workload-identity-service-account/variables.tf
Labels: cncf-cla: yes, lgtm, size/XXL, sig/testing, approved, tide/merge-method-squash, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws

#4944 Fix workload identity provider
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
  infra/gcp/terraform/modules/gke-cluster/versions.tf
  infra/gcp/terraform/modules/gke-nodepool/versions.tf
  infra/gcp/terraform/modules/gke-project/versions.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4946 releng: Image promotion for kubernetes v1.24.12
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4949 registry.k8s.io: add more AR regions
  infra/gcp/bash/ensure-prod-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#4947 releng: Image promotion for kubernetes v1.25.8
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4953 New group for AWS readonly billing access
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#4959 add older cpo images
  k8s.gcr.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4961 Image promotion for artifact-promoter v3.5.1-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#4963 Image promotion for cluster-api-azure v1.7.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4965 Image promotion for cluster-api-azure v1.8.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4966 releng: Image promotion for kubernetes v1.27.0-beta.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4968 Promote kwok v0.1.1
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#4939 capi: Add dns for Cluster API v1.4 release. Update main cname to v1.4
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4969 Revert "Promote kwok v0.1.1"
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4970 Promote kwok v0.1.1
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4974 Image promotion for cluster-api-gcp v1.3.0
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4973 [autoscaling] Create a helper for adding new images for promotion
  registry.k8s.io/images/k8s-staging-autoscaling/add-version.sh
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4972 releng: Image promotion for kubernetes v1.26.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4978 Promote filestore v1.4.1 to k8s-prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4979 Promote v1.9.2 pdcsi image
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#4980 Promote git-sync v3.6.5
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#4982 fix bug in generate-role-yaml.sh: return can only be used in sourced …
  infra/gcp/bash/roles/generate-role-yaml.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/infra, area/bash, sig/k8s-infra

#4971 Add the script for promote kwok
  registry.k8s.io/images/k8s-staging-kwok/generate.sh
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4987 promoted e2e-test-echo image from staging to prod
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4988 ensure we also test manifests for registry.k8s.io/
  hack/verify-manifests.sh
  registry.k8s.io/manifests/go.mod
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, area/bash, sig/k8s-infra, area/registry.k8s.io

#4951 Work around char limits for principalSet
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4993 promote csi-secrets-store driver:v1.3.2
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#4996 Promote nfd-o v0.6.0
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#4998 Image promotion for metrics-server v0.6.3
  registry.k8s.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4995 Add k8s-infra-sandbox-capa account
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
  infra/aws/terraform/management-account/organization-accounts-capa-playground.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/access, area/infra, area/groups, sig/k8s-infra, area/infra/aws

#5002 Image promotion for capi-operator v0.2.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5003 Image promotion for sp-operator v0.7.0
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5008 Add Ankita and Mentees to CAPA AWS Sandbox
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#5017 Allow anyone to post to k8s-infra-sandbox-capa@kubernetes.io
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#5013 promote filestorecsi image to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5016 promote ingress-nginx 1.7.0 build
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#4781 artifacts.k8s.io: add managed certificates
  infra/gcp/terraform/k8s-infra-porche-prod/certificate.tf
  infra/gcp/terraform/k8s-infra-porche-prod/network.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, sig/k8s-infra

#5014 Revert "fix linting errors"
  infra/gcp/bash/ensure-prod-storage.sh
  infra/gcp/bash/lib.sh
  infra/gcp/bash/lib_gcr.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/bash, sig/k8s-infra

#5022 releng: Image promotion for kubernetes v1.27.0-rc.0 / v1.28.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5025 Promote NPD v0.8.13 release
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5031 Image promotion for zeitgeist v0.4.0
  registry.k8s.io/images/k8s-staging-zeitgeist/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5033 Image promotion for sp-operator v0.7.1
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5034 Image promotion for zeitgeist v0.4.1
  registry.k8s.io/images/k8s-staging-zeitgeist/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4942 Reduce the noise on verify fixing yamlint
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/external-secrets.yaml
  k8s.gcr.io/images/k8s-staging-artifact-promoter/images.yaml
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
  registry.k8s.io/images/k8s-staging-etcdadm/images.yaml
  registry.k8s.io/images/k8s-staging-kops/images.yaml
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, sig/cluster-lifecycle, size/L, sig/release, approved, ok-to-test, area/artifacts, area/infra, area/release-eng, area/k8s.gcr.io, sig/k8s-infra, area/infra/aws, area/registry.k8s.io

#4989 eks-prow-build-cluster: fix root volume for node groups and setup IAM role with admin access
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/main.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/resources/rbac/cluster-admin-crb.yaml
  infra/aws/terraform/prow-build-cluster/resources/rbac/prow-admin-crb.yaml
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5036 Image promotion for tejolote v0.1.0
  registry.k8s.io/images/k8s-staging-tejolote/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5038 eks-prow-build-cluster: fix port number in Grafana's config
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/config.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/infra, sig/k8s-infra, area/infra/aws

#5028 Image promotion for cluster-api-helm v0.1.0-alpha.1
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5040 Promote images for ExternalDNS v0.13.4
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#4957 kube-state-metrics: Add rexagod as an approver
  registry.k8s.io/images/k8s-staging-kube-state-metrics/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/auth, area/provider/azure, sig/cluster-lifecycle, sig/windows, sig/release, sig/testing, area/provider/gcp, sig/network, approved, sig/scheduling, area/access, area/artifacts, area/dns, area/release-eng, area/groups, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5042 Add myself to leads group
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4992 add nilekhc@gmail.com to k8s-infra-staging-csi-secrets-store
  groups/sig-auth/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/auth, approved, area/access, area/groups, sig/k8s-infra

#5044 Add aws iam-bentheelder.tf
  infra/aws/terraform/management-account/iam-bentheelder.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5046 Image promotion for cluster-api v1.4.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5049 Image promotion for cluster-api v1.2.12
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5050 Image promotion for cluster-api v1.3.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5021 add nawazkh to k8s-staging-cluster-api-azure-OWNERS file
  registry.k8s.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5053 Image promotion for cluster-api-azure v1.8.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5054 eks-prow-build-cluster: use instance SSDs for containerd and kubelet, and change instance type
  hack/verify-executable.sh
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/terraform.tfvars
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/infra, area/bash, sig/k8s-infra, area/infra/aws

#5056 Add OWNERS for eks-prow-build-cluster
  infra/aws/terraform/prow-build-cluster/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5060 Image promotion for bom v0.5.0
  registry.k8s.io/images/k8s-staging-bom/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5062 Image promotion for bom v0.5.1
  registry.k8s.io/images/k8s-staging-bom/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5061 Promote Addon Resizer 1.8.17
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
