Repository kubernetes/k8s.io, pull requests merged in 2023-12, with the labels that each got.

#6125 Publish network proxy images for 0.28.1 and 0.28.2 release tags.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6136 Image promotion for cluster-api-helm v0.1.1-alpha.0
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6137 AWS: Enable EKS Pod Identity
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/iam.tf
  infra/aws/terraform/kops-infra-ci/providers.tf
  infra/aws/terraform/kops-infra-ci/resources/00-namespaces.yaml
  infra/aws/terraform/kops-infra-ci/resources/sa.yaml
  infra/aws/terraform/kops-infra-ci/terraform.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, tide/merge-method-squash, area/infra, sig/k8s-infra, area/infra/aws

#6139 AWS: Add Service endpoints to VPC
  infra/aws/terraform/kops-infra-ci/vpc.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#6142 kops-ci: bump cluster version
  infra/aws/terraform/kops-infra-ci/variables.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#6144 Promote new Cluster Autoscaler patch releases
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6145 Update OWNERS
  registry.k8s.io/images/k8s-staging-autoscaling/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6146 Add custom domain for okta
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#6147 Image promotion for cluster-api v1.4.9
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6149 Image promotion for cluster-api v1.5.4
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6150 Image promotion for cluster-api v1.6.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6152 Promote csi-node-driver-registrar v2.9.2 image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6148 kops-ci: Use storage-based instances.
  infra/aws/terraform/kops-infra-ci/eks.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#6153 Image promotion for build-image v1.29.0-go1.21.5-bullseye.0 / v1.28.0-go1.20.12-bullseye.0 / v1.27.0-go1.20.12-bullseye.0 / v1.26.0-go1.20.12-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6156 Add IP addresses for nginx hosting apt/yum.k8s.io and DNS records
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/dns, area/terraform, sig/k8s-infra

#6143 Migrate to broadcom mail address
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#6159 Add k8s-io-packages app
  apps/k8s-io-packages/.gitignore
  apps/k8s-io-packages/Dockerfile-test
  apps/k8s-io-packages/Makefile
  apps/k8s-io-packages/OWNERS
  apps/k8s-io-packages/README.md
  apps/k8s-io-packages/configmap-nginx.yaml
  apps/k8s-io-packages/deploy.sh
  apps/k8s-io-packages/deployment.yaml
  apps/k8s-io-packages/ingress-canary-v6.yaml
  apps/k8s-io-packages/ingress-canary.yaml
  apps/k8s-io-packages/ingress-prod-v6.yaml
  apps/k8s-io-packages/ingress-prod.yaml
  apps/k8s-io-packages/service.yaml
  apps/k8s-io-packages/test.py
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/apps, sig/k8s-infra

#6160 Remove myself from CAPI staging groups
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#6162 Fix ConfigMap name for nginx deployment in k8s-io-packages
  apps/k8s-io-packages/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/apps, sig/k8s-infra

#6164 Image promotion for build-image v0.4.3
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6167 Grant access to k8s-io-packages app to SIG Release Leads and xmudrii
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#6166 add kustomize image tag v5.3.0
  registry.k8s.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6171 SIG Autoscaling - New Mailing List for Karpenter Subproject leads
  groups/restrictions.yaml
  groups/sig-autoscaling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/autoscaling, approved, area/access, area/groups, sig/k8s-infra

#6173 Fix dns and deploy ingress for legacy pkg repos
  apps/k8s-io-packages/certificate-prod.yaml
  apps/k8s-io-packages/ingress-prod-v6.yaml
  apps/k8s-io-packages/ingress-prod.yaml
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/dns, area/apps, sig/k8s-infra

#6168 kops-ci: Use container image for boostrap
  infra/aws/terraform/kops-infra-ci/ecr.tf
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/resources/bootstrap/Dockerfile
  infra/aws/terraform/kops-infra-ci/resources/bootstrap/Makefile
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#6174 releng: Image promotion for kubernetes v1.29.0-rc.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6175 Double resources for EKS Prow build cluster Prometheus
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#6178 CAPO v0.9.0-rc.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6179 SIG Autoscaling - add jackfrancis to Karpenter Subproject mailing list
  groups/sig-autoscaling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/autoscaling, approved, area/access, area/groups, sig/k8s-infra

#6180 update nginx golang and alpine images
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6181 Promote JobSet v0.3.0
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6184 Configure logs in httpRequest format - legacy
  apps/k8s-io-packages/configmap-nginx.yaml
  apps/k8s-io-packages/deploy.sh
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/apps, sig/k8s-infra

#6183 releng: Image promotion for kubernetes v1.29.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6185 Image promotion for cluster-api-azure v1.12.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6186 Image promotion for cluster-api-azure v1.11.7
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6191 Image promotion for gmsa-webhook v0.8.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5893 Promote pdcsi v1.8.12 and v1.7.14 to k8s-prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6190 Promote aws-ebs-csi-driver v1.26.0 images
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6192 Promote cluster-api-ibmcloud-controller:v0.7.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6193 Promote cluster-api-ibmcloud-controller:v0.6.1,v0.5.3
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6194 Image promotion for capi-vsphere v1.8.5
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6195 Image promotion for provider-aws v1.29.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6196 Promote provider-aws v1.29.0 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.29.0.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts

#6197 promote 1.9.5 nginx build
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6189 configure AWS SSO and grant it on the boskos account
  infra/aws/terraform/management-account/cost_usage.tf
  infra/aws/terraform/management-account/organization-accounts-boskos.tf
  infra/aws/terraform/management-account/provider.tf
  infra/aws/terraform/management-account/providers.tf
  infra/aws/terraform/management-account/s3.tf
  infra/aws/terraform/management-account/sso.tf
  infra/aws/terraform/management-account/variables.tf
  infra/aws/terraform/management-account/versions.tf
  infra/aws/terraform/modules/org-account/sso.tf
  infra/aws/terraform/modules/org-account/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#6201 Configure DNS to allow Okta to send email via kubernetes.io
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#6200 GCP: Add more AR regions
  infra/gcp/bash/ensure-prod-storage.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra

#6202 Promote all new gcp-compute-persistent-disk-csi-driver releases
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6199 Update OWNERS_ALIASES
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#6206 Image promotion for sp-operator v0.8.2
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6207 Image promotion for etcd 3.5.11-0
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#6209 releng: Image promotion for kubernetes v1.27.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6208 releng: Image promotion for kubernetes v1.26.12
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6210 releng: Image promotion for kubernetes v1.28.5
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6211 CAPO v0.9.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6213 add carlos and adolfo as approvers
  registry.k8s.io/images/k8s-staging-ingress-nginx/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6215 Image promotion for cluster-api-aws v2.3.1
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6217 WG-Batch leads update
  OWNERS_ALIASES
  groups/groups.yaml
  groups/wg-batch/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra, wg/batch

#6218 Promote kOps 1.28.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6220 Promote kOps 1.29.0-alpha.3 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6219 Promote kOps 1.28.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#6221 Promote kOps 1.29.0-alpha.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.0-alpha.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#6222 Promote JobSet v0.3.1 to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6216 Image promotion for CAPA v2.2.5
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6225 images: promote node-feature-discovery v0.14.4
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6227 Promote csi images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6214 Use script to generate gcp promotion images
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/generate.sh
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6229 Cluster Autoscaler 1.29.0
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6228 Promote pdcsi images
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6230 Add sunnylovestiramisu to k8s-staging-cloud-provider-gcp OWNERS
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6231 Promote filestore images
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6232 Image promotion for capi-vsphere v1.8.6
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6233 Image promotion for capi-vsphere v1.7.5
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6235 Image promotion for capi-vsphere v1.8.7
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6234 Publish apiserver network proxy image for 0.29.0 release tag.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io
