Repository kubernetes/k8s.io, pull requests merged in 2023-01, with the labels that each got.

#4588 promote distroless-iptables v0.2.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4589 CAPO release v0.7.0-rc.1
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4580 Bump network proxy to 0.0.35
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4590 Image promotion for gmsa-webhook v0.6.0
  k8s.gcr.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4583 Refresh k8s-staging-kas-network-proxy owners.
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4591 Promote Cluster Autoscaler v1.26.1 images
  k8s.gcr.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4592 Image promotion for cluster-api-azure v1.6.1
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4593 Image promotion for cluster-api-azure v1.5.5
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4579 Add kwok dns name
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4597 Promote EBS CSI Driver v1.14.1
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4595 Add v6.2.1 external-snapshotter images
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4600 feat: updates to CAPG image promotion
  k8s.gcr.io/images/k8s-staging-cluster-api-gcp/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4602 Image promotion for build-image v2.3.1-go1.20rc2-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4601 Image promotion for build-image v1.27.0-go1.20rc2-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4599 chore: group changes for capg
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#4608 Image promotion for cluster-api v1.3.2
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4609 Image promotion for cluster-api v1.2.9
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4607 Update csi-driver-host-path image
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4610 update SIG release groups for 1.27 leads
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4613 Adding windows-service-proxy images
  groups/restrictions.yaml
  groups/sig-windows/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-windows-svc-proxy/OWNERS
  k8s.gcr.io/images/k8s-staging-windows-svc-proxy/images.yaml
  k8s.gcr.io/manifests/k8s-staging-windows-svc-proxy/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/windows, approved, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4615 Image promotion for cluster-api-azure v1.7.0
  k8s.gcr.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4618 Promote 1.22.17 dns images
  k8s.gcr.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4622 Image promotion for build-image v1.24.0-go1.18.10-bullseye.0 / v1.25.0-go1.19.5-bullseye.0 / v1.26.0-go1.19.5-bullseye.0 / v1.23.0-go1.19.5-bullseye.0 / v1.24.0-go1.19.5-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#4621 Image promotion for releng 1.18.10-bullseye-0 / 1.19.5-bullseye-0
  k8s.gcr.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4604 Promote descheduler v0.26.0 images
  k8s.gcr.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4502 Add filtering to AWS Cost Explorer for k8s-infra accounts
  infra/aws/aws-costexplorer-export/main.go
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#4617 update csi sidecar images to latest version
  k8s.gcr.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4628 Promote EBS CSI Driver v1.15.0
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4630 Add sha256 for 1.3.10
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4631 Promote kOps 1.26.0-beta.2 images
  k8s.gcr.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4632 Promote kOps 1.26.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.0-beta.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#4633 Promote images for ExternalDNS v0.13.2
  k8s.gcr.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4634 Promote AWS CCM 1.25.2
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4598 chore: add new capg alerts group
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#4635 Promote kwok v0.1.0
  k8s.gcr.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/scheduling, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4636 Add temporary DNS record for netlify verification
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4637 Revert "Merge pull request #4636 from cblecker/vfn"
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#4638 Image promotion for build-image v2.3.1-go1.20rc3-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4639 Image promotion for build-image v1.27.0-go1.20rc3-bullseye.0
  k8s.gcr.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#4640 node-feature-discovery: promote v0.12.1 images
  k8s.gcr.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4625 add 1.27 release team shadows to needed groups
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, tide/merge-method-squash, area/access, area/release-eng, area/groups, sig/k8s-infra

#4318 Add support for binary artifact promotion of the cloud-provider-aws project
  artifacts/filestores/k8s-staging-provider-aws/filepromoter-manifest.yaml
  artifacts/manifests/k8s-staging-provider-aws/OWNERS
  artifacts/manifests/k8s-staging-provider-aws/v1.26.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, lifecycle/stale, area/artifacts

#4641 Promote git-sync v3.6.3 (base CVEs)
  k8s.gcr.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4596 Add new CAPO alerts group
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#4586 Create infrastructure for kubebuilder artifacts
  groups/restrictions.yaml
  groups/sig-api-machinery/groups.yaml
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-kubebuilder/OWNERS
  k8s.gcr.io/images/k8s-staging-kubebuilder/images.yaml
  k8s.gcr.io/manifests/k8s-staging-kubebuilder/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/api-machinery, approved, area/access, area/artifacts, area/infra, area/groups, area/k8s.gcr.io, sig/k8s-infra

#4642 ingress-nginx v1.6.0 promotion
  k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4643 releng: Image promotion for kubernetes v1.26.1 / v1.26.2-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4644 releng: Image promotion for kubernetes v1.23.16 / v1.23.17-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4561 Add a secret for bug triage release subproject
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#4647 releng: Image promotion for kubernetes v1.24.10 / v1.24.11-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4648 releng: Image promotion for kubernetes v1.25.6 / v1.25.7-rc.0
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4650 Add jeefy as org auditor
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4651 Publish network proxy images for v0.0.36 and v0.1.1 tags.
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4655 Promote etcdadm v3.0.20230119 images
  k8s.gcr.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4652 Fix sha256 cut and paste mistake.
  k8s.gcr.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4657 Update Microsoft distributor email alias
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#4656 AWS: Ensure AWS organization is managed with terraform
  infra/aws/terraform/management-account/README.md
  infra/aws/terraform/management-account/organization.tf
  infra/aws/terraform/management-account/provider.tf
  infra/aws/terraform/management-account/variables.tf
  infra/aws/terraform/management-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#4663 promote csi-secrets-store driver:v1.3.1
  k8s.gcr.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4665 Fixing name of win-svc-proxy image
  infra/gcp/infra.yaml
  k8s.gcr.io/images/k8s-staging-win-svc-proxy/OWNERS
  k8s.gcr.io/images/k8s-staging-win-svc-proxy/images.yaml
  k8s.gcr.io/manifests/k8s-staging-win-svc-proxy/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/infra, area/k8s.gcr.io, sig/k8s-infra

#4666 add new capdo alerts group
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#4667 AWS: enable global policies
  infra/aws/terraform/management-account/organization.tf
  infra/aws/terraform/management-account/variables.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#4671 Add James Laverack to Shadows Group Managers
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4672 releng: Promote Cici Huang to Branch Manager for 1.27 cycle
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, priority/important-soon, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#4675 Promote AWS CCM 1.25.3
  k8s.gcr.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4673 chore: remove lfx summer 22 mentees
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4676 releng: Image promotion for kubernetes v1.27.0-alpha.1
  k8s.gcr.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#4668 AWS: Add accounts for security governance
  infra/aws/terraform/management-account/accounts.tf
  infra/aws/terraform/management-account/organizational-units.tf
  infra/aws/terraform/management-account/providers.tf
  infra/aws/terraform/management-account/variables.tf
  infra/aws/terraform/modules/org-account/main.tf
  infra/aws/terraform/modules/org-account/outputs.tf
  infra/aws/terraform/modules/org-account/provider.tf
  infra/aws/terraform/modules/org-account/variables.tf
  infra/aws/terraform/modules/org-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#4679 AWS: delegate core services to the audit account
  infra/aws/terraform/management-account/accounts.tf
  infra/aws/terraform/management-account/delegated-admins.tf
  infra/aws/terraform/modules/org-account/outputs.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#4680 CAPO release v0.7.0
  k8s.gcr.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4653 Add NFD DNS for netlify rendering
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/dns

#4687 Image promotion for etcd 3.5.7-0
  k8s.gcr.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#4690 AWS: Add account for infrastructure services.
  infra/aws/terraform/management-account/accounts.tf
  infra/aws/terraform/management-account/organizational-units.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#4645 Add cncf-aws-admins@lists.cncf.io to k8s-infra
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#4606 Remove mikedanese@google.com from k8s-infra-artifact-security
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#4695 add distribution lists for github bots
  groups/restrictions.yaml
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#4697 Temporary email lists to support AWS Migration with password reset links
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#4696 Promote PDCSI image 1.8.2
  k8s.gcr.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4700 Image promotion for cluster-api v1.3.3
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4701 Image promotion for cluster-api v1.2.10
  k8s.gcr.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#4702 Add k8s-infra-ii-coop to k8s-infra-aws-admins
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra
