Repository kubernetes/k8s.io, pull requests merged in 2023-09, with the labels that each got.

#5786 images: promote node-feature-discovery v0.13.4
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5788 Image promotion for build-image v0.3.1
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5780 eks-prow-build-cluster: migrate nodes to public subnet + ami update
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/node_group_blue.tf
  infra/aws/terraform/prow-build-cluster/node_group_green.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5791 eks-prow-build-cluster: update manual for node group upgrade
  infra/aws/terraform/prow-build-cluster/docs/NodeUpgradeRunbook.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5792 Promote kOps 1.28.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5793 Promote kOps 1.28.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5794 Promote kOps 1.27.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5795 Promote kOps 1.27.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.27.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5796 Promote kOps 1.29.0-alpha.0 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5797 Promote kOps 1.29.0-alpha.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.0-alpha.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5799 eks-prow-build-cluster: set minimum back on active node group
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5782 [1.29] update google groups/GCP IAM membership for release team
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#5798 publish scheduler-plugins v0.25.12
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5801 Image promotion for build-image v1.29.0-go1.21.0-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5803 Image promotion for cluster-api-azure v1.9.8
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5802 Image promotion for cluster-api-azure v1.10.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5805 Promote images for ExternalDNS v0.13.6
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5806 Promote cluster-api-ibmcloud-controller:v0.6.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5804 AWS: Add a OIDC provider for kOps CI.
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/main.tf
  infra/aws/terraform/kops-infra-ci/variables.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#5768 Remove references to legacy S3 bucket
  infra/aws/terraform/registry.k8s.io/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5807 Image promotion for releng 1.20.8-bookworm-0 / 1.21.1-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5808 Image promotion for build-image v2.3.1-go1.21.1-bullseye.0 / v2.3.1-go1.20.8-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5809 Image promotion for build-image v1.29.0-go1.21.1-bullseye.0 / v1.28.0-go1.20.8-bullseye.0 / v1.27.0-go1.20.8-bullseye.0 / v1.26.0-go1.20.8-bullseye.0 / v1.25.0-go1.20.8-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5810 Image promotion for build-image v2.3.1-go1.21.1-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5811 NFD promote v0.14.0 images
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5812 Promote ingress nginx testrunner
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5814 Promote kOps 1.28.0-beta.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5815 Promote kOps 1.28.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0-beta.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5816 Promote kOps 1.29.0-alpha.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5817 Promote kOps 1.29.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.0-alpha.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5818 Image promotion for capi-operator v0.6.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5819 Image promotion for build-image v0.3.2
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5821 ingress-nginx 1.8.2 release
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5763 sbom.k8s.io: Allow file extensions
  apps/k8s-io/configmap-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#5823 Allow requests without User-Agent header to pkgs.k8s.io
  infra/aws/terraform/cdn.packages.k8s.io/waf.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/infra, area/release-eng, sig/k8s-infra, area/infra/aws

#5825 Add lentzi90 as CAPO owner
  registry.k8s.io/images/k8s-staging-capi-openstack/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5827 Promote ingress v1.9.0 beta 0
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5830 Promote JobSet v0.2.3 to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5828 aaa: teardown sippy.k8s.io
  README.md
  apps/sippy/OWNERS
  apps/sippy/README.md
  apps/sippy/certificate.yaml
  apps/sippy/deploy.sh
  apps/sippy/deployment.yaml
  apps/sippy/ingress.yaml
  apps/sippy/pvc.yaml
  apps/sippy/service.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  groups/restrictions.yaml
  groups/sig-architecture/groups.yaml
  groups/sig-k8s-infra/groups.yaml
  infra/gcp/bash/namespaces/ensure-namespaces.sh
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Labels: cncf-cla: yes, lgtm, sig/architecture, size/L, approved, tide/merge-method-squash, area/access, area/infra, area/dns, wg/reliability, area/terraform, area/apps/sippy, area/bash, area/groups, area/apps, sig/k8s-infra

#5833 Add a service account for provider-aws-test-role
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5834 releng: Image promotion for kubernetes v1.25.14
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5836 releng: Image promotion for kubernetes v1.28.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5835 releng: Image promotion for kubernetes v1.27.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5837 Promote images for newer releases
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/storage, approved, kind/api-change, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5838 releng: Image promotion for kubernetes v1.26.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5840 eks-prow-build: increase vm.min_free_kbytes to 135168, finish public subnet and canary rollouts
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap_green.sh
  infra/aws/terraform/prow-build-cluster/node_group_green.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/bash, sig/k8s-infra, area/infra/aws

#5841 Image promotion for scl-image-builder v0.1.19
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5843 AWS: add account for job migration
  infra/aws/terraform/management-account/organization-accounts-workloads-non-prod.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5845 New secret to migrate from a legacy AWS account
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5846 Add sig-storage objectstorage containter images to registry
  registry.k8s.io/images/k8s-staging-sig-storage/generate.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5848 Add a role for the new shared EC2/EKS account
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5849 Promote CAPA v2.2.2 image
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5831 [1.29] update google groups/GCP IAM membership for release team shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#5847 Update snapshot images v6.3.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5851 Bumping Gateway API images for v0.8.1
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5858 Remove the legacy AWS owned test account 607362164682
  infra/aws/terraform/management-account/organization-accounts-workloads-non-prod.tf
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets_legacy.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws

#5860 kops: remove k8s.gcr.io OWNERS override
  k8s.gcr.io/images/k8s-staging-kops/OWNERS
Labels: cncf-cla: yes, lgtm, size/M, do-not-merge/blocked-paths, approved, kind/cleanup, area/artifacts, area/k8s.gcr.io, sig/k8s-infra

#5857 Create the k8s-kops-test SA on k8s-infra-prow-build cluster
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/build-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build/serviceaccounts.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#5861 prow-build: fix test-pods PodDisruptionBudget resource
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/test-pods-poddisruptionbudget.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#5863 Promote aws-ebs-csi-driver v1.23.0 image
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5868 Image promotion for cluster-api-azure v1.10.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5866 CAPO v0.8.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5852 Promote dns 1.22.24 images
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5870 Image promotion for cluster-api-azure v1.11.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5869 1.9.0 release
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5874 images: promote node-feature-discovery v0.14.1 and v0.13.5
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5875 AWS: set up an account for windows operational readiness
  infra/aws/terraform/management-account/organization-accounts-workloads-non-prod.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5877 GCP/prow-build: Enabled Cloud Resource Manager service
  infra/gcp/terraform/modules/gke-project/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#5878 GCP: Enable KMS service for boskos
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/bash, sig/k8s-infra

#5881 Image promotion for cluster-api-azure v1.11.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5880 Publish network proxy images for 0.1.5 and 0.28.0 tags.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5853 infra/gcp: Ensure a purgatory GCP project
  infra/gcp/bash/ensure-purgatory.sh
  infra/gcp/bash/ensure-release-projects.sh
  infra/gcp/infra.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/bash, sig/k8s-infra

#5884 Promote kOps 1.26.6 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5885 Promote kOps 1.26.6 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.6.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5886 Promote kOps 1.28.0 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5887 Promote kOps 1.28.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5871 dl.k8s.io: Set the TTL of the Fastly service
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, sig/k8s-infra

#5889 aaa: teardown release.triage.k8s.io
  apps/triageparty-release/OWNERS
  apps/triageparty-release/README.md
  apps/triageparty-release/certificate.yaml
  apps/triageparty-release/configmap.yaml
  apps/triageparty-release/deploy.sh
  apps/triageparty-release/deployment.yaml
  apps/triageparty-release/ingress.yaml
  apps/triageparty-release/secret.yaml
  apps/triageparty-release/service.yaml
  apps/triageparty-release/storage.yaml
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XL, sig/release, approved, area/dns, area/release-eng, area/apps/triageparty-release, area/apps, sig/k8s-infra

#5888 fastly: fix typo in service config
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#5891 Promote etcdadm 3.0.20230925 images
  registry.k8s.io/images/k8s-staging-etcdadm/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5892 releng: Image promotion for kubernetes v1.29.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5896 Image promotion for cluster-api v1.4.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5897 Image promotion for cluster-api v1.5.2
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5898 Promote Vertical Pod Autoscaler 1.0.0
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5899 Increase vm.min_free_kbytes to 540672 on EKS Prow build cluster
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap_green.sh
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/bash, sig/k8s-infra, area/infra/aws

#5903 Create GCP secret for EKS cluster kubeconfig
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#5904 Cleanup Terraform files for EKS cluster
  infra/aws/terraform/cdn.packages.k8s.io/Makefile
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/infra, area/release-eng, sig/k8s-infra, area/infra/aws

#5902 AWS: trust Prow components to access kOps account
  infra/aws/terraform/kops-infra-ci/iam.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#5906 Image promotion for cluster-api-azure v1.11.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5907 Image promotion for cluster-api-azure v1.10.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5908 Enable Filestore API for boskos
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, ok-to-test, area/infra, area/prow, area/bash, sig/k8s-infra

#5912 Promote ingress-nginx v1.9.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
