Repository kubernetes/k8s.io, pull requests merged in 2023-08, with the labels that each got.

#5665 Updating Elekto version to fix bug
  apps/elekto/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#5664 Promote git-sync v4.0.0-rc5
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5669 Update distributors-announce group settings
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#5670 Image promotion for cluster-api-azure v1.9.6
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5671 Image promotion for cluster-api-azure v1.10.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5672 Promote v1.7.10 pdcsi image
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5646 promote persistent-disk-csi-driver 1.8.8, 1.9.7 and 1.10.5 image
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5673 CAPV: fix image promotion staging registry
  registry.k8s.io/manifests/k8s-staging-cluster-api-vsphere/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5674 Image promotion for capi-vsphere v1.8.0-beta.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/OWNERS
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
  registry.k8s.io/images/k8s-staging-cluster-api-vsphere/images.yaml
  registry.k8s.io/manifests/k8s-staging-capi-vsphere/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5675 eks-prow-build-cluster: document workaround for failing Flux Helm Release
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5676 Add sharedCredentialsFile to boskos-scale-001-kops secret
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5678 eks-prow-build-cluster: add bentheelder to EKS Infra Admins
  infra/aws/terraform/iam/k8s-infra-prow-canary/terraform.tfvars
  infra/aws/terraform/iam/k8s-infra-prow/terraform.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5599 aws: Fix sns notification module
  infra/aws/terraform/infrastructure-services/main.tf
  infra/aws/terraform/modules/external-resource-health-check/https-health-check/main.tf
  infra/aws/terraform/modules/sns/sns-subscribe-email/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5679 Image promotion for build-image v1.27.0-go1.20.7-bullseye.0 / v1.25.0-go1.20.7-bullseye.0 / v1.26.0-go1.20.7-bullseye.0 / v1.24.0-go1.20.7-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5680 Image promotion for build-image v2.3.1-go1.20.7-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5682 GKE: Enable GKE CSI driver
  infra/gcp/terraform/kubernetes-public/10-cluster-configuration.tf
  infra/gcp/terraform/modules/gke-cluster/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#5688 Promote cluster-api-ibmcloud-controller:v0.5.2
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5683 Image promotion for build-image v1.28.0-go1.21rc4-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5690 Adjust alert mailing list for Cluster API Provider vSphere
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#5691 Image promotion for capi-operator v0.5.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5693 Promote sig-storage staging images to prod
  registry.k8s.io/images/k8s-staging-sig-storage/generate.sh
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5694 Image promotion for build-image v0.2.7
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5695 AWS: setup config for kOps CI
  infra/aws/terraform/kops-infra-ci/data.tf
  infra/aws/terraform/kops-infra-ci/locals.tf
  infra/aws/terraform/kops-infra-ci/provider.tf
  infra/aws/terraform/kops-infra-ci/terraform.tf
  infra/aws/terraform/kops-infra-ci/versions.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5696 Adding k8s-infra-kops-scale-tests bucket with public read
  infra/aws/terraform/s3/k8s-infra-e2e-boskos-scale-001/.gitignore
  infra/aws/terraform/s3/k8s-infra-e2e-boskos-scale-001/.terraform.lock.hcl
  infra/aws/terraform/s3/k8s-infra-e2e-boskos-scale-001/bucket.tf
  infra/aws/terraform/s3/k8s-infra-e2e-boskos-scale-001/providers.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5699 AWS: Add a VPC for kOps CI
  infra/aws/terraform/kops-infra-ci/locals.tf
  infra/aws/terraform/kops-infra-ci/variables.tf
  infra/aws/terraform/kops-infra-ci/vpc.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#5700 AWS: add EKS cluster for kOps CI
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/variables.tf
  infra/aws/terraform/kops-infra-ci/vpc.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5702 Promote kOps 1.28.0-alpha.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5703 Promote kOps 1.28.0-alpha.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0-alpha.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5704 Image promotion for capi-vsphere v1.8.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5705 Image promotion for capi-vsphere v1.5.7
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5707 Image promotion for capi-vsphere v1.6.2
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5706 Image promotion for capi-vsphere v1.7.2
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5636 k8s.gcr.io: Sync OWNERS for k8s-staging-kube-state-metrics
  registry.k8s.io/images/k8s-staging-kube-state-metrics/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5709 Image promotion for cluster-api-azure v1.9.7
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5710 Image promotion for cluster-api-azure v1.10.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5711 Adding marosset to k8s-infra-release-editors
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#5712 adding marosset's gmail to release-editors
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#5713 releng: Image promotion for kubernetes v1.28.0-rc.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5686 Publish network proxy images for v0.1.3 tag.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5714 Promote smb csi driver image v1.12.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5716 Update cloud-provider-openstack OWNERS
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#5718 Image promotion for scl-image-builder v0.1.18
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5720 releng: Image promotion for kubernetes v1.28.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5721 Promote kueue v0.4.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5723 Promote aws-ebs-csi-driver v1.22.0 image
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5701 add new coredns image version: v1.11.0
  registry.k8s.io/images/k8s-staging-coredns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5724 Bump busybox image
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5725 Update summit-team for KCSNA2023
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#5728 Promote Jobset v0.2.1 image to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5685 prow-build-trusted: Add PVC for publishing-bot
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-pvcs.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#5729 Image promotion for cluster-api-helm v0.1.0-alpha.9
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5731 Publish apiserver network proxy image v0.1.4 tag
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5730 Promote git-sync v4.0.0 final
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5733 removing marosset from k8s-infra-release-editors
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#5735 Image promotion for capi-operator v0.5.1
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5737 Image promotion for gmsa-webhook v0.7.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5738 redirect to rendered OWNERS docs on kubernetes.dev instead of github …
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#5739 Promote AWS CCM v1.28.1
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5740 Image promotion for build-image v1.28.0-go1.21.0-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5741 Image promotion for build-image v2.3.1-go1.21.0-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5742 Image promotion for releng 1.21.0-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5744 Promote kwok v0.4.0
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5732 Update leads and conduct email lists, plus OWNERS_ALIASES for CoCC 2023 Election
  OWNERS_ALIASES
  groups/committee-code-of-conduct/groups.yaml
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, committee/code-of-conduct, area/access, area/groups, sig/k8s-infra

#5743 add new coredns image version: v1.11.1
  registry.k8s.io/images/k8s-staging-coredns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5747 Promote jobset v0.2.2 to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5748 releng: Image promotion for kubernetes v1.24.17
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5749 releng: Image promotion for kubernetes v1.25.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5751 releng: Image promotion for kubernetes v1.26.8
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5750 releng: Image promotion for kubernetes v1.27.5
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5746 descheduler: promote v0.28.0 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5752 releng: Image promotion for kubernetes v1.28.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5753 Image promotion for prometheus-adapter v0.10.1
  registry.k8s.io/images/k8s-staging-prometheus-adapter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5754 Image promotion for prometheus-adapter v0.11.1
  registry.k8s.io/images/k8s-staging-prometheus-adapter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5756 Bump v0.4.0 version
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5760 Add yussufsh as an OWNERS
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5758 add openstack 1.28.0 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5764 add KCS China summit team member
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#5765 SIG-Autoscaling - Cluster Autoscaler v1.28.0 promotion
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5766 Release 0.8.14
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5767 Image promotion for build-image v2.3.1-go1.21.0-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5770 Image promotion for cluster-api v1.4.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5776 Image promotion for capi-vsphere v1.8.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5777 Add cloud-provider-openstack 1.27.2 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5779 Image promotion for build-image v1.29.0-go1.21.0-bookworm.0 / v1.28.0-go1.20.7-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5717 Update cloud-provider-openstack google group membership
  groups/sig-architecture/groups.yaml
  groups/sig-cloud-provider/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/architecture, approved, sig/cloud-provider, area/access, area/groups, sig/k8s-infra

#5778 Promote gcp-compute-persistent-disk-csi-driver v1.7.11, v1.7.12, v1.8.9, v1.8.10 v1.9.8, v1.9.9, v1.10.6, v1.10.7, v1.11.0 and v1.11.1
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5781 Updating to current sig cloud provider chairs
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#5775 add scheduler plugins dns name
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/dns

#5783 Image promotion for build-image v0.3.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng
