Repository kubernetes/k8s.io, pull requests merged in 2023-06, with the labels that each got.

#5347 images: promote node-feature-discovery v0.13.2 and v0.12.4
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5349 chore: promote capa v2.1.3
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5348 CAPO Release v0.7.3
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5350 cdn.dl.k8s.io: Add Fastly endpoint for dualstack
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#5346 Promote nfs csi driver image v4.3.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5357 Manage ACM certificate for monitoring with Terraform
  infra/aws/terraform/modules/eks-prow-iam/policy_apply.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_destroy.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_plan.tf
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/monitoring_acm.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#5356 Remove cadvisor from eks-prow-build-cluster
  infra/aws/terraform/prow-build-cluster/resources/monitoring/README.md
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/ds.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/cadvisor/service.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#5352 Promoting Gateway API image for v0.7.1
  registry.k8s.io/images/k8s-staging-gateway-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5362 Fix sig-contribex@kubernetes.io owners
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#5368 Image promotion for cluster-api v1.4.3
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5369 Add image-builder approvers to OWNERS file
  registry.k8s.io/images/k8s-staging-scl-image-builder/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5366 Add jpbetz to groups.yaml as TL of sig-apimachinery
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#5371 Fastly: ensure GCS cookies are dropped
  infra/fastly/terraform/dl.k8s.io/services.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#5372 Promote kwok v0.2.1
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5355 EKS Prow build cluster: add monitoring for Kubelet and ProwJob pods
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/prow.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/deplyment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kubelet/prow-rules.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kubelet/service-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5374 Add forgotten FluxCD PodMonitor and fix memory usage
  infra/aws/terraform/prow-build-cluster/resources/flux-system/pod-monitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/flux-control-plane.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#5375 Image promotion for build-image v1.27.0-go1.20.5-bullseye.0 / v1.25.0-go1.19.10-bullseye.0 / v1.26.0-go1.19.10-bullseye.0 / v1.23.0-go1.19.10-bullseye.0 / v1.24.0-go1.19.10-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5376 Image promotion for build-image v2.3.1-go1.20.5-bullseye.0 / v2.3.1-go1.19.10-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5377 Image promotion for releng 1.20.5-bullseye-0 / 1.19.10-bullseye-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5381 eks-prow-build-cluster: add missing namespace to grafana dashboard test-infra CM
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/test-infra-dashboard.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5382 Image promotion for capi-operator v0.3.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5384 Image promotion for build-image v0.2.5
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5378 Promote nfs csi driver image v4.4.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5389 Image promotion for cluster-api-do v1.3.0
  registry.k8s.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5388 Image promotion for cluster-api-gcp v1.3.1
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5394 releng: Image promotion for kubernetes v1.28.0-alpha.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5387 eks-prow-build-cluster: temporarily disable selected grafana dashboards
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5396 Remove Luke Hinds from SRC
  OWNERS_ALIASES
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#5403 Fix typo in kube-state-metrics deployment file name
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5405 groups: Add MadhavJivrajani to github@ list contribex
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#5402 eks-prow-build-cluster: docs improvements
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
  infra/aws/terraform/prow-build-cluster/docs/IaC.md
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5409 Configure IRSA for node e2e tests in dev account
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5410 Image promotion for scl-image-builder v0.1.16
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5411 Promote cluster-proportional-autoscaler:v1.8.8-rc.1.
  registry.k8s.io/images/k8s-staging-cpa/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5417 cloud-provider-gcp gcp-compute-persistent-disk-csi-driver v1.10.{2,3}
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5418 Image promotion for artifact-promoter v4.0.1-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#5419 add cloud-provider openstack 1.25.6 & 1.26.3 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5421 Promote volume/iscsi images
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5422 releng: Image promotion for kubernetes v1.24.15
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5423 releng: Image promotion for kubernetes v1.25.11
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5424 releng: Image promotion for kubernetes v1.26.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#5425 releng: Image promotion for kubernetes v1.27.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#5428 eks-prow-build-cluster: FluxCD Logs Grafana Dashboard
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/dashboards/flux-logs.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/flux-hr-loki.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/flux-source-helm-grafana-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#5427 Update TestGrid to use load balancer
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/access, area/dns, area/groups, sig/k8s-infra

#5429 Revert "Update TestGrid to use load balancer"
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#5430 eks-prow-build-cluster: Update missing Loki datasource
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/datasources.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5434 Promote kOps 1.26.4 and 1.27.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5436 Promote kOps 1.27.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.27.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5437 Promote kOps 1.26.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.26.4.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5438 Add a daemonset for tuning fs.inotify.max_user_watches
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#5439 bump sysctl(s) for inotify to account for CAPI/kubeadm
  infra/aws/terraform/prow-build-cluster/bootstrap/node_bootstrap.sh
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/tune-sysctls_daemonset.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, area/bash, sig/k8s-infra, area/infra/aws

#5440 promote etcd 3.4.13-4
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#5442 Image promotion for artifact-promoter v4.0.2-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#5449 Promote v0.3.0
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5447 Promote kOps 1.27.0-beta.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5448 Promote kOps 1.27.0-beta.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.27.0-beta.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5453 Image promotion for cluster-api-azure v1.8.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5454 Image promotion for cluster-api-azure v1.9.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5455 prmote addon manager v9.1.7
  registry.k8s.io/images/k8s-staging-addon-manager/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5457 Image promotion for artifact-promoter v4.0.3-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#5456 promote filestorecsi images to k8s prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5461 Image promotion for artifact-promoter v4.0.4-0
  registry.k8s.io/images/k8s-staging-artifact-promoter/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/artifacts, area/release-eng

#5458 Promote Vertical Pod Autoscaler 0.14.0
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5460 Adding New k8s.io lists for api-machinery in order to fix Zoom accounts and prepare for future list migrations
  groups/restrictions.yaml
  groups/sig-api-machinery/groups.yaml
Labels: cncf-cla: yes, lgtm, sig/api-machinery, size/L, approved, tide/merge-method-squash, area/access, area/groups, sig/k8s-infra

#5465 promote ingress-nginx test-runner build with go v1.20.5
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5466 update e2e-test-runner with golang 1.20.5
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5470 Promote kOps 1.28.0-alpha.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5471 Promote kOps 1.28.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.0-alpha.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#5463 Add an AWS account for OBS infra
  infra/aws/terraform/management-account/organization-accounts-workloads-prod.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#5474 Promote dns 1.22.22 and 1.22.23 images
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5467 Promote git-sync v3.6.8 (baseimage CVEs)
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5433 Add DNS challenge for TestGrid cert.
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#5475 Promote git-sync v4.0.0-rc2
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5472 promote new baseimage
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5478 eks-prow-build-cluster: Update Ubuntu AMI
  infra/aws/terraform/modules/eks-prow-iam/policy_apply.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_destroy.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#5479 Image promotion for cluster-api v1.3.9
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5480 Image promotion for cluster-api v1.4.4
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5482 Image promotion for cluster-api v1.5.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5484 promoting go1205 & alpine3182 images
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5487 Promote ingress-nginx v1.8.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5488 Change alpine registry to avoid docker.io rate limiting
  infra/aws/terraform/prow-build-cluster/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/tune-sysctls_daemonset.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws

#5492 Image promotion for build-image v1.28.0-go1.21rc2-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5494 Promote Addon Resizer 1.8.19
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5493 Image promotion for build-image v2.3.1-go1.21rc2-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#5497 Promote jobset v0.2.0 to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#5498 Push 5.0.1,5.2.0.5.1.0 to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#5397 Add DNS for CAPIBM release branches
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#5500 Allow prow-build to write to cri-tools bucket
  groups/sig-node/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, approved, area/access, area/groups, sig/k8s-infra
