Repository kubernetes/k8s.io, pull requests merged in 2024-01, with the labels that each got.

#6236 descheduler: promote v0.29.0 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6182 promote image gcr.io/k8s-staging-cloud-pv-labeler/cloud-pv-admission-labeler:v0.3.0
  registry.k8s.io/images/k8s-staging-cloud-pv-labeler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6237 Image promotion for provider-aws v1.28.4 / v1.27.5 / v1.26.10 / v1.25.14 / v1.24.18 / v1.23.19 / v1.29.1
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6240 Promote provider-aws 1.27.5, 1.28.4, 1.29.1 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.27.5.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.28.4.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.29.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, needs-ok-to-test, approved, area/artifacts

#6239 Sink `legacy.apt|yum.k8s.io` logs to bq for analysis
  infra/gcp/terraform/k8s-infra-public-pii/main.tf
  infra/gcp/terraform/kubernetes-public/10-cluster-configuration.tf
  infra/gcp/terraform/kubernetes-public/k8s-infra-prow.tf
  infra/gcp/terraform/kubernetes-public/sinks.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#6244 update webhook golang
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6248 kOps CI: Deploy cluster-autoscaler
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/locals.tf
  infra/aws/terraform/kops-infra-ci/metrics-server.tf
  infra/aws/terraform/kops-infra-ci/resources/mem-limit-range_limitrange.yaml
  infra/aws/terraform/kops-infra-ci/resources/test-pods-poddisruptionbudget.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#6249 kOps CI: Create S3 buckets
  infra/aws/terraform/kops-infra-ci/main.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#6117 .*: phase out ContribEx leads <3
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#6251 Sink logs from prod redirector instance
  apps/k8s-io/configmap-nginx.yaml
  infra/gcp/terraform/kubernetes-public/sinks.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/contributor-experience, approved, area/infra, area/terraform, area/apps, sig/k8s-infra

#6252 Promote v1.26.1 aws-ebs-csi-driver
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6254 Update community and summit-team members
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#6246 Sync NPD owners with upstream and add myself as approver
  registry.k8s.io/images/k8s-staging-npd/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6241 Promote NPD v0.8.15 image
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6250 Configure pii access via groups
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
  infra/gcp/terraform/k8s-infra-public-pii/main.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/infra, area/terraform, area/groups, sig/k8s-infra

#6255 Publish network proxy images for 0.28.3 and 0.1.6 release tags.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6260 Image promotion for capi-vsphere v1.9.0-beta.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6170 Add kubecost deployment to the prow clusters
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-helm-kubecost-chart.yaml
  infra/aws/terraform/prow-build-cluster/resources/kubecost/canary-cluster-values.yaml
  infra/aws/terraform/prow-build-cluster/resources/kubecost/flux-hr-kubecost.yaml
  infra/aws/terraform/prow-build-cluster/resources/kubecost/prod-cluster-values.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, ok-to-test, area/infra, sig/k8s-infra, area/infra/aws

#6261 Image promotion for build-image v1.30.0-go1.21.6-bullseye.0 / v1.29.0-go1.21.6-bullseye.0 / v1.28.0-go1.20.13-bullseye.0 / v1.27.0-go1.20.13-bullseye.0 / v1.26.0-go1.20.13-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6256 Promote csi-node-driver-registrar v2.10.0 image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6262 Image promotion for build-image v2.3.1-go1.21.6-bookworm.0 / v2.3.1-go1.20.13-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6263 Image promotion for releng 1.20.13-bookworm-0 / 1.21.6-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6268 Update Summit staff ML
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#6267 Update images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6269 Image promotion for build-image v0.4.4 / v0.2.9
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6270 Add jdzikowski to scalability oncall
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, ok-to-test, area/access, area/groups, sig/k8s-infra

#6273 [1.30] Updates google groups for v1.30 release
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#6277 Image promotion for capi-operator v0.8.1
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6281 Promote git-sync v4.2.0
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6282 Promote smb and nfs csi driver images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6285 releng: Image promotion for kubernetes v1.26.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6283 releng: Image promotion for kubernetes v1.28.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6284 releng: Image promotion for kubernetes v1.27.10
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6287 Image promotion for capi-vsphere v1.9.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6288 images: promote node-feature-discovery v0.15.1
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6289 Image promotion for capi-vsphere v1.0.0 / v1.0.1 / v1.0.2 / v1.0.3 / v1.1.0 / v1.1.1 / v1.2.0 / v1.3.0 / v1.3.1 / v1.3.2 / v1.3.3 / v1.3.4 / v1.3.5 / v1.4.0 / v1.4.1 / v1.4.2 / v1.5.0 / v1.5.1 / v1.5.2 / v1.5.3 / v1.5.4 / v1.5.5 / v1.5.6 / v1.6.0 / v1.6.1 / v1.7.0 / v1.7.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6291 Fix cloud-provider-openstack approvers
  registry.k8s.io/images/k8s-staging-provider-os/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6290 Add cloud-provider-openstack 1.29.0 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6265 Add sig-cluster-lifecycle@kubernetes.io group, update emails/lists
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#6292 Promote kueue image v0.5.2
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6293 Image promotion for cluster-api-azure v1.11.8
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6295 Image promotion for cluster-api-azure v1.12.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6296 prow-build-trusted: switch to newer storage class for ghproxy
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-storage.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6297 Image promotion for cluster-api-azure v1.13.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6294 kOps CI: change ACL for state store
  infra/aws/terraform/kops-infra-ci/main.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#6302 Image promotion for build-image v1.30.0-go1.22rc1-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6305 Update metrics-server images OWNERS
  registry.k8s.io/images/k8s-staging-metrics-server/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6307 add shatag of new testrunner img
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, sig/k8s-infra, area/registry.k8s.io

#6310 Remove k8s-gsm-tools from image promo
  infra/gcp/infra.yaml
  registry.k8s.io/images/k8s-staging-k8s-gsm-tools/OWNERS
  registry.k8s.io/images/k8s-staging-k8s-gsm-tools/images.yaml
  registry.k8s.io/manifests/k8s-staging-k8s-gsm-tools/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/infra, sig/k8s-infra, area/registry.k8s.io

#6311 ingress-nginx 1.8.5 release
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6312 Promote aws-ebs-csi-driver v1.27.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6298 Image promotion for metrics-server v0.7.0
  registry.k8s.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6313 Promote gcp-compute-persistent-disk-csi-driver v1.13.0
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6315 promote filestorecsi driver images to k8s prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6306 eks-prow-build: switch some components to the stable node group
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/modules/cluster-autoscaler/cluster-autoscaler.tf
  infra/aws/terraform/prow-build-cluster/modules/metrics-server/metrics-server.tf
  infra/aws/terraform/prow-build-cluster/providers.tf
  infra/aws/terraform/prow-build-cluster/resources/boskos/aws-janitor.yaml
  infra/aws/terraform/prow-build-cluster/resources/boskos/boskos.yaml
  infra/aws/terraform/prow-build-cluster/resources/boskos/reaper.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#6318 Promote kOps 1.28.3 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6319 Promote kOps 1.28.3 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.3.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#6324 Promote pdcsi v1.8.19 and v1.9.16
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6325 eks-prow-build-cluster: Use dedicated Managed Node Groups (MNGs) per Availability Zone (AZ) (prod rollout)
  infra/aws/terraform/prow-build-cluster/docs/NodeUpgradeRunbook.md
  infra/aws/terraform/prow-build-cluster/node_group_blue.tf
  infra/aws/terraform/prow-build-cluster/node_group_green.tf
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#6328 registry.k8s.io: Update known GCP artifact registry prod repositories
  registry.k8s.io/manifests/manifest_test.go
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6309 registry.k8s.io: Add europe-west3 and europe-west10 - Part 1
  registry.k8s.io/manifests/k8s-staging-addon-manager/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-apisnoop/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-artifact-promoter/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-autoscaling/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-bom/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-build-image/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-capi-cloudstack/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-capi-docker/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-capi-ibmcloud/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-capi-ipam-ic/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-capi-openstack/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-capi-operator/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-capi-vsphere/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cloud-provider-gcp/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cloud-provider-ibm/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cloud-pv-labeler/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api-aws/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6322 registry.k8s.io: Add europe-west3 and europe-west10 - Part 2
  registry.k8s.io/manifests/k8s-staging-cluster-api-azure/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api-do/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api-gcp/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api-helm/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api-kubeadm/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cluster-api-nested/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-coredns/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-cpa/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-csi-secrets-store/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-descheduler/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-dns/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-e2e-test-images/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-etcd/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-etcdadm/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-experimental/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-external-dns/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-gateway-api/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-git-sync/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-gmsa-webhook/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-infra-tools/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6326 registry.k8s.io: Add europe-west3 and europe-west10 - Part 3
  registry.k8s.io/manifests/k8s-staging-ingress-controller-conformance/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-ingress-nginx/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-jobset/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kas-network-proxy/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kops/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kube-state-metrics/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kubebuilder/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kubernetes/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kueue/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kustomize/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-kwok/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-metrics-server/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-multitenancy/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-networking/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-nfd/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-npd/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-prometheus-adapter/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-provider-aws/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6327 registry.k8s.io: Add europe-west3 and europe-west10 - Part 4
  registry.k8s.io/manifests/k8s-staging-provider-os/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-publishing-bot/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-releng/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-sched-simulator/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-scheduler-plugins/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-scl-image-builder/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-sig-auth/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-sig-storage/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-slack-infra/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-sp-operator/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-storage-migrator/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-tejolote/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-tg-exporter/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-win-op-rdnss/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-win-svc-proxy/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-zeitgeist/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6308 add ingress-nginx 1.9.6 release
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6329 Push ibm-powervs-block-csi-driver v0.6.0
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6331 Image promotion for build-image v1.30.0-go1.22rc2-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6332 Image promotion for build-image v2.3.1-go1.22rc2-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6334 update e2e test runner for ingress-nginx
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6335 Clean ingress-nginx staging owners
  registry.k8s.io/images/k8s-staging-ingress-nginx/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6339 Image promotion for build-image bookworm-v1.0.1
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6341 registry.k8s.io: Rollout europe-west3 and europe-west10
  infra/gcp/terraform/k8s-infra-oci-proxy-prod/provider.tf
  infra/gcp/terraform/k8s-infra-oci-proxy/provider.tf
  infra/gcp/terraform/modules/monitoring/uptime-alert/versions.tf
  infra/gcp/terraform/modules/oci-proxy/main.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#6346 registry.k8s.io: Add a DNS entry for the Cloudfront distribution
  dns/zone-configs/k8s.io._0_base.yaml
  infra/aws/terraform/registry-k8s-io-prod/outputs.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/dns, sig/k8s-infra, area/infra/aws

#6348 Update email addresses for bots
  audit/create-or-update-audit-pr.sh
  groups/restrictions.yaml
  groups/sig-testing/groups.yaml
  hack/autobump-config.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/access, area/audit, area/groups, sig/k8s-infra

#6349 Image promotion for archeio v0.3.1
  registry.k8s.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6351 releng: Image promotion for kubernetes v1.30.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6343 promote CSI sidecar - resizer image to v1.10.0 version
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6347 registry.k8s.io: Switch to Cloudfront from specific regions
  infra/gcp/terraform/modules/oci-proxy/main.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#6345 Version and toleration updates to prow cluster monitoring stack
  infra/aws/terraform/prow-build-cluster/resources/kubecost/canary-cluster-values.yaml
  infra/aws/terraform/prow-build-cluster/resources/kubecost/prod-cluster-values.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/grafana/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/kube-state-metrics/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/loki-stack/flux-hr-loki.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/node-exporter/ds.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/prometheus-main/prometheus.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/infra, sig/k8s-infra, area/infra/aws

#6354 Update snapshotter image to 7.0.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
