Repository kubernetes/k8s.io, pull requests merged in 2024-11, with the labels that each got.

#7476 Update email for Sreeram
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7446 Adding BlueSky TXT Records
  dns/zone-configs/kubernetes.dev._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, tide/merge-method-squash, area/dns

#7434 Release Team Update
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7477 publish scheduler-plugins v0.30.6
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7472 Azure: Setup Prow build cluster
  infra/README.md
  infra/azure/bash/ensure-resource-groups.sh
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
  infra/azure/terraform/k8s-infra-prow-build/data.tf
  infra/azure/terraform/k8s-infra-prow-build/diagnostic-settings.tf
  infra/azure/terraform/k8s-infra-prow-build/identities.tf
  infra/azure/terraform/k8s-infra-prow-build/logging.tf
  infra/azure/terraform/k8s-infra-prow-build/main.tf
  infra/azure/terraform/k8s-infra-prow-build/network.tf
  infra/azure/terraform/k8s-infra-prow-build/outputs.tf
  infra/azure/terraform/k8s-infra-prow-build/providers.tf
  infra/azure/terraform/k8s-infra-prow-build/rbac.tf
  infra/azure/terraform/k8s-infra-prow-build/variables.tf
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/infra, area/bash, sig/k8s-infra, area/infra/azure

#7481 prow: Setup secret for build cluster
  kubernetes/gke-prow/prow/external-secrets.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/prow, sig/k8s-infra

#7484 CAPO v0.11.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7485 Azure: fix virtual network for the build cluster
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/azure

#7482 Ingress NGINX: Promote `e2e-test-runner` v20241104-02a3933e.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7486 Promote kueue v0.9.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7487 Updating Mickey's preferred email for GCP access
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7488 Image promotion for cluster-api v1.9.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7489 Image promotion for cluster-api v1.8.5
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7490 Image promotion for cluster-api v1.7.8
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7492 releng: Image promotion for kubernetes v1.32.0-beta.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7473 update cloud provider vsphere maintainer
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7494 Image promotion for cloud-pv-vsphere v1.31.1
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7495 Image promotion for capi-vsphere v1.12.0-beta.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7496 Image promotion for cloud-pv-vsphere v1.32.0-beta.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7500 Image promotion for cloud-pv-vsphere v1.32.0-beta.1
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7501 Image promotion for kube-state-metrics v2.14.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7498 add sivchari to capi-alerts-group
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#7503 Release leaderworkerset 0.4.2
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7504 feat: image promotion for v0.4.0
  registry.k8s.io/images/k8s-staging-sched-simulator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7506 Add DNS record for Kubecon
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#7510 Sync CAPZ owners with Azure provider project
  infra/azure/terraform/capz/OWNERS
  registry.k8s.io/images/k8s-staging-cluster-api-azure/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, area/infra, sig/k8s-infra, area/registry.k8s.io, area/infra/azure

#7499 Azure: update tag for resource group post cluster creation
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/azure

#7511 Image promotion for capi-vsphere v1.11.3
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7173 chore: update external-dns maintainers
  registry.k8s.io/images/k8s-staging-external-dns/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, lifecycle/stale, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7512 Promote EBS CSI Driver v1.37.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7508 Image promotion for build-image v2.4.0-go1.22.9-bookworm.0 / v2.4.0-go1.23.3-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7509 Image promotion for releng 1.23.3-bookworm-0 / 1.22.9-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7507 Image promotion for build-image v1.31.0-go1.22.9-bullseye.0 / v1.30.0-go1.22.9-bullseye.0 / v1.29.0-go1.22.9-bullseye.0 / v1.31.0-go1.23.3-bullseye.0 / v1.32.0-go1.23.3-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7513 Promote cloud provider kind correctly
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/k8s-staging-cloud-provider-kind/OWNERS
  registry.k8s.io/images/k8s-staging-cloud-provider-kind/images.yaml
  registry.k8s.io/manifests/k8s-staging-cloud-provider-kind/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp, area/registry.k8s.io

#7516 fix `ci-k8sio-image-promo` job
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7517 Image promotion for build-image v0.5.10 / v0.6.5
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7521 use atlantis for k8s-infra-sandbox-iii
  .atlantis.yaml
Labels: cncf-cla: yes, size/S, approved, sig/k8s-infra

#7524 CAPO v0.11.2
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7523 Add a redirect for bluesky community list
  apps/k8s-io/configmap-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#7461 Add terraform for Azure community image gallery
  infra/azure/terraform/capz/cluster-api-gallery/main.tf
  infra/azure/terraform/capz/main.tf
Labels: cncf-cla: yes, lgtm, size/M, area/provider/azure, sig/cluster-lifecycle, approved, area/infra, sig/k8s-infra, area/infra/azure

#7529 Kueue: Release v0.8.4
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7530 Kueue: Publish v0.9.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7533 updating release signal shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7537 Release JobSet 0.7.1
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7518 Fastly: fix the cache rule for the version markers.
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/binaries.vcl
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra

#7538 Update OWNERS files
  apps/OWNERS
  apps/elekto/OWNERS
  apps/gcsweb/OWNERS
  apps/k8s-io/OWNERS
  apps/kubernetes-external-secrets/OWNERS
  apps/slack-infra/OWNERS
  audit/OWNERS
  hack/OWNERS
  infra/gcp/bash/namespaces/OWNERS
  infra/gcp/bash/roles/OWNERS
  infra/gcp/terraform/OWNERS
  infra/gcp/terraform/k8s-infra-prow-build-trusted/OWNERS
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/OWNERS
  infra/gcp/terraform/k8s-infra-prow-build/OWNERS
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/OWNERS
  policy/OWNERS
Labels: cncf-cla: yes, lgtm, size/M, sig/contributor-experience, sig/testing, approved, area/access, area/infra, area/audit, area/prow, area/terraform, area/policy, area/apps/kubernetes-external-secrets, area/apps/gcsweb, area/apps, area/apps/slack-infra, sig/k8s-infra, area/infra/gcp

#7540 descheduler: promote v0.30.2 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7535 Bump network proxy to 0.31.1
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7541 Image promotion for cluster-api v1.9.0-beta.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7542 releng: Image promotion for kubernetes v1.30.7
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7544 releng: Image promotion for kubernetes v1.31.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7545 Image promotion for capi-vsphere v1.12.0-beta.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7536 Add self to sig-instrumentation leads
  OWNERS_ALIASES
  groups/sig-instrumentation/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/instrumentation, approved, area/access, area/groups, sig/k8s-infra

#7478 Update missing emails for Sreeram
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7549 groups: drop ioutil package
  groups/go.mod
  groups/go.sum
  groups/reconcile.go
Labels: cncf-cla: yes, lgtm, size/L, approved, area/access, area/groups, sig/k8s-infra

#7543 add atlantis DNS record
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#5018 Add IAM federation to test artifacts
  infra/aws/terraform/test-artifacts.k8s.io/iam.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#7553 Image promotion for cluster-api-azure v1.16.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7552 Image promotion for cluster-api-azure v1.17.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7526 Promote ip-masq-agent:v2.12.0.
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7554 Promote cluster-api-ibmcloud-controller:v0.9.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7555 Promote coredns to v1.12.0
  registry.k8s.io/images/k8s-staging-coredns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7557 add openstack new images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7559 Image promotion for gmsa-webhook v0.11.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7562 Promote CAPI IPAM In cluster image v1.0.0
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7561 Promote kOps 1.30.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.30.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7560 Promote kOps 1.30.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7563 Image promotion for cluster-api v1.9.0-rc.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7566 releng: Image promotion for kubernetes v1.33.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7567 CAPI v0.10.7 and v0.11.3
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7568 Image promotion for capi-vsphere v1.12.0-rc.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7569 Add magdaz@google.com to scalability-oncall
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, ok-to-test, area/access, area/groups, sig/k8s-infra

#7572 Prow: Add an AKS cluster
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/prow, sig/k8s-infra
