Repository kubernetes/k8s.io, pull requests merged in 2024-03, with the labels that each got.

#6496 k8s-infra-prow-build: use global IP for Grafana Ingress
  infra/gcp/terraform/k8s-infra-prow-build/external-ips.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6507 k8s-infra-prow-build: update IP address for monitoring-gke DNS record
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#6508 Add fabriziopandini to k8s-infra-staging-capi-vsphere
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#6502 add redirections for go.k8s.io
  apps/k8s-io/README.md
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#6512 Promote cuda-vector-add image
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6518 Add 1.28.2 images of cloud-provider-openstack
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6520 Image promotion for capi-vsphere v1.9.2
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6521 k8s-infra-prow-build: remove node-exporter installation
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/node-exporter/ds.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/node-exporter/sa.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/node-exporter/service-monitor.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/monitoring/node-exporter/service.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6472 Setup image release for leaderworkerset
  groups/restrictions.yaml
  groups/sig-apps/groups.yaml
  infra/gcp/infra.yaml
  registry.k8s.io/images/k8s-staging-lws/OWNERS
  registry.k8s.io/images/k8s-staging-lws/images.yaml
  registry.k8s.io/manifests/k8s-staging-lws/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/apps, approved, ok-to-test, area/access, area/artifacts, area/infra, area/groups, sig/k8s-infra, area/registry.k8s.io

#6526 increase GCE pool size by 33%
  infra/gcp/infra.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/boskos-resources-configmap.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6528 Image promotion for build-image v1.29.0-go1.21.8-bullseye.0 / v1.28.0-go1.21.8-bullseye.0 / v1.27.0-go1.21.8-bullseye.0 / v1.26.0-go1.21.8-bullseye.0 / v1.30.0-go1.22.1-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6532 Image promotion for releng 1.22.1-bookworm-0 / 1.21.8-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6531 Image promotion for build-image v2.3.1-go1.21.8-bookworm.0 / v2.3.1-go1.22.1-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6534 Image promotion for build-image v0.4.6 / v0.5.2
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6536 Image promotion for build-image v0.4.6 / v0.5.2
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6538 Drop namespaces related to k8s-infra-prow.k8s.io
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/k8s-infra-test-pods/build-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/k8s-infra-test-pods/cpu-limit-range_limitrange.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/k8s-infra-test-pods/mem-limit-range_limitrange.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/namespaces.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/k8s-infra-test-pods/build-serviceaccounts.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/k8s-infra-test-pods/cpu-limit-range_limitrange.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/k8s-infra-test-pods/mem-limit-range_limitrange.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/namespaces.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6539 Image promotion for build-image v2.3.1-go1.21.8-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6543 disable calico in prow build clusters
  infra/gcp/terraform/modules/gke-cluster/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#6544 Redirect pkgs.k8s.io/ to the announcement blog post
  apps/k8s-io/configmap-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#6545 Fix redirection test for pkgs.k8s.io
  apps/k8s-io/test.py
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#6548 Image promotion for cluster-api-azure v1.14.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6523 Promote NPD image v0.8.17
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6500 Promote dns 1.23.0 images
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6553 promote csi-secrets-store driver:v1.4.2
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6555 images: promote node-feature-discovery v0.15.2
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6556 Remove references to #alerting-cncf-prod in Kubermatic Slack
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-slack-notifications.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/slack-alerting-external-secret.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/alertmanager-main/alertmanager-config.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/alertmanager-main/alertmanager-slack-token.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#6557 Source Slack webhook token for k8s-infra-alerts from GCP SM
  infra/aws/terraform/prow-build-cluster/resources/flux-system/slack-alerting-external-secret.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/alertmanager-main/alertmanager-slack-token.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#6558 Fix ESOs for slack-k8s-infra-alerts-token
  infra/aws/terraform/prow-build-cluster/resources/flux-system/slack-alerting-external-secret.yaml
  infra/aws/terraform/prow-build-cluster/resources/monitoring/alertmanager-main/alertmanager-slack-token.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#6560 Image promotion for cluster-api v1.5.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6561 Image promotion for cluster-api v1.6.3
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6562 Image promotion for cluster-api v1.7.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6559 kops-ci: Bump EKS module
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/terraform.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#6567 promote image to prod for lws v0.1.0
  registry.k8s.io/images/k8s-staging-lws/OWNERS
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6563 registry.k8s.io: Switch to Cloudfront for Chile
  infra/gcp/terraform/modules/oci-proxy/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#6571 Image promotion for scl-image-builder v0.1.25
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6573 Image promotion for kube-state-metrics v2.11.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6575 Image promotion for capi-vsphere v1.10.0-beta.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6576 releng: Image promotion for kubernetes v1.26.15
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6577 eks-prow-build: fix missing annotations on ESO ServiceAccount
  infra/aws/terraform/prow-build-cluster/resources/external-secrets/external-secrets.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#6584 Promote kOps 1.29.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6585 Promote kOps 1.29.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#6579 Revert adding IPs and DNS records for k8s-io-packages
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/dns, area/terraform, sig/k8s-infra

#6580 Remove the k8s-io-packages app
  apps/k8s-io-packages/.gitignore
  apps/k8s-io-packages/Dockerfile-test
  apps/k8s-io-packages/Makefile
  apps/k8s-io-packages/OWNERS
  apps/k8s-io-packages/README.md
  apps/k8s-io-packages/certificate-prod.yaml
  apps/k8s-io-packages/configmap-nginx.yaml
  apps/k8s-io-packages/deploy.sh
  apps/k8s-io-packages/deployment.yaml
  apps/k8s-io-packages/ingress-canary-v6.yaml
  apps/k8s-io-packages/ingress-canary.yaml
  apps/k8s-io-packages/ingress-prod-v6.yaml
  apps/k8s-io-packages/ingress-prod.yaml
  apps/k8s-io-packages/service.yaml
  apps/k8s-io-packages/test.py
Labels: cncf-cla: yes, lgtm, size/XL, sig/release, approved, area/apps, sig/k8s-infra

#6581 Remove bq sinks used for k8s-io-packages app
  infra/gcp/terraform/k8s-infra-public-pii/main.tf
  infra/gcp/terraform/kubernetes-public/sinks.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#6582 releng: Image promotion for kubernetes v1.29.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6583 releng: Image promotion for kubernetes v1.28.8
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6586 releng: Image promotion for kubernetes v1.27.12
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6589 images: promote node-feature-discovery v0.14.5 and v0.15.3
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6554 Publish network proxy images for several recent tags.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6591 Add Mario Fahlandt to summit-team email
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, priority/important-soon, approved, area/access, area/groups, sig/k8s-infra

#6592 GCP: add a secret SIG CLI Triage Party instance
  apps/triageparty-cli/secret.yaml
  infra/gcp/terraform/kubernetes-public/secrets.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/cli, approved, area/infra, area/terraform, area/apps, sig/k8s-infra

#6595 Promote CAPA v2.4.1 image
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6597 chore: propogate aws-ebs-csi-driver v1.29.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6509 Fastly: Authenticate to a private bucket as origin
  infra/fastly/terraform/dl-sandbox.k8s.dev/services.tf
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/gcs-auth.vcl
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#6602 Fix dns push script
  dns/push.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#6598 Promote csi sidecars
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6607 Update OWNERS for secrets-store-csi-driver
  dns/zone-configs/k8s.io._0_base.yaml
  groups/sig-auth/groups.yaml
  registry.k8s.io/images/k8s-staging-csi-secrets-store/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/auth, approved, area/access, area/artifacts, area/dns, area/groups, sig/k8s-infra, area/registry.k8s.io

#6610 Promote ExternalDNS v0.14.1
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6596 add stefan as apimachinery lead
  OWNERS_ALIASES
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#6613 v1.30 Personnel Changes
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#6612 Promote cloud-provider-aws v1.29.2, v1.28.5, v1.27.6, v1.26.11, v1.25.15, v1.24.19, v1.23.20
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6616 chore: aws-ebs-csi-driver v1.29.1
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6323 Cluster Autoscaler patch releases for 1.26-1.29
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/autoscaling, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6620 Image promotion for cluster-api v1.7.0-beta.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6621 releng: Image promotion for kubernetes v1.30.0-rc.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6623 releng: Image promotion for kubernetes v1.31.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6619 Image promotion for metrics-server v0.7.1
  registry.k8s.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6624 GCP: add a DL to provide access to codesearch
  groups/restrictions.yaml
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/access, area/groups, sig/k8s-infra

#6614 Promote VPA 1.1.0 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6627 Image promotion for set-cap bookworm-v1.0.2
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6631 GCP: fix calendar period for CAPG period
  infra/gcp/terraform/k8s-infra-kubernetes-io/budgets.tf
  infra/gcp/terraform/k8s-infra-kubernetes-io/provider.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#6633 Promote the simulator image v0.2.0
  registry.k8s.io/images/k8s-staging-sched-simulator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io
