Repository kubernetes/k8s.io, pull requests merged in 2024-06, with the labels that each got.

#6634 Promote provider-aws v1.30.0-rc.0 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.30.0-rc.0.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts

#6858 Image promotion for provider-aws v1.30.1 / v1.29.3 / v1.28.6 / v1.27.7 / v1.26.12
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6740 Bootstrap k8s-infra-prow GCP project
  infra/README.md
  infra/gcp/terraform/k8s-infra-prow/addresses.tf
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  infra/gcp/terraform/k8s-infra-prow/gke.tf
  infra/gcp/terraform/k8s-infra-prow/iam.tf
  infra/gcp/terraform/k8s-infra-prow/main.tf
  infra/gcp/terraform/k8s-infra-prow/provider.tf
  infra/gcp/terraform/k8s-infra-prow/registries.tf
  infra/gcp/terraform/k8s-infra-prow/vpc.tf
Labels: cncf-cla: yes, lgtm, size/XL, approved, tide/merge-method-squash, area/infra, area/terraform, sig/k8s-infra

#6857 Kueue: Add v0.7.0 image
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6848 group memberships for 1.31 release team
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#6862 Image promotion for sp-operator v0.8.4
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6863 Sync CSI sidecar images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6864 add verification txt record for etcd.io
  dns/zone-configs/etcd.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#6854 [JobSet] Promote JobSet v0.5.2 to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6542 Add security@etcd.io group
  groups/groups_test.go
  groups/restrictions.yaml
  groups/sig-etcd/OWNERS
  groups/sig-etcd/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/access, area/groups, sig/k8s-infra

#6865 Release lws 0.3.0
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6866 descheduler: promote v0.30.1 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6868 Image promotion for capi-operator v0.11.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6870 Image promotion for build-image v1.31.0-go1.22.4-bullseye.0 / v1.30.0-go1.22.4-bullseye.0 / v1.29.0-go1.21.11-bullseye.0 / v1.28.0-go1.21.11-bullseye.0 / v1.27.0-go1.21.11-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6871 Image promotion for build-image v2.3.1-go1.22.4-bookworm.0 / v2.3.1-go1.21.11-bookworm.0 / v2.3.1-go1.21.11-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6872 Image promotion for releng 1.21.11-bookworm-0 / 1.22.4-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6859 Image promotion for dns 1.23.1
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6873 Image promotion for build-image v0.4.9 / v0.5.5
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6875 Add testgrid email and restrict new members to kueue-alerts
  groups/sig-scheduling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/access, area/groups, sig/k8s-infra

#6876 sig-scheduling: add group for CI failures
  groups/restrictions.yaml
  groups/sig-scheduling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/scheduling, area/access, area/groups, sig/k8s-infra

#6878 Add EmilienM to CAPO maintainers
  groups/sig-architecture/groups.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  registry.k8s.io/images/k8s-staging-capi-openstack/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/architecture, sig/cluster-lifecycle, approved, area/access, area/artifacts, area/groups, sig/k8s-infra, area/registry.k8s.io

#6880 Image promotion for cluster-api v1.7.3
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6881 Image promotion for cluster-api v1.6.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6882 releng: Image promotion for kubernetes v1.27.15
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6886 Image promotion for cluster-api-helm v0.2.4
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6883 releng: Image promotion for kubernetes v1.28.11
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6884 releng: Image promotion for kubernetes v1.29.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6885 releng: Image promotion for kubernetes v1.30.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6887 releng: Image promotion for kubernetes v1.31.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6890 Add cip-test ExternalSecrets to k8s-infra-prow-build cluster
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6892 Source ExternalSecrets for cip from k8s-infra-prow-build
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6893 Image promotion for cluster-api-azure v1.14.6
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6867 Add ybettan to the KMM staging group
  groups/sig-node/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, approved, area/access, area/groups, sig/k8s-infra

#6894 Image promotion for cluster-api-azure v1.15.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6897 Setup image release for etcd-manager
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  images/public-log-asn-matcher/buckets.txt
  infra/gcp/infra.yaml
  registry.k8s.io/images/k8s-staging-etcd-manager/OWNERS
  registry.k8s.io/images/k8s-staging-etcd-manager/images.yaml
  registry.k8s.io/manifests/k8s-staging-etcd-manager/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, area/access, area/artifacts, area/infra, area/groups, sig/k8s-infra, area/registry.k8s.io

#6780 SIG Autoscaling - Update Leads
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-autoscaling/groups.yaml
  registry.k8s.io/images/k8s-staging-autoscaling/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/autoscaling, approved, area/access, area/artifacts, area/groups, sig/k8s-infra, area/registry.k8s.io

#6898 Image promotion for cloud-provider-gcp v29.0.0 / v30.0.0
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6900 Image promotion for cluster-api-aws v2.5.2
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6902 releng: Image promotion for kubernetes v1.31.0-alpha.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6904 Update autoscaling groups.yaml to include rwainman to autoscaling gcr group to help with releases
  groups/sig-autoscaling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/autoscaling, approved, area/access, area/groups, sig/k8s-infra

#6905 Deploy new k8s-staging-images project
  infra/gcp/terraform/k8s-staging-images/buckets.tf
  infra/gcp/terraform/k8s-staging-images/iam.tf
  infra/gcp/terraform/k8s-staging-images/main.tf
  infra/gcp/terraform/k8s-staging-images/provider.tf
  infra/gcp/terraform/k8s-staging-images/registries.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, sig/k8s-infra

#6903 Promote hostpath csi driver image 1.14.0
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6906 migrate etcd-manager to AR
  registry.k8s.io/manifests/k8s-staging-etcd-manager/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6888 Image promotion for cloud-pv-vsphere v1.28.1
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6907 Promote addon-resizer 1.8.22 image
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6912 Promote kOps 1.30.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.30.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#6911 Promote kOps 1.30.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6913 Image promotion for cluster-api-gcp v1.7.0
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6914 Image promotion for build-image v1.29.0-go1.22.4-bullseye.0 / v1.28.0-go1.22.4-bullseye.0 / v1.27.0-go1.22.4-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6915 Promote images for v1.32.0 release
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6916 bump kube-network-policies to v0.3.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6919 bump kube-network-policies to v0.4.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6921 GCP: ensure default compute SA can use KMS keys
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/bash, sig/k8s-infra

#6923 GCP: ensure default engine service agent SA can use KMS keys
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/bash, sig/k8s-infra
