Repository kubernetes/k8s.io, pull requests merged in 2024-10, with the labels that each got.

#7352 Ingress NGINX: Deprecate NGINX v1.21.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7359 Ingress NGINX: Promote NGINX v1.0.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7363 Ingress NGINX: Promote NGINX v0.1.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7365 Image promotion for cluster-api-azure v1.16.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7358 gcp/bash: drop GCR repository creation
  infra/gcp/bash/ensure-staging-storage.sh
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/infra, area/bash, sig/k8s-infra, area/infra/gcp

#7366 Configure AWS SSO for aws-capa-ami account
  infra/aws/terraform/management-account/organization-accounts-capa-playground.tf
  infra/aws/terraform/management-account/organization-accounts-workloads-prod.tf
  infra/aws/terraform/management-account/provider.tf
  infra/aws/terraform/modules/org-account/main.tf
  infra/aws/terraform/modules/org-account/variables.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#6517 feat: added tf infra for AWS ami account
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/README.md
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/hack/disable-block.sh
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/iam.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/oidc.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/providers.tf
  infra/aws/terraform/cncf-k8s-infra-aws-capa-ami/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/bash, sig/k8s-infra, area/infra/aws

#7341 Deploy Istio to the utility cluster
  kubernetes/apps/istio.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/oauth2-proxy.yaml
  kubernetes/gke-utility/argocd/argocd-cm-rbac.yaml
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/argocd-cmd-params-cm.yaml
  kubernetes/gke-utility/argocd/extras.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
  kubernetes/gke-utility/helm/oauth2-proxy.yaml
  kubernetes/gke-utility/istio-system/auth-policy.yaml
  kubernetes/gke-utility/istio-system/gateway.yaml
  kubernetes/gke-utility/istio-system/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, tide/merge-method-squash, area/prow, sig/k8s-infra

#7372 Ingress NGINX: Promote other images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7354 chore: update the owners for recent CAPA changes
  registry.k8s.io/images/k8s-staging-cluster-api-aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7374 Ingress NGINX: Promote `e2e-test-echo` v1.0.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7375 bump kube-network-policies to 0.6.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7351 publish cloud-provider-kind images
  registry.k8s.io/images/k8s-staging-kind/OWNERS
  registry.k8s.io/images/k8s-staging-kind/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7378 Tweak istio install
  kubernetes/apps/ingress-nginx.yaml
  kubernetes/apps/istio.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
  kubernetes/gke-utility/helm/ingress-nginx.yaml
  kubernetes/gke-utility/helm/istio.yaml
  kubernetes/gke-utility/istio-system/auth-policy.yaml
  kubernetes/gke-utility/istio-system/gateway.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/prow, sig/k8s-infra

#7381 Image promotion for cluster-api v1.7.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7382 Image promotion for cluster-api v1.8.4
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7383 Ingress NGINX: Promote controller v1.10.5.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7384 Ingress NGINX: Promote controller v1.11.3.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7386 steering: Onboard/offboard members following 2024 election results
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, do-not-merge/hold, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#7385 Ingress NGINX: Promote controller v1.12.0-beta.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7387 steering: Onboard/offboard members following 2024 election results
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#7388 Image promotion for capi-operator v0.14.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7370 Add a subscription to gs://kubernetes-ci-logs.
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7394 GCP: Bump terraform provider for kubernetes-public
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
  infra/gcp/terraform/kubernetes-public/secrets.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7395 Kettle subscribes to gs://kubernetes-ci-logs changes.
  apps/kettle/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/apps, sig/k8s-infra

#7396 Image promotion for scl-image-builder v0.1.37
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7397 Promote etcd-manager 3.0.20241012 images
  registry.k8s.io/images/k8s-staging-etcd-manager/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7399 reconcile infra changes
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  infra/gcp/terraform/kubernetes-public/iam.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7401 Update groups.yaml
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7403 [eks-prow-build] Kubernetes v1.31 upgrade
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#7404 Image promotion for scl-image-builder v0.1.38
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7405 images: promote node-feature-discovery v0.16.5
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7406 chore: Propagate EBS CSI Driver v1.36.0 images
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7408 Promote kOps 1.31.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.31.0-alpha.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7407 Promote kOps 1.31.0-alpha.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7412 Image promotion for releng 1.22.8-bookworm-0 / 1.23.2-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, ok-to-test, area/release-eng

#7413 Image promotion for build-image v1.32.0-go1.23.2-bullseye.0 / v1.31.0-go1.23.2-bullseye.0 / v1.31.0-go1.22.8-bullseye.0 / v1.30.0-go1.22.8-bullseye.0 / v1.29.0-go1.22.8-bullseye.0 / v1.28.0-go1.22.8-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, ok-to-test, area/release-eng

#7415 Image promotion for build-image v0.5.9 / v0.6.4
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, ok-to-test, area/release-eng

#7417 Update groups with work email for aojea
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#7422 Promote NPD image v0.8.20
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7418 Add kevin to wg-batch leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#7424 Image promotion for capi-vsphere v1.10.4
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7423 Image promotion for capi-vsphere v1.11.2
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7425 Image promotion for capi-vsphere v1.9.6
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7426 Image promotion for scl-image-builder v0.1.39
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7421 Bump network proxy to 0.31.0
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7429 Cluster Autoscaler - October 2024 Patch Release Promotion
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7430 CAPO v0.11.0-rc.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7428 releng: Image promotion for kubernetes v1.32.0-alpha.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7431 release v0.4.1 for lws
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7433 azure/bash: Fix location variable
  infra/azure/bash/ensure-resource-groups.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra, area/infra/azure

#7435 promote capi-ipam-in-cluster controller image v1.0.0-rc.2
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7432 add kevin hannon to wg-batch email list
  groups/wg-batch/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra, wg/batch

#7438 Image promotion for cluster-api-gcp v1.8.0
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7441 releng: Image promotion for kubernetes v1.29.10
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7442 releng: Image promotion for kubernetes v1.30.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7443 releng: Image promotion for kubernetes v1.31.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7450 Image promotion for gmsa-webhook v0.10.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7449 Image promotion for cluster-api-helm v0.2.6
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7452 Image promotion for cluster-api-azure v1.17.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7453 Image promotion for cluster-api-azure v1.16.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7454 Switch kettle to recently-built, tagged image.
  apps/kettle/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/apps, sig/k8s-infra

#7455 add polynomial to scalability oncalls
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, area/access, area/groups, sig/k8s-infra

#7380 Promote gcp pdcsi v1.15.1
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7456 sig-cl: add myself to the CAPV alerts group
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#7448 Remove alculquicondor from kueue and sched-simulator OWNERS
  groups/sig-scheduling/groups.yaml
  registry.k8s.io/images/k8s-staging-kueue/OWNERS
  registry.k8s.io/images/k8s-staging-sched-simulator/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/access, area/artifacts, area/groups, sig/k8s-infra, area/registry.k8s.io

#7457 Promote JobSet v0.7.0
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7451 images: promote node-feature-discovery v0.15.7
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7459 CAPO v0.11.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7462 chore: promote CAPA v2.7.1 image
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6810 Update groups.yaml to add content team shadows
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#7463 Promote kwok v0.6.1
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7465 CAPO v0.10.6
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7466 releng: Image promotion for kubernetes v1.32.0-alpha.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7470 Promote NFD v0.16.6
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
