Repository kubernetes/k8s.io, pull requests merged in 2024-04, with the labels that each got.

#6632 Image promotion for provider-aws v1.30.0-rc.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6635 Image promotion for cluster-api-azure v1.13.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6636 Image promotion for cluster-api-azure v1.14.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6637 CAPO v0.10.0-alpha.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6638 Image promotion for cluster-api v1.7.0-rc.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6639 releng: Image promotion for kubernetes v1.30.0-rc.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6644 Update etcd.io dns from netlify
  dns/zone-configs/etcd.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#6541 chore: update external-dns Maintainers
  registry.k8s.io/images/k8s-staging-external-dns/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6605 Remove invalid dash.etcd.io dns entry
  dns/zone-configs/etcd.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#6647 CAPO release v0.10.0-alpha.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6650 added new testrunner image
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, sig/k8s-infra, area/registry.k8s.io

#6649 added new nginx-1-25 image sha
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, sig/k8s-infra, area/registry.k8s.io

#6651 added new webhookcertgen image
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, triage/accepted, sig/k8s-infra, area/registry.k8s.io

#6652 Image promotion for cluster-api-helm v0.2.0
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6655 Promote NPD image v0.8.18
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6653 Image promotion for build-image v2.3.1-go1.22.2-bookworm.0 / v2.3.1-go1.21.9-bookworm.0 / v1.30.0-go1.22.2-bullseye.0 / v1.29.0-go1.21.9-bullseye.0 / v1.28.0-go1.21.9-bullseye.0 / v1.27.0-go1.21.9-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6654 Image promotion for releng 1.22.2-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6656 Image promotion for releng 1.21.9-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6658 Image promotion for build-image v0.4.7 / v0.5.3
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6659 images: promote node-feature-discovery v0.14.6 and v0.15.4
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6663 Image promotion for build-image v2.3.1-go1.21.9-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6666 Image promotion for capi-vsphere v1.9.3
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6664 Image promotion for capi-vsphere v1.7.6
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6665 Image promotion for capi-vsphere v1.8.9
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6648 Add DNS for CAPI release-1.7 branch
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#6514 Promote agnhost:2.48 image
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6668 Update OWNERS_ALIASES from k/community
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#6669 Image promotion for sp-operator v0.8.3
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6667 Add k8s-github-robot-github-token to trusted cluster
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6671 Temporarily add cblecker to org admin
  groups/groups_test.go
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#6672 Revert temporary changes
  groups/groups_test.go
  groups/sig-k8s-infra/groups.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/serviceaccounts.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/infra, area/prow, area/terraform, area/groups, sig/k8s-infra

#6675 Image promotion for capi-operator v0.9.2
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6676 Promote local volume provisioner image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6677 Image promotion for cluster-api v1.7.0-rc.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6679 Add Jay Tihema to k8s-infra-ii-coop
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#6657 Add restart script to codesearch for daily restart
  apps/codesearch/restart.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, ok-to-test, area/apps, sig/k8s-infra

#6681 Promote Kueue v0.6.2
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6688 Owners: Add Gacko to Ingress NGINX approvers.
  registry.k8s.io/images/k8s-staging-ingress-nginx/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6686 Image promotion for ingress-nginx v1.10.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6690 Serve kube-rbac-proxy images from registry.k8s.io
  registry.k8s.io/images/k8s-staging-kubebuilder/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/api-machinery, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6680 Image promotion for cluster-api-helm v0.2.1
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6691 Image promotion for ingress-nginx v20240410-641eaf6f
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6692 releng: Image promotion for kubernetes v1.30.0-rc.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6693 Image promotion for cluster-api-azure v1.13.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6694 Image promotion for cluster-api-azure v1.14.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6696 CAPO: v0.10.0-rc.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6697 Image promotion for cluster-api-aws v2.4.2
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6699 kettle: use different role for service account
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#6702 publish scheduler-plugins v0.28.8
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6698 CAPO: v0.10.0-rc.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6704 Add access for kettle SA to kubernetes-public project
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#6661 Sync CAAPH maintainers
  registry.k8s.io/images/k8s-staging-cluster-api-helm/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6622 Cluster Autoscaler - March 2024 Patch Release Promotions
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6705 publish scheduler-plugins v0.28.9
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6707 Promote Jobset v0.5.0 image to prod
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6701 Promote git-sync v4.2.2
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6712 releng: Image promotion for kubernetes v1.27.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6715 Image promotion for cluster-api v1.5.8
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6716 Image promotion for cluster-api v1.6.4
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6717 Image promotion for cluster-api v1.7.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6713 releng: Image promotion for kubernetes v1.28.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6718 Add 8Gi memory limit and request to codesearch container
  apps/codesearch/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/apps, sig/k8s-infra

#6719 Add new github orgs to the fetch-repos.py script used by codesearch container
  images/codesearch/cs-fetch-repos/src/fetch-repos.py
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, sig/k8s-infra

#6722 Add serathius to scalability oncalls
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, area/access, area/groups, sig/k8s-infra

#6725 CAPO: v0.10.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6726 promote csi-secrets-store driver:v1.4.3
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6727 releng: Image promotion for kubernetes v1.30.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6682 Add github-management-alerts mailing list
  groups/restrictions.yaml
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#6730 Add rsvarinskis@google.com to sig-scalability oncall group
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, needs-ok-to-test, approved, area/access, area/groups, sig/k8s-infra

#6732 Reduce replica count to 1 for codesearch deployment and use recent image
  apps/codesearch/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/apps, sig/k8s-infra

#6728 remove listx from oncall and reviewers
  OWNERS_ALIASES
  groups/sig-testing/groups.yaml
  registry.k8s.io/images/k8s-staging-e2e-test-images/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/artifacts, area/groups, sig/k8s-infra, area/registry.k8s.io

#6735 remove redundant webhook image
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6736 remove ingress-nginx controller 1.10.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6737 re add 1.10.1 back
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6739 Promote image for v0.2.0 for lws
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6738 Update sig-cli leads
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-cli/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cli, approved, area/access, area/groups, sig/k8s-infra

#6742 Update sig network groups.yaml
  groups/sig-network/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/access, area/groups, sig/k8s-infra

#6741 Update OWNERS for k8s-staging networking images
  registry.k8s.io/images/k8s-staging-networking/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6743 promote kube-network-policies v0.1.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6744 Publish network proxy images for 0.28.5 & 0.29.2 & 0.30.2 release tag.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6748 Promote EBS CSI Driver v1.30.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6720 Create cloud provider vsphere staging repo
  groups/restrictions.yaml
  groups/sig-cloud-provider/groups.yaml
  infra/gcp/infra.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/cloud-provider, area/access, area/infra, area/groups, sig/k8s-infra

#6751 Image promotion for provider-aws v1.30.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6750 Image promotion for etcd 3.5.13-0
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, ok-to-test, area/release-eng

#6752 Image promotion for cluster-api-do v1.5.0
  registry.k8s.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6709 Add config for vsphere cloud provider image promotion
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/OWNERS
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
  registry.k8s.io/manifests/k8s-staging-cloud-pv-vsphere/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/cloud-provider, area/access, area/artifacts, area/infra, area/groups, sig/k8s-infra, area/registry.k8s.io

#6754 Image promotion for cluster-api v1.7.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6756 Publish network proxy images for 0.1.9
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6759 Image promotion for capi-vsphere v1.10.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6760 Image promotion for capi-operator v0.10.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6762 Promote Cluster Autoscaler 1.30.0 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6710 Add azimjon@google.com to sig scalability oncall group #6729
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, needs-ok-to-test, approved, area/access, area/groups, sig/k8s-infra

#6757 Image promotion for cluster-api-helm v0.2.2
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6761 Promote kwok v0.5.2
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6764 Promote vertical-pod-autoscaler 1.1.1 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6765 promoting agnhost 2.50
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6767 bump kube-network-policies
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6768 Image promotion for cluster-api-azure v1.13.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6769 Image promotion for cluster-api-azure v1.14.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6766 Promote agnhost 2.51
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6758 WG Serving mailing list
  OWNERS_ALIASES
  groups/restrictions.yaml
  groups/wg-serving/OWNERS
  groups/wg-serving/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/apps, approved, area/access, area/groups, sig/k8s-infra

#6774 promote agnhost 2.52
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6775 Image promotion for cluster-api-do v1.6.0
  registry.k8s.io/images/k8s-staging-cluster-api-do/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6771 Image promotion for cluster-api-aws v2.5.0
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6777 Image promotion for capi-operator v0.10.1
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6778 CAPO v0.10.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
