Repository kubernetes/k8s.io, pull requests merged in 2024-08, with the labels that each got.

#7114 Image promotion for cloud-pv-vsphere v1.31.0-rc.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7099 Promote VPA 1.2.0 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7118 aws/kops: Setup AWS CloudWatch Observability agent
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/pod-identity.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#7122 add contribex leads as moderators for leads DL
  groups/OWNERS
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#7117 Use a dedicated kubernetes service account for azure jobs
  infra/aws/terraform/prow-build-cluster/resources/test-pods/build-serviceaccounts.yaml
  infra/azure/terraform/capz/iam-config/eks-param.json
  infra/azure/terraform/capz/iam-config/gce-param.json
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/build-serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/S, area/provider/azure, sig/cluster-lifecycle, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws, area/infra/gcp, area/infra/azure

#7068 eks-prow-build-cluster: Switch the cluster to the API authentication
  infra/aws/terraform/prow-build-cluster/aws-auth.tf
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/locals.tf
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#6708 Add instructions for adding new DNS zone
  dns/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#7124 eks-prow-build-cluster: Remove ASGs and bastion host
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/bastion.tf
  infra/aws/terraform/prow-build-cluster/docs/Debug.md
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/node_group_stable.tf
  infra/aws/terraform/prow-build-cluster/node_group_us-east-2a.tf
  infra/aws/terraform/prow-build-cluster/node_group_us-east-2b.tf
  infra/aws/terraform/prow-build-cluster/node_group_us-east-2c.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#7123 Deploy arm64 nodepool on the GKE Build Cluster
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/modules/gke-nodepool/variables.tf
Labels: cncf-cla: yes, lgtm, size/S, size/M, sig/testing, approved, tide/merge-method-squash, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#7027 Azure: Storage accounts for Terraform states
  infra/azure/README.md
  infra/azure/bash/ensure-resource-groups.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/bash, sig/k8s-infra, area/infra/azure

#7130 releng: Image promotion for kubernetes v1.31.0-rc.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7125 WG etcd-operator mailing list
  OWNERS_ALIASES
  groups/restrictions.yaml
  groups/wg-etcd-operator/OWNERS
  groups/wg-etcd-operator/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra, sig/etcd

#7136 Image promotion for cluster-api v1.8.0-rc.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7132 Update external-provisioner images with 5.0.2
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7133 Mark variables non-nullable, part 1
  infra/gcp/terraform/modules/k8s-releases/variables.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7137 Image promotion for capi-vsphere v1.11.0-rc.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7135 gcp: Drop usage of gs://kubernetes-release-dev for gcsweb
  apps/gcsweb/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/apps/gcsweb, area/apps, sig/k8s-infra

#7134 Mark some variables non-nullable, part 2
  infra/aws/terraform/prow-build-cluster/variables.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#7138 Image promotion for cloud-pv-vsphere v1.31.0-rc.1
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7143 Image promotion for provider-aws v1.30.2 / v1.30.3 / v1.29.4 / v1.29.5 / v1.29.6
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7144 Image promotion for provider-aws v1.28.7 / v1.28.8 / v1.28.9 / v1.27.8 / v1.27.9
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7145 gcsweb: Drop deleted bucket
  apps/gcsweb/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/apps/gcsweb, area/apps, sig/k8s-infra

#7150 images: promote node-feature-discovery v0.16.4
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7140 Add kubernetes.io managed groups for all remaining SIG/WGs
  groups/committee-steering/groups.yaml
  groups/groups.yaml
  groups/restrictions.yaml
  groups/sig-apps/groups.yaml
  groups/sig-architecture/groups.yaml
  groups/sig-auth/groups.yaml
  groups/sig-autoscaling/groups.yaml
  groups/sig-cli/groups.yaml
  groups/sig-cloud-provider/groups.yaml
  groups/sig-docs/groups.yaml
  groups/sig-etcd/groups.yaml
  groups/sig-instrumentation/groups.yaml
  groups/sig-multicluster/OWNERS
  groups/sig-multicluster/groups.yaml
  groups/sig-network/groups.yaml
  groups/sig-node/groups.yaml
  groups/sig-release/groups.yaml
  groups/sig-scalability/groups.yaml
  groups/sig-scheduling/groups.yaml
  groups/sig-security/groups.yaml
  groups/sig-storage/groups.yaml
  groups/sig-testing/groups.yaml
  groups/sig-ui/OWNERS
  groups/sig-ui/groups.yaml
  groups/sig-windows/groups.yaml
  groups/wg-batch/groups.yaml
  groups/wg-data-protection/OWNERS
  groups/wg-data-protection/groups.yaml
  groups/wg-policy/OWNERS
  groups/wg-policy/groups.yaml
  groups/wg-structured-logging/OWNERS
  groups/wg-structured-logging/groups.yaml
Labels: cncf-cla: yes, lgtm, sig/auth, sig/cli, sig/architecture, sig/apps, sig/scalability, sig/instrumentation, sig/node, size/XXL, sig/windows, sig/storage, sig/release, sig/docs, sig/testing, sig/autoscaling, sig/network, approved, sig/scheduling, committee/steering, sig/cloud-provider, area/access, area/release-eng, sig/security, area/groups, sig/k8s-infra, wg/batch, sig/etcd

#7147 groups: update vmware email to broadcom for distributors-announce
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#7153 Image promotion for cluster-api v1.6.8
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7154 Image promotion for cluster-api v1.7.5
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7155 Image promotion for cluster-api v1.8.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7156 drop rate based ban in favor of just rate limiting
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7157 Ingress NGINX: Promote `nginx-1.25` v0.0.12.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7159 Ingress NGINX: Promote `e2e-test-runner` v20240812-3f0129aa.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7161 releng: Image promotion for kubernetes v1.31.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7163 Image promotion for scl-image-builder v0.1.32
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7162 Remove mrbobbytables from groups
  groups/sig-apps/groups.yaml
  groups/sig-architecture/groups.yaml
  groups/sig-auth/groups.yaml
  groups/sig-autoscaling/groups.yaml
  groups/sig-cli/groups.yaml
  groups/sig-cloud-provider/groups.yaml
  groups/sig-docs/groups.yaml
  groups/sig-etcd/groups.yaml
  groups/sig-instrumentation/groups.yaml
  groups/sig-multicluster/groups.yaml
  groups/sig-network/groups.yaml
  groups/sig-node/groups.yaml
  groups/sig-release/groups.yaml
  groups/sig-scalability/groups.yaml
  groups/sig-scheduling/groups.yaml
  groups/sig-security/groups.yaml
  groups/sig-storage/groups.yaml
  groups/sig-testing/groups.yaml
  groups/sig-ui/groups.yaml
  groups/sig-windows/groups.yaml
  groups/wg-data-protection/groups.yaml
  groups/wg-policy/groups.yaml
  groups/wg-structured-logging/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/auth, sig/ui, sig/cli, sig/architecture, sig/apps, sig/scalability, sig/instrumentation, sig/node, sig/windows, sig/storage, sig/release, sig/docs, sig/testing, sig/autoscaling, sig/multicluster, sig/network, approved, sig/scheduling, sig/cloud-provider, wg/policy, area/access, area/release-eng, sig/security, wg/structured-logging, area/groups, sig/k8s-infra, wg/data-protection, sig/etcd

#7166 Ingress NGINX: Rework images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7169 Image promotion for cluster-api v1.8.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7170 Image promotion for cloud-pv-vsphere v1.31.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7172 Image promotion for capi-vsphere v1.11.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7174 Added Peter Hunt as a SIG Node chair
  OWNERS_ALIASES
  groups/sig-node/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, approved, area/access, area/groups, sig/k8s-infra

#7175 releng: Image promotion for kubernetes v1.30.4
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7176 releng: Image promotion for kubernetes v1.29.8
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7179 Image promotion for scl-image-builder v0.1.33
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7127 Bootstrap the new clusters in k8s-infra-prow project.
  infra/gcp/terraform/kubernetes-public/iam.tf
  kubernetes/apps/README.md
  kubernetes/apps/argocd.yaml
  kubernetes/apps/cert-manager.yaml
  kubernetes/apps/external-secrets.yaml
  kubernetes/apps/ingress-nginx.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/gke-prow/helm/external-secrets.yaml
  kubernetes/gke-utility/argocd/argocd-cm-rbac.yaml
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/argocd-sa.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/argocd/extras.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
  kubernetes/gke-utility/helm/external-secrets.yaml
  kubernetes/gke-utility/helm/ingress-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, tide/merge-method-squash, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7151 [eks-prow-build] Clean up cluster-autoscaler configuration
  infra/aws/terraform/prow-build-cluster/README.md
  infra/aws/terraform/prow-build-cluster/docs/EKSUpgradeRunbook.md
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
  infra/aws/terraform/prow-build-cluster/docs/NodeUpgradeRunbook.md
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/irsa.tf
  infra/aws/terraform/prow-build-cluster/locals.tf
  infra/aws/terraform/prow-build-cluster/resources/cluster-autoscaler/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/cluster-autoscaler/rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/cluster-autoscaler/sa.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-cluster-autoscaler.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/flux-hr-node-termination-handler.yaml
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/infra, sig/k8s-infra, area/infra/aws

#7181 promote v1.13.7 and v1.14.2 pdcsi images to k8s-prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7182 Fix cblecker elections email
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#7180 Ingress NGINX: Promote Controller v1.11.2 & v1.10.4.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7183 Update verifications for kubernetes GH orgs
  dns/zone-configs/etcd.io._0_base.yaml
  dns/zone-configs/k8s.dev._0_base.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.dev._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/dns

#7184 Promote kOps 1.30.0 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7185 Promote kOps 1.30.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.30.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7186 Promote VPA 1.2.1 image
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7188 Image promotion for provider-aws v1.31.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7193 Create hooks.prow.k8s.io endpoint for GitHub events
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#7192 GCP: Drop k8s-release-pull
  infra/gcp/bash/ensure-release-projects.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/bash, sig/k8s-infra, area/infra/gcp

#7194 Create prow certificates
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/terraform/k8s-infra-prow/certificates.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/dns, area/terraform, sig/k8s-infra, area/infra/gcp

#7195 Promote Jobset v0.6.0
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7191 Update groups.yaml
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, needs-ok-to-test, approved, area/access, area/groups, sig/k8s-infra

#7160 sig node ci working group
  groups/restrictions.yaml
  groups/sig-node/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/node, approved, area/access, area/groups, sig/k8s-infra

#7199 promote csi-secrets-store driver:v1.4.5
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7197 Update SUSE Rancher contact
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, committee/security-response, area/access, area/groups, sig/k8s-infra

#7201 cleanup: Update images.yaml for EBS CSI v1.34.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7202 Update k8s-staging-provider-aws OWNERS to add AndrewSirenko
  registry.k8s.io/images/k8s-staging-provider-aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7198 Fastly: Ensure specific file types are not cached.
  infra/fastly/terraform/dl-sandbox.k8s.dev/vcl/binaries.vcl
  infra/fastly/terraform/dl.k8s.io/vcl/binaries.vcl
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra

#7206 Use the new prow endpoint
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/dns

#7141 deploy prow to k8s-infra-prow cluster
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/prow.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crds/prowjob-crd.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/external-secrets.yaml
  kubernetes/gke-prow/prow/gateway.yaml
  kubernetes/gke-prow/prow/gce-ssd-retain_storageclass.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/kustomization.yaml
  kubernetes/gke-prow/prow/monitoring.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/pushgateway.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/gke-prow/prow/trusted_serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, approved, tide/merge-method-squash, sig/k8s-infra

#7215 Image promotion for build-image v1.31.0-go1.22.6-bullseye.0 / v1.30.0-go1.22.6-bullseye.0 / v1.29.0-go1.22.6-bullseye.0 / v1.28.0-go1.22.6-bullseye.0 / v1.27.0-go1.22.6-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7216 Image promotion for build-image v2.3.1-go1.22.6-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7217 Image promotion for releng 1.22.5-bookworm-0 / 1.21.13-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7214 ci: promote secrets-store-sync/controller
  registry.k8s.io/images/k8s-staging-secrets-store-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7207 add the new community prow bucket to gcsweb
  apps/gcsweb/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/apps/gcsweb, area/apps, sig/k8s-infra

#7211 Enable autosync for prow control plane
  kubernetes/apps/prow.yaml
  kubernetes/gke-utility/argocd/extras.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#7220 Ingress NGINX: Sort images, align OWNERS.
  registry.k8s.io/images/k8s-staging-ingress-nginx/OWNERS
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7223 Image promotion for cluster-api-helm v0.2.5
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7224 publish scheduler-plugins v0.29.8
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7208 [eks-prow-build] K8s upgrade from 1.28 to 1.30
  infra/aws/terraform/modules/eks-prow-iam/policy_plan.tf
  infra/aws/terraform/prow-build-cluster/iam.tf
  infra/aws/terraform/prow-build-cluster/node_group_stable.tf
  infra/aws/terraform/prow-build-cluster/prow.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/aws/terraform/prow-build-cluster/variables.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#7227 Image promotion for metrics-server v0.7.2
  registry.k8s.io/images/k8s-staging-metrics-server/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7231 Start autobumping Community Prow
  hack/autobump-config.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, sig/k8s-infra

#7235 Image promotion for scl-image-builder v0.1.34
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7233 fix boskos deployment typos
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow-build/prow/crds/boskos.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, sig/k8s-infra

#7168 re-scope azure storage blob contributor role assignment to subscription
  infra/azure/terraform/capz/main.tf
  infra/azure/terraform/capz/role-assignments/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/infra, sig/k8s-infra, area/infra/azure

#7236 Ingress NGINX: Promote `e2e-test-runner` v20240829-2c421762.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7234 Remove kubecost from eks-prow-build cluster
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-kubecost.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-helm-kubecost-chart.yaml
  infra/aws/terraform/prow-build-cluster/resources/kubecost/README.md
  infra/aws/terraform/prow-build-cluster/resources/kubecost/canary-cluster-values
  infra/aws/terraform/prow-build-cluster/resources/kubecost/flux-hr-kubecost.yaml
  infra/aws/terraform/prow-build-cluster/resources/kubecost/prod-cluster-values
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#7237 Fix a typo in EKS debugging guide
  infra/aws/terraform/prow-build-cluster/docs/Debug.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#7239 Image promotion for build-image v2.3.1-go1.23.0-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7240 Image promotion for releng 1.23.0-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7241 fix disk size for arm nodepools
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/modules/gke-nodepool/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#7244 Promote images for snapshotter etc.
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
