Repository kubernetes/k8s.io, pull requests merged in 2024-07, with the labels that each got.

#6924 GCP: ensure prow-build can administer KMS keys
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/bash, sig/k8s-infra

#6928 releng: Image promotion for kubernetes v1.31.0-alpha.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6929 promote ingress-nginx NGINX-1.25 v0.0.8
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6931 images: promote NFD V0.16.1
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6934 promote latest test runner build
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6933 Image promotion for build-image v1.31.0-go1.22.5-bullseye.0 / v1.30.0-go1.22.5-bullseye.0 / v1.29.0-go1.22.5-bullseye.0 / v1.28.0-go1.22.5-bullseye.0 / v1.27.0-go1.22.5-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6910 Provision charts staging repository
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/charts/images.yaml
  registry.k8s.io/manifests/charts/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/infra, area/terraform, sig/k8s-infra, area/registry.k8s.io

#6936 Image promotion for build-image v2.3.1-go1.22.5-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6937 Image promotion for releng 1.22.5-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6938 Image promotion for distroless-iptables v0.5.6
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6939 images: promote node-feature-discovery v0.15.5
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6941 Bumpt git-sync to v4.2.4
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6944 Image promotion for releng 1.21.12-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6945 CAPO v0.10.4
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6948 Create nfd codecov token secret
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws

#6946 Ingress NGINX: Promote `controller` & `controller-chroot` v1.10.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6953 Image promotion for build-image v1.31.0-go1.23rc1-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6954 Image promotion for build-image v2.3.1-go1.23rc1-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6955 Promote kwok v0.6.0
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6952 Delete k8s-infra-kops-ci-results GCS bucket
  infra/gcp/terraform/kubernetes-public/prowjob-buckets.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra

#6957 Update Owners aliases
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#6947 Ingress NGINX: Promote `controller` & `controller-chroot` v1.11.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6959 Image promotion for build-image v0.6.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#6960 update email for sig network chair shaneutt
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#6961 Image promotion for cluster-api v1.6.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6962 Image promotion for cluster-api v1.7.4
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6958 fastly: bump terraform provider
  infra/fastly/terraform/dl-sandbox.k8s.dev/provider.tf
  infra/fastly/terraform/dl.k8s.io/provider.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#6966 Promote NFD v0.15.6
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6965 Promote NFD v0.16.2
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6970 Ingress NGINX: Promote `nginx-1.25` v0.0.9.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6973 promote latest slack-infra images
  registry.k8s.io/images/k8s-staging-slack-infra/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/k8s.gcr.io, sig/k8s-infra, area/registry.k8s.io

#6978 Setup Azure
  infra/azure/README.md
  infra/azure/terraform/.gitignore
  infra/azure/terraform/.pre-commit-config.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#6975 simplify WAF rules
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, sig/k8s-infra

#6977 Add known issues section to eks-prow-build cluster readme
  infra/aws/terraform/prow-build-cluster/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#6979 oci-proxy: add default rule, improve path regex
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#6980 implement regex without capture groups, which are not permitted
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#6981 ensure rate limit is applied _after_ other rules, as the default rule
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra

#6982 Add a AWS cli command for getting counts of instances in node groups
  infra/aws/terraform/prow-build-cluster/README.md
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#6983 fix tag regex
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#6984 /tags/list
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra

#6967 Migrate capi/kops digitalocean creds to community cluster
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws

#6964 Add 2024 election officers.
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#6986 images: promote NFD v0.16.3
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6987 releng: Image promotion for kubernetes v1.31.0-beta.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#6988 Bump components for k8s-infra Docker images
  images/k8s-infra/Dockerfile
  images/k8s-infra/requirements.txt
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#6990 Sync storage images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6991 Image promotion for cluster-api v1.8.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6985 Add bucket + service account for TestGrid upload.
  infra/gcp/terraform/k8s-infra-prow-build-trusted/serviceaccounts.tf
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra

#6992 Image promotion for cluster-api-azure v1.14.7
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6993 Image promotion for cluster-api-azure v1.15.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6994 Image promotion for cluster-api-azure v1.16.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, tide/merge-method-squash, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6998 Image promotion for ingress-nginx v20240716-dd144831
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7000 releng: Image promotion for kubernetes v1.29.7
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7003 Restore deleted aliases
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/M, approved, sig/k8s-infra

#7002 releng: Image promotion for kubernetes v1.27.16
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#6999 releng: Image promotion for kubernetes v1.30.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7001 releng: Image promotion for kubernetes v1.28.12
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7004 Image promotion for capi-vsphere v1.11.0-beta.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7006 Ingress NGINX: Promote `nginx-1.25` v0.0.10.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7007 let prow push to k8s-staging-npd
  groups/sig-node/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, approved, area/access, area/groups, sig/k8s-infra

#7011 Promote kOps 1.28.6 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.6.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts

#7013 Promote kOps 1.29.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.1.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts

#7014 Image promotion for cloud-pv-vsphere v1.31.0-beta.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7010 Promote kOps 1.28.6 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7015 Image promotion for capi-vsphere v1.10.2
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7018 Image promotion for capi-vsphere v1.8.10
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7019 Image promotion for capi-vsphere v1.7.7
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7017 Image promotion for ingress-nginx v20240717-1fe74b5f
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7021 Image promotion for build-image v2.3.1-go1.23rc2-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7022 Promote CA images: 1.30.2, 1.29.4, 1.28.6
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7023 Image promotion for build-image v1.31.0-go1.23rc2-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7026 Image promotion for ingress-nginx v1.11.1
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7024 Promote smb and nfs csi driver images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7029 Image promotion for build-image v0.6.1
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7031 Image promotion for kube-state-metrics v2.13.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7032 Promote kueue v0.8.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7034 bumpt kube-network-policies to v0.5.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7035 add kustomize image tag v5.4.3
  registry.k8s.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7036 kops: Bump terraform providers and modules for the build cluster.
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/terraform.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#7038 Promote kOps 1.28.7 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7039 Promote kOps 1.28.7 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.28.7.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7037 Push ibm-powervs-block-csi-driver v0.7.0
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7045 promote archeio v0.4.0
  registry.k8s.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7046 update prod registry to latest
  infra/gcp/terraform/modules/oci-proxy/variables.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7049 Promote kOps 1.29.2 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7050 Promote kOps 1.29.2 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.29.2.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7051 Promote the wasm scheduler image v0.1.0
  registry.k8s.io/images/k8s-staging-wasm-scheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7033 configure kueue to promote from AR instead of GCR
  registry.k8s.io/manifests/k8s-staging-kueue/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7053 Allow the admin access to eks-prow-build-cluster for AdministratorAccess users via SSO
  infra/aws/terraform/prow-build-cluster/.terraform.lock.hcl
  infra/aws/terraform/prow-build-cluster/locals.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#7055 Increase max capacity for eks-prow-build-cluster to 102 nodes
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#7056 Image promotion for cluster-api v1.8.0-beta.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7058 Promote aws-ebs-csi-driver v1.33.0 images
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7059 Add TestGrid updater SA to test-pods list.
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/test-pods/test-pods-serviceaccounts.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#7060 Image promotion for capi-vsphere v1.11.0-beta.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#6925 Initial terraform scripts for azure cncf subscription
  infra/azure/terraform/README.md
  infra/azure/terraform/capz/README
  infra/azure/terraform/capz/container-registry/main.tf
  infra/azure/terraform/capz/iam-config/eks-param.json
  infra/azure/terraform/capz/iam-config/gce-param.json
  infra/azure/terraform/capz/identities/main.tf
  infra/azure/terraform/capz/key-vault/main.tf
  infra/azure/terraform/capz/main.tf
  infra/azure/terraform/capz/role-assignments/main.tf
  infra/azure/terraform/capz/variables.tf
  infra/azure/terraform/cleanup-app/README
Labels: cncf-cla: yes, lgtm, size/XL, approved, ok-to-test, area/infra, sig/k8s-infra, area/infra/azure

#7066 eks-prow-build-cluster: Update Flux to v2.3.0
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-boskos.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-cluster-autoscaler.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-external-secrets.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-flux-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-kube-system.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-kubecost.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-monitoring.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-node-problem-detector.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-rbac.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-test-pods.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-git-k8s.io.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-helm-eks-charts.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-helm-kubecost-chart.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/gotk-components.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/flux-hr-node-termination-handler.yaml
  infra/aws/terraform/prow-build-cluster/resources/kubecost/flux-hr-kubecost.yaml
Labels: cncf-cla: yes, lgtm, size/XXL, approved, area/infra, sig/k8s-infra, area/infra/aws

#7067 eks-prow-build-cluster: Automatically force Flux on stable nodes
  infra/aws/terraform/prow-build-cluster/Makefile
  infra/aws/terraform/prow-build-cluster/docs/GitOps.md
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-flux.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux/gotk-components.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#7070 tweak rate limiting following log analysis
  infra/gcp/terraform/modules/oci-proxy/cloud-armor.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7072 promote etcd 3.5.15-0
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#7075 Remove resources for k8s-infra-prow (k8s-infra-prow.k8s.io)
  README.md
  apps/prow/Makefile
  apps/prow/OWNERS
  apps/prow/cluster/100_namespace.yaml
  apps/prow/cluster/100_prowjob_customresourcedefinition.yaml
  apps/prow/cluster/crier_deployment.yaml
  apps/prow/cluster/crier_rbac.yaml
  apps/prow/cluster/crier_service.yaml
  apps/prow/cluster/deck_deployment.yaml
  apps/prow/cluster/deck_rbac.yaml
  apps/prow/cluster/deck_service.yaml
  apps/prow/cluster/ghproxy_deployment.yaml
  apps/prow/cluster/ghproxy_rbac.yaml
  apps/prow/cluster/hook_deployment.yaml
  apps/prow/cluster/hook_rbac.yaml
  apps/prow/cluster/hook_service.yaml
  apps/prow/cluster/horologium_deployment.yaml
  apps/prow/cluster/horologium_rbac.yaml
  apps/prow/cluster/horologium_service.yaml
  apps/prow/cluster/prow-externalsecrets.yaml
  apps/prow/cluster/prow_controller_manager_deployment.yaml
  apps/prow/cluster/prow_controller_manager_rbac.yaml
  apps/prow/cluster/prow_controller_manager_service.yaml
  apps/prow/cluster/prow_ingress.yaml
  apps/prow/cluster/prow_managedcertificate.yaml
  apps/prow/cluster/sinker_deployment.yaml
  apps/prow/cluster/sinker_rbac.yaml
  apps/prow/cluster/sinker_service.yaml
  apps/prow/cluster/statusreconciler_deployment.yaml
  apps/prow/cluster/statusreconciler_rbac.yaml
  apps/prow/cluster/tide_deployment.yaml
  apps/prow/cluster/tide_rbac.yaml
  apps/prow/cluster/tide_service.yaml
  apps/prow/config.yaml
  apps/prow/deploy.sh
  apps/prow/plugins.yaml
  apps/prow/prowjobs/kubernetes/k8s.io/periodics.yaml
  apps/prow/prowjobs/kubernetes/k8s.io/presubmits.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/terraform/kubernetes-public/external-ips.tf
  infra/gcp/terraform/kubernetes-public/k8s-infra-prow.tf
Labels: cncf-cla: yes, lgtm, size/XXL, sig/testing, approved, area/infra, area/dns, area/terraform, area/apps/prow, area/apps, sig/k8s-infra, area/infra/gcp

#7076 Let K8s TestGrid read config files.
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7079 publish scheduler-plugins v0.29.7
  registry.k8s.io/images/k8s-staging-scheduler-plugins/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7063 eks-prow-build-cluster: Deploy the Karpenter module
  infra/aws/terraform/modules/eks-prow-iam/policy_apply.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_destroy.tf
  infra/aws/terraform/modules/eks-prow-iam/policy_plan.tf
  infra/aws/terraform/prow-build-cluster/eks.tf
  infra/aws/terraform/prow-build-cluster/hack/flux-update.bash
  infra/aws/terraform/prow-build-cluster/karpenter.tf
  infra/aws/terraform/prow-build-cluster/locals.tf
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-ks-karpenter.yaml
  infra/aws/terraform/prow-build-cluster/resources/flux-system/flux-source-helm-karpenter-chart.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/canary-cluster-values
  infra/aws/terraform/prow-build-cluster/resources/karpenter/ec2nodeclass-default.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter-crd.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/nodepool-default.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/prod-cluster-values
  infra/aws/terraform/prow-build-cluster/vpc.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#7080 eks-prow-build-cluster: Remove Karpenter resources
  infra/aws/terraform/prow-build-cluster/resources/karpenter/ec2nodeclass-default.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/nodepool-default.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#7081 eks-prow-build-cluster: Add Karpenter resources and scale cluster-autoscaler to 0
  infra/aws/terraform/prow-build-cluster/resources/cluster-autoscaler/deployment.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/ec2nodeclass-default.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/nodepool-default.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, sig/k8s-infra, area/infra/aws

#7082 Ingress NGINX: Promote `e2e-test-runner` v20240729-04899b27.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7083 kops-ci: Remove tags for autoscaling
  infra/aws/terraform/kops-infra-ci/eks.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#7084 eks-prow-build-cluster: Increase the Karpenter capacity to 150 nodes
  infra/aws/terraform/prow-build-cluster/resources/karpenter/nodepool-default.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#7077 Switch alpine images to new source.
  infra/aws/terraform/prow-build-cluster/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/aws/terraform/prow-build-cluster/resources/kube-system/tune-sysctls_daemonset.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/create-loop-devs_daemonset.yaml
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/resources/kube-system/tune-sysctls_daemonset.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws, area/infra/gcp

#7086 Add coredns v1.11.3
  registry.k8s.io/images/k8s-staging-coredns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7087 Update images for csi-resizer, etc.
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7088 kops: Drop EKS addon for EKS Identity agent
  infra/aws/terraform/kops-infra-ci/eks.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#7048 feat: adds secrets-store-sync-controller project
  groups/restrictions.yaml
  groups/sig-auth/groups.yaml
  registry.k8s.io/images/k8s-staging-secrets-store-sync/OWNERS
  registry.k8s.io/images/k8s-staging-secrets-store-sync/generate.sh
  registry.k8s.io/images/k8s-staging-secrets-store-sync/images.yaml
  registry.k8s.io/manifests/k8s-staging-secrets-store-sync/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, sig/auth, size/L, approved, area/access, area/artifacts, area/groups, sig/k8s-infra, area/registry.k8s.io

#7089 Image promotion for cluster-api-aws v2.6.0
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7090 Image promotion for cluster-api-aws v2.6.1
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7091 kops: Bump build cluster version
  infra/aws/terraform/kops-infra-ci/variables.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#7096 Image promotion for cluster-api v1.8.0-rc.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7097 releng: Image promotion for kubernetes v1.31.0-rc.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7100 Update csi-driver-host-path image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7095 Image promotion for scl-image-builder v0.1.31
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7071 create secrets-store-sync staging image registry
  infra/gcp/terraform/k8s-staging-images/registries.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7103 Store credentials for Fastly service account
  infra/gcp/terraform/k8s-infra-releases-prod/.terraform.lock.hcl
  infra/gcp/terraform/k8s-infra-releases-prod/main.tf
  infra/gcp/terraform/k8s-infra-releases-prod/secrets.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7107 releng: Image promotion for kubernetes v1.32.0-alpha.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7108 Image promotion for capi-vsphere v1.8.0-rc.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7093 Add furkatgofurov7 to CAPI Operator OWNERS
  registry.k8s.io/images/k8s-staging-capi-operator/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7094 Add DNS for CAPI release-1.8 branch
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/dns

#7109 Image promotion for capi-vsphere v1.11.0-rc.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7105 Enable GCP Secret Manager
  infra/gcp/terraform/k8s-infra-releases-prod/.terraform.lock.hcl
  infra/gcp/terraform/k8s-infra-releases-prod/providers.tf
  infra/gcp/terraform/modules/k8s-releases/k8s-releases.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7106 azure: Add owners for capz resource group
  infra/azure/terraform/capz/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/azure

#7111 docs: update email for SIG network user shaneutt
  groups/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#7112 Image promotion for capi-operator v0.12.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
