Repository kubernetes/k8s.io, pull requests merged in 2024-09, with the labels that each got.

#7247 Promote the simulator image v0.3.0
  registry.k8s.io/images/k8s-staging-sched-simulator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7248 Remove duplicate digest for for releng image
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7249 Image promotion for build-image v0.6.2
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7250 Update Google groups for 1.32 release
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7254 Image promotion for capi-vsphere v1.11.1-rc.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7255 Promote smb and nfs csi driver images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7253 CAPO v0.9.2 & v0.10.5
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7256 Image promotion for capi-operator v0.13.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7257 Image promotion for build-image bookworm-v1.0.4
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7262 promote agnhost 2.53
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7261 Image promotion for setcap bookworm-v1.0.4
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7259 Promote ExternalDNS v0.15.0
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7263 Image promotion for cluster-api v1.8.2
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7264 Add GCS PubSub topic for gs://kubernetes-ci-logs.
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  infra/gcp/terraform/k8s-infra-prow/iam.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7265 Update csi hostpath driver image to 1.15
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7266 Fix GCS notification terraform.
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  infra/gcp/terraform/k8s-infra-prow/iam.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7269 add openstack v1.31.0 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7271 Define owners for the prow configuration.
  kubernetes/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, sig/k8s-infra

#7273 gcp: Allow GCB service agent for kubernetes-release-test
  infra/gcp/terraform/k8s-infra-releases-prod/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7279 releng: Image promotion for kubernetes v1.28.14
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7280 Image promotion for cluster-api-azure v1.16.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7284 releng: Image promotion for kubernetes v1.29.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7285 releng: Image promotion for kubernetes v1.31.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7286 releng: Image promotion for kubernetes v1.30.5
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7283 Fix promotion of ecr-credential-provider images
  artifacts/manifests/k8s-staging-provider-aws/v1.27.5.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.28.4.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.29.1.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.30.0-rc.0.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.30.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7281 redirect: Download Kubernetes SBOMs from dl.
  apps/k8s-io/configmap-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#7287 Fix promotion of ecr-credential-provider images
  artifacts/manifests/k8s-staging-provider-aws/v1.28.4.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.28.9.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.29.1.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.29.6.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.30.0-rc.0.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.30.0.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.30.3.yaml
  artifacts/manifests/k8s-staging-provider-aws/v1.31.0.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts

#7289 Turn off moderation for sig-network-leads
  groups/sig-network/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/access, area/groups, sig/k8s-infra

#7290 Promote aws-ebs-csi-driver v1.35.0 images
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7293 Promote kOps 1.30.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7294 Promote kOps 1.30.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.30.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7295 Release leaderworkerset 0.4.0
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7297 bump cert-manager, eso and nginx ingresses
  kubernetes/apps/cert-manager.yaml
  kubernetes/apps/external-secrets.yaml
  kubernetes/apps/ingress-nginx.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
  kubernetes/gke-utility/helm/ingress-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/prow, sig/k8s-infra

#7300 Allow posting to sig security leads
  groups/sig-security/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, sig/security, area/groups, sig/k8s-infra

#7302 delete nginx ingress and add some dns records for services on the utility cluster
  dns/zone-configs/k8s.io._0_base.yaml
  kubernetes/apps/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/dns, area/prow, sig/k8s-infra

#7304 Allow posting to sig apps leads
  groups/sig-apps/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/access, area/groups, sig/k8s-infra

#7299 gcp/dl: Define IAM policy for the production bucket
  infra/gcp/terraform/k8s-infra-releases-prod/.terraform.lock.hcl
  infra/gcp/terraform/k8s-infra-releases-prod/iam.tf
  infra/gcp/terraform/k8s-infra-releases-prod/main.tf
  infra/gcp/terraform/k8s-infra-releases-prod/providers.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7306 Promote v1.15.0 image
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7307 Image promotion for cloud-pv-vsphere v1.31.1-rc.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7291 Update groups.yaml Release Notes shadow 1.32
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7230 create staging image registries for vsphere-csi
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/k8s-staging-csi-vsphere/images.yaml
  registry.k8s.io/manifests/k8s-staging-csi-vsphere/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp, area/registry.k8s.io

#7311 Image promotion for cloud-pv-vsphere 0.17.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7313 Image promotion for cloud-pv-vsphere stable
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7252 🌱 update capi alerts group
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#7314 add missing release notes v1.32 shadow
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7315 Add new openstack images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7316 Image promotion for scl-image-builder v0.1.35
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7317 Image promotion for cluster-api-azure v1.17.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7320 Image promotion for releng 1.22.7-bookworm-0 / 1.23.1-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, ok-to-test, area/release-eng

#7321 Promote CAPIC image v1.0.0-rc.1
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/OWNERS
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7301 33354 - Remove Gubernator IDLE DNS entries
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
  dns/zone-configs/k8s.io._0_base.yaml
  dns/zone-configs/kubernetes.io._0_base.yaml
  infra/gcp/terraform/kubernetes-public/k8s-kettle.tf
  infra/gcp/terraform/kubernetes-public/k8s-triage.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/contributor-experience, sig/testing, approved, ok-to-test, area/infra, area/dns, area/audit, area/prow, area/terraform, area/bash, area/apps, sig/k8s-infra, area/infra/gcp

#7325 promote images for vpshere csi driver
  registry.k8s.io/images/k8s-staging-csi-vsphere/OWNERS
  registry.k8s.io/images/k8s-staging-csi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7310 update groups.yaml for Release Signal shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7326 promote vsphere csi images v3.2.0 and v3.1.2
  registry.k8s.io/images/k8s-staging-csi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7323 Image promotion for build-image v2.3.1-go1.22.7-bookworm.0 / v2.3.1-go1.23.1-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, ok-to-test, area/release-eng

#7329 Add Cailyn Edwards to sig-security-leads@ as part of chair onboarding
  groups/sig-security/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, sig/security, area/groups, sig/k8s-infra

#7332 Image promotion for capi-vsphere v1.11.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7330 Formatting Terraform code. No code changes.(Minor)
  infra/aws/terraform/modules/registry-k8s-io-s3-bucket/main.tf
  infra/aws/terraform/modules/registry-k8s-io-s3-bucket/provider.tf
  infra/aws/terraform/prow-build-cluster/terraform.canary.tfvars
  infra/aws/terraform/prow-build-cluster/terraform.prod.tfvars
  infra/azure/terraform/capz/container-registry/main.tf
  infra/azure/terraform/capz/key-vault/main.tf
  infra/azure/terraform/capz/main.tf
  infra/azure/terraform/capz/role-assignments/main.tf
  infra/gcp/terraform/k8s-infra-kubernetes-io/main.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/porche-sandbox.tf
  infra/gcp/terraform/k8s-infra-porche-sandbox/variables.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
  infra/gcp/terraform/k8s-infra-prow/iam.tf
  infra/gcp/terraform/k8s-infra-public-pii/fastly-cdn-dl-k8s-io.tf
  infra/gcp/terraform/kubernetes-public/k8s-keps.tf
  infra/gcp/terraform/modules/gke-cluster/main.tf
  infra/gcp/terraform/modules/gke-cluster/outputs.tf
  infra/gcp/terraform/modules/gke-nodepool/main.tf
  infra/gcp/terraform/modules/k8s-releases/outputs.tf
  infra/gcp/terraform/modules/monitoring/uptime-alert/main.tf
  infra/gcp/terraform/modules/monitoring/uptime-alert/variables.tf
Labels: cncf-cla: yes, lgtm, area/provider/azure, sig/cluster-lifecycle, size/L, sig/testing, approved, ok-to-test, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/aws, area/infra/gcp, area/infra/azure

#7327 Update Google groups for 1.32 release docs shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7338 Image promotion for capi-vsphere v1.9.5
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7337 add enhancements team members to appropriate mailing lists
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7335 Image promotion for build-image v0.5.8 / v0.6.3
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, sig/release, approved, area/release-eng

#7343 Release git-sync v4.3.0
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7342 gcp/redirect: Bump nginx tag
  apps/k8s-io/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#7344 [eks-prow-build] Upgrade karpenter to v0.37.3
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter-crd.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#7345 [eks-prow-build] Upgrade karpenter to v1.0.2
  infra/aws/terraform/prow-build-cluster/karpenter.tf
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter-crd.yaml
  infra/aws/terraform/prow-build-cluster/resources/karpenter/flux-hr-karpenter.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#7296 Image promotion for etcd 3.5.16-0
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#7347 Image promotion for scl-image-builder v0.1.36
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7349 Ingress NGINX: Deprecate OpenTelemetry.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7353 Set mod level to none for leads lists
  groups/sig-architecture/groups.yaml
  groups/sig-auth/groups.yaml
  groups/sig-cloud-provider/groups.yaml
  groups/sig-cluster-lifecycle/groups.yaml
  groups/sig-docs/groups.yaml
  groups/sig-etcd/groups.yaml
  groups/sig-instrumentation/groups.yaml
  groups/sig-k8s-infra/groups.yaml
  groups/sig-multicluster/groups.yaml
  groups/sig-scalability/groups.yaml
  groups/sig-storage/groups.yaml
  groups/sig-ui/groups.yaml
  groups/wg-data-protection/groups.yaml
  groups/wg-policy/groups.yaml
  groups/wg-structured-logging/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/auth, sig/ui, sig/architecture, sig/scalability, sig/instrumentation, sig/cluster-lifecycle, sig/storage, sig/docs, sig/multicluster, approved, sig/cloud-provider, wg/policy, area/access, wg/structured-logging, area/groups, sig/k8s-infra, wg/data-protection, sig/etcd

#7356 Image promotion for gmsa-webhook v0.9.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
