Repository kubernetes/k8s.io, pull requests merged in 2025-02, with the labels that each got.

#7718 Promote cs-canary to prod cs.k8s.io
  README.md
  apps/codesearch/certificate.yaml
  dns/zone-configs/k8s.io._0_base.yaml
  infra/gcp/terraform/kubernetes-public/external-ips.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, area/dns, area/terraform, area/apps, sig/k8s-infra, area/infra/gcp

#7742 Image promotion for releng 1.23.5-bookworm-0 / 1.22.11-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7743 Image promotion for build-image v1.31.0-go1.22.11-bullseye.0 / v1.30.0-go1.22.11-bullseye.0 / v1.29.0-go1.22.11-bullseye.0 / v1.31.0-go1.23.5-bullseye.0 / v1.32.0-go1.23.5-bullseye.0 / v1.33.0-go1.23.5-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7744 Image promotion for build-image v2.4.0-go1.22.11-bookworm.0 / v2.4.0-go1.23.5-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7746 updating version of lws
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7747 Image promotion for build-image v0.5.12 / v0.6.7
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7750 Create new infra-tools AR registry
  infra/gcp/terraform/k8s-staging-images/registries.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#7745 Image promotion for kube-state-metrics v2.15.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7754 Image promotion for cluster-api-helm v0.3.1
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7753 Adds Gateway API Inference Extension OWNERS
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7755 Image promotion for build-image v2.4.0-go1.24rc2-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7756 Image promotion for build-image v1.33.0-go1.24rc2-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7757 Add 1.33 comms shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7752 Adds EPP v0.1.0-rc.1
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7758 releng: Image promotion for kubernetes v1.33.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7759 use the new registry for archeio
  dns/octodns-docker/cloudbuild.yaml
  infra/gcp/terraform/k8s-staging-images/provider.tf
  infra/gcp/terraform/k8s-staging-images/registries.tf
  infra/gcp/terraform/modules/oci-proxy/main.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/dns, area/terraform, sig/k8s-infra, area/infra/gcp

#7761 Added the csi-snapshot-metadata image.
  registry.k8s.io/images/k8s-staging-sig-storage/generate.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7760 CAPO v0.12.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7764 Promoting v0.1.0 release image
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7765 Image promotion for build-image v0.7.1
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7751 promote infra-tools images from staging AR registry
  registry.k8s.io/manifests/k8s-staging-infra-tools/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, approved

#7767 fix: incorrect regex for smb csi driver plugin
  registry.k8s.io/images/k8s-staging-sig-storage/generate.sh
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7766 promote v0.5.0 of registry.k8s.io
  infra/gcp/terraform/modules/oci-proxy/variables.tf
  registry.k8s.io/images/k8s-staging-infra-tools/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp, area/registry.k8s.io

#7769 Image promotion for build-image v2.4.0-go1.24rc3-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7768 Image promotion for build-image v1.33.0-go1.24rc3-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7770 Image promotion for build-image v1.31.0-go1.22.12-bullseye.0 / v1.30.0-go1.22.12-bullseye.0 / v1.29.0-go1.22.12-bullseye.0 / v1.31.0-go1.23.6-bullseye.0 / v1.32.0-go1.23.6-bullseye.0 / v1.33.0-go1.23.6-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7771 Image promotion for build-image v2.4.0-go1.22.12-bookworm.0 / v2.4.0-go1.23.6-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7772 Image promotion for releng 1.23.6-bookworm-0 / 1.22.12-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7773 Image promotion for build-image v0.7.2 / v0.6.8 / v0.5.13
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#7774 descheduler: promote v0.32.2 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7779 redirect: Add short link for K8S Infra meeting notes
  apps/k8s-io/README.md
  apps/k8s-io/configmap-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#7777 Azure: bump AKS cluster version
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/azure

#7780 Promote cluster-api-ibmcloud-controller:v0.10.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7782 Publish network proxy images for v0.29.5, v0.30.4 and v0.31.2
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7783 Update README with new mailing list
  README.md
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#7786 releng: Image promotion for kubernetes v1.32.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7787 releng: Image promotion for kubernetes v1.31.6
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7788 releng: Image promotion for kubernetes v1.30.10
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7790 releng: Image promotion for kubernetes v1.29.14
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7748 Image promotion for provider-aws v1.32.1 / v1.31.5 / v1.30.7 / v1.29.8 / v1.28.11
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7792 update sig-storage image list and promotion script
  registry.k8s.io/images/k8s-staging-sig-storage/generate.sh
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7795 CAPO v0.12.1
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7703 Create dra-example-driver staging repo
  groups/restrictions.yaml
  groups/wg-device-management/groups.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/k8s-staging-dra-example-driver/OWNERS
  registry.k8s.io/images/k8s-staging-dra-example-driver/images.yaml
  registry.k8s.io/manifests/k8s-staging-dra-example-driver/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/access, area/artifacts, area/infra, area/terraform, area/groups, sig/k8s-infra, area/infra/gcp, area/registry.k8s.io, wg/device-management

#7794 Ingress NGINX: Migrate to AR.
  registry.k8s.io/manifests/k8s-staging-ingress-nginx/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7796 Add mfahlandt as Co Chair for Contributor Experience - update comms
  OWNERS_ALIASES
  groups/groups.yaml
  groups/sig-contributor-experience/OWNERS
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#7781 Add mbianchidev to release editors
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7798 Add kgolab to scalability-oncall group.
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, area/access, area/groups, sig/k8s-infra

#7797 redirect: more short links for k8s infra
  apps/k8s-io/README.md
  apps/k8s-io/configmap-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#7799 Image promotion for build-image v1.31.0-go1.23.6-bullseye.0 / v1.30.0-go1.23.6-bullseye.0 / v1.29.0-go1.23.6-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7801 fix bad promotion, tag is already there
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7802 releng: Image promotion for kubernetes v1.33.0-alpha.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7803 chore: promote aws-ebs-csi-driver v1.40.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7805 Image promotion for cluster-api v1.8.10
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7806 Image promotion for cluster-api v1.9.5
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7804 Update OWNERS to add ElijahQuinones
  registry.k8s.io/images/k8s-staging-provider-aws/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7808 fix/revert bad digest
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7807 Image promotion for provider-aws v1.30.8
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7809 Promote provider-aws 1.30.8 artifacts
  artifacts/manifests/k8s-staging-provider-aws/v1.30.8.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, ok-to-test, area/artifacts

#7813 Image promotion for build-image v2.4.0-go1.24.0-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7814 Image promotion for releng 1.24.0-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7815 Image promotion for build-image v0.7.3
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7810 create ingate gcp project
  groups/restrictions.yaml
  groups/sig-network/groups.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/network, approved, area/access, area/infra, area/terraform, area/groups, sig/k8s-infra, area/infra/gcp

#7816 Promote node-feature-discovery v0.17.2
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7817 Kueue: Promote HelmChart v0.9.3 and v0.10.1
  registry.k8s.io/images/charts/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7818 Add Chart Image approval to Kueue maintainers
  registry.k8s.io/images/charts/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7822 Promote CAPI IPAM in cluster image v1.0.1-rc.0
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7825 Image promotion for scl-image-builder v0.1.41
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7826 Image promotion for capi-operator v0.17.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7828 Image promotion for sp-operator v0.9.0
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7829 Promote Kueue images for v0.10.2
  registry.k8s.io/images/charts/images.yaml
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7830 Kueue: Promote container images for v0.9.4
  registry.k8s.io/images/charts/images.yaml
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7831 add cpo 1.32.0 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7833 add cpo 1.31.3 and 1.30.3 images
  registry.k8s.io/images/k8s-staging-provider-os/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7835 publish cloud-provider-kind v0.6.0 image
  registry.k8s.io/images/k8s-staging-cloud-provider-kind/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7834 release jobset 0.8.0 for images and charts
  registry.k8s.io/images/charts/images.yaml
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7836 Promote kubernetes-csi snapshotter, resizer, attacher patch images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7820 Migrate jobset off of gcr
  registry.k8s.io/manifests/k8s-staging-jobset/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7821 Migrate lws away from gcr
  registry.k8s.io/manifests/k8s-staging-lws/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
