Repository kubernetes/k8s.io, pull requests merged in 2025-06, with the labels that each got.

#8152 Promote CSI sidecars
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8154 Promote NPD image v0.8.21
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8156 fix arm64 nodepool for kind
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8155 Ingress NGINX: Promote other images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8159 Promote images for Kueue 0.12.2
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8160 Kueue: Promote v0.11.6
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8146 Add more GCVE documentation
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/boskos.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/GVCE.drawio
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/overview.jpg
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/terraform.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/wiregard.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/README.md
Labels: cncf-cla: yes, lgtm, size/XL, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#8157 add c4 nodepool to trusted cluster
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8167 Promote CAPI IPAM in cluster image v1.0.2
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8168 Update Nathan Herz email
  groups/committee-security-response/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/security-response, area/access, area/groups, sig/k8s-infra

#8178 Kueue: Sync Oweners with the latest ones
  registry.k8s.io/images/k8s-staging-kueue/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8179 Image promotion for build-image v0.7.6 / v0.6.11
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#8175 deploy datadog to GCP
  infra/gcp/bash/ensure-organization.sh
  infra/gcp/terraform/boskos/main.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/iam.tf
  infra/gcp/terraform/k8s-infra-seed/README.md
  infra/gcp/terraform/k8s-infra-seed/iam.tf
  infra/gcp/terraform/k8s-infra-seed/main.tf
  infra/gcp/terraform/k8s-infra-seed/provider.tf
  infra/gcp/terraform/k8s-infra-seed/service-accounts.tf
  infra/gcp/terraform/k8s-infra-seed/terraform.tfvars
  infra/gcp/terraform/k8s-infra-seed/variables.tf
  infra/gcp/terraform/kubernetes-public/00-inputs.tf
  infra/gcp/terraform/kubernetes-public/billing.tf
  infra/gcp/terraform/kubernetes-public/external-ips.tf
  infra/gcp/terraform/kubernetes-public/iam.tf
  infra/gcp/terraform/kubernetes-public/variables.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, area/bash, sig/k8s-infra, area/infra/gcp

#8181 Image promotion for cluster-api-azure v1.20.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8182 promote etcd 3.6.1 image
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#8099 Add owners file for kubernetes/ibm-ppc64le cluster configuration folder
  kubernetes/ibm-ppc64le/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/prow, sig/k8s-infra

#8183 Bump boskos-ibmcloud-janitor version
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/prow, sig/k8s-infra

#8187 adding images for IGW v0.4 rc
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8180 deploy datadog to kops eks cluster and upgrade argocd
  .gitignore
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  kubernetes/apps/datadog.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/eks-prow-kops/datadog/kustomization.yaml
  kubernetes/eks-prow-kops/datadog/secrets.yaml
  kubernetes/eks-prow-kops/datadog/values.yaml
  kubernetes/eks-prow-kops/helm/external-secrets.yaml
  kubernetes/gke-utility/argocd/argocd-app-controller-sts.yaml
  kubernetes/gke-utility/argocd/argocd-cm-rbac.yaml
  kubernetes/gke-utility/argocd/argocd-cm.yaml
  kubernetes/gke-utility/argocd/argocd-server-dp.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8190 Release lws 0.6.2
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8191 releng: Image promotion for kubernetes v1.34.0-alpha.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8170 [SIG-Autoscaling] Update my email alias in sig-autoscaling/groups.yaml to alternate email address
  groups/sig-autoscaling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/autoscaling, approved, area/access, area/groups, sig/k8s-infra

#8195 Image promotion for cluster-api v1.10.3
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8197 test images: promote busybox 1.37.0-2
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, needs-ok-to-test, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8199 releng: Image promotion for kubernetes v1.31.10
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8200 releng: Image promotion for kubernetes v1.30.14
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8208 Image promotion for provider-aws v1.45.0 / v1.45.0-a1compat / v1.45.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8207 Update images for csi-snapshotter and csi-resizer etc
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8209 Chore: Promote aws-ebs-csi-driver v1.45.0 & Fix external-health-monitor tag overwrite
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8211 chore: aws-ebs-csi-driver re-force promotion images
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8204 IBMCLOUD: add tags to powervs workspaces
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/variables.tf
  infra/ibmcloud/terraform/k8s-power-conformance/modules/pvs_workspace/workspace.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra

#8213 GCP: drop nodes for the N1 nodepool in the trusted cluster
  infra/gcp/terraform/k8s-infra-prow-build-trusted/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8215 Add jackfrancis to k8s-staging-autoscaling OWNERS
  registry.k8s.io/images/k8s-staging-autoscaling/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8216 Image promotion for build-image v1.34.0-go1.25rc1-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8217 Image promotion for build-image v2.4.0-go1.25rc1-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8218 Bump kyverno to v3.4.3
  kubernetes/apps/kyverno.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/prow, sig/k8s-infra

#8219 Promote vSphere CSI v3.5.0 images
  registry.k8s.io/images/k8s-staging-csi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8212 Bump git-sync to 4.4.2
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8220 Inference Extension: Adds v0.4.0 Release Tags
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8221 promote etcd 3.6.1-1 image
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, ok-to-test, area/release-eng

#8227 Kueue: Promote v0.12.3
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8228 Promote Kueue images for v0.11.7
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8229 switch to hyperdisk-balanced for ghproxy in prow-build-trusted
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow-build-trusted/prow/hyperdisk-sc.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/prow, sig/k8s-infra

#8231 add empty crds directory
  kubernetes/gke-prow-build-trusted/prow/crds/.gitignore
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/prow, sig/k8s-infra

#8232 Image promotion for build-image v0.8.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8233 CAPO v0.12.4
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8237 Image promotion for capi-vsphere v1.12.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8234 gcve: remove nsx-gateway
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/maintenance-jumphost/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/cloud-config.yaml.tftpl
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/gateway.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/metadata.yaml
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/provider.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/nsx-gateway/variables.tf
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/nsx-t.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#8238 releng: Image promotion for kubernetes v1.34.0-alpha.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8245 Reduce refreshInterval for ibm jobs external secret prow-job-api-key
  kubernetes/ibm-ppc64le/prow/secrets.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, sig/k8s-infra

#8240 promote ExternalDNS v0.18.0
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8241 gcve: update image to remove gateway VM
  infra/gcp/terraform/k8s-infra-gcp-gcve/docs/images/GVCE.drawio.png
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#8248 Image promotion for cluster-api-aws v2.8.4
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8242 Ingress NGINX: Promote NGINX v2.2.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8244 Ingress NGINX: Promote NGINX v0.4.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8251 Image promotion for cluster-api-azure v1.20.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8224 Cluster Autoscaler v1.33.0 release
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8252 Image promotion for cluster-api-gcp v1.10.0
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8246 Image promotion for capi-operator v0.21.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8254 Ingress NGINX: Promote Test Runner v1.4.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7887 fix: drop killianmuldoon from email list
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, lifecycle/stale, area/access, area/groups, sig/k8s-infra

#8258 Ingress NGINX: Promote other images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
