Repository kubernetes/k8s.io, pull requests merged in 2025-08, with the labels that each got.

#8344 Promote etcd images from k8s-staging-etcd
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, sig/api-machinery, size/XL, sig/release, approved, area/release-eng

#8363 add a personal email to steering-private @
  groups/committee-steering/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#8362 Ingress NGINX: Promote Test Runner v1.3.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8366 Release 0.7.0
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8369 releng: Image promotion for kubernetes v1.34.0-rc.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8368 Release 0.6.3 for lws
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8373 Image promotion for provider-aws v1.47.0 / v1.47.0-a1compat / v1.47.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8371 Update kube-network-policies images
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8377 Ingress NGINX: Promote Test Runner v2.2.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8383 releng: Image promotion for kubernetes v1.34.0-rc.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8388 Promote kOps 1.34.0-alpha.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.34.0-alpha.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#8390 Image promotion for cloud-pv-vsphere v1.34.0-rc.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8391 Kueue: Promote v0.12.7
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8392 [Kueue] Promote v0.13.2
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8395 Ingress NGINX: Promote Controller v1.13.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8397 Image promotion for build-image v2.4.0-go1.24.6-bookworm.0 / v2.4.0-go1.23.12-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#8398 Image promotion for build-image v1.34.0-go1.24.6-bullseye.0 / v1.33.0-go1.24.6-bullseye.0 / v1.32.0-go1.23.12-bullseye.0 / v1.31.0-go1.23.12-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#8400 Ingress NGINX: Promote Chart v4.13.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8393 Add WG AI Integration Mailinglists
  OWNERS_ALIASES
  groups/groups.yaml
  groups/restrictions.yaml
  groups/wg-ai-integration/OWNERS
  groups/wg-ai-integration/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/access, area/groups, sig/k8s-infra

#8406 releng: Image promotion for kubernetes v1.31.12
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8403 Image promotion for build-image v0.7.8 / v0.6.13
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#8407 Image promotion for capi-vsphere v1.14.0-rc.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8105 Update SPO groups
  groups/sig-node/groups.yaml
  registry.k8s.io/images/k8s-staging-sp-operator/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/node, approved, lifecycle/stale, area/access, area/artifacts, area/groups, sig/k8s-infra, area/registry.k8s.io

#8374 Add DNS for CAPI release-1.11 branch
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/dns

#8411 k8s-infra-prow-viewers access in groups.yaml
  groups/sig-testing/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/access, area/groups, sig/k8s-infra

#8418 Image promotion for provider-aws v1.47.1 / v1.47.1-a1compat / v1.47.1-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8422 Image promotion for cluster-api v1.10.5
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8417 Add siyuanfoundation to sig-etcd-leads.
  groups/sig-etcd/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra, sig/etcd

#8424 Image promotion for cluster-api-azure v1.21.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8428 releng: Image promotion for kubernetes v1.34.0-rc.2
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8429 Image promotion for sp-operator v0.10.0
  registry.k8s.io/images/k8s-staging-sp-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8430 Add Release Branch Management members to google group
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#8434 Kueue: Promote v0.12.8
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8439 Image promotion for scl-image-builder v0.1.46
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8438 Promote kubedns 1.26.5
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8442 Ingress NGINX: Promote NGINX v2.2.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8444 Ingress NGINX: Promote Test Runner v2.2.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8446 releng: Image promotion for kubernetes v1.34.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8447 create the k8s-infra-staging-minikube mailing list
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#8452 Image promotion for cluster-api-aws v2.9.0
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8451 kube-network-policy: promote 0.9.1 images with the new structure
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8448 create staging registry for minikube
  OWNERS_ALIASES
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/k8s-staging-minikube/OWNERS
  registry.k8s.io/images/k8s-staging-minikube/images.yaml
  registry.k8s.io/manifests/k8s-staging-minikube/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp, area/registry.k8s.io

#8456 Image promotion for cloud-pv-vsphere v1.34.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8457 Promote the first image for kube-ip-tracker
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8463 Promote kOps 1.32.2 and 1.33.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
