Repository kubernetes/k8s.io, pull requests merged in 2025-10, with the labels that each got.

#8590 correct readme in various places
  apps/README.md
  audit/README.md
  dns/README.md
  groups/reconcile.go
  groups/service.go
  infra/gcp/terraform/k8s-infra-prow-build/prow-build/README.md
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/access, area/infra, area/dns, area/audit, area/prow, area/terraform, area/groups, area/apps, sig/k8s-infra, area/infra/gcp

#8591 image: promote node-feature-discovery v0.18.0
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8592 Image promotion for capi-operator v0.24.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8493 Update groups.yaml
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, ok-to-test, area/access, area/groups, sig/k8s-infra

#8593 Image promotion for provider-aws v1.50.0 / v1.50.0-a1compat / v1.50.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8598 Promote kOps 1.34.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.34.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#8599 Promote VPA 1.5.1 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8594 Rotate SIG K8s leads
  OWNERS
  OWNERS_ALIASES
  dns/zone-configs/k8s.io._0_base.yaml
  groups/groups_test.go
  groups/sig-contributor-experience/groups.yaml
  groups/sig-docs/groups.yaml
  groups/sig-k8s-infra/groups.yaml
  groups/sig-testing/groups.yaml
  kubernetes/gke-utility/argocd/extras.yaml
Labels: cncf-cla: yes, lgtm, sig/contributor-experience, size/L, sig/docs, sig/testing, approved, area/access, area/dns, area/prow, area/groups, sig/k8s-infra

#8607 Image promotion for cluster-api v1.10.7
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8609 Image promotion for provider-aws v1.50.1 / v1.50.1-a1compat / v1.50.1-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8610 AWS: add access key for kops-ci-user
  infra/aws/terraform/kops-infra-ci/iam.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#8615 Kueue: Promote v0.13.6
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8620 Image promotion for build-image v2.4.0-go1.24.8-bookworm.0 / v2.4.0-go1.25.2-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng
