Repository kubernetes/k8s.io, pull requests merged in 2025-09, with the labels that each got.

#8465 Image promotion for kube-state-metrics v2.17.0
  registry.k8s.io/images/k8s-staging-kube-state-metrics/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8462 Bump git-sync to v4.4.3 (base image CVEs)
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8466 promote ExternalDNS v0.19.0
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8469 Image promotion for cluster-api v1.11.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8470 Image promotion for cluster-api v1.10.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8471 updated images for gateway-api-inference-extension v1.0.0-rc.3
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8478 Image promotion for provider-aws v1.31.8
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8482 updated images for gateway-api-inference-extension v1.0.0-rc.4
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8453 Publish JobSet v0.9.0
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8486 releng: Image promotion for kubernetes v1.32.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8488 releng: Image promotion for kubernetes v1.33.5
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8489 releng: Image promotion for kubernetes v1.31.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8484 Adding Chris Short to moderators mail group
  groups/sig-contributor-experience/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/access, area/groups, sig/k8s-infra

#8506 update sig network projects to latest release
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8508 GCP: Drop transfer job for gs://kubernetes-release
  infra/gcp/terraform/k8s-infra-releases-prod/.terraform.lock.hcl
  infra/gcp/terraform/k8s-infra-releases-prod/main.tf
  infra/gcp/terraform/k8s-infra-releases-prod/providers.tf
  infra/gcp/terraform/k8s-infra-releases-prod/secrets.tf
Labels: cncf-cla: yes, lgtm, size/L, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#8512 Bump kyverno to v3.5.1
  kubernetes/apps/kyverno.yaml
  kubernetes/ibm-ppc64le/helm/kyverno.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, sig/k8s-infra

#8109 Move from bit.ly URLs to rel.k8s.io for the release team
  apps/k8s-io/README.md
  apps/k8s-io/configmap-nginx.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#8523 Revert "Update boskos to v20250908-5e4ab72, prow to v20250903-f49c6158b and ghproxy as needed"
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-prow-build/prow/boskos-janitor.yaml
  kubernetes/gke-prow-build/prow/boskos-reaper.yaml
  kubernetes/gke-prow-build/prow/boskos.yaml
  kubernetes/gke-prow/prow/cherrypicker.yaml
  kubernetes/gke-prow/prow/crier.yaml
  kubernetes/gke-prow/prow/deck.yaml
  kubernetes/gke-prow/prow/ghproxy.yaml
  kubernetes/gke-prow/prow/hook.yaml
  kubernetes/gke-prow/prow/horologium.yaml
  kubernetes/gke-prow/prow/needs-rebase.yaml
  kubernetes/gke-prow/prow/pipeline.yaml
  kubernetes/gke-prow/prow/prow-controller-manager.yaml
  kubernetes/gke-prow/prow/sinker.yaml
  kubernetes/gke-prow/prow/statusreconciler.yaml
  kubernetes/gke-prow/prow/tide.yaml
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
  kubernetes/ibm-s390x/prow/boskos-janitor.yaml
  kubernetes/ibm-s390x/prow/boskos-reaper.yaml
  kubernetes/ibm-s390x/prow/boskos.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, sig/k8s-infra

#8495 add group for karpenter clusterapi
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#8524 Image promotion for build-image v1.33.0-go1.24.7-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8525 Image promotion for build-image v2.4.0-go1.24.7-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8527 Image promotion for releng 1.24.7-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8513 groups: Add mailing list for Agent Sandbox
  groups/restrictions.yaml
  groups/sig-apps/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/apps, approved, area/access, area/groups, sig/k8s-infra

#8532 Fastly: manage features with Terraform for dl.k8s.io
  infra/fastly/terraform/dl.k8s.io/provider.tf
  infra/fastly/terraform/dl.k8s.io/services.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra

#8533 Image promotion for build-image v0.7.9
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8536 AWS: setup a IAM user for kOps CI
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/iam.tf
  infra/aws/terraform/kops-infra-ci/pod-identity.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/aws

#8530 etcd: Promote etcd v3.6.5 image
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#8539 Image promotion for releng 1.25.1-trixie-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8537 AWS: Bump kOps CI cluster to 1.30
  infra/aws/terraform/kops-infra-ci/eks.tf
  infra/aws/terraform/kops-infra-ci/variables.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra, area/infra/aws

#8542 Publish JobSet v0.9.1
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8555 IBMCLOUD: Add new workspaces in syd region
  infra/ibmcloud/terraform/k8s-power-conformance/modules/secrets_manager/secrets_manager.tf
  infra/ibmcloud/terraform/k8s-power-conformance/pvs.tf
  infra/ibmcloud/terraform/k8s-power-conformance/variables.tf
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra

#8559 Ingress NGINX: Promote NGINX v1.3.3.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8554 Add 1.35 enhancements shadows to appropriate mailing lists
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#8562 Add new lease for Boskos on ibm-ppc64le cluster
  kubernetes/ibm-ppc64le/prow/boskos-resources-configmap.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, sig/k8s-infra

#8568 Cluster Autoscaler 1.34.0
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8560 Ingress NGINX: Promote Test Runner v2.2.3.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8570 Promote NPD images v0.8.22 and v1.34.0
  registry.k8s.io/images/k8s-staging-npd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8569 Promote images for jobset v0.10.0
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8571 Ingress NGINX: Promote other images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8575 release 0.10.1 images
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8574 Ingress NGINX: Promote Controller v1.13.3.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8577 Kueue: Promote v0.13.5
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8580 Ingress NGINX: Promote Chart v4.12.7.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
