Repository kubernetes/k8s.io, pull requests merged in 2025-05, with the labels that each got.

#8058 Image promotion for provider-aws v1.33.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8061 Promote powervs-cloud-controller-image
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8063 agnhost: promote 2.54
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8064 descheduler: promote v0.33.0 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8066 Promote kOps 1.32.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.32.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#8067 Promote kOps 1.33.0-alpha.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8069 Update cloud-provider-gcp images
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8071 Image promotion for cluster-api-azure v1.19.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8070 Image promotion for cluster-api-azure v1.18.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8065 Promote kOps 1.32.0 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8072 Image promotion for provider-aws v1.43.0 / v1.43.0-a1compat / v1.43.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8073 Ingress NGINX: Promote NGINX v2.1.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8074 Ingress NGINX: Promote NGINX v1.2.4.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8075 Ingress NGINX: Promote NGINX v0.3.4.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7992 SIG Autoscaling - Mailing list update with new SIG leads
  groups/sig-autoscaling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/autoscaling, approved, area/access, area/groups, sig/k8s-infra

#8077 Update sig-scheduling-leads owners
  groups/sig-scheduling/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/access, area/groups, sig/k8s-infra

#8035 GCP: add GKE nodepool for SIG node
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8079 Ingress NGINX: Promote Test Runner v2.1.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8080 Ingress NGINX: Promote Test Runner v1.3.4.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8084 Publish etcd image v3.6.0-rc.5
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#7838 Create staging project for k/sig-security repo cloud build
  infra/gcp/infra.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/security, sig/k8s-infra, area/infra/gcp

#8060 Azure: Bump module version for AKS cluster
  infra/azure/terraform/k8s-infra-prow-build/aks.tf
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra, area/infra/azure

#8086 Promote smb csi driver image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8087 Image promotion for cluster-api-azure v1.18.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8088 Image promotion for cluster-api-azure v1.19.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8059 fix issue search shortcuts
  apps/k8s-io/configmap-nginx.yaml
  apps/k8s-io/test.py
Labels: cncf-cla: yes, lgtm, size/XS, sig/contributor-experience, approved, area/apps, sig/k8s-infra

#8090 Promote cluster-api-ibmcloud-controller:v0.11.0
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8091 Update OWNERS
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/OWNERS
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8093 add gvce peering
  infra/gcp/terraform/k8s-infra-prow-build/peering.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8092 update janitor_pvs role actions
  infra/ibmcloud/terraform/k8s-power-conformance/modules/iam/custom_role/iam_custom_role.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra

#8094 Adding Joel Speed
  OWNERS_ALIASES
  groups/sig-cloud-provider/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/cloud-provider, area/access, area/groups, sig/k8s-infra

#8097 promote ExternalDNS v0.17.0
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8102 Add staging registry for kubemark
  infra/gcp/terraform/k8s-staging-images/registries.tf
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, area/terraform, sig/k8s-infra, area/infra/gcp

#8089 add gke trusted cluster to argocd
  hack/autobump-config.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-service.yaml
  infra/gcp/terraform/k8s-infra-prow-build-trusted/prow-build-trusted/resources/default/ghproxy-storage.yaml
  kubernetes/gke-prow-build-trusted/helm/external-secrets.yaml
  kubernetes/gke-prow-build-trusted/prow/ghproxy.yaml
  kubernetes/gke-utility/argocd/clusters.yaml
  kubernetes/gke-utility/argocd/kustomization.yaml
  kubernetes/gke-utility/helm/cert-manager.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8104 releng: Image promotion for kubernetes v1.33.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8107 releng: Image promotion for kubernetes v1.32.5
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8108 releng: Image promotion for kubernetes v1.30.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#8110 Image promotion for scl-image-builder v0.1.43
  registry.k8s.io/images/k8s-staging-scl-image-builder/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8112 Promote kwok v0.7.0
  registry.k8s.io/images/k8s-staging-kwok/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8113 Promote k8s-staging-e2e-test-images/busybox image
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8114 Publish etcd v3.6.0 image
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#8111 Bump git-sync to v4.4.1
  registry.k8s.io/images/k8s-staging-git-sync/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8115 Image promotion for build-image v1.33.0-go1.24.3-bullseye.0 / v1.32.0-go1.23.9-bullseye.0 / v1.31.0-go1.23.9-bullseye.0 / v1.30.0-go1.23.9-bullseye.0 / v1.34.0-go1.24.3-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#8116 Image promotion for build-image v2.4.0-go1.24.3-bookworm.0 / v2.4.0-go1.23.9-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#8117 promote csi-secrets-store driver:v1.5.1
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8098 Creating a Mail List for Kubespray Notifications​​
  groups/restrictions.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#8119 Image promotion for cluster-api v1.10.2
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8120 Image promotion for provider-aws v1.44.0 / v1.44.0-a1compat / v1.44.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8121 Image promotion for releng 1.24.3-bookworm-0 / 1.23.9-bookworm-0
  registry.k8s.io/images/k8s-staging-releng/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#8123 Promote VPA 1.4.0 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8125 Image promotion for build-image v0.7.5 / v0.6.10
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/release-eng

#8122 Promote gcr.io/k8s-staging-e2e-test-images/agnhost:2.55
  registry.k8s.io/images/k8s-staging-e2e-test-images/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8129 Update sig-windows leads
  groups/sig-windows/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/windows, approved, area/access, area/groups, sig/k8s-infra

#8095 promote dns v1.26.0 images
  registry.k8s.io/images/k8s-staging-dns/OWNERS
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8100 Add permissions for v1.34 release team leads and subteam leads
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#8132 Promote images for Kueue v0.11.5
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8134 Promote images for Kueue v0.12.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8131 rollout the c4 instances more widely and complete the cgroups v2 migration for GKE build cluster
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#8130 gcve: adjust script to initialize userdata
  infra/gcp/terraform/k8s-infra-gcp-gcve/README.md
  infra/gcp/terraform/k8s-infra-gcp-gcve/vsphere/scripts/boskos-userdata.sh
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, area/terraform, area/bash, sig/k8s-infra, area/infra/gcp

#8028 Create gcp infra for Headlamp
  groups/restrictions.yaml
  groups/sig-ui/groups.yaml
  infra/gcp/terraform/k8s-staging-images/registries.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/ui, approved, ok-to-test, area/access, area/infra, area/terraform, area/groups, sig/k8s-infra, area/infra/gcp

#8139 Image promotion for cluster-api v1.11.0-alpha.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8144 Promote Kueue images for 0.12.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8145 Image promotion for capi-vsphere v1.14.0-alpha.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8142 Ingress NGINX: Promote Test Runner v2.1.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#8141 Add 1.34 enhancements shadows to appropriate mailing lists
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#8149 Image promotion for cluster-api-aws v2.8.3
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
