Repository kubernetes/k8s.io, pull requests merged in 2025-03, with the labels that each got.

#7839 Moderate messages to sig-k8s-infra mailing list
  groups/sig-k8s-infra/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/access, area/groups, sig/k8s-infra

#7843 Image promotion for cluster-api-azure v1.17.4
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7844 Image promotion for cluster-api-azure v1.18.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7840 Promote powervs-cloud-controller-manager:6256ccf image
  registry.k8s.io/images/k8s-staging-capi-ibmcloud/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7845 CAPI IPAM Image v1.0.1
  registry.k8s.io/images/k8s-staging-capi-ipam-ic/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7846 releng: Image promotion for kubernetes v1.33.0-alpha.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7847 Publish etcd 3.6.0-rc.1-0 image
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#7850 Adding SHA for Gateway Inference Extension v0.2.0-rc.1
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7853 sig-scalability: onboard Mengqi Yu as SIG lead
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, area/access, area/groups, sig/k8s-infra

#7827 cocc: update for 2025 election
  OWNERS_ALIASES
  groups/committee-code-of-conduct/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, committee/code-of-conduct, area/access, area/groups, sig/k8s-infra

#7851 Add mengqiy to sig-scalability-leads
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#7859 chore: promote aws-ebs-csi-driver v1.39.1
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7852 Update groups.yaml for sig scalability
  groups/sig-scalability/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/scalability, approved, area/access, area/groups, sig/k8s-infra

#7848 Image promotion for cloud-provider-gcp v32.2.2
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7864 releng: Image promotion for kubernetes v1.33.0-beta.0
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7865 releng: Image promotion for kubernetes v1.29.15
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7866 releng: Image promotion for kubernetes v1.30.11
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7867 releng: Image promotion for kubernetes v1.31.7
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7868 releng: Image promotion for kubernetes v1.32.3
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7872 Image promotion for capi-operator v0.17.1
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7870 Publish network proxy images for v0.31.3 and v0.32.0
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7873 Image promotion for provider-aws v1.41.0 / v1.41.0-a1compat / v1.41.0-fips
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7874 Adding v0.2.0 image
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7860 add ingate-dev email and update ingress-nginx owner
  groups/restrictions.yaml
  groups/sig-network/groups.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/network, approved, area/access, area/groups, sig/k8s-infra

#7876 Image promotion for cloud-pv-vsphere v1.33.0-beta.0
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7877 Kueue: Add Helm native version Chrart tags
  registry.k8s.io/images/charts/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7878 Image promotion for gmsa-webhook v0.13.0
  registry.k8s.io/images/k8s-staging-gmsa-webhook/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/windows, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7879 Promote csi-driver-hostpath 1.16 images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7869 promote ExternalDNS v0.16.0
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7881 promote ExternalDNS v0.16.1
  registry.k8s.io/images/k8s-staging-external-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7883 fix external secrets for new cluster
  infra/gcp/terraform/k8s-infra-prow/buckets.tf
  kubernetes/apps/external-secrets.yaml
  kubernetes/apps/kustomization.yaml
  kubernetes/apps/kyverno.yaml
  kubernetes/ibm-ppc64le/helm/external-secrets.yaml
  kubernetes/ibm-ppc64le/prow/kustomization.yaml
  kubernetes/ibm-ppc64le/prow/kyverno.yaml
  kubernetes/ibm-ppc64le/prow/secrets.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, tide/merge-method-squash, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#7885 Add DNS entry for lws.sigs.k8s.io
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#7882 Push ibm-powervs-block-csi-driver v0.9.0
  registry.k8s.io/images/k8s-staging-cloud-provider-ibm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7886 Update boskos deployments on ibm-ppc64le cluster
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/prow, sig/k8s-infra

#7880 Promote Cluster Autoscaler patch releases
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7890 CAPO v0.12.2
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7891 CAPO v0.11.5
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7892 Promote nfs csi driver image
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7895 Image promotion for cluster-api v1.9.6
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7894 Image promotion for cluster-api v1.8.11
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7896 Image promotion for cluster-api v1.10.0-beta.0
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7893 promote addon manager v9.1.8
  registry.k8s.io/images/k8s-staging-addon-manager/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7889 Add terraform for provisioning power build cluster on ibmcloud
  infra/ibmcloud/OWNERS
  infra/ibmcloud/terraform/k8s-infra-setup/README.md
  infra/ibmcloud/terraform/k8s-infra-setup/main.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/resource_group/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/resource_group/resource_group.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/resource_group/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/secrets_manager.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/transit_gateway/tgw.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/transit_gateway/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/transit_gateway/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/versions.tf
  infra/ibmcloud/terraform/k8s-infra-setup/modules/vpc/vpc.tf
  infra/ibmcloud/terraform/k8s-infra-setup/outputs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/providers.tf
  infra/ibmcloud/terraform/k8s-infra-setup/pvs.tf
  infra/ibmcloud/terraform/k8s-infra-setup/var.tfvars
  infra/ibmcloud/terraform/k8s-infra-setup/variables.tf
  infra/ibmcloud/terraform/k8s-infra-setup/versions.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/README.md
  infra/ibmcloud/terraform/k8s-power-build-cluster/bastion.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/load_balancer.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/load_balancer.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/outputs.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/variables.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/modules/load_balancer/versions.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/nodes.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/outputs.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/providers.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/var.tfvars
  infra/ibmcloud/terraform/k8s-power-build-cluster/variables.tf
  infra/ibmcloud/terraform/k8s-power-build-cluster/versions.tf
Labels: cncf-cla: yes, lgtm, size/XXL, approved, sig/k8s-infra

#7898 Kueue: Promote Container Images for v0.9.5
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7900 Promote kueue images for v0.11.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7901 Fix promotion of Kueue image for v0.11.0
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7902 Kueue 0.11.0 rollback chart promotion to re-add next
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7905 Image promotion for capi-vsphere v1.13.0-beta.0
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7908 Promote Kueue v0.11.1 images
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7909 Image promotion for cluster-api-aws v2.8.1
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7911 Image promotion for cluster-api-azure v1.17.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7912 Image promotion for cluster-api-azure v1.18.2
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7904 Add ClusterSecretStore for IBM provider's Secrets Manager
  kubernetes/ibm-ppc64le/prow/external-secrets.yaml
  kubernetes/ibm-ppc64le/prow/secretstore-ibm-k8s.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/prow, sig/k8s-infra

#7914 fix ibm build cluster secrets
  kubernetes/apps/kyverno.yaml
  kubernetes/ibm-ppc64le/helm/external-secrets.yaml
  kubernetes/ibm-ppc64le/helm/kyverno.yaml
  kubernetes/ibm-ppc64le/prow/external-secrets.yaml
  kubernetes/ibm-ppc64le/prow/secrets.yaml
  kubernetes/ibm-ppc64le/prow/secretstore-ibm-k8s.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, area/prow, sig/k8s-infra

#7871 Promote dra-example-driver image v0.1.0 and chart 0.1.3
  registry.k8s.io/images/k8s-staging-dra-example-driver/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io, wg/device-management

#7917 Ingress NGINX: Promote NGINX v2.0.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7919 Ingress NGINX: Promote Test Runner v2.0.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7920 Ingress NGINX: Promote Test Runner v1.3.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7922 Ingress NGINX: Promote CFSSL v1.1.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7923 Ingress NGINX: Promote E2E Test Echo v1.1.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7924 Ingress NGINX: Promote Kube Webhook CertGen v1.5.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7925 Ingress NGINX: Promote Custom Error Pages v1.1.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7926 Ingress NGINX: Promote HTTPBun v1.1.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7927 Ingress NGINX: Promote FastCGI HelloServer v1.1.2.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7928 Image promotion for cluster-api-aws v2.7.2
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7930 Image promotion for cluster-api-azure v1.19.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7931 Ingress NGINX: Promote Controller v1.12.1.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7932 Ingress NGINX: Promote Controller v1.11.5.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7934 Update OWNERS file
  infra/ibmcloud/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/infra, sig/k8s-infra

#7935 Image promotion for cluster-api-aws v2.8.2
  registry.k8s.io/images/k8s-staging-cluster-api-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7913 create AR registries with lifecycle policies
  infra/gcp/bash/prow/OWNERS
  infra/gcp/bash/prow/ensure-e2e-projects.sh
  infra/gcp/infra.yaml
  infra/gcp/terraform/boskos/README.md
  infra/gcp/terraform/boskos/iam.tf
  infra/gcp/terraform/boskos/main.tf
  infra/gcp/terraform/boskos/provider.tf
Labels: cncf-cla: yes, lgtm, size/L, sig/testing, approved, tide/merge-method-squash, area/infra, area/prow, area/terraform, area/bash, sig/k8s-infra, area/infra/gcp

#7933 Configure boskos resources for ibm-ppc64le cluster
  kubernetes/ibm-ppc64le/prow/boskos-janitor.yaml
  kubernetes/ibm-ppc64le/prow/boskos-reaper.yaml
  kubernetes/ibm-ppc64le/prow/boskos-resources-configmap.yaml
  kubernetes/ibm-ppc64le/prow/secrets.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/prow, sig/k8s-infra

#7937 Typo _ in external secret names instead of -
  kubernetes/ibm-ppc64le/prow/secrets.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, area/prow, sig/k8s-infra

#7921 publish images and charts for jobset v0.8.1
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7939 Image promotion for cluster-api v1.10.0-beta.1
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7940 Update members for cluster-api-provider-cloudstack
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#7938 gcp: Bump terraform providers for build clusters
  infra/gcp/terraform/k8s-infra-prow-build-trusted/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/iam.tf
  infra/gcp/terraform/k8s-infra-prow-build-trusted/secrets.tf
  infra/gcp/terraform/k8s-infra-prow-build/00-provider.tf
  infra/gcp/terraform/k8s-infra-prow-build/iam.tf
  infra/gcp/terraform/k8s-infra-prow-build/secrets.tf
  infra/gcp/terraform/modules/gke-cluster/versions.tf
  infra/gcp/terraform/modules/gke-nodepool/main.tf
  infra/gcp/terraform/modules/gke-nodepool/versions.tf
  infra/gcp/terraform/modules/gke-project/versions.tf
  infra/gcp/terraform/modules/workload-identity-service-account/versions.tf
Labels: cncf-cla: yes, lgtm, size/M, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#7941 Image promotion for capi-vsphere v1.13.0-beta.1
  registry.k8s.io/images/k8s-staging-capi-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7942 Image promotion for cluster-api-azure v1.19.1
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7945 Add .gitignore
  infra/ibmcloud/terraform/.gitignore
  infra/ibmcloud/terraform/k8s-infra-setup/README.md
  infra/ibmcloud/terraform/k8s-infra-setup/modules/secrets_manager/secrets_manager.tf
  infra/ibmcloud/terraform/k8s-infra-setup/var.tfvars
  infra/ibmcloud/terraform/k8s-power-build-cluster/README.md
  infra/ibmcloud/terraform/k8s-power-build-cluster/var.tfvars
Labels: cncf-cla: yes, lgtm, size/M, approved, area/infra, sig/k8s-infra

#7946 Image promotion for capi-operator v0.18.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7948 Kueue: promote images for v0.10.4
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7949 Kueue: Promote v0.11.2 to registry.k8s.io
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7943 gcp: Add nodepool for tests
  infra/gcp/terraform/k8s-infra-prow-build/main.tf
  infra/gcp/terraform/modules/gke-nodepool/variables.tf
Labels: cncf-cla: yes, lgtm, size/S, sig/testing, approved, area/infra, area/prow, area/terraform, sig/k8s-infra, area/infra/gcp

#7952 Update lws to v0.6.0
  registry.k8s.io/images/k8s-staging-lws/OWNERS
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io
