Repository kubernetes/k8s.io, pull requests merged in 2025-01, with the labels that each got.

#7632 Add etcd 3.5.17
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#7655 Fix sha256 for gcr.io/k8s-staging-etcd/etcd:3.5.17-0
  registry.k8s.io/images/k8s-staging-etcd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/api-machinery, sig/release, approved, area/release-eng

#7656 descheduler: promote v0.32.0 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7658 Remove KubeCon FamilyFeud DNS record
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#7659 descheduler: promote v0.32.1 images
  registry.k8s.io/images/k8s-staging-descheduler/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7416 ensure prow-build can operate secret manager secrets
  infra/gcp/bash/prow/ensure-e2e-projects.sh
Labels: cncf-cla: yes, lgtm, size/XS, sig/testing, approved, ok-to-test, area/infra, area/prow, area/terraform, area/bash, sig/k8s-infra, area/infra/gcp

#7662 Add Chris Privitere to CAPI alerts list
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#7663 update email
  groups/committee-steering/groups.yaml
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, committee/steering, area/access, area/groups, sig/k8s-infra

#7664 Release LWS v0.5.0
  registry.k8s.io/images/k8s-staging-lws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7667 bump kube-network-policies to v0.7.0
  registry.k8s.io/images/k8s-staging-networking/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7668 Ingress NGINX: Promote NGINX v2.0.0/v1.2.0/v0.3.0.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7669 Ingress NGINX: Promote Test Runner v20250112-a188f4eb/v20250112-01b7af21.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7671 Ingress NGINX: Promote other images.
  registry.k8s.io/images/k8s-staging-ingress-nginx/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/network, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7672 Image promotion for cloud-pv-vsphere v1.30.2
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7674 Image promotion for build-image v1.33.0-go1.24rc1-bullseye.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7675 Image promotion for build-image v2.4.0-go1.24rc1-bookworm.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7666 Promote resizer image for v1.13.1
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7677 Promote image v1.15.4 pdcsi image to prod
  registry.k8s.io/images/k8s-staging-cloud-provider-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7679 Image promotion for cloud-pv-vsphere v1.32.2
  registry.k8s.io/images/k8s-staging-cloud-pv-vsphere/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7673 Promote node-feature-discovery v0.16.7 and v0.17.1
  registry.k8s.io/images/k8s-staging-nfd/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7678 Add dns entry for gateway-api-inference-extension
  dns/zone-configs/k8s.io._0_base.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/dns

#7680 add kustomize image tag v5.6.0
  registry.k8s.io/images/k8s-staging-kustomize/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7681 Promote VPA 1.2.2 images
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7682 promote cloud provider kind to v0.5.0
  registry.k8s.io/images/k8s-staging-cloud-provider-kind/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7683 releng: Image promotion for kubernetes v1.29.13
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7684 releng: Image promotion for kubernetes v1.30.9
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7685 releng: Image promotion for kubernetes v1.31.5
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7687 Image promotion for build-image v0.7.0
  registry.k8s.io/images/k8s-staging-build-image/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/release-eng

#7686 releng: Image promotion for kubernetes v1.32.1
  registry.k8s.io/images/k8s-staging-kubernetes/images.yaml
Labels: cncf-cla: yes, lgtm, size/M, sig/release, approved, area/release-eng

#7657 Rename llm-instance-gateway registry to gateway-api-inference-extension
  infra/gcp/terraform/k8s-staging-images/registries.tf
  registry.k8s.io/images/k8s-staging-gateway-api-inference-extension/images.yaml
  registry.k8s.io/manifests/k8s-staging-gateway-api-inference-extension/promoter-manifest.yaml
  registry.k8s.io/manifests/k8s-staging-llm-instance-gateway/promoter-manifest.yaml
Labels: cncf-cla: yes, lgtm, size/L, approved, area/terraform, sig/k8s-infra, area/registry.k8s.io

#7688 groups: Update Stephen Augustus (justaugustus) affiliation
  groups/committee-steering/groups.yaml
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/S, sig/release, approved, committee/steering, area/access, area/release-eng, area/groups, sig/k8s-infra

#7689 Image promotion for cluster-api-gcp v1.8.1
  registry.k8s.io/images/k8s-staging-cluster-api-gcp/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, area/provider/gcp, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7692 Add Cailyn to SIG Security OWNERS
  OWNERS_ALIASES
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/k8s-infra

#7695 Bump CPU and Mem for codesearch pods
  apps/codesearch/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/apps, sig/k8s-infra

#7696 Promote Kueue v0.10.1
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7697 Kueue: Promote v0.9.3
  registry.k8s.io/images/k8s-staging-kueue/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, sig/scheduling, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7690 [1.33] Add 1.33 team leads and release lead shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/L, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7700 Add snyk-token ExternalSecret to eks-prow-build-cluster
  infra/aws/terraform/prow-build-cluster/resources/test-pods/externalsecrets.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/infra, sig/k8s-infra, area/infra/aws

#7701 Image promotion for cluster-api v1.8.9
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7702 Image promotion for cluster-api v1.9.4
  registry.k8s.io/images/k8s-staging-cluster-api/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7706 CAPO v0.11.4
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7707 Use separate node pool for code search
  apps/codesearch/deployment.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/apps, sig/k8s-infra

#7716 Promote kOps 1.31.0 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7717 Promote kOps 1.31.0 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.31.0.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7715 chore: promote aws-ebs-csi-driver v1.39.0
  registry.k8s.io/images/k8s-staging-provider-aws/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7719 CAPO v0.12.0-rc.0
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7721 Promote kubedns 1.25.0
  registry.k8s.io/images/k8s-staging-dns/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7724 Add JobSet v0.7.3 version
  registry.k8s.io/images/k8s-staging-jobset/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7727 Add raywainman to autoscaling image OWNERS
  registry.k8s.io/images/k8s-staging-autoscaling/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7725 Add Kevin Hannon for owners for jobset images
  registry.k8s.io/images/k8s-staging-jobset/OWNERS
Labels: cncf-cla: yes, lgtm, size/XS, sig/apps, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7726 Promote VPA 1.3.0 images.
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, needs-ok-to-test, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7705 Publish apiserver network proxy image for 0.29.4 release tag.
  registry.k8s.io/images/k8s-staging-kas-network-proxy/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, ok-to-test, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7723 Update groups.yaml for 1.33 Release Signal shadows
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7720 Promote smb and nfs csi driver images
  registry.k8s.io/images/k8s-staging-sig-storage/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7730 Promote addon-resizer 1.8.23 image
  registry.k8s.io/images/k8s-staging-autoscaling/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7714 Add 1.33 EA
  groups/sig-release/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/release, approved, area/access, area/release-eng, area/groups, sig/k8s-infra

#7731 Image promotion for cluster-api-azure v1.18.0
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7733 Image promotion for cluster-api-azure v1.17.3
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7734 Image promotion for cluster-api-azure v1.16.5
  registry.k8s.io/images/k8s-staging-cluster-api-azure/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, area/provider/azure, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7732 promote csi-secrets-store driver:v1.4.8
  registry.k8s.io/images/k8s-staging-csi-secrets-store/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7735 Image promotion for capi-operator v0.16.0
  registry.k8s.io/images/k8s-staging-capi-operator/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7649 add alavi to capi-alerts-group
  groups/sig-cluster-lifecycle/groups.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/access, area/groups, sig/k8s-infra

#7738 CAPO v0.10.8
  registry.k8s.io/images/k8s-staging-capi-openstack/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7736 Promote kOps 1.30.4 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7737 Promote kOps 1.30.4 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.30.4.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts

#7739 Image promotion for cluster-api-helm v0.3.0
  registry.k8s.io/images/k8s-staging-cluster-api-helm/images.yaml
Labels: cncf-cla: yes, lgtm, size/XS, sig/cluster-lifecycle, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7740 Promote kOps 1.32.0-beta.1 images
  registry.k8s.io/images/k8s-staging-kops/images.yaml
Labels: cncf-cla: yes, lgtm, size/S, approved, area/artifacts, sig/k8s-infra, area/registry.k8s.io

#7741 Promote kOps 1.32.0-beta.1 binary artifacts
  artifacts/manifests/k8s-staging-kops/1.32.0-beta.1.yaml
Labels: cncf-cla: yes, lgtm, size/M, approved, area/artifacts
